<div ng-controller="Umbraco.PropertyEditors.ChangePasswordController" ng-switch="changing">
    <div ng-switch-when="false">
        <a href="" ng-click="doChange()">Change password</a>         
    </div>
    <div ng-switch-when="true">
        
        <div class="control-group" >            
            <label class="control-label" for="resetPassword">Reset password?</label>
            <div class="controls">
                <input type="checkbox" ng-model="model.value.reset" 
                    id="resetPassword" 
                    name="resetPassword"
                    val-server="resetPassword"/>     
                <span class="help-inline" val-msg-for="resetPassword" val-toggle-msg="valServer"></span>            
            </div>            
        </div>
       
        <!-- we need to show the old pass field when the provider cannot retreive the password -->
        <div class="control-group" ng-show="model.config.hasPassword && !model.config.enablePasswordRetrieval && !model.value.reset">            
            <label class="control-label" for="password">Old password</label>
            <div class="controls">
                <input type="text" name="oldPassword" ng-model="model.value.oldPassword"
                       class="input-large umb-textstring textstring" 
                       ng-required="!model.value.reset && model.config.hasPassword && !model.config.enablePasswordRetrieval"
                       val-server="oldPassword" />    
                <span class="help-inline" val-msg-for="oldPassword" val-toggle-msg="required">Required</span>
                <span class="help-inline" val-msg-for="oldPassword" val-toggle-msg="valServer"></span>
            </div>            
        </div>

        <div class="control-group" ng-show="!model.value.reset">            
            <label class="control-label" for="password">New password</label>
            <div class="controls">
                <input type="text" name="password" ng-model="model.value.newPassword"
                       class="input-large umb-textstring textstring" 
                       ng-required="!model.value.reset"
                       val-server="value" 
                       ng-minlength="{{model.config.minPasswordLength}}" />    
                <span class="help-inline" val-msg-for="password" val-toggle-msg="required">Required</span>    
                <span class="help-inline" val-msg-for="password" val-toggle-msg="minlength">Minimum {{model.config.minPasswordLength}} characters</span>    
                <span class="help-inline" val-msg-for="password" val-toggle-msg="valServer"></span>
            </div>            
        </div>
        
        <div class="control-group" ng-show="!model.value.reset">            
            <label class="control-label" for="password">Confirm password</label>
            <div class="controls">
                <input type="text" name="confirmpassword" ng-model="model.confirm"
                       class="input-large umb-textstring textstring" 
                       val-compare="password" />

                <span class="help-inline" val-msg-for="confirmpassword" val-toggle-msg="valCompare">Passwords must match</span>     
            </div>
        </div> 

        <a href="" ng-click="cancelChange()" ng-show="model.config.hasPassword">Cancel</a> 
    </div>        
</div>