/* Standard clearfix */
.clearfix:after
{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix
{
    display: inline-block;
}

html[xmlns] .clearfix
{
    display: block;
}

* html .clearfix
{
    height: 1%;
}

.PrevalueEditor
{
}
.PrevalueEditor div.row
{
    margin-top: 5px;
    margin-bottom: 5px;
}
.PrevalueEditor div.label
{
    float: left;
    width: 120px;
    margin-right: 10px;
}
.PrevalueEditor div.field
{
    float: left;
}

.PrevalueEditor div.description
{
    clear: left;
    color: #666;
    float: left;
    font-style: italic;
    margin: 3px 0 10px 130px;
}

/* validation */
.PrevalueEditor .validator
{
    color: red;
    display: block;
    font-size: 11px;
    margin-bottom: 3px;
    margin-top: 3px;
    visibility: visible;
}

/* headers */
.PrevalueEditor h3
{
    clear: left;
    color: #666;
    float: left;
    font-style: italic;
    font-weight: bold;
    margin: 3px 10px 10px 0;
}

/* Tables */
.PrevalueEditor td
{
    font-weight: bold;
}
