.umb-toggle {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    padding: 0;

    &:focus {
        outline: 0;
    }
}

.umb-toggle:focus .umb-toggle__toggle{
    box-shadow: 0 1px 3px fade(@black, 12%), 0 1px 2px fade(@black, 24%);
}

.umb-toggle__handler {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 24px;
    height: 24px;
    background-color: @white;
    border-radius: 50px;
    transform: rotate(-45deg);
}

.umb-toggle__toggle {
    cursor: pointer;
    display: inline-block;
    width: 48px;
    height: 24px;
    background: @gray-8;
    border-radius: 90px;
    position: relative;
    transition: box-shadow .3s;
}

.umb-toggle--checked .umb-toggle__toggle {
    background-color: @green;
}

.umb-toggle--checked .umb-toggle__handler {
    transform: translate3d(24px, 0, 0) rotate(0);
}

/* Labels */

.umb-toggle__label {
    color: @gray-2;
}

.umb-toggle__label--left {
    margin-right: 8px;
}

.umb-toggle__label--right {
    margin-left: 8px;
}

/* Icons */

.umb-toggle__icon {
    position: absolute;
    top: 3px;
    text-decoration: none;
    transition: all 0.2s ease;
}

.umb-toggle__icon--left {
    left: 7px;
    color: @white;
}

.umb-toggle__icon--right {
    right: 7px;
    color: @gray-5;
}
