.tree-umbraco li
{
	background:none;
}
.tree-umbraco li a
{
	background-image: url(../../../../umbraco/images/umbraco/sprites.png);
	background-color: #fff;
	padding: 0px 0px 0px 18px;
	border: 0;
	color: #2f2f2f;
}

/* these ensure the first node doesn't have padding or background images */
.tree-umbraco li.open, tree-umbraco li.last 
{
	background:none;
	padding:0 0 0 0px;
}
.tree-umbraco li.open li.open, tree-umbraco li.last li.last 
{
	background:transparent url(fminus.gif) no-repeat scroll 4px 6px;
	padding:0 0 0 15px;
}


.tree-umbraco li a.noSpr, .tree-umbraco li a.noSpr:hover
{
	background-position:0px 0px;
}
.tree-umbraco li a:hover
{
	padding: 0px 0px 0px 18px;
	border: 0;
	background-color: #fff;
	text-decoration: underline;
}
.tree-umbraco li a.clicked, 
.tree-umbraco li a.clicked:hover
{
	padding: 0px 0px 0px 18px;
	border: 0;
	background-color: #fff;
}
/* The colors for the selected state of the node */
.tree-umbraco li div 
{
	padding: 1px 3px 1px 3px;
	height:16px;
	line-height:16px;
	cursor:pointer;
}
/* highlight the selected element */
.tree-umbraco li .clicked div 
{
	padding: 0px 2px 0px 2px;
	background: #D5EFFC;
	border:1px solid #99DEFD;
	-moz-border-radius: 2px;
}

.tree-umbraco ul li ul 
{
	margin-top:2px;
}

/* OVERRIDE TREE_COMPONENT.css */
.tree-umbraco li
{
	line-height: 20px;
	min-height: 20px;
	font: icon;
	position:relative;
}
.tree-umbraco li a
{
	line-height: 18px;
	height: 18px;
}

/* Used for checkbox tree */

.tree-umbraco.inheritedcheckbox li a, 
.tree-umbraco.inheritedcheckbox li a.unchecked,
.tree-umbraco.checkbox li a, 
.tree-umbraco.checkbox li a.unchecked
 { background: url("check_0.png") no-repeat 0px 0px ! important; }
.tree-umbraco.inheritedcheckbox li a.undetermined,
.tree-umbraco.checkbox li a.undetermined
{ background:url("check_1.png") no-repeat 0px 0px ! important; }
.tree-umbraco.inheritedcheckbox li a.checked,
.tree-umbraco.checkbox li a.checked
{ background:url("check_2.png") no-repeat 0px 0px ! important; }

/* CONTEXT MENU */

.tree-umbraco-context
{
	background: #f0f0f0 url(contextMenuBg.gif) repeat-y left;
	border: 1px solid #979797;
	padding: 3px;
	width: 180px;
	font-family: Arial,Lucida Grande;
	font-size: 11px;
	z-index: 1000;
}
.tree-umbraco-context a
{
	border:0px;
	padding: 1px;
	margin: 1px;
	height: 20px;	
	color: #1a1818;
	text-decoration: none;
	text-indent: 0px;
}
.tree-umbraco-context a:hover
{
	border: 1px solid #a8d8eb;
	padding: 0px;
	margin: 1px;
	height: 20px;
	background: #dcecf3;	
	text-indent: 0px;	
}
.tree-umbraco-context .separator
{
	background: #FFFFFF;
	border-top: 1px solid #E0E0E0;
	font-size: 1px;
	height: 1px;
	line-height: 1px;
	margin: 0 2px 0 24px;
	min-height: 1px;
	display: block;
}
.tree-umbraco-context img
{
	height: 16px;
	width: 16px;
	margin: 1px 10px 0 2px;
}

/* context menu sprites */

.menuSpr
{
	float: left;
	background-image: url(../../../../umbraco/images/actions/sprites.png);
	background-position: -7px -8px;	
	margin-top: 1px;
	width: 17px;
	height: 16px;
	margin: 1px 13px 1px 0px;
}

.sprNew
{
	background-position: -7px -339px;
}
.sprCreateFolder
{
	background-position: -7px -108px;
}
.sprSendToTranslate
{
	background-position: -7px -636px;
}
.sprBinEmpty
{
	background-position: -7px -42px;
}
.sprTranslate
{
	background-position: -7px -636px;
}
.sprSave
{
	background-position: -7px -603px;
}
.sprImportDocumentType
{
	background-position: -7px -273px;
}
.sprExportDocumentType
{
	background-position: -7px -240px;
}
.sprAudit
{
	background-position: -7px -6px;
}
.sprPackage2
{
	background-position: -7px -405px;
}
.sprDelete
{
	background-position: -7px -174px;
}
.sprMove
{
	background-position: -7px -141px;
}
.sprCopy
{
	background-position: -7px -75px;
}
.sprSort
{
	background-position: -7px -670px;
}
.sprPermission
{
	background-position: -7px -438px;
}
.sprProtect
{
	background-position: -7px -471px;
}
.sprRollback
{
	background-position: -7px -570px;
}
.sprRefresh
{
	background-position: -7px -537px;
}
.sprNotify
{
	background-position: -7px -372px;
}
.sprUpdate
{
	background-position: -7px -603px;
}
.sprPublish
{
	background-position: -7px -504px;
}
.sprToPublish
{
	background-position: -7px -504px;
}
.sprLogout
{
	background-position: -7px -306px;
}
.sprDomain
{
	background-position: -7px -207px;
}

.sprLiveEdit
{
	background-position: -7px -706px;
}


/* Tree icons sprites */

.sprTree,
.tree-umbraco li a.sprTree.clicked:hover
{
	background-image: 0px 0px;
}

.tree-umbraco li a.sprTreeDeveloperCacheItem,
.tree-umbraco li a.sprTreeDeveloperCacheItem.clicked:hover
{
	background-position: -6px -6px;
}
.tree-umbraco li a.sprTreeDeveloperCacheTypes,
.tree-umbraco li a.sprTreeDeveloperCacheTypes.clicked:hover
{
	background-position: -6px -40px;
}
.tree-umbraco li a.sprTreeDeveloperMacro,
.tree-umbraco li a.sprTreeDeveloperMacro.clicked:hover
{
	background-position: -6px -72px;
}
.tree-umbraco li a.sprTreeDeveloperPython,
.tree-umbraco li a.sprTreeDeveloperPython.clicked:hover
{
	background-position: -6px -104px;
}
.tree-umbraco li a.sprTreeDeveloperRegistry,
.tree-umbraco li a.sprTreeDeveloperRegistry.clicked:hover
{
	background-position: -6px -135px;
}
.tree-umbraco li a.sprTreeDeveloperRegistryItem,
.tree-umbraco li a.sprTreeDeveloperRegistryItem.clicked:hover
{
	background-position: -6px -167px;
}
.tree-umbraco li a.sprTreeDeveloperXslt,
.tree-umbraco li a.sprTreeDeveloperXslt.clicked:hover
{
	background-position: -6px -199px;
}
.tree-umbraco li a.sprTreeDoc,
.tree-umbraco li a.sprTreeDoc.clicked:hover
{
	background-position: -6px -231px;
}
.tree-umbraco li a.sprTreeDoc2,
.tree-umbraco li a.sprTreeDoc2.clicked:hover
{
	background-position: -6px -263px;
}
.tree-umbraco li a.sprTreeDoc3,
.tree-umbraco li a.sprTreeDoc3.clicked:hover
{
	background-position: -6px -295px;
}
.tree-umbraco li a.sprTreeDoc4,
.tree-umbraco li a.sprTreeDoc4.clicked:hover
{
	background-position: -6px -327px;
}
.tree-umbraco li a.sprTreeDoc5,
.tree-umbraco li a.sprTreeDoc5.clicked:hover
{
	background-position: -6px -359px;
}
.tree-umbraco li a.sprTreeDocPic,
.tree-umbraco li a.sprTreeDocPic.clicked:hover
{
	background-position: -6px -391px;
}
.tree-umbraco li a.sprTreeFolder,
.tree-umbraco li a.sprTreeFolder.clicked:hover
{
	background-position: -6px -423px;
}
.tree-umbraco li a.sprTreeFolder_o,
.tree-umbraco li a.sprTreeFolder_o.clicked:hover
{
	background-position: -6px -455px;
}
.tree-umbraco li a.sprTreeMediaFile,
.tree-umbraco li a.sprTreeMediaFile.clicked:hover
{
	background-position: -6px -487px;
}
.tree-umbraco li a.sprTreeMediaMovie,
.tree-umbraco li a.sprTreeMediaMovie.clicked:hover
{
	background-position: -6px -519px;
}
.tree-umbraco li a.sprTreeMediaMulti,
.tree-umbraco li a.sprTreeMediaMulti.clicked:hover
{
	background-position: -6px -551px;
}
.tree-umbraco li a.sprTreeMediaPhoto,
.tree-umbraco li a.sprTreeMediaPhoto.clicked:hover
{
	background-position: -6px -583px;
}
.tree-umbraco li a.sprTreeMember,
.tree-umbraco li a.sprTreeMember.clicked:hover
{
	background-position: -6px -615px;
}
.tree-umbraco li a.sprTreeMemberGroup,
.tree-umbraco li a.sprTreeMemberGroup.clicked:hover
{
	background-position: -6px -647px;
}
.tree-umbraco li a.sprTreeMemberType,
.tree-umbraco li a.sprTreeMemberType.clicked:hover
{
	background-position: -6px -679px;
}
.tree-umbraco li a.sprTreeNewsletter,
.tree-umbraco li a.sprTreeNewsletter.clicked:hover
{
	background-position: -6px -711px;
}
.tree-umbraco li a.sprTreePackage,
.tree-umbraco li a.sprTreePackage.clicked:hover
{
	background-position: -6px -743px;
}
.tree-umbraco li a.sprTreeRepository,
.tree-umbraco li a.sprTreeRepository.clicked:hover
{
	background-position: -6px -775px;
}
.tree-umbraco li a.sprTreeSettingAgent,
.tree-umbraco li a.sprTreeSettingAgent.clicked:hover
{
	background-position: -6px -807px;
}
.tree-umbraco li a.sprTreeSettingCss,
.tree-umbraco li a.sprTreeSettingCss.clicked:hover
{
	background-position: -6px -839px;
}
.tree-umbraco li a.sprTreeSettingCssItem,
.tree-umbraco li a.sprTreeSettingCssItem.clicked:hover
{
	background-position: -6px -871px;
}
.tree-umbraco li a.sprTreeSettingDataType,
.tree-umbraco li a.sprTreeSettingDataType.clicked:hover
{
	background-position: -6px -903px;
}
.tree-umbraco li a.sprTreeSettingDataTypeChild,
.tree-umbraco li a.sprTreeSettingDataTypeChild.clicked:hover
{
	background-position: -6px -935px;
}
.tree-umbraco li a.sprTreeSettingDomain,
.tree-umbraco li a.sprTreeSettingDomain.clicked:hover
{
	background-position: -6px -967px;
}
.tree-umbraco li a.sprTreeSettingLanguage,
.tree-umbraco li a.sprTreeSettingLanguage.clicked:hover
{
	background-position: -6px -999px;
}
.tree-umbraco li a.sprTreeSettingScript,
.tree-umbraco li a.sprTreeSettingScript.clicked:hover
{
	background-position: -6px -1031px;
}
.tree-umbraco li a.sprTreeSettingTemplate,
.tree-umbraco li a.sprTreeSettingTemplate.clicked:hover
{
	background-position: -6px -1063px;
}
.tree-umbraco li a.sprTreeSettingXml,
.tree-umbraco li a.sprTreeSettingXml.clicked:hover
{
	background-position: -6px -1095px;
}
.tree-umbraco li a.sprTreeStatistik,
.tree-umbraco li a.sprTreeStatistik.clicked:hover
{
	background-position: -6px -1127px;
}
.tree-umbraco li a.sprTreeUser,
.tree-umbraco li a.sprTreeUser.clicked:hover
{
	background-position: -6px -1159px;
}
.tree-umbraco li a.sprTreeUserGroup,
.tree-umbraco li a.sprTreeUserGroup.clicked:hover
{
	background-position: -6px -1191px;
}

/* tree node overlays / custom styles */

.tree-umbraco li.dim a
{
	color:#C0C0C0;
}

.tree-umbraco li div.overlay 
{
	position: absolute;	
	width: 8px;
	height: 8px;
}

.tree-umbraco li div.overlay-new
{
	z-index: 500;
	left: 11px;
	top: 0px;
	background: no-repeat url(newVersion_overlay.png);
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='protect_overlay.gif');
}

.tree-umbraco li div.overlay-protect
{
	z-index: 501;
	left: 22px;
	top: 8px;
	background: no-repeat url(protect_overlay.gif);
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='protect_overlay.gif');
}