.tree-umbraco li
{
	background:none;
}
.tree-umbraco li a
{
	background-image: url(../../../../umbraco/images/umbraco/sprites.png);
	background-color: #fff;
	padding: 0px 0px 0px 18px;
	border: 0;
	color: #2f2f2f;
}

/* these ensure the first node doesn't have padding or background images */
.tree-umbraco li.open, tree-umbraco li.last 
{
	background:none;
	padding:0 0 0 0px;
}
.tree-umbraco li.open li.open, tree-umbraco li.last li.last 
{
	background:transparent url(fminus.gif) no-repeat scroll 4px 6px;
	padding:0 0 0 15px;
}


.tree-umbraco li a.noSpr, .tree-umbraco li a.noSpr:hover
{
	background-position:0px 0px;
}
.tree-umbraco li a:hover
{
	padding: 0px 0px 0px 18px;
	border: 0;
	background-color: #fff;
	text-decoration: underline;
}
.tree-umbraco li a.clicked, 
.tree-umbraco li a.clicked:hover
{
	padding: 0px 0px 0px 18px;
	border: 0;
	background-color: #fff;
}
/* The colors for the selected state of the node */
.tree-umbraco li div 
{
	padding: 1px 3px 1px 3px;
	height:16px;
	line-height:16px;
	cursor:pointer;
}
/* highlight the selected element */
.tree-umbraco li .clicked div 
{
	padding: 0px 2px 0px 2px;
	background: #D5EFFC;
	border:1px solid #99DEFD;
	-moz-border-radius: 2px;
}

.tree-umbraco ul li ul 
{
	margin-top:2px;
}

/* renaming */
.tree-umbraco li div.renaming 
{
	padding: 0px 2px 0px 12px;
	background: #D5EFFC;
	border:1px solid #99DEFD;
	-moz-border-radius: 2px;
}
.tree-umbraco li div.renaming input
{
	border:0px;
	font-size: 11px;
}

/* OVERRIDE TREE_COMPONENT.css */
.tree-umbraco li
{
	line-height: 20px;
	min-height: 20px;
	font: icon;
	position:relative;
}
.tree-umbraco li a
{
	line-height: 18px;
	height: 18px;
}

/* Used for checkbox tree */

.tree-umbraco.inheritedcheckbox li a, 
.tree-umbraco.inheritedcheckbox li a.unchecked,
.tree-umbraco.checkbox li a, 
.tree-umbraco.checkbox li a.unchecked
 { background: url("check_0.png") no-repeat 0px 0px ! important; }
.tree-umbraco.inheritedcheckbox li a.undetermined,
.tree-umbraco.checkbox li a.undetermined
{ background:url("check_1.png") no-repeat 0px 0px ! important; }
.tree-umbraco.inheritedcheckbox li a.checked,
.tree-umbraco.checkbox li a.checked
{ background:url("check_2.png") no-repeat 0px 0px ! important; }

/* CONTEXT MENU */

.tree-umbraco-context
{
	background: #f0f0f0 url(contextMenuBg.gif) repeat-y left;
	border: 1px solid #979797;
	padding: 3px;
	width: 180px;
	font-family: Arial,Lucida Grande;
	font-size: 11px;
	z-index: 1000;
}
.tree-umbraco-context a
{
	border:0px;
	padding: 1px;
	margin: 1px;
	height: 20px;	
	color: #1a1818;
	text-decoration: none;
	text-indent: 0px;
}
.tree-umbraco-context a:hover
{
	border: 1px solid #a8d8eb;
	padding: 0px;
	margin: 1px;
	height: 20px;
	background: #dcecf3;	
	text-indent: 0px;	
}
.tree-umbraco-context .separator
{
	background: #FFFFFF;
	border-top: 1px solid #E0E0E0;
	font-size: 1px;
	height: 1px;
	line-height: 1px;
	margin: 0 2px 0 24px;
	min-height: 1px;
	display: block;
}
.tree-umbraco-context img
{
	height: 16px;
	width: 16px;
	margin: 1px 10px 0 2px;
}


/* Tree icons sprites */

.sprTree,
.tree-umbraco li a.sprTree.clicked:hover
{
	background-image: 0px 0px;
}



/* tree node overlays / custom styles */

.tree-umbraco li.dim a
{
	color:#C0C0C0;
}

.tree-umbraco li div.overlay 
{
	position: absolute;	
	width: 8px;
	height: 8px;
}

.tree-umbraco li div.overlay-new
{
	z-index: 500;
	left: 11px;
	top: 0px;
	background: no-repeat url(newVersion_overlay.png);
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='protect_overlay.gif');
}

.tree-umbraco li div.overlay-protect
{
	z-index: 501;
	left: 22px;
	top: 8px;
	background: no-repeat url(protect_overlay.gif);
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='protect_overlay.gif');
}