<div class="umb-sub-views">
    <div class="umb-sub-views-action-bar clearfix">

        <ul class="umb-sub-views-tools">
            <li class="umb-sub-views-tool" ng-repeat="tool in tools">
                <button class="btn btn-link" ng-click="tool.action(tool)" prevent-default>
                    <i class="icon-{{tool.icon}}"></i> {{ tool.name }}
                </button>
            </li>
        </ul>

        <ul class="umb-sub-views-nav">
            <li class="umb-sub-views-nav-item" ng-repeat="view in page.subViews" ng-class="{'is-active': view.isActive }">
                <button class="btn btn-link" ng-click="toggleView(view)" prevent-default>
                    <i class="icon-{{view.icon}}"></i> {{ view.name }}
                </button>
            </li>
        </ul>

    </div>

    <div class="umb-sub-views-content" ng-repeat="view in page.subViews">
        <div ng-if="view.isActive">
            <div ng-if="view.view" ng-include="view.view"></div>
            <div ng-if="!view.view" ng-transclude></div>
        </div>
    </div>

</div>

