<div class="umb-editor" ng-controller="Umbraco.PrevalueEditors.NestedPropertyController">
    <div ui-sortable="sortableOptions">
        <div class="control-group" ng-repeat="item in model.value">
            <i class="icon icon-navigation handle"></i>&nbsp;
            <a prevent-default href="" title="Remove this property"
                ng-show="model.value.length > 1"
                ng-click="remove($index)">
                <i class="icon icon-remove"></i>
            </a>
            <umb-control-group label="Name" alias="">
                <input type="text" ng-model="item.label" val-server="item_{{$index}}" required ng-change="setAlias($index)" />
            </umb-control-group>
            <umb-control-group label="Alias" alias="">
                <input type="text" ng-model="item.alias" val-server="item_{{$index}}" required  />
            </umb-control-group>
            <umb-control-group label="Type" alias="">
                <select ng-model="item.datatype" val-server="item_{{$index}}" required ng-options="item.id as item.name for item in datatypes"></select>
            </umb-control-group>
            <umb-control-group label="Mandatory" alias="">
                <input type="checkbox" ng-model="item.required" val-server="item_{{$index}}" /><br />
            </umb-control-group>
            <umb-control-group label="Description" alias="">
                <textarea ng-model="item.description" val-server="item_{{$index}}" />
            </umb-control-group>
            
        </div>
    </div>
    <div class="control-group">
        <a prevent-default href="" title="Add another proprety"
            ng-click="add()">
            <i class="icon icon-add"></i>
        </a>
    </div>
</div>
