<div ng-controller="Umbraco.Notifications.ConfirmUnpublishController">
	<h4><localize key="general_areyousure">Are you sure?</localize></h4>
	<p><localize key="prompt_confirmUnpublish">Unpublishing will remove this page and all its descendants from the site</localize></p>
	<button class="btn btn-warning" ng-click="confirm(notification, true)"><localize key="actions_unpublish">Unpublish</localize></button>
	<button class="btn btn-default" ng-click="confirm(notification, false)" umb-auto-focus><localize key="general_cancel">Cancel</localize></button>
</div>