<div class="umb-pdf-viewer">
    <canvas class="umb-pdf-viewer--pdf-canvas"></canvas>

  <div class="umb-pdf-viewer__actions">
    <div class="umb-pdf-viewer__action-group umb-pdf-viewer__action-group--pages">
      <span><input type="number" ng-model="vm.pageNumber" ng-blur="vm.updatePage(vm.pageNumber)" ng-blur="vm.updatePage()" ng-keypress="vm.handleKeypress($event)" no-dirty-check></span>
      <span>/</span>
      <span>{{ vm.totalPages }}</span>
    </div>
    <div class="umb-pdf-viewer__action-group">
      <button type="button" class="btn-reset" ng-click="vm.prevPage()" ng-disabled="vm.pageNumber === 1">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
      </button>
      <button type="button" class="btn-reset" ng-click="vm.nextPage()" ng-disabled="vm.pageNumber === vm.totalPages">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>
