@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListModel>
@{
    var propertyAlias = ViewData[BlockListTemplateExtensions.PropertyAliasViewDataKey] as string;
    var annotate = ((UmbracoContext?.InPreviewMode ?? false) || VisualEditorPropertyTracker.IsEnabled) && !string.IsNullOrEmpty(propertyAlias);
    if (Model?.Any() != true && !annotate) { return; }
}
<div class="umb-block-list" data-umb-block-property="@(annotate ? propertyAlias : null)">
    @if (Model is not null)
    {
        foreach (var block in Model)
        {
            if (block?.ContentKey == null) { continue; }
            var data = block.Content;

            <div data-umb-block-key="@block.ContentKey" data-umb-content-type="@data.ContentType.Alias">
                @await Html.PartialAsync("blocklist/Components/" + data.ContentType.Alias, block)
            </div>
        }
    }
</div>
