@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BlockListModel>
@using Microsoft.AspNetCore.Mvc.ViewComponents;
@using Umbraco.Cms.Core.Models.Blocks;
@{
    if (Model?.Any() != true) { return; }
}

@inject IViewComponentSelector _selector;

<div class="umb-block-list">
    @foreach (var item in Model)
    {
        if (item?.ContentUdi == null) { continue; }

        string componentName = item.Content.ContentType.Alias;
        var component = _selector.SelectComponent(componentName.ToFirstUpper()) ?? _selector.SelectComponent(componentName);
                
        if (component is ViewComponentDescriptor viewComponent)
        {
            @await Component.InvokeAsync(viewComponent.ShortName, item)
        }
        else
        {
            var partialViewName = "blocklist/Components/" + componentName;

            try
            {
                @await Html.PartialAsync(partialViewName, item)
            }
            catch (InvalidOperationException)
            {
                <p>
                    <strong>Could not render component of type: @(item.Content.ContentType.Alias)</strong>
                    <br/>
                    This likely happened because the partial view <em>@partialViewName</em> could not be found.
                </p>
            }
        }
    }
</div>
