.umb-outline {
    &:focus {
        outline:none;
        .tabbing-active &::after {
            content: '';
            position: absolute;
            z-index: 10000;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: 3px;
            box-shadow: 0 0 2px @blueMid, inset 0 0 2px 1px @blueMid;
        }
    }
}
