<div class="umb-dialog umb-pane" ng-controller="Umbraco.Editors.MemberTypes.DeleteController">
    <div class="umb-dialog-body">

        <p class="abstract">
            <localize key="defaultdialogs_confirmdelete">Are you sure you want to delete</localize> <strong>{{currentNode.name}}</strong>?
        </p>

        <p>
            <i class="icon-alert red"></i>
            <strong class="red"><localize key="member_allMembers">All members</localize></strong>
            <localize key="contentTypeEditor_usingThisMember">using this member type will be deleted permanently, please confirm you want to delete these as well.</localize>
        </p>

        <hr />

        <umb-checkbox model="confirmed" text="{{labels.deleteConfirm}}"></umb-checkbox>

        <umb-confirm ng-if="confirmed" on-confirm="performDelete" on-cancel="cancel" confirm-button-style="danger">
        </umb-confirm>


    </div>
</div>
