<div class="umb-property-editor umb-prevalues-numberrange">
    <ng-form name="prevalueNumberRangeForm">
        <input name="numberFieldMin" class="__min-input"
               type="number"
               ng-model="model.value.min"
               placeholder="0"
               ng-max="model.value.max"
               fix-number />
        <span class="__enDash">–</span>
        <input name="numberFieldMax" class="__max-input"
               type="number"
               ng-model="model.value.max"
               placeholder="∞"
               ng-min="model.value.min"
               fix-number />

        <span ng-messages="prevalueNumberRangeForm.numberFieldMin.$error" show-validation-on-submit >
            <span class="help-inline" ng-message="number">Not a number</span>
        </span>
        <span ng-messages="prevalueNumberRangeForm.numberFieldMax.$error" show-validation-on-submit >
            <span class="help-inline" ng-message="number">Not a number</span>
        </span>
    </ng-form>
</div>
