// Grid
// -------------------------

/* CONTAINS BASIC APPLICATION LAYOUT, POSITIONING AND AREA DIMENSIONS */

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

  font-family: @baseFontFamily;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
  color: @textColor;
  background-color: @bodyBackground;

  // better font rendering
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.padded {
  padding: 20px
}


#layout {
  position: relative;
  height: 100%;
  padding: 0;
  z-index: 1;
}

#mainwrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}

body.umb-drawer-is-visible #mainwrapper{
    right: @drawerWidth;
}

#contentwrapper, #contentcolumn {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  z-index: 10;
  margin: 0;
}

#contentcolumn {
  left: 0px;
}

#contentcolumn iframe#right {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  border: none;
}

#leftcolumn {
  height: 100%;
  z-index: 1100;
  float: left;
  position: absolute;
  top: 0;

  &.above-backdrop{
      z-index: 7501;
  }
}

#navigation {
  left: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 100;
  background: @white;
  height: 100%;
}

.navigation-inner-container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-right: 1px solid @gray-9;
  z-index: 100;
  display: flex;
  flex-direction: column;
}

#dialog {
  min-width: 500px;
  left: 100%;
  top: 0;
  position: absolute;
  z-index: 50;
  display: inline-block;
}

#tree {
  padding: 0px;
  z-index: 100 !important;
  overflow: auto;
  height: 100%;
}

#search-results {
  z-index: 200;
}

#contextMenu {
  z-index: 50;
  position: absolute;
  top: 0px;
  left: 100%;
  min-width: 260px;
}

#speechbubble {
  z-index: 1060;
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  border-bottom: none;
  margin: auto;
  padding: 0px;
  border: none;
  background: none;
  border-radius: 0;
}

.ui-resizable-e {
    cursor: col-resize;
    width: 10px;
    right: -5px;
    top: 0;
    bottom: 0;
    position:absolute;
    z-index:9999 !important;

    &:hover::after {
        content: '';
        position: absolute;
        background-color: @gray-8;
        top: 0;
        bottom: 0;
        width: 1px;
        right: 5px;
    }
}

@media (min-width: 1101px) {
  #contentwrapper, #speechbubble { left: 360px; } 
  .emptySection #contentwrapper { left: 0 !important; }
}

//empty section modification
.emptySection #speechbubble { left: 0; }
.emptySection #navigation { display: none }

.login-only #speechbubble {
    z-index: 10000;
    left: 0 !important;
}
.login-only #speechbubble ul {
    padding-left:20px
}
