<div class="umb-cropper" ng-show="src">
	<div class="crop-container">
		<div class="viewport" ng-style="style()">
			<img src="{{src}}" />
			<div class="overlay"></div>
		</div>
	</div>

	<input 
		type="range" 
		min="{{minScale}}" 
		max="{{maxScale}}" 
		step="0.01" 
		ng-model="scale" />

<pre>
		{{dimensions | json}}
</pre>

<pre>
		{{box | json}}
</pre>

<!--
	<ul class="crops-preview">
		<li ng-repeat="preview in previews">
			<div ng-style="preview.style">
				<img src="{{preview.src" ng-style="preview.imageStyle">
			</div> 
		</li>
	</ul>	-->
</div>