<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/umbraco/" />
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="backoffice/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Umbraco</title>
    <link rel="stylesheet" href="backoffice/style.css"/>
    <script type="importmap">
        {
            "imports": {
                "@@umbraco-cms/backoffice/backend-api": "/umbraco/backoffice/libs/backend-api.js",
                "@@umbraco-cms/backoffice/context-api": "/umbraco/backoffice/libs/context-api.js",
                "@@umbraco-cms/backoffice/controller": "/umbraco/backoffice/libs/controller.js",
                "@@umbraco-cms/backoffice/element": "/umbraco/backoffice/libs/element.js",
                "@@umbraco-cms/backoffice/entity-action": "/umbraco/backoffice/libs/entity-action.js",
                "@@umbraco-cms/backoffice/events": "/umbraco/backoffice/libs/umb-events.js",
                "@@umbraco-cms/backoffice/extensions-api": "/umbraco/backoffice/libs/extensions-api.js",
                "@@umbraco-cms/backoffice/extensions-registry": "/umbraco/backoffice/libs/extensions-registry.js",
                "@@umbraco-cms/backoffice/modal": "/umbraco/backoffice/libs/modal.js",
                "@@umbraco-cms/backoffice/models": "/umbraco/backoffice/libs/models.js",
                "@@umbraco-cms/backoffice/notification": "/umbraco/backoffice/libs/notification.js",
                "@@umbraco-cms/backoffice/observable-api": "/umbraco/backoffice/libs/observable-api.js",
                "@@umbraco-cms/backoffice/property-editor": "/umbraco/backoffice/libs/property-editor.js",
                "@@umbraco-cms/backoffice/repository": "/umbraco/backoffice/libs/repository.js",
                "@@umbraco-cms/backoffice/resources": "/umbraco/backoffice/libs/resources.js",
                "@@umbraco-cms/backoffice/router": "/umbraco/backoffice/libs/router.js",
                "@@umbraco-cms/backoffice/store": "/umbraco/backoffice/libs/store.js",
                "@@umbraco-cms/backoffice/utils": "/umbraco/backoffice/libs/utils.js",
                "@@umbraco-cms/backoffice/workspace": "/umbraco/backoffice/libs/workspace.js"
            }
        }
    </script>
    <script type="module" src="backoffice/main.js"></script>
</head>

<body class="uui-font uui-text" style="margin: 0; padding: 0; overflow: hidden">
<umb-app></umb-app>
</body>
</html>
