<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="/umbraco/" />
        <meta charset="UTF-8" />
        <link rel="icon" type="image/svg+xml" href="/umbraco/favicon.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Umbraco</title>
        <link rel="stylesheet" href="/umbraco/style.css"/>
        <script type="module" src="/umbraco/main.js"></script>
    </head>

    <body class="uui-font uui-text" style="margin: 0; padding: 0; overflow: hidden">
        <umb-app></umb-app>
    </body>
</html>
