<div class="pull-right" style="position: relative;">

    <umb-button
        type="button"
        button-style="white"
        action="dropdown.isOpen = !dropdown.isOpen"
        label-key="general_actions"
        show-caret="true"
        has-popup="true"
        is-expanded="dropdown.isOpen"
        >
    </umb-button>

    <umb-dropdown ng-if="dropdown.isOpen" class="umb-actions" on-close="dropdown.isOpen = false" deep-blur="dropdown.isOpen = false">
        <umb-dropdown-item class="umb-action" ng-class="{'sep':action.separatorm, '-opens-dialog': action.opensDialog}" ng-repeat="action in actions">
            <button type="button" ng-click="executeMenuItem(action)">
                <i class="icon icon-{{action.cssclass}}" aria-hidden="true"></i>
                <span class="menu-label">{{action.name}}</span>
            </button>
        </umb-dropdown-item>
    </umb-dropdown>

</div>
