<div class="umb-panel-header">

    <div class="umb-panel-content">

        <div class="umb-panel-meta">

            <div class="umb-panel-header-icon" ng-show="icon!==undefined" ng-click="openIconPicker()" ng-class="{'-placeholder': icon==='' || icon===null}">
                <i class="icon {{icon}}"  ng-if="icon!=='' && icon!==null"></i>
                <div class="umb-panel-header-icon-text" ng-if="icon==='' || icon===null">Add icon</div>
            </div>

            <div class="umb-panel-header-title-wrapper">
                <!--
                <umb-content-name
                        ng-disabled="content.isSystem == 1"
                        placeholder="@placeholders_entername"
                        ng-model="name">
                </umb-content-name>
                -->
                <input type="text" class="umb-panel-header-name" placeholder="Enter name..." ng-show="name!==undefined" ng-disabled="content.isSystem == 1" ng-model="name"  ng-class="{'name-is-empty': name===null || name===''}" umb-auto-focus />

                <umb-generate-alias class="umb-panel-header-alias" ng-show="alias!==undefined" alias="alias" alias-from="name" enable-lock="true"></umb-generate-alias>

                <input type="text" class="umb-panel-header-description" placeholder="Enter description..." ng-show="description!==undefined" ng-model="description" />

            </div>

        </div>


        <div class="umb-panel-header-actions">
            <umb-editor-actions ng-if="actions" actions="actions"></umb-editor-actions>
            <umb-editor-menu ng-if="menu" menu="menu"></umb-editor-menu>
            <umb-editor-navigation ng-if="navigation" navigation="navigation"></umb-editor-navigation>
        </div>

    </div>

    <umb-overlay
            ng-style="{'width': '500px'}"
            ng-if="showDialog"
            model="dialogModel"
            animation="slide-in-right"
            position="right"
            view="dialogModel.view">
    </umb-overlay>

</div>
