<ul id="contentApps" class="umb-sub-views-nav" ng-show="showNavigation">
    <li ng-repeat="item in navigation | limitTo: contentAppsLimit ">
        <div ng-show="item.alias !== 'more'">
            <a data-element="sub-view-{{item.alias}}"
               tabindex="-1"
               class="umb-sub-views-nav-item"
               href=""
               ng-click="clickNavigationItem(item)"
               hotkey="{{$index+1}}"
               ng-class="{'is-active': item.active, '-has-error': item.hasError}">
                <i class="icon {{ item.icon }}"></i>
                <span class="umb-sub-views-nav-item-text">{{ item.name }}</span>
            </a>
        </div>
    </li>


    <li>
        <div ng-show="showMoreButton === true">
            <a data-element="sub-view-{{moreButton.alias}}"
               tabindex="-1"
               class="umb-sub-views-nav-item"
               href=""
               ng-click="trayClick()"
               ng-class="{'is-active': moreButton.active}">
                <i class="icon {{ moreButton.icon }}"></i>
                <span class="umb-sub-views-nav-item-text">{{ moreButton.name }}</span>
            </a>
            <div ng-if="showTray === true" on-outside-click="trayClick()" style="position: fixed; right: 131px;">

                <!--The triange above the app tray-->
                <div style="right: 5px; margin-left: 50px; width: 0; height: 0; border: solid 10px; border-color: transparent transparent white transparent;"></div>

                <ul class="shadow-depth-2" style="background-color: white; list-style: none;">
                    <li ng-repeat="item in navigation | limitTo: contentAppsTrayLimit ">
                        <a data-element="sub-view-{{item.alias}}"
                           tabindex="-1"
                           class="umb-sub-views-nav-item"
                           href=""
                           ng-click="clickNavigationItem(item)"
                           ng-class="{'is-active': item.active, '-has-error': item.hasError}">
                            <i class="icon {{ item.icon }}"></i>
                            <span class="umb-sub-views-nav-item-text">{{ item.name }}</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </li>
</ul>
