<div class="umb-panel-header">

    <div class="umb-panel-header-content-wrapper">

        <div class="umb-panel-header-content" ng-class="{'-top-position': tabs }">

            <div class="umb-panel-header-meta">

               <div class="umb-panel-header-icon" ng-if="icon!==undefined" ng-click="openIconPicker()" ng-class="{'-placeholder': $parent.icon==='' || $parent.icon===null}">
                   <i class="icon {{$parent.icon}}"  ng-if="$parent.icon!=='' && $parent.icon!==null"></i>
                   <div class="umb-panel-header-icon-text" ng-if="$parent.icon==='' || $parent.icon===null">Add icon</div>
               </div>

               <div class="umb-panel-header-title-wrapper">

                  <input type="text" class="umb-panel-header-name-input" placeholder="Enter name..." ng-if="name!==undefined && !nameLocked" ng-model="$parent.name"  ng-class="{'name-is-empty': $parent.name===null || $parent.name===''}" umb-auto-focus focus-on-filled="true" />
                  <div class="umb-panel-header-name" ng-if="name!==undefined && nameLocked">{{ name }}</div>

                  <umb-generate-alias class="umb-panel-header-alias" ng-if="alias!==undefined" alias="$parent.alias" alias-from="$parent.name" enable-lock="true"></umb-generate-alias>

                  <input type="text" class="umb-panel-header-description" placeholder="Enter description..." ng-if="description!==undefined" ng-model="$parent.description" />

               </div>

            </div>

            <umb-editor-menu ng-if="menu" menu="menu"></umb-editor-menu>
            <umb-editor-navigation ng-if="navigation" navigation="navigation"></umb-editor-navigation>

        </div>

        <umb-tabs-nav ng-if="tabs" model="tabs"></umb-tabs-nav>

    </div>

    <umb-overlay
            ng-style="{'width': '500px'}"
            ng-if="showDialog"
            model="dialogModel"
            animation="slide-in-right"
            position="right"
            view="dialogModel.view">
    </umb-overlay>

</div>
