body, input, select
        {
            font-size: 12px;
            font-family: Calibri, "Trebuchet MS" , Verdana, Arial, "Lucida Grande";
        }

        body
        {
            width: 100%;
            text-align: center;
            padding-top: 25px;
            margin: 0px;
            background: no-repeat #fff url(images/logo_type.png) center 20px;
        }

        h1,h2,h3,h4,h5{font-weight: normal; }

        h1{font-size: 2.5em; border-bottom: 1px solid #eaeaea; padding-bottom: 7px; margin-bottom: 7px;}


        #main{text-align: left; width: 900px; margin: auto; margin-top: 120px;}

        #buttons{text-align: center; position: relative; border-top: 1px solid #eaeaea; margin-top: 40px;}
        #buttons img{margin: auto; margin-top: 15px;}
        #buttons .next{position: absolute; top: 10px; right: 10px;}
       

       #starterKits, #starterKitDesigns {list-style: none; margin: 0; padding: 0px;}
       #starterKits li, #starterKitDesigns li{float: left; margin: 15px; display: block; width: 20%; padding: 5px; border: 1px solid #efefef; text-align: center;}
       #starterKits li a, #starterKitDesigns li a{text-decoration: none; color: #999}
       #starterKits li span, #starterKitDesigns li span{display: block; text-align: center; padding-top: 10px;}
       #starterKits li div, #starterKitDesigns li div{display: none !Important;}
       #starterKits li img, #starterKitDesigns li img{border: none;}

       .declineStarterKits{display: block; text-align: center; font-size: 1.5em; padding: 20px;}

        #starterKitDesc, #starterKitDesignDesc{clear: both; font-size: 1.5em; font-weight: bold; color: #999; padding: 10px; text-align: center;}
       
       .webpi #buttons input{display: none !Important;}
       

       #loadingBar{display: none;}
       
       
       .error, .notice, .success
        {
            padding: .8em;
            padding-top: 0em;
            padding-bottom: 0em;
            margin-bottom: .5em;
            border: 2px solid #ddd;
        }
        .error
        {
            background: #FBE3E4;
            color: #8a1f11;
            border-color: #FBC2C4;
        }
        .notice
        {
            background: #FFF6BF;
            color: #514721;
            border-color: #FFD324;
        }
        .success
        {
            background: #E6EFC2;
            color: #264409;
            border-color: #C6D880;
        }
        .error a
        {
            color: #8a1f11;
        }
        .notice a
        {
            color: #514721;
        }
        .success a
        {
            color: #264409;
        }
        .errormessage
        {
            color: #8a1f11;
        }