body, input, select
        {
            font-size: 12px;
            font-family: Calibri, "Trebuchet MS" , Verdana, Arial, "Lucida Grande";
        }

        body
        {
            width: 100%;
            text-align: center;
            padding-top: 25px;
            margin: 0px;
            background: no-repeat #fff url(images/logo_type.png) center 20px;
        }

        h1,h2,h3,h4,h5{font-weight: normal; }

        h1{font-size: 2.5em; border-bottom: 1px solid #eaeaea; padding-bottom: 7px; margin-bottom: 7px;}


        #main{text-align: left; width: 900px; margin: auto; margin-top: 120px;}

        #buttons{text-align: center; position: relative; border-top: 1px solid #eaeaea; margin-top: 40px;}
        #buttons img{margin: auto; margin-top: 15px;}
        #buttons .next{position: absolute; top: 10px; right: 10px;}
       