<div ng-controller="Umbraco.Dialogs.Template.OrganizeController">
    <div class="row">
        <label>Select master page</label>
        <div class="btn-group">
            <a class="btn btn-link dropdown-toggle"
               data-toggle="dropdown" href="#">
                {{structure.masterPage}}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li ng-repeat="page in masterPages">
                    <a href ng-click="selectMasterPage(page)">
                        {{page.name}}
                    </a>
                </li>

            </ul>
        </div>
    </div>

</div>