<form novalidate name="contentForm"
      ng-controller="Umbraco.Dialogs.Template.SnippetController"
      ng-submit="close()"
      val-form-manager>
    <div class="umb-panel">

        <div class="umb-panel-header">
            <div class="panel-dialog--header" style="border-bottom: 1px solid whitesmoke">Configure the section</div>
        </div>

        <div class="umb-panel-body with-footer umb-querybuilder">
            <label>
                <div class="input-label--title">
                    Section name:
                </div>
                <input type="text" ng-model="section.name"/>
            </label>
            <label ng-show="type === 'rendersection'">
                <input style="margin: 0;" type="checkbox" ng-checked="section.required" ng-model="section.required"/>
                <div class="input-label--small">
                    <localize key="general_required">Required</localize>
                </div>
            </label>
        </div>

        <div class="umb-panel-footer">
            <div class="umb-el-wrap umb-panel-buttons">
                <div class="btn-toolbar umb-btn-toolbar pull-right">
                    <a href ng-click="close()" class="btn btn-link">
                        <localize key="general_close">Close</localize>
                    </a>
                    <a href ng-click="submit(section)" class="btn btn-primary"><localize key="general_insert">Insert</localize></a>
                </div>
            </div>
        </div>
    </div>
</form>
