<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="FileSystemProviders" type="Umbraco.Core.Configuration.FileSystemProvidersSection, Umbraco.Core" requirePermission="false"/>
  </configSections>

  <FileSystemProviders>
    <Provider alias="media" type="Umbraco.Core.IO.PhysicalFileSystem, Umbraco.Core">
      <Parameters>
        <add key="rootPath" value="D:\Work\Umbraco\Umbraco\Cms\src\Umbraco.Web.UI\Media\" />
        <add key="rootUrl" value="/Media/" />
      </Parameters>
    </Provider>
  </FileSystemProviders>

</configuration>