<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="FileSystemProviders" type="Umbraco.Core.Configuration.FileSystemProvidersSection, Umbraco.Core" requirePermission="false"/>
    <sectionGroup name="umbraco">
      <section name="infrastructure" type="Umbraco.Core.Configuration.InfrastructureSettings.Infrastructure, Umbraco.Core" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <connectionStrings>
    <add name="umbracoDbDSN" connectionString="Datasource=|DataDirectory|test.sdf" providerName="System.Data.SqlServerCe.4.0"/>
  </connectionStrings>

  <FileSystemProviders>
    <Provider alias="media" type="Umbraco.Core.IO.PhysicalFileSystem, Umbraco.Core">
      <Parameters>
        <add key="rootPath" value="D:\Work\Umbraco\Umbraco\Cms\src\Umbraco.Web.UI\Media\" />
        <add key="rootUrl" value="/Media/" />
      </Parameters>
    </Provider>
    <!-- Macros -->
    <Provider alias="macros" type="Umbraco.Core.IO.PhysicalFileSystem, Umbraco.Core">
      <Parameters>
        <add key="rootPath" value="D:\Work\Umbraco\Umbraco\Cms\src\Umbraco.Web.UI\App_Data\Macros\" />
        <add key="rootUrl" value="/Macros/" />
      </Parameters>
    </Provider>
    <!-- Scripts -->
    <Provider alias="scripts" type="Umbraco.Core.IO.PhysicalFileSystem, Umbraco.Core">
      <Parameters>
        <add key="rootPath" value="D:\Work\Umbraco\Umbraco\Cms\src\Umbraco.Web.UI\scripts\" />
        <add key="rootUrl" value="/scripts/" />
      </Parameters>
    </Provider>
    <!-- Stylesheets -->
    <Provider alias="stylesheets" type="Umbraco.Core.IO.PhysicalFileSystem, Umbraco.Core">
      <Parameters>
        <add key="rootPath" value="D:\Work\Umbraco\Umbraco\Cms\src\Umbraco.Web.UI\css\" />
        <add key="rootUrl" value="/css/" />
      </Parameters>
    </Provider>
    <!-- Templates -->
    <Provider alias="masterpages" type="Umbraco.Core.IO.PhysicalFileSystem, Umbraco.Core">
      <Parameters>
        <add key="rootPath" value="D:\Work\Umbraco\Umbraco\Cms\src\Umbraco.Web.UI\masterpages\" />
        <add key="rootUrl" value="/masterpages/" />
      </Parameters>
    </Provider>
    <Provider alias="views" type="Umbraco.Core.IO.PhysicalFileSystem, Umbraco.Core">
      <Parameters>
        <add key="rootPath" value="D:\Work\Umbraco\Umbraco\Cms\src\Umbraco.Web.UI\views\" />
        <add key="rootUrl" value="/views/" />
      </Parameters>
    </Provider>
  </FileSystemProviders>

  <umbraco>
    <infrastructure>
      <repositories>
        <repository interfaceShortTypeName="IContentRepository" repositoryFullTypeName="Umbraco.Core.Persistence.Repositories.ContentRepository, Umbraco.Core" cacheProviderFullTypeName="Umbraco.Core.Persistence.Caching.RuntimeCacheProvider, Umbraco.Core"/>
        <repository interfaceShortTypeName="IContentTypeRepository" repositoryFullTypeName="Umbraco.Core.Persistence.Repositories.ContentTypeRepository, Umbraco.Core" cacheProviderFullTypeName="Umbraco.Core.Persistence.Caching.InMemoryCacheProvider, Umbraco.Core"/>
        <repository interfaceShortTypeName="IDataTypeDefinitionRepository" repositoryFullTypeName="Umbraco.Core.Persistence.Repositories.DataTypeDefinitionRepository, Umbraco.Core" cacheProviderFullTypeName="Umbraco.Core.Persistence.Caching.NullCacheProvider, Umbraco.Core"/>
        <repository interfaceShortTypeName="IDictionaryRepository" repositoryFullTypeName="Umbraco.Core.Persistence.Repositories.DictionaryRepository, Umbraco.Core" cacheProviderFullTypeName="Umbraco.Core.Persistence.Caching.InMemoryCacheProvider, Umbraco.Core"/>
        <repository interfaceShortTypeName="ILanguageRepository" repositoryFullTypeName="Umbraco.Core.Persistence.Repositories.LanguageRepository, Umbraco.Core" cacheProviderFullTypeName="Umbraco.Core.Persistence.Caching.InMemoryCacheProvider, Umbraco.Core"/>
        <repository interfaceShortTypeName="IMacroRepository" repositoryFullTypeName="Umbraco.Core.Persistence.Repositories.MacroRepository, Umbraco.Core" cacheProviderFullTypeName="Umbraco.Core.Persistence.Caching.InMemoryCacheProvider, Umbraco.Core"/>
        <repository interfaceShortTypeName="IMediaRepository" repositoryFullTypeName="Umbraco.Core.Persistence.Repositories.MediaRepository, Umbraco.Core" cacheProviderFullTypeName="Umbraco.Core.Persistence.Caching.RuntimeCacheProvider, Umbraco.Core"/>
        <repository interfaceShortTypeName="IMediaTypeRepository" repositoryFullTypeName="Umbraco.Core.Persistence.Repositories.MediaTypeRepository, Umbraco.Core" cacheProviderFullTypeName="Umbraco.Core.Persistence.Caching.InMemoryCacheProvider, Umbraco.Core"/>
        <repository interfaceShortTypeName="IRelationRepository" repositoryFullTypeName="Umbraco.Core.Persistence.Repositories.RelationRepository, Umbraco.Core" cacheProviderFullTypeName="Umbraco.Core.Persistence.Caching.NullCacheProvider, Umbraco.Core"/>
        <repository interfaceShortTypeName="IRelationTypeRepository" repositoryFullTypeName="Umbraco.Core.Persistence.Repositories.RelationTypeRepository, Umbraco.Core" cacheProviderFullTypeName="Umbraco.Core.Persistence.Caching.NullCacheProvider, Umbraco.Core"/>
        <repository interfaceShortTypeName="IScriptRepository" repositoryFullTypeName="Umbraco.Core.Persistence.Repositories.ScriptRepository, Umbraco.Core" cacheProviderFullTypeName="Umbraco.Core.Persistence.Caching.NullCacheProvider, Umbraco.Core"/>
        <repository interfaceShortTypeName="IStylesheetRepository" repositoryFullTypeName="Umbraco.Core.Persistence.Repositories.StylesheetRepository, Umbraco.Core" cacheProviderFullTypeName="Umbraco.Core.Persistence.Caching.NullCacheProvider, Umbraco.Core"/>
        <repository interfaceShortTypeName="ITemplateRepository" repositoryFullTypeName="Umbraco.Core.Persistence.Repositories.TemplateRepository, Umbraco.Core" cacheProviderFullTypeName="Umbraco.Core.Persistence.Caching.NullCacheProvider, Umbraco.Core"/>
      </repositories>
      <publishingStrategy type="Umbraco.Web.Publishing.PublishingStrategy, Umbraco.Web" />
    </infrastructure>
  </umbraco>

</configuration>