<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AspNetWebApi.SelfHost" version="4.0.20710.0" targetFramework="net45" />
  <package id="AutoMapper" version="4.2.1" targetFramework="net461" />
  <package id="Examine" version="2.0.0-beta2" targetFramework="net461" />
  <package id="LightInject" version="4.0.9" targetFramework="net461" />
  <package id="LightInject.Annotation" version="1.0.0.4" targetFramework="net461" />
  <package id="log4net" version="2.0.5" targetFramework="net461" />
  <package id="Lucene.Net" version="3.0.3" targetFramework="net461" />
  <package id="Lucene.Net.Contrib" version="3.0.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.SelfHost" version="4.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="MiniProfiler" version="3.2.0.157" targetFramework="net461" />
  <package id="Moq" version="4.1.1309.0919" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net461" />
  <package id="NPoco" version="3.3.4" targetFramework="net461" />
  <package id="NUnit" version="2.6.2" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="2.32.0" targetFramework="net45" />
  <package id="semver" version="1.1.2" targetFramework="net461" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net461" />
  <package id="SqlServerCE" version="4.0.0.1" targetFramework="net45" />
</packages>