<?xml version="1.0"?>
<log4net>
  <root>
    <priority value="WARN"/>
    <appender-ref ref="ConsoleAppender" />
  </root>

  <logger name="Umbraco.Core.Publishing.PublishingStrategy">
    <level value="WARN" />
  </logger>

  <logger name="Umbraco.Core.PluginManager">
    <level value="WARN" />
  </logger>

  <logger name="Umbraco.Core.Persistence.Database">
    <level value="OFF" />
  </logger>

  <logger name="Umbraco.Core.Persistence.UmbracoDatabase">
    <level value="Debug" />
  </logger>
  <logger name="DatabaseSchemaCreation">
    <level value="OFF" />
  </logger>

  <logger name="Umbraco.Core.Persistence.Migrations.Initial.DatabaseSchemaCreation">
    <level value="WARN" />
  </logger>

  <logger name="Umbraco.Core.Persistence.Migrations.Initial.BaseDataCreation">
    <level value="WARN" />
  </logger>

  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
    <target value="Console.Out" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %logger: %message%newline" />
    </layout>
  </appender>
</log4net>
