<div class="umb-dialog umb-pane" ng-controller="Umbraco.Editors.MediaType.DeleteController">
    <div class="umb-dialog-body">

    	<p class="umb-abstract">
        	Are you absolutely sure you want to delete <strong>{{currentNode.name}}</strong> ?
        </p>

        <p>
        	<i class="icon-alert red"></i> <strong class="red">2345 Medias</strong> will be deleted permanently if you delete this media type,
        	please confirm you want to delete these as well.
        </p>

        <hr />

        <label class="checkbox">
        		<input type="checkbox" ng-model="confirmed" /> Delete all 2345 medias using {{currentNode.name}}
        </label>

        <umb-confirm ng-if="confirmed" on-confirm="performDelete" on-cancel="cancel">
        </umb-confirm>

    </div>
</div>
