.slh	{ 
	position:relative; 
	z-index:105;
	overflow:hidden;
	}

.sl { 
	position:absolute; 
	left:0px; top:0px; 
	z-index:1; 
    }
	
.editorArrowOver {
	cursor: pointer;
	_cursor: hand;
	background-color: #DEDFFD;
}

.editorArrow {
	}