
/************************************************************************/
/* margin -ALIAS- */
/************************************************************************/

/***start-lessParam--ALIAS-***/
@marginvalue-ALIAS-:'';
@leftmarginvalue-ALIAS-:'';
@rightmarginvalue-ALIAS-:'';
@topmarginvalue-ALIAS-:'';
@bottommarginvalue-ALIAS-:'';
/***end-lessParam--ALIAS-***/

/***start-lessStyle--ALIAS-***/

.all-ALIAS- () when  (isnumber(@marginvalue-ALIAS-)) {
    margin: @marginvalue-ALIAS- + 0px;
}

.left-ALIAS- () when  (isnumber(@leftmarginvalue-ALIAS-)) {
    margin-left: @leftmarginvalue-ALIAS- + 0px;
}

.right-ALIAS- () when (isnumber(@rightmarginvalue-ALIAS-)) {
    margin-right: @rightmarginvalue-ALIAS- + 0px;
}

.top-ALIAS- () when (isnumber(@topmarginvalue-ALIAS-)) {
    margin-top: @topmarginvalue-ALIAS- + 0px;
}

.bottom-ALIAS- () when (isnumber(@bottommarginvalue-ALIAS-)) {
    margin-bottom: @bottommarginvalue-ALIAS- + 0px;
}

-SCHEMA- {
    .all-ALIAS-;
    .left-ALIAS-;
    .right-ALIAS-;
    .top-ALIAS-;
    .bottom-ALIAS-;
}
/***end-lessStyle--ALIAS-***/ 


