<div ng-controller="Umbraco.Overlays.ListViewPublishController as vm">

        <div ng-if="!vm.languages">
            Some content here
        </div>
    
        <div ng-if="vm.languages.length > 1">
    
            <div style="margin-bottom: 15px;">
                <p><localize key="content_languagesToPublish"></localize></p>
            </div>
    
            <div ng-if="vm.loading" style="min-height: 50px; position: relative;">
                <umb-load-indicator></umb-load-indicator>
            </div>
    
            <div class="umb-list umb-list--condensed" ng-if="!vm.loading">
    
                <div class="umb-list-item" ng-repeat="language in vm.languages">
                    <ng-form name="publishVariantSelectorForm">
                        <div class="flex">
                            <input
                                name="publishLanguageSelector"
                                type="checkbox"
                                ng-model="language.publish"
                                ng-change="vm.changeSelection(language)"
                                style="margin-right: 8px;" />
                            <div>
                                <label style="margin-bottom: 2px;">
                                    <span ng-class="{'bold': language.isDefault}">{{ language.name }}</span>
                                </label>
    
                                <div class="umb-permission__description">
                                    <span ng-if="language.isMandatory"><localize key="languages_mandatoryLanguage"></localize></span>
                                </div>
    
                            </div>
                        </div>
    
                    </ng-form>
                </div>
            </div>
    
        </div>
    
    </div>
    