<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="CodeAnalysis" ToolsVersion="16.0">
  <Rules AnalyzerId="Roslynator.CSharp.Analyzers" RuleNamespace="Roslynator.CSharp">
    <Rule Id="RCS1090" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1308" Action="None" />
    <Rule Id="SA1309" Action="None" />
    <Rule Id="SA1311" Action="None" />
    <Rule Id="SA1402" Action="None" />
    <Rule Id="SA1413" Action="None" />
    <Rule Id="SA1611" Action="None" />
    <Rule Id="SA1615" Action="None" />
    <Rule Id="SA1629" Action="None" />    
    <Rule Id="SA1633" Action="None" /> <!-- FileMustHaveHeader -->

    <Rule Id="SA1503" Action="Info" /> <!-- BracesMustNotBeOmitted -->
    <Rule Id="SA1516" Action="Info" /> <!-- ElementsMustBeSeparatedByBlankLine -->
    <Rule Id="SA1201" Action="Info" /> <!-- ElementsMustAppearInTheCorrectOrder -->
    <Rule Id="SA1124" Action="Info" /> <!-- DoNotUseRegions -->
    <Rule Id="SA1507" Action="Info" /> <!-- CodeMustNotContainMultipleBlankLinesInARow -->
    <Rule Id="SA1117" Action="Info" /> <!-- ParametersMustBeOnSameLineOrSeparateLines -->

    <Rule Id="SA1005" Action="Info" /> <!-- SingleLineCommentsMustBeginWithSingleSpace -->
    <Rule Id="SA1512" Action="Info" /> <!-- SingleLineCommentsMustNotBeFollowedByBlankLine -->
    <Rule Id="SA1515" Action="Info" /> <!-- SingleLineCommentMustBePrecededByBlankLine -->


    <Rule Id="SA1508" Action="Info" /> <!-- ClosingBracesMustNotBePrecededByBlankLine -->
    <Rule Id="SA1513" Action="Info" /> <!-- ClosingBraceMustBeFollowedByBlankLine -->

    <Rule Id="SA1009" Action="Info" /><!-- ClosingParenthesisMustBeSpacedCorrectly -->

  </Rules>
</RuleSet>
