<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
    this is Umbraco's NuGet configuration,
    content of this file is merged with the system-wide configuration,
    at %APPDATA%\NuGet\NuGet.config
  -->
  <packageSources>
    <add key="UmbracoCoreMyGet" value="https://www.myget.org/F/umbracocore/api/v3/index.json" />
  </packageSources>
</configuration>
