/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";


global
{
	focus-color: #EEB470;
	selection-color: #EEB470;
	roll-over-color: #EEEEEE;
}

mx|Tree
{
	textSelectedColor: #ffffff;
	textRollOverColor: #000000;
	selection-color: #f36f21;
	roll-over-color: #cccccc;
}

#grpSignInForm s|Label
{
	paddingTop: 5px;
}

#grpSignInForm s|CheckBox s|Label
{
	paddingTop: 0;
}

.header
{
	borderColor: #7a7a7a;
	backgroundColor: #7a7a7a;	
	paddingTop: 25px;
	paddingBottom: 25px;
	paddingLeft: 25px;
	paddingRight: 25px;
}

.header mx|Label
{
	color: #ffffff;
	font-size: 16px;
	font-weight: bold;
}

.header s|DropDownList
{
	skinClass: ClassReference('org.umbraco.desktopmediauploader.skins.HeaderDropDownListSkin');
	color: #ffffff;
	content-background-color: #7a7a7a;
	roll-over-color: #f36f22;
}

.header s|DropDownList s|Label
{
	font-size: 12px;
	font-weight: normal;
}

#btnSignIn,
#btnUpload
{
	cornerRadius: 5px;
	borderThickness: 2px;
	downSkin: Embed(source="assets/dmu_orange.swf", symbol="Button_downSkin");
	overSkin: Embed(source="assets/dmu_orange.swf", symbol="Button_overSkin");
	upSkin: Embed(source="assets/dmu_orange.swf", symbol="Button_upSkin");
	paddingLeft: 20px;
	paddingRight: 20px;
	paddingTop: 7px;
	paddingBottom: 7px;
	color: #ffffff;
	font-weight: bold;
	font-size: 14px;
	text-roll-over-color: #ffffff;
	text-selected-color: #ffffff;
	text-disabled-color: #cccccc;
}

.signOutButton
{	
	skinClass: ClassReference('org.umbraco.desktopmediauploader.skins.SignOutButtonSkin');
}

.removeButton
{	
	skinClass: ClassReference('org.umbraco.desktopmediauploader.skins.RemoveButtonSkin');
}
