/*! CSS Used from: /umbraco/assets/css/nonodes.style.min.css */
article, body, div, h1, h2, h3, p, section {
  background: 0 0;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

article, section {
  display: block;
}

a {
  background: 0 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

*, :after, :before {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

body, html {
  color: #fff;
  font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: .9375em;
  font-weight: 400;
  height: 100%;
  line-height: 1.5;
  width: 100%;
}

h1 {
  font-size: 1.7em;
  margin: 40px auto 10px;
}

h1, h2 {
  font-weight: 700;
}

h2 {
  font-size: 1.35em;
  margin: 0 auto .4em;
}

h3 {
  font-style: italic;
  font-weight: 400;
}

h3, p {
  font-size: 1em;
}

p {
  line-height: 1.6;
}

p + a {
  display: inline-block;
  margin-top: 1rem;
}

a, a:active, a:visited {
  text-decoration: none;
}

.cta {
  margin: 4.5em auto 1.5em;
  padding-bottom: 4.5em;
}

.button, .button:visited {
  background: #2bc37c;
  border: none;
  border-radius: .1em;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 1.2em;
  font-weight: 600;
  padding: .9375em 1.875em;
  transition: all .2s ease-in-out;
}

.button:hover, .button:visited:hover {
  background: #1fb572;
  border-bottom: none;
}

section {
  background-image: url(/umbraco/website/nonodesbg.webp);
  background-position: 50%;
  background-size: cover;
  display: table;
  height: 100%;
  padding: 3em 1.75em;
  width: 100%;
}

section a, section a:focus, section a:visited {
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 1.1625em;
  transition: border-bottom .1s ease-in-out;
}

section a:focus:hover, section a:hover, section a:visited:hover {
  border-bottom: 1px solid;
}

section:after {
  background: rgba(0, 0, 0, .17);
  background: linear-gradient(45deg, rgba(85, 98, 112, .1) 10%, hsla(0, 100%, 71%, .1) 95%);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

section article {
  display: table-cell;
  margin: 0 auto;
  position: relative;
  text-align: center;
  vertical-align: middle;
  z-index: 100;
}

section article > div {
  margin: 0 auto;
  max-width: 60em;
  padding-bottom: 70px;
  padding-top: 50px;
}

section .logo {
  margin: 0 auto;
}

section .row {
  overflow: hidden;
}

section .row .col {
  text-align: left;
  width: 100%;
}

section .row .col:nth-child(2) {
  margin-top: 3em;
}

@media screen and (min-width: 48em) {
  body, html {
    font-size: 1em;
  }

  h1 {
    font-size: 2.5em;
    letter-spacing: .5px;
    margin: 70px auto 0;
  }

  h2 {
    font-size: 1.4375em;
    margin: 0 auto 1em;
  }

  h3 {
    font-size: 1.2em;
  }

  a {
    font-size: 1.1rem;
    font-weight: 600;
  }

  p + a {
    margin-top: 3rem;
  }

  .cta {
    border-bottom: 1px solid #817f85;
    margin: 7.5em auto 2.5em;
    padding-bottom: 7.5em;
  }

  section {
    padding: 0 15px;
  }

  section .row .col {
    display: inline-block;
    float: left;
    padding-right: 5%;
    width: 50%;
  }

  section .row .col:nth-child(2) {
    margin-top: 0;
    padding-left: 5%;
    padding-right: 0;
  }

  .button {
    font-size: 1.1625em;
  }
}

/*! CSS Used fontfaces */
@font-face {
  font-display: swap;
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  src: local("LatoLatin Black"), local("LatoLatin-Black"), url(/umbraco/website/fonts/lato/LatoLatin-Black.woff2) format("woff2");
  text-rendering: optimizeLegibility;
}

@font-face {
  font-display: swap;
  font-family: Lato;
  font-style: italic;
  font-weight: 900;
  src: local("LatoLatin BlackItalic"), local("LatoLatin-BlackItalic"), url(/umbraco/website/fonts/lato/LatoLatin-BlackItalic.woff2) format("woff2");
  text-rendering: optimizeLegibility;
}

@font-face {
  font-display: swap;
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  src: local("LatoLatin Bold"), local("LatoLatin-Bold"), url(/umbraco/website/fonts/lato/LatoLatin-Bold.woff2) format("woff2");
  text-rendering: optimizeLegibility;
}

@font-face {
  font-display: swap;
  font-family: Lato;
  font-style: italic;
  font-weight: 700;
  src: local("LatoLatin BoldItalic"), local("LatoLatin-BoldItalic"), url(/umbraco/website/fonts/lato/LatoLatin-BoldItalic.woff2) format("woff2");
  text-rendering: optimizeLegibility;
}

@font-face {
  font-display: swap;
  font-family: Lato;
  font-style: italic;
  font-weight: 400;
  src: local("LatoLatin Italic"), local("LatoLatin-Italic"), url(/umbraco/website/fonts/lato/LatoLatin-Italic.woff2) format("woff2");
  text-rendering: optimizeLegibility;
}

@font-face {
  font-display: swap;
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  src: local("LatoLatin Regular"), local("LatoLatin-Regular"), url(/umbraco/website/fonts/lato/LatoLatin-Regular.woff2) format("woff2");
  text-rendering: optimizeLegibility;
}

@font-face {
  font-display: swap;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  src: local("LatoLatin Light"), local("LatoLatin-Light"), url(/umbraco/website/fonts/lato/LatoLatin-Light.woff2) format("woff2");
  text-rendering: optimizeLegibility;
}

@font-face {
  font-display: swap;
  font-family: Lato;
  font-style: italic;
  font-weight: 300;
  src: local("LatoLatin LightItalic"), local("LatoLatin-LightItalic"), url(/umbraco/website/fonts/lato/LatoLatin-LightItalic.woff2) format("woff2");
  text-rendering: optimizeLegibility;
}
