<div ng-form name="contentForm" val-form-manager>
    <umb-panel ng-controller="Umbraco.Editors.Template.EditController">
	
	<umb-header>
    	<h1>{{template.name}}</h1>
    </umb-header>
	
	<div class="umb-panel-body umb-scrollable row-fluid">
        		<div class="span6" style="position: relative; height: 100%">
						
						<div style="width: 100%; height: 100%; top: 0; bottom: 0; position: absolute" ng-model="template.content" ui-ace="{
						  useWrapMode : true,
						  showGutter: true,
						  theme:'twilight',
						  mode: 'xml',
						  onLoad: aceLoaded,
						  onChange: aceChanged
						}"></div>
				</div>
				<div class="span6" style="position: relative; height: 100%">
					<iframe id="mockingbird" style="width: 100%; height: 100%; top: 0; bottom: 0; position: absolute" id="preview" />
				</div>
	</div>

	</umb-panel>
</div>