<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Examine" version="2.0.0-beta2" targetFramework="net461" />
  <package id="Lucene.Net" version="3.0.3" targetFramework="net461" />
  <package id="Lucene.Net.Contrib" version="3.0.3" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net461" />
  <package id="NPoco" version="3.3.4" targetFramework="net461" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net461" />
</packages>