<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Examine" version="2.0.0-beta8" targetFramework="net461" />
  <package id="Lucene.Net" version="3.0.3" targetFramework="net461" />
  <package id="Lucene.Net.Contrib" version="3.0.3" targetFramework="net461" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
</packages>