<div class="umb-property">
    <div class="control-group umb-control-group" ng-class="{ error: !formValid(), hidelabel: hideLabel == 'true' }">
        <div class="umb-el-wrap">
            <div ng-if="hideLabel !== 'true'" class="control-header">
                <label for="{{alias}}" class="control-label">
                    <span ng-bind-html="labelstring"></span>
                    <span ng-if="required">
                        <strong class="umb-control-required">*</strong>
                    </span>
                </label>
                <small ng-if="descriptionstring" class="control-description">{{descriptionstring}}</small>
            </div>
            <div class="controls" ng-transclude></div>
        </div>
    </div>
</div>
