<div class="umb-property">
    <div class="control-group umb-control-group" ng-class="{error: !formValid(), hidelabel:hideLabel=='true'}">
        <div class="umb-el-wrap">
            <label ng-if="hideLabel!=='true'" class="control-label" for="{{alias}}">
                <span ng-bind-html="labelstring"></span>
                <span ng-if="required">
                    <strong class="umb-control-required">*</strong>
                </span>
                <small ng-if="descriptionstring">{{descriptionstring}}</small>
            </label>
            <div class="controls" ng-transclude></div>
        </div>
    </div>
</div>
