table.macro-props {
	width: 98%;
	border: 0;
}
table.macro-props td {
	padding: 4px;	
}
table.macro-props td.propertyHeader {
	width: 200px;
	vertical-align: middle;
}
table.macro-props td.propertyContent {
	vertical-align: middle;
}
table.macro-props td.propertyContent .guiInputText {
	width: 300px;
}
table.macro-props td.propertyContent .guiInputText.small
{
	width: 60px;
	display: inline-block;
}


table.macro-props.params td.propertyHeader
{
	width: 25%;
}
table.macro-props.params td.propertyContent input,
table.macro-props.params td.propertyContent select
{
	width: 90%;
}
table.macro-props.params td.propertyContent input[type=submit] {
	width: 100px;
}