@*
BREADCRUMB
=================================
This snippet makes a breadcrumb of parents using an unordred html list.

How it works:
- It uses the Ancestors() method to get all parents and then generates links so the visitor get go back
- Finally it outputs the name of the current page (without a link)
  
NOTE: It is safe to remove this comment (anything between @ * * @), the code that generates the list is only the below!
*@

@inherits umbraco.MacroEngines.DynamicNodeContext
<ul>
	@foreach(var level in @Model.Ancestors().Where("Visible"))
	{
		<li><a href="@level.Url">@level.Name</a></li>
	}
	<li>@Model.Name</li>
</ul>

