<div id="leftcolumn" ng-controller="NavigationController" ng-mouseleave="hideTree()">
    <div id="applications" ng-class="{faded:ui.stickyNavigation}">
        <ul class="sections">
            
            <li class="avatar">
                <umb-avatar name="{{user.name}}" email="{{user.email}}" hash="{{user.emailHash}}"></umb-avatar>
            </li>

            <li ng-repeat="section in sections">
                <a href="#/{{section.alias}}"
                   ng-click="changeSection(section.alias)"
                   ng-mouseenter="showTree(section.alias)"
                   prevent-default>
                    <i class="{{section.cssclass}}"></i><span>{{section.name}}</span>
                </a>
            </li>

            <li class="help">
                <a class="help" href="#/help">
                    <img src="assets/img/applicationIcons/help.svg" style="height: 30px; width: 30px;" />
                    <span>Help</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- navigation container -->
    <div id="navigation" class="fill shadow umb-panel umb-modalcolumn"
            ng-show="ui.showNavigation" 
            ng-animate="'slide'">
        <!-- the search -->
        <div id="search-form" ng-animate="'slide'">
            <div class="umb-panel-header">
                <form class="form-search" ng-controller="SearchController" novalidate>
                    <i class="icon-search"></i>
                    <input type="text"
                        ng-model="ui.searchTerm"
                        class="umb-search-field search-query"
                        placeholder="{{localization.app.search.typeToSearch}}"
                        on-blur="deActivateSearch()"
                        on-keyup="performSearch(ui.searchTerm)">
                </form>
            </div>
        </div>

        <!-- Search results -->
        <div id="search-results" class="umb-scrollable umb-panel" auto-scale="0"
            ng-show="ui.showSearchResults" ng-animate="'slide'">

            <h5>Search results</h5>

            <ul class="searchResults" ng-repeat="resultGroup in ui.searchResults">
                <li class="umb-icon-item" ng-class="{selected:$index==ui.selectedSearchResult}" ng-repeat="result in resultGroup.matches">
                    <i class="icon umb-tree-icon sprTree {{result.icon}}" ng-show="$first"></i>
                    <a ng-href="#{{result.view}}">{{result.name}}
                                <small>{{result.path}}</small>
                    </a>
                    <i class="umb-options" ng-click="showMenu(result, $event)"><i></i><i></i><i></i></i>
                </li>
            </ul>
        </div>

        <!-- the tree -->
        <div id="tree" class="span5 umb-scrollable umb-panel" auto-scale="0" ng-animate="'slide'">
            <umb-tree section="{{ui.currentTree}}" ></umb-tree>
        </div>        

        <!-- The context menu -->
        <umb-context-menu></umb-context-menu>
        
        <!-- Tree dialogs -->
        <div id="dialog" class='umb-modalcolumn fill shadow umb-panel'
            ng-show="ui.showContextMenuDialog" ng-animate="'slide'">
            <div class='umb-panel-header'>
                <h1>{{ui.dialogTitle}}</h1>
            </div>
            <div class='umb-panel-body'>
            </div>
        </div>
    </div>

</div>