<div id='speechbubble' class='umb-notification' ng-cloak>
    <ul>
        <li ng-repeat="notification in notifications" class="alert alert-block alert-{{notification.type}}" >
            <a class='close' ng-click="removeNotification($index)" prevent-default href>&times;</a>

            <div ng-if="notification.view">
                <div ng-include="notification.view"></div>
            </div>

            <div ng-if="notification.headline">
                <a ng-href="{{notification.url}}" target="_blank">
                    <strong>{{notification.headline}}</strong>
                    <span ng-bind-html="notification.message"></span>
                </a>
            </div>
        </li>
    </ul>
</div>
