<div id='contextMenu' class="umb-modalcolumn fill shadow umb-panel"
    ng-show="nav.ui.showContextMenu" ng-animate="'slide'">

    <div class='umb-panel-header'>
        <h1>{{nav.ui.dialogTitle}}</h1>
    </div>

    <div class='umb-panel-body'>
        <ul class="umb-actions">
            <li class="action" ng-class="{sep:action.seperator}" ng-repeat="action in nav.ui.actions">
                <a prevent-default
                    ng-click="executeMenuItem(currentNode,action,nav.ui.currentSection)">
                    <i class="icon icon-{{action.cssclass}}"></i>
                    <span class="menu-label">{{action.name}}</span>
                </a>
            </li>
        </ul>
    </div>


</div>
