<div id="leftcolumn" ng-controller="Umbraco.NavigationController" 
    ng-mouseleave="nav.leaveTree($event)" ng-mouseenter="nav.enterTree($event)" >
    <div id="applications" ng-class="{faded:nav.ui.stickyNavigation}">
        <ul class="sections">
            
            <li class="avatar">
                <a href="#" ng-click="nav.showUserDialog()" title="{{user.name}}" prevent-default>
                    <img ng-src="{{avatar}}" />
                </a>
            </li>

            <li ng-repeat="section in sections" ng-class="{current: section.alias == currentSection}">
                <a href="#/{{section.alias}}"
                   ng-dblclick="nav.changeSection(section.alias)"
                   ng-click="nav.showTree(section.alias)"
                   prevent-default>
                    <section-icon icon="{{section.cssclass}}"></section-icon>  
                    <span>{{section.name}}</span>
                </a>
            </li>

            <li class="help">
                <a class="help" href="#/help">
                    <i class="icon-help-alt"></i>
                    <span>Help</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- navigation container -->
    <div id="navigation" class="fill shadow umb-modalcolumn"
            ng-show="nav.ui.showNavigation" 
            ng-animate="'slide'">

        <div ng-swipe-left="nav.hideNavigation()" class="navigation-inner-container span6" style="z-index: 100">

            <!-- the search -->
            <div id="search-form">
                <div class="umb-modalcolumn-header">
                    <form class="form-search" ng-controller="Umbraco.SearchController" novalidate>
                        <i class="icon-search"></i>
                        <input type="text"
                            ng-model="nav.ui.searchTerm"
                            class="umb-search-field search-query"
                            placeholder="Type to search..."
                            on-blur="deActivateSearch()"
                            on-keyup="performSearch(nav.ui.searchTerm)">
                    </form>
                </div>
            </div>

            <!-- Search results -->
            <div id="search-results" class="umb-modalcolumn-body" 
                ng-show="nav.ui.showSearchResults">

                <ul class="umb-tree">
                    <li class="root">
                        <div>
                            <h5>Search results</h5>
                        </div>
                        
                        <ul class="umb-search-group" ng-repeat="resultGroup in nav.ui.search.results">
                            <li ng-repeat="result in resultGroup.matches">
                                <div style="padding-left: 20px">
                                <a ng-class="{'first':$first}" ng-href="#/{{resultGroup.editor}}{{result.id}}">
                                       <i 
                                        class="icon umb-tree-icon sprTree {{resultGroup.icon}}"></i>
                                        {{result.name}}
                                    </a>

                                    <a href ng-click="searchShowMenu($event, {node: result})" class="umb-options"><i></i><i></i><i></i></a>
                                </div>
                            </li>
                        </ul>

                    </li>
                </ul>    
            </div>
            
            <!-- the tree -->
            <div id="tree" class="umb-modalcolumn-body">
                <umb-tree 
                    eventhandler="treeEventHandler" 
                    path="{{nav.ui.currentPath}}" 
                    section="{{nav.ui.currentSection}}"
                    activetree="{{nav.ui.currentTree}}" >
                </umb-tree>
            </div>
        </div>

        <div class="offset6" style="z-index: 10">
            <!-- The context menu -->
            <umb-context-menu></umb-context-menu>
            
            <!-- Tree dialogs -->
            <div id="dialog" class='umb-modalcolumn fill shadow'
                ng-swipe-left="nav.hideDialog()"
                ng-show="nav.ui.showContextMenuDialog" ng-animate="'slide'">
                <div class='umb-modalcolumn-header'>
                    <h1>{{nav.ui.dialogTitle}}</h1>
                </div>
                <div class='umb-modalcolumn-body'>
                </div>
            </div>
        </div>
    </div>

</div>
