<div class="sub-view-columns" ng-controller="Umbraco.Editors.DocumentType.ListViewController as vm">

    <div class="sub-view-column-left">

        <h5>Enable list view</h5>
        <small>Configures the content item to show a sortable & searchable list of its children, the children will not be shown in the tree</small>

    </div>

    <div class="sub-view-column-right">

      <umb-list-view
        enable-list-view="model.isContainer"
        model-name="model.name"
        list-view-name="model.listViewEditorName">
      </umb-list-view>

    </div>

</div>
