<form ng-controller="Umbraco.Editors.FolderBrowserController" id="fileupload" 
method="POST" enctype="multipart/form-data"
class="umb-editor umb-folderbrowser" 
data-file-upload="options" 
data-file-upload-progress="" 
data-ng-class="{'fileupload-processing': processing() || loadingFiles}">

        <div style="height: 10px; margin: 10px 0px 10px 0px" class="umb-loader" 
        	ng-hide="active() == 0"></div>

        <div class="umb-upload-drop-zone" ng-show="dropping">DROP HERE</div>
        
        <div class="umb-upload-upload-progress" ng-show="filesUploading.length">
            NOW UPLOADING...
            <ul>
                <li ng-repeat="file in filesUploading">
                    <div umb-upload-preview="file"></div>
                </li>
            </ul>
        </div>


        <ul class="umb-thumbnails thumbnails">
	        <li class="span2 folder" ng-repeat="image in images | orderBy:'contentTypeAlias' | filter:searchTerm">
			    <a href="#/media/media/edit/{{image.id}}" class="thumbnail">
					

                    <div ng-switch on="!!image.thumbnail" >
                        <img ng-src="{{image.thumbnail}}" class="image" ng-switch-when="true" alt="{{image.name}}"/>

                        <div ng-switch-default>
                        	<i class="icon-folder large"></i>
                        	{{image.name}}
                        </div>
                    </div>
	            </a>
	        </li>
	    </ul>
	</div>

</div>

</form>