<div class="umb-user-preview">

    <div class="umb-user-preview__avatar">
        <umb-avatar
            size="xs"
            color="secondary"
            name="{{name}}"
            img-src="{{avatar}}">
        </umb-avatar>
    </div>

    <div class="umb-user-preview__content">
        <div class="umb-user-preview__name">{{ name }}</div>
    </div>

    <div class="umb-user-preview__actions">
        <a class="umb-user-preview__action umb-user-preview__action--red" title="Remove" href="" ng-if="allowRemove" ng-click="onRemove()">Remove</i></a>
    <div>

</div>