<div class="umb-user-role-preview">
    
    <i ng-if="icon" class="umb-user-role-preview__icon {{ icon }}"></i>
    
    <div class="umb-user-role-preview__content">
        <div class="umb-user-role-preview__name">{{ name }}</div>

        <div class="umb-user-role-preview__permission">
            <span>
                <span class="bold">Sections:</span>
                <span ng-repeat="section in sections">{{ section.name }}<span ng-if="!$last">, </span></span>
                <span ng-if="sections.length === 0">All sections</span>
            </span>
        </div>

        <div class="umb-user-role-preview__permission">
            <span>
                <span class="bold">Content start node:</span>
                <span ng-repeat="startNode in contentStartNodes">{{ startNode.name }}<span ng-if="!$last">, </span></span>
                <span ng-if="contentStartNodes.length === 0">Content root</span>
            </span>
        </div>
        
        <div class="umb-user-role-preview__permission">
            <span>
                <span class="bold">Media start node:</span>
                <span ng-repeat="startNode in mediaStartNodes">{{ startNode.name }}<span ng-if="!$last">, </span></span>
                <span ng-if="mediaStartNodes.length === 0">Media root</span>
            </span>
        </div>

    </div>

    <div class="umb-user-role-preview__actions">
        <a class="umb-user-role-preview__action umb-user-role-preview__action--red" title="Remove" href="" ng-if="allowRemove" ng-click="onRemove()">Remove</i></a>
    <div>

</div>