<div class="umb-user-group-preview">
    
    <i ng-if="icon" class="umb-user-group-preview__icon {{ icon }}"></i>
    
    <div class="umb-user-group-preview__content">
        <div class="umb-user-group-preview__name">{{ name }}</div>

        <div class="umb-user-group-preview__permission" ng-if="sections">
            <span>
                <span class="bold">Sections:</span>
                <span ng-repeat="section in sections">{{ section.name }}<span ng-if="!$last">, </span></span>
                <span ng-if="sections.length === 0">All sections</span>
            </span>
        </div>

        <div class="umb-user-group-preview__permission">
            <span>
                <span class="bold">Content start node:</span>
                <span ng-if="startContentId">{{ startNode.name }}</span>
                <span ng-if="!startContentId">Content root</span>
            </span>
        </div>
        
        <div class="umb-user-group-preview__permission">
            <span>
                <span class="bold">Media start node:</span>
                <span ng-if="startMediaId">{{ startNode.name }}</span>
                <span ng-if="!startMediaId">Media root</span>
            </span>
        </div>

        <div class="umb-user-group-preview__permission" ng-if="permissions">
            <span>
                <span class="bold">Permissions:</span>
                <span ng-repeat="permission in permissions">{{ permission.name }}<span ng-if="!$last">, </span></span>
            </span>
        </div>

    </div>

    <div class="umb-user-group-preview__actions">
        <a class="umb-user-group-preview__action" title="Edit" href="" ng-if="allowEdit" ng-click="onEdit()">Edit</a>
        <a class="umb-user-group-preview__action umb-user-group-preview__action--red" title="Remove" href="" ng-if="allowRemove" ng-click="onRemove()">Remove</a>
    </div>

</div>