<div ng-controller="Umbraco.Editors.DataType.RelationsController as vm">
    <umb-box>

        <umb-box-content>

            <umb-load-indicator ng-if="vm.view.loading === true"></umb-load-indicator>

            <umb-empty-state size="small" ng-if="vm.view.loading === false && vm.hasRelations === false">
                <localize key="relations_DataTypenoRelations">This Data Type has no relations.</localize>
            </umb-empty-state>

            <!-- Document Types -->
            <umb-control-group label="@relations_labelToDocumentTypes" ng-if="vm.view.loading === false && vm.hasRelations === true">

                <div ng-if="vm.relations.documentTypes.length < 1">
                    <localize key="relations_noDocumentType">No relations for Document Types.</localize>
                </div>
                <div ng-if="vm.relations.documentTypes.length > 0">
                    <table class="table">
                        <tr>
                            <th colspan="2"><localize key="general_name">Name</localize></th>
                            <th><localize key="content_alias">Alias</localize></th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="relation in vm.relations.documentTypes">
                            <td style="width:12px"><i class="icon icon-{{relation.icon}}"></i></td>
                            <td>{{relation.name}}</td>
                            <td>{{relation.alias}}</td>
                            <td style="width:32px"><a href="{{relation.udi}}"><localize key="general_open">Open</localize><a></td>
                        </tr>
                    </table>
                </div>
                
            </umb-control-group>

            <!-- Media Types -->
            <umb-control-group label="@relations_labelToMediaTypes" ng-if="vm.view.loading === false && vm.hasRelations === true">

                <div ng-if="vm.relations.mediaTypes.length < 1">
                    <localize key="relations_noMediaType">No relations for Media Types.</localize>
                </div>
                <div ng-if="vm.relations.mediaTypes.length > 0">
                    <table class="table">
                        <tr>
                            <th colspan="2"><localize key="general_name">Name</localize></th>
                            <th><localize key="content_alias">Alias</localize></th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="relation in vm.relations.mediaTypes">
                            <td style="width:12px"><i class="icon icon-{{relation.icon}}"></i></td>
                            <td>{{relation.name}}</td>
                            <td>{{relation.alias}}</td>
                            <td style="width:32px"><a href="{{relation.udi}}"><localize key="general_open">Open</localize><a></td>
                        </tr>
                    </table>
                </div>
                
            </umb-control-group>

            <!-- Member Types -->
            <umb-control-group label="@relations_labelToMemberTypes" ng-if="vm.view.loading === false && vm.hasRelations === true">

                    <div ng-if="vm.relations.memberTypes.length < 1">
                        <localize key="relations_noMemberType">No relations for Member Types.</localize>
                    </div>
                    <div ng-if="vm.relations.memberTypes.length > 0">
                        <table class="table">
                            <tr>
                                <th colspan="2"><localize key="general_name">Name</localize></th>
                                <th><localize key="content_alias">Alias</localize></th>
                                <th></th>
                            </tr>
                            <tr ng-repeat="relation in vm.relations.memberTypes">
                                <td style="width:12px"><i class="icon icon-{{relation.icon}}"></i></td>
                                <td>{{relation.name}}</td>
                                <td>{{relation.alias}}</td>
                                <td style="width:32px"><a href="{{relation.udi}}"><localize key="general_open">Open</localize><a></td>
                            </tr>
                        </table>
                    </div>
                    
                </umb-control-group>

        </umb-box-content>

    </umb-box>
</div>