* html body{width: expression(document.documentElement.clientWidth < 1000 ? "1000px" : "auto");}
#header{
	background:url(../images/none.gif);
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='../umbraco_client/installer/images/bg-header.png', sizingmethod='scale');
}
.tabset .b{
	background:url(../images/none.gif);
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='../umbraco_client/installer/images/sep1.png', sizingmethod='scale');
}
.tabset ul li.active em{
	background:url(../images/none.gif);
	cursor:pointer;
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='../umbraco_client/installer/images/bul1.png', sizingmethod='crop');
}
.btn-box .t{
	background:url(../images/none.gif);
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='../umbraco_client/installer/images/sep1.png', sizingmethod='scale');
}
.btn-get span{
	background:url(../images/none.gif);
	cursor:pointer;
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='../umbraco_client/installer/images/btn-get.png', sizingmethod='crop');
}
.btn-accept span{
	background:url(../images/none.gif);
	cursor:pointer;
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='../umbraco_client/installer/images/btn-accept.png', sizingmethod='crop');
}
.mini-tabset li.btn-yes a span{
	background:url(../images/none.gif);
	cursor:pointer;
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='../umbraco_client/installer/images/btn-yes.png', sizingmethod='crop');
}
.mini-tabset li.btn-no a span{
	background:url(../images/none.gif);
	cursor:pointer;
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='../umbraco_client/installer/images/btn-no.png', sizingmethod='crop');
}
.selectArea a.selectButton{
	background:url(../images/none.gif);
	cursor:pointer;
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='../umbraco_client/installer/images/select-button.png', sizingmethod='crop');
}
.selectArea .left{
	background:url(../images/none.gif);
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='../umbraco_client/installer/images/select-left.png', sizingmethod='crop');
}
.selectArea .center{
	background:url(../images/none.gif);
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='../umbraco_client/installer/images/select-center.png', sizingmethod='scale');
}
.instruction-hold .row span{
	background:url(../images/none.gif);
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='../umbraco_client/installer/images/bg-inp.png', sizingmethod='crop');
}
.btn-continue span{
	background:url(../images/none.gif);
	cursor:pointer;
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='../umbraco_client/installer/images/btn-continue.png', sizingmethod='crop');
}
.instruction-hold .error span{
	background:url(../images/none.gif);
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='../umbraco_client/installer/images/bg-inp-error.png', sizingmethod='crop');
}
.validaing{
	background:url(../images/none.gif);
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='../umbraco_client/installer/images/ico-validaing.png', sizingmethod='crop') !important;
}
.invalidaing{
	background:url(../images/none.gif);
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='../umbraco_client/installer/images/ico-invalidaing.png', sizingmethod='crop') !important;
}
.drop-hold .t{
	background:url(../images/none.gif);
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='../umbraco_client/installer/images/bg-drop-t.png', sizingmethod='crop');
}
.drop-hold .b{
	background:url(../images/none.gif);
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='../umbraco_client/installer/images/bg-drop-b.png', sizingmethod='crop');
}
.add-nav ul li.hover em{
	background:url(../images/none.gif);
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='../umbraco_client/installer/images/bul3.png', sizingmethod='crop');
}
.gallery .btn-prev span{
	background:url(../images/none.gif);
	cursor:pointer;
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='../umbraco_client/installer/images/btn-prev.png', sizingmethod='crop');
}
.gallery .btn-next span{
	background:url(../images/none.gif);
	cursor:pointer;
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='../umbraco_client/installer/images/btn-next.png', sizingmethod='crop');
}
.gal-drop .btn-preview span{
	background:url(../images/none.gif);
	cursor:pointer;
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='../umbraco_client/installer/images/btn-preview.png', sizingmethod='crop');
}
.gal-drop .btn-install-gal span{
	background:url(../images/none.gif);
	cursor:pointer;
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='../umbraco_client/installer/images/btn-install-gal.png', sizingmethod='crop');
}
.paging ul li a{
	background:url(../images/none.gif);
	cursor:pointer;
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='../umbraco_client/installer/images/bg-paging.png', sizingmethod='crop');
}
.paging ul li a:hover,
.paging ul li.active a{
	background:url(../images/none.gif);
	cursor:pointer;
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='../umbraco_client/installer/images/bg-paging-h.png', sizingmethod='crop');
}
.lightbox .t{
	background:url(../images/none.gif);
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='../umbraco_client/installer/images/bg-lightbox-t.png', sizingmethod='crop');
}
.lightbox .b{
	background:url(../images/none.gif);
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='../umbraco_client/installer/images/bg-lightbox-b.png', sizingmethod='crop');
}
.lightbox .btn-install{
	background:url(../images/none.gif);
	cursor:pointer;
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='../umbraco_client/installer/images/btn-install.png', sizingmethod='crop');
}
.lightbox .btn-install:hover{
	background:url(../images/none.gif);
	cursor:pointer;
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='../umbraco_client/installer/images/btn-install-hover.png', sizingmethod='crop');
}
.lightbox .btn-close{
	background:url(../images/none.gif);
	cursor:pointer;
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='../umbraco_client/installer/images/btn-close.png', sizingmethod='crop');
}
.btn-web li.btn-set a span{
	background:url(../images/none.gif);
	cursor:pointer;
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='../umbraco_client/installer/images/btn-set.png', sizingmethod='crop');
}
.btn-web li.btn-preview-web a span{
	background:url(../images/none.gif);
	cursor:pointer;
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='../umbraco_client/installer/images/btn-preview-web.png', sizingmethod='crop');
}
.threcol .t{
	background:url(../images/none.gif);
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='../umbraco_client/installer/images/sep1.png', sizingmethod='scale');
}
.gallery .box {
	filter: none !important;
}
.btn-box .btn-install span {
	background:url(../images/none.gif);
	cursor:pointer;
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='../umbraco_client/installer/images/btn-install.png', sizingmethod='crop');
}
.ui-selectmenu-status {
	background:url(../images/none.gif);
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='../umbraco_client/installer/images/select-left-2.png', sizingmethod='crop');
}
.ui-state-default .ui-icon {
	cursor: pointer;
	background:url(../images/none.gif);
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='../umbraco_client/installer/images/select-button.png', sizingmethod='crop');
}
.btn-box .btn-create span {
	background:url(../images/none.gif);
	cursor:pointer;
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='../umbraco_client/installer/images/btn-create.png', sizingmethod='crop');
}