/* Custom styles for AssignDomain2.aspx dialog */

#komask {
    background: #ffffff;
    opacity: .6;
    z-index: 99;
    display: none;
    position: absolute; 
}


select.language {
    width: 90px;
}

input.domain {
    width: 280px;
}

label.error {
    padding: 0 0 6px 0;
    margin: 0;
    background: none;
    border:none;
}