<?xml version="1.0" encoding="utf-8"?>
<dashBoard>

  <section alias="StartupSettingsDashboardSection">
    <areas>
      <area>settings</area>
    </areas>
    <tab caption="Get Started">
      <control showOnce="true" addPanel="true" panelCaption="hello">
        views/dashboard/settings/settingsdashboardintro.html
      </control>
      <control showOnce="false" addPanel="false" panelCaption="">
        views/dashboard/settings/settingsdashboardvideos.html
      </control>
    </tab>
  </section>

  <section alias="StartupDeveloperDashboardSection">
    <areas>
      <area>developer</area>
    </areas>
    <tab caption="Get Started">
      <control showOnce="true" addPanel="true" panelCaption="">
        views/dashboard/developer/developerdashboardintro.html
      </control>
      <control showOnce="true" addPanel="true" panelCaption="">
        views/dashboard/developer/developerdashboardvideos.html
      </control>
    </tab>
    <tab caption="Examine Management">
      <control>dashboard/ExamineManagement.ascx</control>
    </tab>
  </section>

  <section alias="StartupMediaDashboardSection">
    <areas>
      <area>media</area>
    </areas>
    <tab caption="Content">
      <control showOnce="false" addPanel="false" panelCaption="">
        views/dashboard/media/mediafolderbrowser.html
      </control>
    </tab>
    <tab caption="Get Started">
      <access>
        <grant>admin</grant>
      </access>
      <control showOnce="true" addPanel="true" panelCaption="">
        views/dashboard/media/mediadashboardintro.html
      </control>
      <control showOnce="true" addPanel="true" panelCaption="">
        views/dashboard/media/desktopmediauploader.html
      </control>
      <control showOnce="true" addPanel="true" panelCaption="">
        views/dashboard/media/mediadashboardvideos.html
      </control>
    </tab>
  </section>

  <section alias="StartupDashboardSection">
    <access>
      <deny>translator</deny>
      <grant>hello</grant>
      <grantBySection>world</grantBySection>
    </access>
    <areas>
      <area>content</area>
    </areas>
    <tab caption="Get Started">
      <access>
        <grant>admin</grant>
      </access>
      <control showOnce="true" addPanel="true" panelCaption="">
        views/dashboard/default/startupdashboardintro.html
      </control>
      <control showOnce="true" addPanel="true" panelCaption="">
        views/dashboard/default/startupdashboardkits.html
        <access>
          <deny>editor</deny>
          <deny>writer</deny>
        </access>
      </control>
      <control showOnce="true" addPanel="true" panelCaption="">
        views/dashboard/default/startupdashboardvideos.html
      </control>
    </tab>
    <tab caption="Last Edits">
      <control addPanel="true" MaxRecords="30">dashboard/latestEdits.ascx</control>
    </tab>
    <tab caption="Change Password">
      <control addPanel="true">
        views/dashboard/changepassword.html
      </control>
    </tab>
  </section>

  <section alias="StartupMemberDashboardSection">
    <areas>
      <area>default</area>
      <area>member</area>
    </areas>
    <tab caption="Get Started">
      <control showOnce="true" addPanel="true" panelCaption="">
        views/dashboard/members/membersdashboardintro.html
      </control>
      <control showOnce="true" addPanel="true" panelCaption="">
        members/membersearch.ascx
      </control>
      <control showOnce="true" addPanel="true" panelCaption="">
        views/dashboard/members/membersdashboardvideos.html
      </control>
    </tab>
  </section>
</dashBoard>
