<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <sectionGroup name="umbracoConfiguration">
      <section name="dashBoard" type="Umbraco.Core.Configuration.Dashboard.DashboardSection, Umbraco.Core" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <umbracoConfiguration>
    <dashBoard configSource="Dashboard.config" />
  </umbracoConfiguration>

</configuration>