@using System.Globalization
@using Umbraco.Cms.Web.Common.Hosting
@using Umbraco.Extensions
@inject IStaticFilePathGenerator StaticFilePathGenerator

@{
    var backofficePath = StaticFilePathGenerator.BackofficePath;
    var backofficeAssetsPath = StaticFilePathGenerator.BackofficeAssetsPath;
}

<!DOCTYPE html>
<html lang="@CultureInfo.CurrentCulture.Name">

<head>
    <base href="@backofficePath.EnsureEndsWith('/')" />
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="@backofficeAssetsPath/assets/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Umbraco</title>
    <link rel="stylesheet" href="@backofficeAssetsPath/css/umb-css.css" />
    <link rel="stylesheet" href="@backofficeAssetsPath/css/uui-css.css" />
    @await Html.BackOfficeImportMapScriptAsync(StaticFilePathGenerator)
    <script type="module" src="@backofficeAssetsPath/apps/app/app.element.js"></script>
</head>

<body class="uui-font uui-text" style="margin: 0; padding: 0; overflow: hidden">
    <umb-app culture="@CultureInfo.CurrentCulture.Name"></umb-app>
</body>

</html>
