
.genericPropertyForm {
 
}
.genericPropertyForm h2 {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 2px;
}

.genericPropertyList .header{
    padding: 4px;
}
.genericPropertyList .umb-pane{
    margin: 10px;
}

.genericPropertyList {
  margin: 0px 0px 30px 0px;
  list-style: none;
}

.genericPropertyList .delete-button, .genericPropertyList .toggle-button{
  float: right;
  margin-left: 3px;
  border: none;
  background: none;
  text-decoration: none;
}

.genericPropertyList .delete-button i {
    background: none;
    border: none;
}

.handle{
    color: #ccc;
    font-size: 12px;
}

.addNewProperty .handle {
    display: none;
}

.genericPropertyList li {
  display: block;
  position: relative;
  border-bottom: 1px solid #eee;
  margin-bottom: 3px;
  cursor: move;
}

.genericPropertyList li .delete-button i {
    color: #b94a48;
}

.addNewProperty li {
  cursor: default;
}

.genericPropertyList li table {
  display: block;
  margin-top: 10px;
}

.genericPropertyList li table th {
  width: 140px;
  padding: 5px;
}

.propertyFormInput {
  width: 300px;
  z-index: 9999;
}

.propertyForm SELECT {
  width: 300px;
}

.propertyForm h3 a {
  color: #000;
  text-decoration: none;
  font-size: 14px;
  font-weight: normal;
}



.genericPropertyList li img {
  background: red;
  z-index: 9999;
  position: relative;
  border-right: medium none;
  border-top: medium none;
  border-left: medium none;
  margin-right: 5px;
  border-bottom: medium none;
}
.genericPropertyList li h3 input {
  position: relative;
}

.aliasValidationError 
{
    background-color: #ff9999;
    border: 1px solid: red;
}