<?xml version="1.0" encoding="utf-8" ?>
<formHandlers>
  <formHandler alias="umbracoMemberLogin" assembly="umbraco.standardFormhandlers" type="validateLogin">
  </formHandler>
  <formHandler alias="umbracoMemberLogoff" assembly="umbraco.standardFormhandlers" type="memberLogoff">
  </formHandler>
  <formHandler alias="mailForm" assembly="umbraco.standardFormhandlers" type="formMail">
    <parameter alias="sender">youremail@domain.com</parameter>
    <parameter alias="body">Content</parameter>
    <parameter alias="subject">Subject</parameter>
    <parameter alias="debug">true</parameter>
    <parameter alias="server">127.0.0.1</parameter>
  </formHandler>
</formHandlers>
