<?xml version="1.0" encoding="utf-8" ?>
<XsltExtensions>
  <!--
  This file is used to register 3rt party xslt extensions (methods you can execute from xslt, like umbraco.library:NiceUrl)
	<ext assembly="assemblyName" type="assemblyName.namespace.type" alias="custom">
  -->
</XsltExtensions>
