/* OVERRIDE TREE_COMPONENT.css */
.tree.tree-umbraco li
{
	line-height: 20px;
	min-height: 20px;
	font: icon;
	position:relative;
	font-family: Arial,Lucida Grande;
	font-size: 12px;
}
.tree.tree-umbraco li a
{
	background-image: url(../../../../umbraco/images/umbraco/sprites.png);
	/*background-color: #fff;*/
	padding: 0px 0px 2px 18px;
	border: 0;
	color: #2f2f2f;
	background-repeat:no-repeat !important;
	line-height: 18px;
	height: 18px;
    width: 100%;
}
.tree.tree-umbraco ul {margin-left:0px;}
.tree.tree-umbraco ul li ul {padding-left:5px;}
.tree.tree-umbraco li a ins { display:none;}
/* LOADER */
.tree.tree-umbraco ul li a.loading ins { background-image:url("throbber.gif") !important; background-position:0 0 !important;display:inline-block; float:left;}
.tree.tree-umbraco ul li a.loading {padding:0px !important;background:none;}
/* OPEN or CLOSED */
.tree.tree-umbraco li { padding-left:0px; }
.tree.tree-umbraco li li { padding-left: 15px; }
.tree.tree-umbraco li.open { background-image:none; }
.tree.tree-umbraco li li.open { background:url("arrows.png") -18px -43px no-repeat; }
.tree.tree-umbraco li li:hover.open { background-position: -2px -43px; }
.tree.tree-umbraco li.closed, #jstree-dragged.tree-default li li.open { background:url("arrows.png") 0px -20px no-repeat; }
.tree.tree-umbraco li:hover.closed, #jstree-dragged.tree-default li li:hover.open { background-position:0px 2px; }
/* Ensure no sprite is loaded */
.tree.tree-umbraco li a.noSpr, .tree.tree-umbraco li a.noSpr:hover
{
	background-position:0px 0px;
	background:none;
}
/* Hover state */
.tree.tree-umbraco li a:hover
{
	text-decoration: underline;
}
/* Menu text styles */
.tree.tree-umbraco li div 
{
	padding: 1px 3px 1px 3px;
	height:16px;
	line-height:16px;
	cursor:pointer;
}
/* highlight the selected element */
.tree.tree-umbraco li .clicked div 
{
	padding: 0px 2px 0px 2px;
	background: #D5EFFC;
	border:1px solid #99DEFD;
	-moz-border-radius: 2px;
    display: inline;
    width: auto;
}


/* renaming */
.tree.tree-umbraco li div.renaming 
{
	padding: 0px 2px 0px 12px;
	background: #D5EFFC;
	border:1px solid #99DEFD;
	-moz-border-radius: 2px;
}
.tree-umbraco li div.renaming input
{
	border:0px;
	font-size: 11px;
}



/* Used for checkbox tree */

.tree.tree-umbraco.inheritedcheckbox li a, 
.tree.tree-umbraco.inheritedcheckbox li a.unchecked,
.tree.tree-umbraco.checkbox li a, 
.tree.tree-umbraco.checkbox li a.unchecked
 { background: url("check_0.png") no-repeat 0px 0px ! important; }
.tree.tree-umbraco.inheritedcheckbox li a.undetermined,
.tree.tree-umbraco.checkbox li a.undetermined
{ background:url("check_1.png") no-repeat 0px 0px ! important; }
.tree.tree-umbraco.inheritedcheckbox li a.checked,
.tree.tree-umbraco.checkbox li a.checked
{ background:url("check_2.png") no-repeat 0px 0px ! important; }

/* CONTEXT MENU (overriding default styles) */

#jstree-contextmenu.tree-umbraco-context
{
	background: #f0f0f0 url(contextMenuBg.gif) repeat-y left;
	border: 1px solid #979797;
	padding: 3px;
	padding-top: 2px;
	padding-bottom: 0px;
	width: 180px;
	font-family: Arial,Lucida Grande;
	font-size: 11px;
	z-index: 1000;
	margin: 0px;
	display: block;
}


#jstree-contextmenu.tree-umbraco-context li 
{
	border-left:none;
	background:transparent;
	height: 26px;
}

#jstree-contextmenu.tree-umbraco-context li a
{
	border:0px;
	padding: 2px;
	height: 20px;
	line-height:20px;	
	color: #1a1818;
	text-decoration: none;
	text-indent: 0px;
	margin-top: 1px !Important;
	margin-bottom: 3px !Important;
}

#jstree-contextmenu.tree-umbraco-context li a:hover
{
	border: 1px solid #a8d8eb;
	padding: 1px;
	background: #dcecf3;	
	text-indent: 0px;	
}
#jstree-contextmenu.tree-umbraco-context .separator
{
	background: #FFFFFF;
	border-top: 1px solid #E0E0E0;
	font-size: 1px;
	height: 1px;
	line-height: 1px;
	margin: 0 2px 4px 29px;
	min-height: 1px;
	display: block;
}
#jstree-contextmenu.tree-umbraco-context .separator span {display:none;}
#jstree-contextmenu.tree-umbraco-context img
{
	height: 16px;
	width: 16px;
	margin: 1px 10px 0 4px;
}

#jstree-contextmenu.tree-umbraco-context li a ins {display:none;}
#jstree-contextmenu.tree-umbraco-context li a span {margin:0;padding-left:1px;background:none;}
#jstree-contextmenu.tree-umbraco-context li a span div.menuLabel{padding-left: 37px;}

/* Tree icons sprites */

.sprTree,
.tree.tree-umbraco li a.sprTree.clicked:hover
{
	background-image: 0px 0px;
}



/* tree node overlays / custom styles */

.tree.tree-umbraco li.dim a
{
	color:#C0C0C0;
}

.tree.tree-umbraco li div.overlay 
{
	position: absolute;	
	width: 8px;
	height: 8px;
}

.tree.tree-umbraco li div.overlay-new
{
	z-index: 500;
	left: 11px;
	top: 0px;
	background: no-repeat url(newVersion_overlay.png);
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='protect_overlay.gif');
}

.tree.tree-umbraco li div.overlay-protect
{
	z-index: 501;
	left: 22px;
	top: 8px;
	background: no-repeat url(protect_overlay.gif);
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='protect_overlay.gif');
}