<div class="umb-property-editor">
    <ng-form name="decimalFieldForm">
        <input name="decimalField"
               type="number"
               pattern="[0-9]+([,\.][0-9]+)?"
               class="umb-property-editor umb-number"
               ng-model="model.value"
               val-server="value"
               fix-number min="{{model.config.min}}" max="{{model.config.max}}" step="{{model.config.step}}" />

        <span ng-messages="decimalFieldForm.decimalField.$error" show-validation-on-submit >
            <span class="help-inline" ng-message="number"><localize key="validation_invalidNumber">Not a number</localize></span>
            <span class="help-inline" ng-message="valServer">{{decimalFieldForm.decimalField.errorMsg}}</span>
        </span>
    </ng-form>
</div>
