<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	
	<appSettings>
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="umbracoDbDSN" value="server=.\SQLEXPRESS;database=umbraco4_dev;integrated security=true"/>
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="umbracoConfigurationStatus" value="4.8.0"/>
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="umbracoUseMediumTrust" value="true"/>
	</appSettings>

	<system.web>
		<trust level="Medium" originUrl=".*" />
		<compilation debug="false" xdt:Transform="SetAttributes(debug)" />
	</system.web>

</configuration>