<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="umbracoDebugMode" value="false"/>
  </appSettings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <trace enabled="false" xdt:Transform="SetAttributes(enabled)" />    
    <customErrors mode="RemoteOnly" xdt:Transform="SetAttributes(mode)">      
    </customErrors>    
  </system.web>

</configuration>