/*
  Lato
    
  Light: font-weight: 300;
  Regular: font-weight: normal;
  Bold: font-weight: bold;
  Black: font-weight: 900;

*/
@fontPath: '../fonts';
@latoPath: '@{fontPath}/lato';

/* Webfont: LatoLatin-Black */
@font-face {
    font-family: 'Lato';
    src: local('LatoLatin Black'),
         local('LatoLatin-Black'),
         url('@{latoPath}/LatoLatin-Black.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
    font-weight: 900;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-BlackItalic */
@font-face {
    font-family: 'Lato';
    src: local('LatoLatin BlackItalic'),
         local('LatoLatin-BlackItalic'),
         url('@{latoPath}/LatoLatin-BlackItalic.woff2') format('woff2');
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Bold */
@font-face {
    font-family: 'Lato';
    src: local('LatoLatin Bold'),
         local('LatoLatin-Bold'),
         url('@{latoPath}/LatoLatin-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-BoldItalic */
@font-face {
    font-family: 'Lato';
    src: local('LatoLatin BoldItalic'),
         local('LatoLatin-BoldItalic'),
         url('@{latoPath}/LatoLatin-BoldItalic.woff2') format('woff2');
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Italic */
@font-face {
    font-family: 'Lato';
    src: local('LatoLatin Italic'),
         local('LatoLatin-Italic'),
         url('@{latoPath}/LatoLatin-Italic.woff2') format('woff2');
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Regular */
@font-face {
    font-family: 'Lato';
    src: local('LatoLatin Regular'),
         local('LatoLatin-Regular'),
         url('@{latoPath}/LatoLatin-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Light */
@font-face {
    font-family: 'Lato';
    src: local('LatoLatin Light'),
         local('LatoLatin-Light'),
         url('@{latoPath}/LatoLatin-Light.woff2') format('woff2');
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-LightItalic */
@font-face {
    font-family: 'Lato';
    src: local('LatoLatin LightItalic'),
         local('LatoLatin-LightItalic'),
         url('@{latoPath}/LatoLatin-LightItalic.woff2') format('woff2');
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    text-rendering: optimizeLegibility;
}
