.tipmenu .tooltip{
	position:absolute;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
}

.tipmenu:hover .tooltip{
	opacity: 1;
}

.tipmenu:hover .tooltip a{
	color: @white;
}

.tipmenu .tooltip-inner{
	margin-left:auto;
	margin-right:auto;
}