<div ng-controller="Umbraco.PropertyEditors.MemberGroupPickerController" class="umb-editor umb-membergrouppicker">

	<div ng-model="renderModel">
		<umb-node-preview
			ng-repeat="node in renderModel"
			icon="node.icon"
			name="node.name"
			allow-remove="allowRemove"
			on-remove="remove($index)">
		</umb-node-preview>
	</div>

	<a 
		class="umb-node-preview-add" 
		href="#"
		ng-click="openMemberGroupPicker()"
		prevent-default>
		<localize key="general_add">Add</localize>
	</a>

   <umb-overlay
      ng-if="memberGroupPicker.show"
      model="memberGroupPicker"
      position="right"
      view="memberGroupPicker.view">
   </umb-overlay>

</div>
