<div ng-controller="Umbraco.PropertyEditors.MemberGroupPickerController" class="umb-property-editor umb-membergrouppicker">

	<div ng-model="renderModel">
		<umb-node-preview
			ng-repeat="node in renderModel | orderBy:'name'"
			icon="node.icon"
			name="node.name"
			allow-remove="allowRemove"
			on-remove="remove($index)">
		</umb-node-preview>
	</div>

	<a 
		class="umb-node-preview-add" 
		href="#"
		ng-click="openMemberGroupPicker()"
		prevent-default>
		<localize key="general_add">Add</localize>
	</a>

</div>
