.blockelement-labelblock-editor {
    position: relative;
    display: block;
    margin-bottom: 4px;
    margin-top: 4px;
    width: 100%;
    min-height: 48px;
    border: 1px solid @gray-9;
    border-radius: @baseBorderRadius;
    cursor: pointer;
    color: @ui-action-discreet-type;
    background-color: white;
    text-align: left;
    padding-left: 20px;
    padding-bottom: 2px;
    user-select: none;
    transition: border-color 120ms;

    i {
        font-size: 22px;
        margin-right: 5px;
        display: inline-block;
        vertical-align: middle;
    }

    span {
        display: inline-block;
        vertical-align: middle;
    }

    &:hover {
        color: @ui-action-discreet-type-hover;
        background-color: @ui-action-hover;
    }

    &.--active {
        color: @ui-active-type;
        border-color: @ui-active;
        background-color: @ui-active;
    }

    &.--error {
        border-color: @formErrorBorder !important;
    }
}
