.umb-editor-sub-header {
   padding: 10px 0;
   background: @brownGrayLight;
   border-left: 5px solid @brownGrayLight;
   border-right: 5px solid @brownGrayLight;
   display: flex;
   justify-content: space-between;
   margin: -10px -1px 10px;
   position: relative;
   top: 0;
   box-sizing: border-box;

    &.nested {
        margin-top: 0;
        margin-bottom: 0;
        background: @brownGrayLight;
    }
}
.umb-editor-sub-header--white {
    background-color: @white;
    border-color: @white;
}

.umb-editor-sub-header.--state-selection {
    padding-left: 10px;
    padding-right: 10px;
    background-color: @ui-selected-border;
    border-color: @ui-selected-border;
    color: @white;
    border-radius: 3px;
}

[umb-sticky-bar] {
    transition: box-shadow 240ms;
    position:sticky;
    z-index: 30;
    width: calc(100% + 2px);

    &.umb-sticky-bar--active {
        box-shadow: 0 6px 3px -3px rgba(0,0,0,.16);
    }

    .umb-dashboard__content & {
        top:-20px; // umb-dashboard__content has 20px padding - offset here prevents sticky position from firing when page loads
    }
}

.umb-sticky-sentinel {
    pointer-events: none;
    z-index: 5050;

    &.-top {
        height:1px;
    }
}

.umb-group-builder__property-preview .umb-editor-sub-header {
    display: none;
}

.umb-editor-sub-header__content-left {
   margin-right: auto;
}

.umb-editor-sub-header__content-right {
   margin-left: auto;
}

.umb-editor-sub-header__content-left,
.umb-editor-sub-header__content-right {
   display: flex;
   align-items: stretch;
}

.umb-editor-sub-header__section {
   display: flex;
   align-items: center;
   padding-left: 10px;
   padding-right: 10px;
}

.umb-editor-sub-header__content-left .umb-editor-sub-header__section {
   padding-left: 0;
}

.umb-editor-sub-header__content-left .umb-editor-sub-header__section:first-child {
   padding-left: 0;
}

.umb-editor-sub-header__content-right .umb-editor-sub-header__section {
   padding-right: 0;
}
.umb-editor-sub-header__content-right .umb-editor-sub-header__section:last-child {
   padding-right: 0;
}
