<div ng-controller="MyPackage.PropertyEditors.CsvEditorController">
    
    <div ng-repeat="item in values">
        <ng-form name="multiFormVal">
            <input name="myPackage_multiVal" type="text" ng-model="item.value" 
                   val-server="'value' + $index" />
        
            <span class="help-inline" val-msg-for="myPackage_multiVal" val-toggle-msg="valServer">{{multiFormVal.myPackage_multiVal.errorMsg}}</span>

            <br />
        </ng-form>
    </div>    
    
    <span>{{value}}</span>
</div>