<div ng-controller="MyPackage.PropertyEditors.PostcodeEditor">
    <p>
        Enter a postcode for country <span>{{config.country}}</span>
    </p>
    <input name="myPackage_postcode" type="text" ng-model="value"
           val-server="value"
           val-postcode="config.country"/>
    
    <span class="help-inline" val-msg-for="myPackage_postcode" val-toggle-msg="valServer">{{propertyForm.myPackage_postcode.errorMsg}}</span>
    <span class="help-inline" val-msg-for="myPackage_postcode" val-toggle-msg="valPostcode">{{propertyForm.myPackage_postcode.errorMsg}}</span>
</div>