<div ng-controller="MyPackage.PropertyEditors.PostcodeEditor">
    <p>
        Enter a postcode for country <span>{{model.config.country}}</span>
    </p>
    <input name="myPackage_postcode" type="text" ng-model="model.value"
           val-server="value"
           val-postcode="model.config.country"/>
    
    <span class="validation-message" val-msg-for="myPackage_postcode" val-toggle-msg="valServer">{{propertyForm.myPackage_postcode.errorMsg}}</span>
    <span class="validation-message" val-msg-for="myPackage_postcode" val-toggle-msg="valPostcode">{{propertyForm.myPackage_postcode.errorMsg}}</span>
</div>