<div ng-controller="MyPackage.PropertyEditors.RegexEditor">
    <p>
        Value in the format of <span>{{model.config}}</span>
    </p>
    
    <input name="regex" id="regex"            
           type="text" ng-model="model.value" 
           required 
           val-regex="model.config" 
           val-server="value" />
        
    <span class="help-inline" val-msg-for="regex" val-toggle-msg="required">Required!</span>
    <span class="help-inline" val-msg-for="regex" val-toggle-msg="valRegex">{{propertyForm.regex.errorMsg}}</span>
    <span class="help-inline" val-msg-for="regex" val-toggle-msg="valServer">{{propertyForm.regex.errorMsg}}</span>
</div>