<div class="umb-pane">
    <div ng-repeat="property in tab.properties" class="umb-nested-content-property-container">

        <umb-property property="property"                      
                      ng-class="{'umb-nested-content--not-supported': property.notSupported, 'umb-nested-content--mandatory': property.ncMandatory}"
                      data-element="property-{{property.alias}}">

            <umb-nested-property property-type-alias="{{property.propertyAlias}}"
                                 element-type-index="{{itemIndex}}">
                <umb-property-editor model="property"></umb-property-editor>
            </umb-nested-property>

        </umb-property>

        <div ng-if="property.notSupported" class="umb-nested-content-overlay"></div>

        <p ng-if="property.notSupported">{{property.notSupportedMessage}}</p>

    </div>
</div>
