<div id="{{model.alias}}" class="nested-content__doctypepicker" ng-controller="Umbraco.PrevalueEditors.DocTypePickerController">
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th />
                    <th>
                        Document Type
                    </th>
                    <th>
                        Tab
                    </th>
                    <th>
                        Name Template
                    </th>
                    <th />
                </tr>
            </thead>
            <tbody ui-sortable="sortableOptions" ng-model="model.value">
                <tr ng-repeat="config in model.value">
                    <td class="icon icon-navigation"></td>
                    <td>
                        <select id="{{model.alias}}_doctype_select"
                                ng-options="dt.alias as dt.name for dt in model.docTypes | orderBy: 'name'"
                                ng-model="config.ncAlias" required></select>
                    </td>
                    <td>
                        <select id="{{model.alias}}_tab_select"
                                ng-options="t for t in selectedDocTypeTabs(config)"
                                ng-model="config.ncTabAlias" required></select>
                    </td>
                    <td>
                        <input type="text" ng-model="config.nameTemplate" />
                    </td>
                    <td>
                        <a class="btn btn-danger" ng-click="remove($index)" ng-show="model.value.length > 1">Remove</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <a class="btn" ng-click="add()">Add</a>
            <i class="icon icon-help-alt medium nested-content__help-icon" ng-click="showHelpText = !showHelpText"></i>
        </div>
    </div>
    <br />
    <div class="nested-content__help-text" ng-show="showHelpText">
        <p>
            <b>Tab:</b><br />
            Select the tab who's properties should be displayed. If left blank, the first tab on the doc type will be used.
        </p>
        <p>
            <b>Name template:</b><br />
            Enter an angular expression to evaluate against each item for its name.
        </p>
    </div>
</div>