:root {
	// TODO: Consulidate with this green color suggestion, align UUI:
	--uui-color-positive: #1c874c;
	--uui-color-positive-emphasis: #1a7f47;
	--umb-footer-layout-height: 54px;
	--umb-header-layout-height: 70px;
	--umb-section-sidebar-width: 300px;
}
