<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        
        <!-- Controls log levels for all user-defined child sub-logger sinks configured here (Set this higher than child sinks defined here) -->
        <!-- VALID Values: Verbose, Debug, Information, Warning, Error, Fatal -->
        <add key="serilog:minimum-level" value="Information" />

        <!-- For Different Namespaces - Set different logging levels -->
        <!--
        <add key="serilog:minimum-level:override:Microsoft" value="Warning" />
        <add key="serilog:minimum-level:override:Microsoft.AspNetCore.Mvc" value="Error" />
        <add key="serilog:minimum-level:override:YourNameSpace" value="Information" />
        -->

        <!-- All logs defined via user.config will contain this property (won't be in main Umbraco logs) -->
        <!--
        <add key="serilog:enrich:with-property:websiteName" value="My Awesome Website - Development" />
        -->

        <!-- Write to a user log file -->
        <!--
        <add key="serilog:using:File" value="Serilog.Sinks.File" />
        <add key="serilog:write-to:File.path" value="%BASEDIR%\logs\my-custom-logfile.txt" />
        <add key="serilog:write-to:File.shared" value="true" />
        <add key="serilog:write-to:File.restrictedToMinimumLevel" value="Debug" />
        <add key="serilog:write-to:File.retainedFileCountLimit" value="32" />--> <!-- Number of log files to keep (or remove value to keep all files) -->
        <!--<add key="serilog:write-to:File.rollingInterval" value="Day" />--> <!-- Create a new log file every Minute/Hour/Day/Month/Year/infinite -->
        <!--<add key="serilog:write-to:File.outputTemplate" value="{Timestamp:yyyy-MM-dd HH:mm:ss,fff} [P{ProcessId}/D{AppDomainId}/T{ThreadId}] {Log4NetLevel}  {SourceContext} - {Message:lj}{NewLine}{Exception}" /> -->

        <!-- Filters all above sink's to use this expression -->
        <!-- Common use case is to include SourceType starting with your own namespace -->
        <!--
        <add key="serilog:using:FilterExpressions" value="Serilog.Filters.Expressions" />
        <add key="serilog:filter:ByIncludingOnly.expression" value="StartsWith(SourceContext, 'Umbraco.Core')" />
        -->

    </appSettings>
</configuration>
