<!-- TODO: localize -->
<umb-box>
    <umb-box-content>
        <div class="sub-view-columns">
            <div class="sub-view-column-left">
                <h5>Rich text editor styles</h5>
                <small>Some explanatory text about rich text editor styles goes here</small>
            </div>
            <div class="sub-view-column-right">
                <div class="umb-property-editor umb-stylesheet-rules form-horizontal" ng-controller="Umbraco.Editors.StyleSheets.RulesController">
                    <div ui-sortable="sortableOptions" ng-model="model.stylesheet.rules">
                        <div class="control-group umb-stylesheet-rules__listitem" ng-repeat="rule in model.stylesheet.rules">
                            <i class="icon icon-navigation handle"></i>
                            <div class="umb-stylesheet-rules__left">
                                <div class="umb-el-wrap">
                                    <label class="control-label">
                                        Style name
                                    </label>
                                    <div class="controls">
                                        <input type="text" ng-model="rule.name" required />
                                    </div>
                                </div>
                                <div class="umb-el-wrap">
                                    <label class="control-label">
                                        CSS selector
                                    </label>
                                    <div class="controls">
                                        <input type="text" ng-model="rule.selector" required />
                                    </div>
                                </div>
                                <div class="umb-el-wrap">
                                    <label class="control-label">
                                        CSS styles
                                    </label>
                                    <div class="controls">
                                        <textarea ng-model="rule.styles" required></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="umb-stylesheet-rules__right">
                                <a class="umb-node-preview__action umb-node-preview__action--red" ng-click="remove(rule, $event)"><localize key="general_remove">Remove</localize></a>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-info" ng-click="add($event)"><localize key="general_add">Add</localize></button>
                </div>
            </div>
        </div>
    </umb-box-content>
</umb-box>
