<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT CWS_Contact ANY>
<!ATTLIST CWS_Contact id ID #REQUIRED>
<!ELEMENT CWS_EmailAFriend ANY>
<!ATTLIST CWS_EmailAFriend id ID #REQUIRED>
<!ELEMENT CWS_EventItem ANY>
<!ATTLIST CWS_EventItem id ID #REQUIRED>
<!ELEMENT CWS_Galleries ANY>
<!ATTLIST CWS_Galleries id ID #REQUIRED>
<!ELEMENT CWS_Gallery ANY>
<!ATTLIST CWS_Gallery id ID #REQUIRED>
<!ELEMENT CWS_Home ANY>
<!ATTLIST CWS_Home id ID #REQUIRED>
<!ELEMENT CWS_NewsEventsList ANY>
<!ATTLIST CWS_NewsEventsList id ID #REQUIRED>
<!ELEMENT CWS_NewsItem ANY>
<!ATTLIST CWS_NewsItem id ID #REQUIRED>
<!ELEMENT CWS_Photo ANY>
<!ATTLIST CWS_Photo id ID #REQUIRED>
<!ELEMENT CWS_Textpage ANY>
<!ATTLIST CWS_Textpage id ID #REQUIRED>
<!ELEMENT CWS_TextpageTwoCol ANY>
<!ATTLIST CWS_TextpageTwoCol id ID #REQUIRED>
]>
<root id="-1">
  <CWS_Home id="1139" parentID="-1" level="1" writerID="0" creatorID="0" nodeType="1125" template="1110" sortOrder="2" createDate="2009-02-26T18:39:39" updateDate="2010-05-03T20:34:27" nodeName="Home" urlName="home" writerName="Administrator" creatorName="Administrator" path="-1,1139" isDoc="">
    <CWS_Galleries id="1143" parentID="1139" level="2" writerID="0" creatorID="0" nodeType="1123" template="1108" sortOrder="2" createDate="2009-02-27T09:39:54" updateDate="2010-04-22T02:34:59" nodeName="Gallery" urlName="gallery" writerName="Administrator" creatorName="Administrator" path="-1,1139,1143" isDoc="">      
      <CWS_Gallery id="1148" parentID="1143" level="3" writerID="0" creatorID="0" nodeType="1124" template="1109" sortOrder="2" createDate="2009-02-27T09:48:12" updateDate="2010-04-22T02:18:30" nodeName="Codegarden 08" urlName="codegarden-08" writerName="Administrator" creatorName="Administrator" path="-1,1139,1143,1148" isDoc="">        
        <CWS_Photo id="1149" parentID="1148" level="4" writerID="0" creatorID="0" nodeType="1128" template="1114" sortOrder="1" createDate="2009-03-02T15:40:01" updateDate="2010-04-22T02:18:30" nodeName="Darren and David have a chat" urlName="darren-and-david-have-a-chat" writerName="Administrator" creatorName="Administrator" path="-1,1139,1143,1148,1149" isDoc="">
          <photoText>Credit: Douglas Robar</photoText>
          <photo>/media/825/darren-ferguson_david-conlisk.jpg</photo>
          <photoThumbnail>/media/835/darren-ferguson_david-conlisk_thumb.jpg</photoThumbnail>
          <umbracoUrlName>
          </umbracoUrlName>
          <umbracoUrlAlias>
          </umbracoUrlAlias>
          <metaDescription><![CDATA[]]></metaDescription>
          <metaKeywords><![CDATA[]]></metaKeywords>
          <umbracoRedirect>
          </umbracoRedirect>
          <umbracoNaviHide>0</umbracoNaviHide>
        </CWS_Photo>
        <CWS_Photo id="1160" parentID="1148" level="4" writerID="0" creatorID="0" nodeType="1128" template="1114" sortOrder="12" createDate="2009-03-02T15:59:24" updateDate="2010-04-22T02:18:31" nodeName="Blah 8" urlName="blah-8" writerName="Administrator" creatorName="Administrator" path="-1,1139,1143,1148,1160" isDoc="">
          <photoText>Credit: Douglas Robar</photoText>
          <photo>/media/879/christian-palm.jpg</photo>
          <photoThumbnail>/media/889/christian-palm_thumb.jpg</photoThumbnail>
        </CWS_Photo>
        <CWS_Photo id="1150" parentID="1148" level="4" writerID="0" creatorID="0" nodeType="1128" template="1114" sortOrder="2" createDate="2009-02-27T09:54:07" updateDate="2010-04-22T02:18:31" nodeName="Codegarden 08 T-Shirt" urlName="codegarden-08-t-shirt" writerName="Administrator" creatorName="Administrator" path="-1,1139,1143,1148,1150" isDoc="">
          <photoText>Credit: Warren Buckley</photoText>
          <photo>/media/394/codegarden08-t-shirt.jpg</photo>
          <photoThumbnail>/media/799/codegarden08-t-shirt_thumb.jpg</photoThumbnail>
          <umbracoUrlName>
          </umbracoUrlName>
          <umbracoUrlAlias>
          </umbracoUrlAlias>
          <metaDescription><![CDATA[]]></metaDescription>
          <metaKeywords><![CDATA[]]></metaKeywords>
          <umbracoRedirect>
          </umbracoRedirect>
          <umbracoNaviHide>0</umbracoNaviHide>
        </CWS_Photo>
        <CWS_Photo id="1151" parentID="1148" level="4" writerID="0" creatorID="0" nodeType="1128" template="1114" sortOrder="3" createDate="2009-03-02T15:43:43" updateDate="2010-04-22T02:18:31" nodeName="The Umbraco BINGO callers" urlName="the-umbraco-bingo-callers" writerName="Administrator" creatorName="Administrator" path="-1,1139,1143,1148,1151" isDoc="">
          <photoText>Credit: Douglas Robar</photoText>
          <photo>/media/852/bingo-callers.jpg</photo>
          <photoThumbnail>/media/871/bingo-callers_thumb.jpg</photoThumbnail>
          <umbracoUrlName>
          </umbracoUrlName>
          <umbracoUrlAlias>
          </umbracoUrlAlias>
          <metaDescription><![CDATA[]]></metaDescription>
          <metaKeywords><![CDATA[]]></metaKeywords>
          <umbracoRedirect>
          </umbracoRedirect>
          <umbracoNaviHide>0</umbracoNaviHide>
        </CWS_Photo>
        <CWS_Photo id="1152" parentID="1148" level="4" writerID="0" creatorID="0" nodeType="1128" template="1114" sortOrder="4" createDate="2009-03-02T15:59:24" updateDate="2010-04-22T02:18:31" nodeName="Christian Palm chatting" urlName="christian-palm-chatting" writerName="Administrator" creatorName="Administrator" path="-1,1139,1143,1148,1152" isDoc="">
          <photoText>Credit: Douglas Robar</photoText>
          <photo>/media/879/christian-palm.jpg</photo>
          <photoThumbnail>/media/889/christian-palm_thumb.jpg</photoThumbnail>
          <umbracoUrlName>
          </umbracoUrlName>
          <umbracoUrlAlias>
          </umbracoUrlAlias>
          <metaDescription><![CDATA[]]></metaDescription>
          <metaKeywords><![CDATA[]]></metaKeywords>
          <umbracoRedirect>
          </umbracoRedirect>
          <umbracoNaviHide>0</umbracoNaviHide>
        </CWS_Photo>
        <CWS_Photo id="1157" parentID="1148" level="4" writerID="0" creatorID="0" nodeType="1128" template="1114" sortOrder="9" createDate="2009-03-02T15:59:24" updateDate="2010-04-22T02:18:31" nodeName="Blah 5" urlName="blah-5" writerName="Administrator" creatorName="Administrator" path="-1,1139,1143,1148,1157" isDoc="">
          <photoText>Credit: Douglas Robar</photoText>
          <photo>/media/879/christian-palm.jpg</photo>
          <photoThumbnail>/media/889/christian-palm_thumb.jpg</photoThumbnail>
        </CWS_Photo>
        <CWS_Photo id="1153" parentID="1148" level="4" writerID="0" creatorID="0" nodeType="1128" template="1114" sortOrder="5" createDate="2009-03-02T15:59:24" updateDate="2010-04-22T02:18:31" nodeName="Blah 1" urlName="blah-1" writerName="Administrator" creatorName="Administrator" path="-1,1139,1143,1148,1153" isDoc="">
          <photoText>Credit: Douglas Robar</photoText>
          <photo>/media/879/christian-palm.jpg</photo>
          <photoThumbnail>/media/889/christian-palm_thumb.jpg</photoThumbnail>          
        </CWS_Photo>
        <CWS_Photo id="1154" parentID="1148" level="4" writerID="0" creatorID="0" nodeType="1128" template="1114" sortOrder="6" createDate="2009-03-02T15:59:24" updateDate="2010-04-22T02:18:31" nodeName="Blah 2" urlName="blah-2" writerName="Administrator" creatorName="Administrator" path="-1,1139,1143,1148,1154" isDoc="">
          <photoText>Credit: Douglas Robar</photoText>
          <photo>/media/879/christian-palm.jpg</photo>
          <photoThumbnail>/media/889/christian-palm_thumb.jpg</photoThumbnail>          
        </CWS_Photo>
        <CWS_Photo id="1155" parentID="1148" level="4" writerID="0" creatorID="0" nodeType="1128" template="1114" sortOrder="7" createDate="2009-03-02T15:59:24" updateDate="2010-04-22T02:18:31" nodeName="Blah 3" urlName="blah-3" writerName="Administrator" creatorName="Administrator" path="-1,1139,1143,1148,1155" isDoc="">
          <photoText>Credit: Douglas Robar</photoText>
          <photo>/media/879/christian-palm.jpg</photo>
          <photoThumbnail>/media/889/christian-palm_thumb.jpg</photoThumbnail>
        </CWS_Photo>
        <CWS_Photo id="1156" parentID="1148" level="4" writerID="0" creatorID="0" nodeType="1128" template="1114" sortOrder="8" createDate="2009-03-02T15:59:24" updateDate="2010-04-22T02:18:31" nodeName="Blah 4" urlName="blah-4" writerName="Administrator" creatorName="Administrator" path="-1,1139,1143,1148,1156" isDoc="">
          <photoText>Credit: Douglas Robar</photoText>
          <photo>/media/879/christian-palm.jpg</photo>
          <photoThumbnail>/media/889/christian-palm_thumb.jpg</photoThumbnail>
        </CWS_Photo>        
        <CWS_Photo id="1158" parentID="1148" level="4" writerID="0" creatorID="0" nodeType="1128" template="1114" sortOrder="10" createDate="2009-03-02T15:59:24" updateDate="2010-04-22T02:18:31" nodeName="Blah 6" urlName="blah-6" writerName="Administrator" creatorName="Administrator" path="-1,1139,1143,1148,1158" isDoc="">
          <photoText>Credit: Douglas Robar</photoText>
          <photo>/media/879/christian-palm.jpg</photo>
          <photoThumbnail>/media/889/christian-palm_thumb.jpg</photoThumbnail>
        </CWS_Photo>
        <CWS_Photo id="1159" parentID="1148" level="4" writerID="0" creatorID="0" nodeType="1128" template="1114" sortOrder="11" createDate="2009-03-02T15:59:24" updateDate="2010-04-22T02:18:31" nodeName="Blah 7" urlName="blah-7" writerName="Administrator" creatorName="Administrator" path="-1,1139,1143,1148,1159" isDoc="">
          <photoText>Credit: Douglas Robar</photoText>
          <photo>/media/879/christian-palm.jpg</photo>
          <photoThumbnail>/media/889/christian-palm_thumb.jpg</photoThumbnail>
        </CWS_Photo>
        
      </CWS_Gallery>          
    </CWS_Galleries>
  </CWS_Home>
</root>