.umb-prevalues-multivalues {
    width: 400px;
    max-width: 100%;

    .umb-overlay & {
        width: 500px;
    }
}

.umb-prevalues-multivalues__left {
    display: flex;
    flex: 1 1 auto;
}

.umb-prevalues-multivalues__right {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
}

.umb-prevalues-multivalues__add  {
    display: flex;
}

.umb-prevalues-multivalues__add input {
    width: 320px;
}

.umb-prevalues-multivalues__add input {
    display: flex;
}

.umb-prevalues-multivalues__add button {
    margin: 0 6px 0 0;
    margin-left: auto;
}

.umb-prevalues-multivalues__listitem {
    display: flex;
    padding: 6px;
    margin: 10px 0px !important;
    background: #F3F3F5;
    cursor: move;
}

.umb-prevalues-multivalues__listitem i {
    display: flex;
    align-items: center;
    margin-right: 5px
}

.umb-prevalues-multivalues__listitem a {
    cursor: pointer;
    margin-left: auto;
}

.umb-prevalues-multivalues__listitem input {
    width: 295px;
}
