<div class="umb-block-list">

    <umb-load-indicator style="margin-bottom:20px;" ng-if="vm.loading"></umb-load-indicator>

    <div class="umb-block-list__wrapper" ng-style="vm.listWrapperStyles">

        <div ui-sortable="vm.sortableOptions" ng-model="vm.layout" ng-if="vm.loading !== true">

            <div ng-repeat="layout in vm.layout track by layout.$block.key">

                <button
                    type="button"
                    class="btn-reset umb-block-list__block--create-button"
                    ng-click="vm.showCreateDialog($index, $event)"
                    ng-controller="Umbraco.PropertyEditors.BlockListPropertyEditor.CreateButtonController as inlineCreateButtonCtrl"
                    ng-mousemove="inlineCreateButtonCtrl.onMouseMove($event)"
                >
                    <div class="__plus" ng-style="{'left':inlineCreateButtonCtrl.plusPosX}">+</div>
                </button>

                <div class="umb-block-list__block" ng-class="{'--active':layout.$block.active}">

                    <umb-block-list-scoped-block-content ng-if="layout.$block.config.stylesheet" class="umb-block-list__block--content blockelement__draggable-element" view="{{layout.$block.view}}" stylesheet="/{{::layout.$block.config.stylesheet}}" api="vm.blockEditorApi" block="layout.$block" index="$index">
                    </umb-block-list-scoped-block-content>
                    <umb-block-list-block-content ng-if="!layout.$block.config.stylesheet" class="umb-block-list__block--content" view="{{layout.$block.view}}" api="vm.blockEditorApi" block="layout.$block" index="$index">
                    </umb-block-list-block-content>

                    <div class="umb-block-list__block--actions">
                        <button type="button" class="btn-reset umb-outline action --settings" localize="title" title="actions_editSettings" ng-click="vm.blockEditorApi.openSettingsForBlock(layout.$block);" ng-if="layout.$block.showSettings === true">
                            <i class="icon icon-settings" aria-hidden="true"></i>
                            <span class="sr-only">
                                <localize key="general_settings">Settings</localize>
                            </span>
                        </button>
                        <button type="button" class="btn-reset umb-outline action --copy" localize="title" title="actions_copy" ng-click="vm.blockEditorApi.requestCopyBlock(layout.$block);" ng-if="layout.$block.showCopy === true">
                            <i class="icon icon-documents" aria-hidden="true"></i>
                            <span class="sr-only">
                                <localize key="general_copy">Copy</localize>
                            </span>
                        </button>
                        <button type="button" class="btn-reset umb-outline action --delete" localize="title" title="actions_delete" ng-click="vm.blockEditorApi.requestDeleteBlock(layout.$block);">
                            <i class="icon icon-trash" aria-hidden="true"></i>
                            <span class="sr-only">
                                <localize key="general_delete">Delete</localize>
                            </span>
                        </button>
                    </div>
                </div>

            </div>
        </div>

        <button
            ng-if="vm.loading !== true"
            id="{{vm.model.alias}}"
            type="button"
            class="btn-reset umb-block-list__create-button umb-outline"
            ng-class="{ '--disabled': vm.availableBlockTypes.length === 0 }"
            ng-click="vm.showCreateDialog(vm.layout.length, $event)"
        >
            <localize key="grid_addElement"></localize>
        </button>

        <input type="hidden" name="minCount" ng-model="vm.layout" />
        <input type="hidden" name="maxCount" ng-model="vm.layout" />
        <div ng-messages="vm.propertyForm.minCount.$error" show-validation-on-submit>
            <div class="help text-error" ng-message="minCount">
                <localize key="validation_entriesShort" tokens="[vm.validationLimit.min, vm.validationLimit.min - vm.layout.length]" watch-tokens="true">Minimum %0% entries, needs <strong>%1%</strong> more.</localize>
            </div>
        </div>
        <div ng-if="vm.propertyForm.maxCount.$error === true && vm.layout.length > vm.validationLimit.max">
            <div class="help text-error">
                <localize key="validation_entriesExceed" tokens="[vm.validationLimit.max, vm.layout.length - vm.validationLimit.max]" watch-tokens="true">Maximum %0% entries, <strong>%1%</strong> too many.</localize>
            </div>
        </div>

    </div>

    <umb-overlay
        ng-if="vm.blockTypePicker.show"
        position="target"
        size="vm.blockTypePicker.size"
        view="vm.blockTypePicker.view"
        model="vm.blockTypePicker">
    </umb-overlay>


</div>
