<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClientDependency" version="1.8.4" targetFramework="net45" />
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net461" />
  <package id="NPoco" version="3.3.4" targetFramework="net461" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
</packages>