@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <base href="@GlobalSettings.Path.EnsureEndsWith('/')" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Umbraco</title>
    <link rel="stylesheet" href="assets/css/umbraco.css" />

    @*Currently this needs to be loaded before anything*@
    <script src="@Url.Action("ServerVariables", "BackOfficeScripts")" type="text/javascript"></script>

    <style type="text/css">
        .validation-message
        {
            color: #FA787E;
        }

        .property-validation
        {
            color: #FA787E;
            float: right;
        }

        .validation-summary
        {
            padding: 5px;
            background-color: #EEEEEE;
            border: #FA787E solid 2px;
            margin: 5px;
            color: #fa787e;
        }

            .validation-summary span
            {
                font-style: italic;
            }
    </style>
</head>
<body ng-controller="MainController" id="umbracoMainPageBody">
    
    <div ng-include="index.html"></div>

    <script src="lib/require/require.min.js" type="text/javascript"></script>
    <script src="@Url.Action("Application", "BackOfficeScripts")" type="text/javascript"></script>

</body>
</html>
