@using System.Web.Mvc.Html
@using Umbraco.Core
@using ClientDependency.Core
@using ClientDependency.Core.Mvc
@inherits System.Web.Mvc.WebViewPage
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    @*<base href="@GlobalSettings.Path.EnsureEndsWith('/')" />*@
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Umbraco</title>
    <link rel="stylesheet" href="assets/css/umbraco.css" />
    <link rel="stylesheet" href="../umbraco_client/tree/treeicons.css" />

    @*<style type="text/css">
        .validation-message
        {
            color: #FA787E;
        }

        .property-validation
        {
            color: #FA787E; 
            float: right;
        }

        .validation-summary
        {
            padding: 5px;
            background-color: #EEEEEE;
            border: #FA787E solid 2px;
            margin: 5px;
            color: #fa787e;
        }

        .validation-summary span
        {
            font-style: italic;
        }
    </style>*@
</head>
<body ng-controller="MainController" id="umbracoMainPageBody">
         
    <div ng-cloak id="Div1" class="clearfix" ng-click="closeDialogs($event)">

        <umb-left-column></umb-left-column>

        <section id="contentwrapper">
            <div id="contentcolumn">
                <div ng-view></div>
            </div>
        </section>
    </div>

    <umb-notifications></umb-notifications>
    
    
    @*Currently this needs to be loaded before anything*@
    <script src="@Url.Action("ServerVariables", "BackOffice")" type="text/javascript"></script>

    @*Now we need to load in some legacy stuff*@
    <script src="@Url.Action("LegacyTreeJs", "BackOffice")" type="text/javascript"></script>    
    
    @*And finally we can load in our angular app*@
    <script type="text/javascript" src="lib/yepnope/yepnope.min.js"></script>
    <script type="text/javascript" src="@Url.Action("Application", "BackOffice")"></script>
    
</body>
</html>

