@using Umbraco.Core
@inherits System.Web.Mvc.WebViewPage
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <base href="@GlobalSettings.Path.EnsureEndsWith('/')" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Umbraco</title>
    <link rel="stylesheet" href="assets/css/umbraco.css" />

    @*Currently this needs to be loaded before anything*@
    <script src="@Url.Action("ServerVariables", "BackOffice")" type="text/javascript"></script>

    <style type="text/css">
        .validation-message
        {
            color: #FA787E;
        }

        .property-validation
        {
            color: #FA787E;
            float: right;
        }

        .validation-summary
        {
            padding: 5px;
            background-color: #EEEEEE;
            border: #FA787E solid 2px;
            margin: 5px;
            color: #fa787e;
        }

            .validation-summary span
            {
                font-style: italic;
            }
    </style>
</head>
<body ng-controller="MainController" id="umbracoMainPageBody">
        
    <div ng-show="authenticated" ng-cloak ng-animate="'fade'" id="layout" class="clearfix" ng-click="closeDialogs($event)">
        
        <umb-left-column></umb-left-column>

        <section id="contentwrapper">
            <div id="contentcolumn"><div ng-view></div></div>
        </section>
    </div>

    <umg-login></umg-login>
    <umb-notifications></umb-notifications>

    <script  src="lib/require/require.min.js" type="text/javascript"></script>
    
    @*We cannot use the data-main attribute above because we need to load in the application 
    via a server side JavaScript request, so we just request it after requirejs*@
    <script src="@Url.Action("Application", "BackOffice")" type="text/javascript"></script>

</body>
</html>

