<div ng-controller="MainController" id="umbracoMainPageBody">
    <div ng-show="authenticated" ng-cloak ng-animate="'fade'" id="layout" class="clearfix" ng-click="closeDialogs($event)">

        <div id="leftcolumn" ng-controller="NavigationController" ng-mouseleave="hideSectionTree()">
            <div id="applications" ng-class="{faded:ui.stickyNavigation}">
                <ul class="sections">
                    <li class="avatar">
                        <a href="#" title="{{user.name}}">
                            <img ng-src="{{user.avatar}}" />
                        </a>
                    </li>

                    <li ng-repeat="section in sections">
                        <a href="#/{{section.alias}}"
                            ng-mouseenter="showSectionTree(section)"
                            ng-click="openSection(section)"
                            prevent-default>
                            <i class="{{section.cssclass}}"></i><span>{{section.name}}</span>
                        </a>
                    </li>

                    <li class="help">
                        <a class="help" href="#/help">
                            <img src="assets/img/applicationIcons/help.svg" style="height: 30px; width: 30px;" />
                            <span>{{localization.app.help}}</span>
                        </a>
                    </li>
                </ul>
            </div>

            <!-- navigation container -->
            <div id="navigation" class="fill shadow umb-panel umb-modalcolumn"
                ng-show="ui.showNavigation"
                ng-animate="'slide'">
                <!-- the search -->
                <div id="search-form" ng-animate="'slide'">
                    <div class="umb-panel-header">
                        <form class="form-search" ng-controller="SearchController">
                            <i class="icon-search"></i>
                            <input type="text"
                                ng-model="ui.searchTerm"
                                class="umb-search-field search-query"
                                placeholder="{{localization.app.search.typeToSearch}}"
                                on-blur="deActivateSearch()"
                                on-keyup="performSearch(ui.searchTerm)">
                        </form>
                    </div>
                </div>

                <!-- Search results -->
                <div id="search-results" class="umb-scrollable umb-panel" auto-scale="0"
                    ng-show="ui.showSearchResults" ng-animate="'slide'">

                    <h5>{{localization.app.search.searchResult}}</h5>

                    <ul class="searchResults" ng-repeat="resultGroup in ui.searchResults">
                        <li class="umb-icon-item" ng-class="{selected:$index==ui.selectedSearchResult}" ng-repeat="result in resultGroup.matches">
                            <i class="icon umb-tree-icon sprTree {{result.icon}}" ng-show="$first"></i>
                            <a ng-href="#{{result.view}}">{{result.name}}
                                <small>{{result.path}}</small>
                            </a>
                            <i class="umb-options" ng-click="showContextMenu(result, $event)"><i></i><i></i><i></i></i>
                        </li>
                    </ul>
                </div>

                <!-- the tree -->
                <div id="tree" class="span5 umb-scrollable umb-panel" auto-scale="0" ng-animate="'slide'">
                    <div ng-include="'views/common/tree.html'"></div>
                </div>



                <!-- The context menu -->
                <div id='contextMenu' class="umb-modalcolumn fill shadow umb-panel"
                    ng-show="ui.showContextMenu" ng-animate="'slide'">

                    <div class='umb-panel-header'>
                        <h1>{{menuTitle}}</h1>
                    </div>

                    <div class='umb-panel-body'>
                        <ul class="umb-actions">
                            <li class="action" ng-class="{sep:action.seperator}" ng-repeat="action in contextMenu">
                                <a prevent-default
                                    ng-click="showContextDialog(currentNode,action,currentSection)">
                                    <i class="icon icon-{{action.cssclass}}"></i>
                                    <span class="menu-label">{{action.name}}</span>
                                </a>
                            </li>
                        </ul>
                    </div>


                </div>

                <!-- Tree dialogs -->
                <div id="dialog" class='umb-modalcolumn fill shadow umb-panel'
                    ng-show="ui.showContextMenuDialog" ng-animate="'slide'">
                    <div class='umb-panel-header'>
                        <h1>{{dialogTitle}}</h1>
                    </div>
                    <div class='umb-panel-body'>
                    </div>
                </div>
            </div>



        </div>


        <section id="contentwrapper">
            <div id="contentcolumn">
                <div ng-view></div>
            </div>
        </section>
    </div>

    <!-- Login screen -->
    <div id="login" ng-show="!authenticated" ng-animate="'slide'" ng-cloak>
        <div class="form" ng-cloak>
            <h1>Happy {{today}}!, log in below</h1>
            <div class="control-group">
                <input type="text" ng-model="login" class="input-xlarge" placeholder="Enter your username" />
            </div>
            <div class="control-group">
                <input type="password" ng-model="password" class="input-xlarge" placeholder="Enter your password" />
            </div>
            <input type="button" ng-click="signin()" class="btn" value="Login" />
        </div>
    </div>

    <!-- notifications -->
    <div id='speechbubble' class='umb-notification' ng-cloak>
        <ul>
            <li ng-repeat="notification in notifications" class="alert alert-block alert-{{notification.type}}">
                <strong>{{notification.headline}}:</strong>{{notification.message}}<a class='close' ng-click="removeNotification($index)" prevent-default href='#'>&times;</a>
            </li>
        </ul>
    </div>
</div>
