<div class="umb-dialog umb-pane" ng-controller="Umbraco.Editors.DataType.DeleteController">
    <div class="umb-dialog-body">
        
        <p class="umb-abstract">
            <localize key="defaultdialogs_confirmdelete">Are you sure you want to delete</localize>&nbsp;<strong>{{currentNode.name}}</strong> ?
        </p>

        <ng-switch on="currentNode.nodeType">
            <div ng-switch-when="container">
                <umb-confirm on-confirm="performContainerDelete"
                             on-cancel="cancel">
                </umb-confirm>
            </div>

            <div ng-switch-default>
                <p>
                    <i class="icon-alert red"></i> <strong class="red"><localize key="editdatatype_allPropTypes">All property types & property data</localize></strong>
                    <localize key="editdatatype_willBeDeleted">using this data type will be deleted permanently, please confirm you want to delete these as well</localize>.
                </p>

                <hr />

                <label class="checkbox">
                    <input type="checkbox" ng-model="confirmed" />
                    <localize key="editdatatype_yesDelete">Yes, delete</localize> <strong>{{currentNode.name}}</strong> <localize key="editdatatype_andAllRelated">and all property types & property data using this data type</localize>
                </label>

                <umb-confirm ng-if="confirmed" on-confirm="performDelete" on-cancel="cancel">
                </umb-confirm>
            </div>
        </ng-switch>

    </div>
</div>
