/*
	Library of card related components, like the right-hand icon list on the grid "cards"
*/

.umb-card {
    position: relative;
    padding: 5px 10px 5px 10px;
    background: @white;
    width: 100%;

    .title {
        padding: 12px;
        color: @gray-3;
        border-bottom: 1px solid @gray-8;
        font-weight: 400;
        font-size: 16px;
        text-transform: none;
        margin: 0 -10px 10px -10px;
    }
}

.umb-card-thumb {
    text-align: center;

    i {
        text-align: center;
        font-size: 20px;
        line-height: 40px;
        color: @blue;
        display: block;
        padding-top: 5px
    }
}

.umb-card-content {
    .item-title {
        color: @blackLight;
        font-weight: 400;
        border: none;
        font-size: 16px;
        text-transform: none;
        margin-bottom: 3px;
    }

    p {
        color: @gray-3;
        margin-bottom: 1px;
    }
}

.umb-card-actions {
    padding-top: 10px;
    border-top: @gray-10 1px solid;
    clear: both;
}

.umb-card-icons {
    text-align: center;
    vertical-align: middle;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;

    &.vertical {
        position: absolute;
        top: 7px;
        right: 7px;
        text-align: right;
        width: 1px;

        li {
            float: right;
            display: block;
            margin-bottom: 3px;
        }
    }

    li {
        display: inline-block;
        margin: 0 2px 0 2px;
    }
}

//card icon list
.umb-card-list {
    display: block;
    padding: 0;
    margin: 0;

    li {
        border-bottom: @gray-10 1px solid;
        padding-bottom: 3px;
        display: block;
    }
}

//Card icon grid for picking items off a card
.umb-card-grid {
    padding: 0;
    margin: 0 auto;
    list-style: none;
    width: 100%;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    .umb-card-grid-item {
        position: relative;
        display: block;
        width: 100%;
        //height: 100%;
        padding-top: 100%;
        border-radius: 3px;
        transition: background-color 120ms;

        > span {
            position: absolute;
            top: 10px;
            bottom: 10px;
            left: 10px;
            right: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color: transparent;
        }
    }

    li {
        overflow: hidden;
        font-size: 12px;
        text-align: center;
        box-sizing: border-box;
        position: relative;
        width: 100px;
    }

    &.-four-in-row li {
        flex: 0 0 25%;
        max-width: 25%;
    }

    &.-three-in-row li {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }

    .umb-card-grid-item {
        &:hover,
        &:focus {
            background-color: @ui-option-hover;
            color: @ui-option-type-hover;
        }

        &__loading {
            position: absolute;
            background-color: rgba(255, 255, 255, 0.8);
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }

    a {
        color: @ui-option-type;
        text-decoration: none;
    }

    i {
        font-size: 30px;
        line-height: 20px;
        margin-bottom: 10px;
        display: block;
    }
}

.umb-training-videos {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.umb-training-video {
    background: @white;
    border-radius: @baseBorderRadius;
    transition: box-shadow 0.1s ease-in-out, border 0.1s ease-in-out;
    box-sizing: border-box;
    padding: 20px;
    .umb-box-shadow(0);

    &:hover {
        text-decoration: none;
    }

    &__label {
        font-weight: bold;
        margin-top: 20px;
        display: block;
        text-align: center;
    }
}
