/*
	contains styling for all main editor directives
*/

.umb-editor-wrapper {
	background: @white;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;

    > form {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}

// header

.umb-editor-header {
	background: @white;
	flex: 1 1 60px;
	position: relative;
	padding: 0 20px;
	z-index: 1;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
}

.umb-editor-header__back {
	color: @gray-6;
	transition: color 0.1s ease-in-out;
}

.umb-editor-header__name-wrapper {
	position: relative;
	display: flex;
}

.umb-editor-header__name-wrapper ng-form {
	flex: 1 1 auto;
}

input.umb-editor-header__name-input {
	border-color: @gray-8;
	background-color: @white;
	font-size: 15px;
	color: @black;
	margin-bottom: 0;
	font-weight: bold;
	box-sizing: border-box;
	height: 32px;
	line-height: 32px;
	width: 100%;
	padding: 0 15px;
	&:hover {
		background-color: @white;    
		border: 1px solid @gray-7;
	}
}

.umb-editor-header__actions-menu {
	margin-left: auto;
}

/* variant switcher */
.umb-variant-switcher__toggle {
	display: flex;
	align-items: center;
	padding: 0 15px;
	text-decoration: none !important;
	font-size: 13px;
	border: 1px solid @gray-8;
	border-left: none;
	color: @gray-4;
	&:hover {
		background-color: @gray-10;
	}
}

.umb-variant-switcher__expand {
	color: @gray-7;
	margin-top: 3px;
	margin-left: 5px;
	margin-right: -5px;
}

.umb-variant-switcher_item:hover .umb-variant-switcher__state {
	opacity: 0;
	visibility: hidden;
}

.umb-variant-switcher_item:hover .umb-variant-switcher__split-view {
	opacity: 1;
	visibility: visible;
}

.umb-variant-switcher__name {
	font-size: 14px;
	font-weight: bold;
}

.umb-variant-switcher__state {
	position: absolute;
	right: 20px;
	opacity: 1;
	transition: opacity 0.2;
	visibility: visible;
}

.umb-variant-switcher__split-view {
	font-size: 13px;
	position: absolute;
	right: 20px;
	opacity: 0;
	transition: opacity 0.2;
	visibility: hidden;
}

// container

.umb-editor-container {
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
	flex: 1 1 100%;
	background: @gray-10;
}

.umb-editor-wrapper.-no-footer .umb-editor-container {
	bottom: 0;
}

.umb-editor-container.-stop-scrolling {
	overflow: hidden;
}

.umb-editor-actions{
	list-style: none;
	margin: 0; padding: 0;
}

.umb-editor-actions li{
	display: inline-block;
}

// editor footer

.umb-editor-footer {
	margin: 0;
	padding: 10px 20px;
	background: @white;
	flex: 1 0 31px;
	box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, 0.16);
	z-index: 1;
}

.umb-editor-footer-content {
	display: flex;
	align-items: center;
}
  
.umb-editor-footer-content__right-side {
	margin-left: auto;
	flex: 0 0 auto;
	padding-left: 10px;
}
  
.umb-editor-footer-content__left-side {
	margin-right: auto;
	padding-right: 10px;
}
