.umb-list-view-settings__box {
  background: @gray-10;
  border: 1px solid @gray-7;
  display: flex;
  animation: fadeIn 0.5s;
  padding: 15px;
  position: relative;
}

.umb-list-view-settings__trigger {
  margin-bottom: 20px;
}

.umb-list-view-settings__box.-open {
  border-bottom: transparent;
}

.umb-list-view-settings__content {
  display: flex;
}

.umb-list-view-settings__list-view-icon {
  font-size: 20px;
  color: @gray-7;
  margin-right: 10px;
}

.umb-list-view-settings__name {
  margin-right: 5px;
  font-size: 14px;
  font-weight: bold;
  float: left;
}

.umb-list-view-settings__create-new {
  font-size: 13px;
  color: @ui-action-type;
}

.umb-list-view-settings__create-new:hover {
  color: @ui-action-type-hover;
  border-color: @ui-action-type-hover;
}

.umb-list-view-settings__remove-new {
  font-size: 13px;
  color: @red;
}

.umb-list-view-settings__settings {
  border: 1px dashed @gray-7;
  border-top: none;
  padding: 20px;
}
