.umb-querybuilder .row {
    font-size: 14px;
    line-height: 14px
}

.umb-querybuilder .row a.btn {
    padding: 5px 8px;
    margin: 0 5px;
    font-weight: bold;
    background-color: @ui-action;
    border: 1px solid @ui-action-border;
    border-radius: 3px;
    text-align: center;
    display: inline-block;

}

.umb-querybuilder .row a.btn:hover {
    background-color: @ui-action-hover;
    border: 1px solid @ui-action-border-hover;
    text-decoration: none;
}

.umb-querybuilder .row > div {
    padding: 20px 0;
    border-bottom: 1px solid @gray-10;
}

.umb-querybuilder .datepicker input {
    width: 90px;
}

.umb-querybuilder .query-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.umb-querybuilder .query-items > *  {
    flex: 0 1 auto;
    margin: 5px;
}

.umb-querybuilder .query-items .btn {
    min-height: 2rem;
}
