.umb-empty-state {
	font-size: @fontSizeMedium;
	line-height: 1.8em;
	color: @gray-4;
	text-align: center;
}

.umb-empty-state.-small {
	font-size: 14px;
}

.umb-empty-state.-large {
	font-size: @fontSizeLarge;
}

.umb-empty-state.-center {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    max-width: 400px;
}
