// OVERLAY
.umb_confirm-action__overlay {
    position: absolute;
    z-index: 999999;
    display: flex;
}

// positions
.umb_confirm-action__overlay.-top {
    top: -50px;
    right: auto;
    bottom: auto;
    left: 0;
    animation: fadeInUp 0.2s;
    flex-direction: column;

    .umb_confirm-action__overlay-action {
        margin-bottom: 5px;
    }

    .umb_confirm-action__overlay-action.-confirm {
        order: 1;
    }

    .umb_confirm-action__overlay-action.-cancel {
        order: 2;
    }

}

.umb_confirm-action__overlay.-right {
    top: 0;
    right: -50px;
    bottom: auto;
    left: auto;
    animation: fadeInLeft 0.2s;
    flex-direction: row;

    .umb_confirm-action__overlay-action {
        margin-left: 5px;
    }

    .umb_confirm-action__overlay-action.-confirm {
        order: 2;
    }

    .umb_confirm-action__overlay-action.-cancel {
        order: 1;
    }
}

.umb_confirm-action__overlay.-bottom {
    top: auto;
    right: auto;
    bottom: -50px;
    left: 0;
    animation: fadeInDown 0.2s;
    flex-direction: column;

    .umb_confirm-action__overlay-action {
        margin-top: 5px;
    }

    .umb_confirm-action__overlay-action.-confirm {
        order: 2;
    }

    .umb_confirm-action__overlay-action.-cancel {
        order: 1;
    }
}

.umb_confirm-action__overlay.-left {
    top: 0;
    right: auto;
    bottom: auto;
    left: -50px;
    animation: fadeInRight 0.2s;
    flex-direction: row;

    .umb_confirm-action__overlay-action {
        margin-right: 5px;
    }

    .umb_confirm-action__overlay-action.-confirm {
        order: 1;
    }

    .umb_confirm-action__overlay-action.-cancel {
        order: 2;
    }
}

// BUTTONS
.umb_confirm-action__overlay-action {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border-radius: 40px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  font-size: 18px;
}

.umb_confirm-action__overlay-action:hover {
  text-decoration: none;
  color: #ffffff;
}

// confirm button
.umb_confirm-action__overlay-action.-confirm {
  background: #ffffff;
  color: @green !important;
}

.umb_confirm-action__overlay-action.-confirm:hover {
    color: @green !important;
}

// cancel button
.umb_confirm-action__overlay-action.-cancel {
  background: #ffffff;
  color: @red !important;
}

.umb_confirm-action__overlay-action.-cancel:hover {
    color: @red !important;
}
