.umb-skip-link {
    position: absolute;
    top: 0;
    left: -9999px;
    z-index: 10001;
    padding: 8px 16px;
    background: @turquoise;
    color: @white !important;
    outline: none;
    text-decoration: none;
}

.umb-skip-link:focus {
    left: 0;
}