.flatpickr-calendar {
    border-radius: @baseBorderRadius;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.16);
}

.flatpickr-day {
    border-radius: @baseBorderRadius;
    border: none;

    &.today:not(.active) {
        border: 1px solid;
    }

    &:hover {
        background-color: @gray-10;
    }

    &.selected, &.startRange, &.endRange {
        background-color: @ui-selected-type !important;
        border-color: @ui-selected-type !important;

        &:hover {
            background-color: @ui-selected-type-hover !important;
        }

        &.startRange + .endRange:not(:nth-child(7n+1)) {
            box-shadow: -10px 0 0 @ui-selected-type !important;
        }
    }
}


/* Use display: grid so we can position the range menu to the left of the existing calendar elements */
.flatpickr-calendar.open.flatpickr-has-predefined-ranges {
    width: auto;
    display: grid;
}

.flatpickr-calendar.flatpickr-has-predefined-ranges .flatpickr-predefined-ranges {
    grid-column: 1;
    grid-row: 1 / span 2;
}

.flatpickr-calendar.flatpickr-has-predefined-ranges:not(.flatpickr-predefined-ranges-only) .flatpickr-predefined-ranges {
    border-right: 1px solid #e6e6e6;
}

.flatpickr-calendar.flatpickr-has-predefined-ranges .flatpickr-months {
    position: relative; /* needed for prev/next month arrows to position correctly */
    grid-column: 2;
    grid-row: 1;
}

.flatpickr-calendar.flatpickr-has-predefined-ranges .flatpickr-innerContainer {
    overflow: visible;
    grid-column: 2;
    grid-row: 2;
}

/* hide the calendar when .flatpickr-predefined-ranges-only is added to the container */
.flatpickr-calendar.flatpickr-has-predefined-ranges.flatpickr-predefined-ranges-only .flatpickr-months,
.flatpickr-calendar.flatpickr-has-predefined-ranges.flatpickr-predefined-ranges-only .flatpickr-innerContainer {
  display: none;
}

/* style the button nav items to match the calendar */
.flatpickr-calendar.flatpickr-has-predefined-ranges .flatpickr-predefined-ranges .nav-link.btn-link {
    padding: 0.25rem 0.75rem;
    color: inherit;
    border-radius: 0;
    text-align: left;
    text-decoration: none;
    width: 100%;
}

.flatpickr-calendar.flatpickr-has-predefined-ranges .flatpickr-predefined-ranges .nav-link.btn-link.active {
    background: @ui-selected-type;
    color: #fff;
}

.flatpickr-calendar.flatpickr-has-predefined-ranges .flatpickr-predefined-ranges .nav-link.btn-link:hover:not(.active) {
    background: @gray-10;
    text-decoration: none;
}

/* needed so the hover/active background on the buttons don't overlap the container's border radius */
.flatpickr-calendar.flatpickr-has-predefined-ranges .flatpickr-predefined-ranges :first-child .nav-link.btn-link {
    border-radius: 5px 0 0 0;
}

.flatpickr-calendar.flatpickr-has-predefined-ranges .flatpickr-predefined-ranges :last-child .nav-link.btn-link {
    margin-bottom: .5rem;
}

.flatpickr-calendar.flatpickr-has-predefined-ranges.flatpickr-predefined-ranges-only .flatpickr-predefined-ranges :first-child .nav-link.btn-link {
    border-radius: 5px 5px 0 0;
}

.flatpickr-calendar.flatpickr-has-predefined-ranges.flatpickr-predefined-ranges-only .flatpickr-predefined-ranges :last-child .nav-link.btn-link {
    margin-bottom: 0;
    border-radius: 0 0 5px 5px;
}
