.umb-property-file-upload {
    .umb-property-editor--limit-width();

    .umb-upload-button-big {
        display: block;
        padding: 20px;
        opacity: 1;
        border: 1px dashed @gray-8;
        background: none;
        text-align: center;
        font-size: 14px;

        &, &:hover {
            color: @gray-8;
        }

        i.icon {
            font-size: 55px;
            line-height: 70px
        }

        input {
            left: 0;
            bottom: 0;
            height: 100%;
            width: 100%;
        }
    }
}
