.umb-content-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: auto;
    grid-gap: 15px;

    &__item {
        background: @white;
        flex: 0 1 200px;
        cursor: pointer;
        position: relative;
        user-select: none;
        border-radius: 3px;
        .umb-box-shadow(0);

        &:hover {
            &::before {
                opacity: .2;
            }
        }

        &.-selected:hover {
            &::before {
                opacity: .75;
            }
        }

        &.-selected,
        &:hover {
            &::before {
                content: "";
                position: absolute;
                z-index: 2;
                top: -2px;
                left: -2px;
                right: -2px;
                bottom: -2px;
                border: 2px solid @ui-selected-border;
                border-radius: 5px;
                box-shadow: 0 0 4px 0 darken(@ui-selected-border, 20), inset 0 0 2px 0 darken(@ui-selected-border, 20);
                pointer-events: none;
                transition: opacity 100ms;
            }
        }
    }

    &__icon-container {
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__icon,
    &__icon[class^="icon-"],
    &__icon[class*=" icon-"] {
        font-size: 20px;
        margin-right: 5px;
    }

    &__content {
        box-sizing: border-box;
        padding: 15px;
    }

    &__item-name {
        position: relative;
        padding: 5px;
        margin: -5px -5px 15px -5px;
        font-weight: bold;
        line-height: 1.4em;
        display: inline-flex;

        color: @ui-option-type;

        &:hover,
        &:focus {
            text-decoration: none;
            color: @ui-option-type-hover;
        }

        &:hover span {
            text-decoration: underline;
        }

        &.-light {
            color: @gray-5;
        }
    }

    &__details-list {
        list-style: none;
        margin-bottom: 0;
        margin-left: 0;
        font-size: 12px;

        &.-light {
            color: @gray-5;
        }
    }

    &__details-label {
        font-weight: bold;
        display: inline-block;
    }

    &__details-value {
        display: inline-block;
        word-break: break-word;
        margin-left: 3px;
    }

    &__checkmark {
        position: absolute;
        top: 10px;
        right: 10px;
        border: 2px solid @white;
        width: 26px;
        height: 26px;
        background: @green;
        border-radius: 50px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        color: @white;
        cursor: pointer;
    }

    &__item:hover &__action:not(.-selected) {
        opacity: 1;
        animation: fadeIn;
        animation-duration: 0.2s;
        animation-timing-function: ease-in-out;
    }

    &__no-items {
        font-size: 16px;
        font-weight: bold;
        color: @gray-8;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
