/* --------- COLUMNS --------- */

.sub-view-columns {
  display: flex;
  margin-bottom: 40px;
}

.sub-view-columns h5 {
  margin-top: 0;
}

.sub-view-column-left {
  flex: 0 0 250px;
  margin-right: 70px;
}

.sub-view-column-right {
  flex: 1;
}

.sub-view-column-section {
  margin-bottom: 20px;
}