.umb-tour__progress {
    position: absolute;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.umb-tour__progress-container {
    position: relative;
}

// circle highlight on progressbar
.umb-tour__progress-circle {
    stroke: @green;
}

.umb-tour__progress-circle--green {
    stroke: @green;
}

.umb-tour__progress-circle--red {
    stroke: @red;
}

.umb-tour__progress-circle--yellow {
    stroke: @yellow;
}

.umb-tour__progress-circle--purple {
    stroke: @purple;
}

// circle progressbar bg
.umb-tour__progress-circle-bg {
    stroke: @gray-8;
}

// the text in the center
.umb-tour__values {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.umb-tour__values--xs{
    font-size: 12px;
}

.umb-tour__values--s{
    font-size: 14px;
}

.umb-tour__values--m{
    font-size: 16px;
}

.umb-tour__values--l{
    font-size: 18px;
}

.umb-tour__values--xl{
    font-size: 20px;
}
