.umb-property:focus-within .umb-property-culture-label,
.umb-property:hover .umb-property-culture-label {
  opacity: 1;
}

.umb-property:hover .umb-property:not(:hover) .umb-property-culture-label {
  opacity: 0;
}

.umb-property-culture-label {
  font-size: 11px;
  padding: 0 7px;
  background: whitesmoke;
  border-radius: 3px;
  float: left;
  clear: both;
  opacity: 0;
}