@boxUnit: 10px;

.umb-box {
    background: @white;
    border-radius: 3px;
    margin-bottom: @boxUnit * 2;
    .umb-box-shadow(0, false);


    &-header {
        padding: @boxUnit @boxUnit * 2;
        border-bottom: 1px solid @gray-9;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-header-title {
        font-size: 15px;
        color: @black;
        font-weight: bold;
    }

    &-header-description {
        font-size: 13px;
        color: @gray-3;
        line-height: 1.6em;
        margin-top: 1px;
    }

    &-content {
        padding: @boxUnit * 2;
    }

    // allow side-by-side boxes
    &-row {
        margin-left: -@boxUnit;
        margin-right: -@boxUnit;
        display: flex;
        justify-content: space-around;

        .umb-box {
            margin-left: @boxUnit;
            margin-right: @boxUnit;
            flex: 1;
        }
    }
}
