.umb-stylesheet-rules {
    max-width: 600px;
}

.umb-stylesheet-rules__listitem {
    display: flex;
    padding: 6px;
    margin: 10px 0 !important;
    background: @gray-10;
    border-radius: @baseBorderRadius;
}

.umb-stylesheet-rules__listitem i {
    display: flex;
    align-items: center;
    margin-right: 5px;
    cursor: move;
}

.umb-stylesheet-rules__listitem a {
    margin-left: auto;
}

.umb-stylesheet-rules__listitem input {
    width: 295px;
}

.umb-stylesheet-rules__left {
    display: flex;
    flex: 1 1 auto;
    overflow: hidden;
}

.umb-stylesheet-rules__right {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
}

textarea.umb-stylesheet-rule-styles {
    width: 300px;
    height: 100px;
    resize: none;
    font-family: @monoFontFamily;
}

.umb-stylesheet-rule-preview {
    line-height: normal;
}
