.umb-packages {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

    &-view-title {
        font-size: 20px;
        font-weight: bold;
        color: @black;
        margin-bottom: 30px;
    }

    &-view-wrapper {
        padding: 20px 60px;

        @media (max-width: 768px) {
            padding: 0;
        }
    }

    &-section {
        margin-bottom: 40px;
    }

    &-search {
        width: 100%;
        border-radius: 3px;
        box-sizing: border-box;

        input {
            border-width: 2px;
            border-radius: 3px;
            min-height: 44px;
            padding: 4px 10px;
            font-size: 16px;
            margin-bottom: 0;
            border-color: @gray-8;

            &:hover,
            &:focus {
                border-color: @gray-8;
            }
        }
    }

    &__pagination {
        display: flex;
        justify-content: center;
    }
}

// Cards
.umb-package {
    box-sizing: border-box;

    &-link {
        .flex-center;
        flex-wrap: wrap;
        flex-direction: column;
        position: relative;
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        border-radius: 3px;
        border: 0 none;
        transition: border-color 100ms ease;
        background-color: @white;
        .umb-box-shadow(0, true);
    }

    // Icon
    &-icon {
        .flex-center;
        padding: 10px;
        background-color: @white;
        min-height: 60px;
        .border-top-radius(3px);

        img {
            max-width: 70px;
            width: 70px;
            height: auto;
        }
    }

    // Info
    &-info {
        padding-bottom: 15px;
    }

    // Name
    &-name {
        font-size: 14px;
        max-width: 250px;
        margin-bottom: 5px;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: normal;
        margin: 0 auto 5px;
    }

    &-description {
        font-size: 12px;
        color: @gray-4;
        word-wrap: break-word;
        line-height: 1.1rem;
        white-space: nowrap;
        max-width: calc(100% - 30px);
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0 auto;
    }

    // Numbers
    &-numbers {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        opacity: .6;
        margin-top: 10px;

        small {
            padding: 0 5px;
            .flex-center;
        }

        i {
            font-size: 14px;
        }
    }

    .umb-package-link:hover .umb-package-numbers {
        opacity: 1;

        .icon-hearts {
            color: @red  !important;
        }
    }

    // Version
    &-version {
        display: inline-flex;
        font-size: 12px;
        font-weight: bold;
        padding: 1px 5px;
        background: @gray-8;
        border-radius: 3px;
        color: @black;
    }
}

/* CATEGORIES */

.umb-packages-categories {
    display: flex;
    user-select: center;
    flex-wrap: wrap;
}

.umb-packages-category {
    .flex-center;
    flex: 1 0 auto;
    max-width: 25%;
    font-size: 14px;
    font-weight: bold;
    color: @black;
    box-sizing: border-box;
    justify-content: center;
    border: 1px solid @gray-8;
    border-left: 0;
    padding: 10px 0;
    background: @white;

    @media (max-width: 768px) {
        width: 100%;
        margin-top: 0;
        margin-bottom: 15px !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    @media (max-width: 992px) {
        border: 1px solid @gray-8;
        margin: 5px;
        flex: 0 0 auto;
        text-align: center;
        padding: 10px;
        max-width: 100%;
        border-radius: 3px;
    }

    @media (min-width: 1100px) and (max-width: 1300px) {
        border: 1px solid @gray-8;
        margin: 5px;
        flex: 0 0 auto;
        text-align: center;
        padding: 10px;
        max-width: 100%;
        border-radius: 3px;
    }

    &:hover {
        color: @ui-active-type-hover;
        text-decoration: none;
    }

    &.-active {
        color: @ui-active-type;
        background-color: @ui-active;
    }

    &.-first {
        border-left: 1px solid @gray-8;
        .border-left-radius(3px);
    }

    &.-last {
        border-right: 1px solid @gray-8;
        .border-right-radius(3px);
    }
}

/* PACKAGE DETAILS */

.umb-package-details {
    display: flex;
    flex-flow: row wrap;

    &__back-action {
        font-weight: bold;
        color: @black;
        padding: 0;
        border: 0;
        background-color: transparent;

        &:focus,
        &:hover {
            color: @gray-4;
            text-decoration: none;
        }
    }

    @sidebarwidth: 350px; // Width of sidebar. Ugly hack because of old version of Less

    &__main-content {
        flex: 1 1 auto;
        margin-right: 20px;
        width: calc(~'100%'- ~'@{sidebarwidth}'- ~'20px'); // Make sure that the main content area doesn't gets affected by inline styling
        min-width: 500px;

        @media (max-width:768px) {
            flex: 1 1 auto;
            width: 100%;
            margin-bottom: 30px;
            margin-right: 0;
        }
    }

    &__sidebar {
        flex: 0 0 @sidebarwidth;

        @media (max-width:768px) {
            flex: 1 1 auto;
            width: 100%;
        }
    }

    &__section {
        background: @gray-10;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 3px;
        border: 1px solid @gray-8;
    }

    &__section-title {
        font-size: 17px;
        font-weight: bold;
        color: @black;
        margin-top: 0;
        margin-bottom: 15px;
    }

    &__section-description {
        font-size: 12px;
        line-height: 1.6em;
        margin-bottom: 15px;
    }

    &__information-item {
        margin-bottom: 10px;
        font-size: 13px;
    }

    &__information-item-label {
        color: @black;
        font-weight: bold;
    }

    &__information-item-content {
        word-break: break-word;
    }

    &__information-item-label-2 {
        font-size: 12px;
        color: @gray-4;
    }

    &__compatability {
        margin-bottom: 15px;
    }

    &__compatability-label {
        margin-bottom: 3px;
    }

    &__description {
        margin-bottom: 20px;
        line-height: 1.6em;
        word-wrap: break-word;

        p {
            margin-bottom: 20px;
        }
    }


    /* Links */
    &__link {
        font-weight: bold;
        color: @black;

        &:hover {
            text-decoration: underline;
        }
    }

    /* Owner profile */
    &__owner-profile {
        display: flex;
        align-items: center;

        &-avatar {
            margin-right: 15px;
            flex: 0 0 auto;
        }

        &-name {
            font-size: 15px;
            color: @black;
            font-weight: bold;
        }

        &-karma {
            font-size: 12px;
            color: @gray-4;
        }
    }
}

/* gallery */

.umb-gallery {
    &__thumbnails {
        display: flex;
        flex-wrap: wrap;
    }

    &__thumbnail {
        background: transparent;
        flex: 0 1 100px;
        border: 1px solid @ui-action-discreet-border;
        border-radius: 3px;
        margin: 5px;
        padding: 10px;
        box-sizing: border-box;
        max-width: 100px;

        &:hover {
            cursor: pointer;
            border-color: @ui-action-discreet-border-hover;
        }
    }
}

/* PACKAGE LIST */

.umb-package-list {
    display: flex;
    flex-direction: column;

    &__item {
        display: flex;
        flex-direction: row;
        background: @gray-10;
        margin-bottom: 5px;
        border-radius: 3px;
        padding: 15px 20px;
        align-items: center;
    }

    &__item-icon {
        flex: 0 0 35px;
        margin-right: 20px;
        font-size: 30px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    &__item-content {
        flex: 1 1 auto;
        margin-right: 20px;
    }

    &__item-name {
        font-size: 16px;
        margin-bottom: 5px;
        color: @black;
        font-weight: bold;
    }

    &__item-description {
        font-size: 14px;
        color: @gray-4;
    }

    &__item-actions {
        flex: 1 1 auto;
        display: flex;
        justify-content: flex-end;
    }

    &__item-action {
        font-weight: bold;
        color: @gray-3;

        &:hover {
            text-decoration: none;
            color: @red;
        }
    }
}
