/* ---------- GROUPS ----------  */

.umb-group-builder__groups {
  list-style: none;
  margin: 0;
  padding: 0;
}

.umb-group-builder__group {
  min-height: 86px;
  margin: 50px 0 0 0;
  border: 2px solid #CCCCCC;
  border-radius: 0 10px 10px 10px;
  position: relative;
  padding: 10px 10px 5px 10px;
  box-sizing: border-box;
}

.umb-group-builder__group.-active {
  border-color: @blue;
}

.umb-group-builder__group.-inherited {
  border-color: #F2F2F2;
  animation: fadeIn 0.5s;
}

.umb-group-builder__group.-placeholder {
  min-height: 86px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px dashed @grayLight;
  color: @blue;
  font-weight: bold;
}

.umb-group-builder__group.-sortable {
  min-height: initial;
  cursor: move;
}

.umb-group-builder__group-actions {
  position: absolute;
  top: 5px;
  right: 5px;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
}

.umb-group-builder__group-action {
  display: inline-block;
}

.umb-group-builder__group-remove {
  position: absolute;
  top: -30px;
  right: 20px;
  font-size: 18px;
}

.umb-group-builder__group-remove:hover {
  cursor: pointer;
  color: @blueDark;
}

.umb-group-builder__group-title-wrapper {
  position: absolute;
  left: -2px;
  top: -45px;
  display: flex;
  align-items: center;
}

.umb-group-builder__group-title-wrapper.-placeholder {
  left: -1px;
  top: -44px;
}

.umb-group-builder__group-title {
  padding: 5px 9px 0 9px;
  height: 38px;
  background: white;
  border: 2px solid #CCCCCC;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.umb-group-builder__group-title-icon {
  margin-left: 5px;
}

.umb-group-builder__group-title.-active {
  border-color: @blue;
}

.umb-group-builder__group-title.-placeholder {
  border: 1px dashed @grayLight;
  border-bottom: none;
  width: 70px;
}

.umb-group-builder__group-title.-inherited {
  border-color: #F2F2F2;
}

input.umb-group-builder__group-title-input {
  border-color: transparent;
  background: transparent;
  font-weight: bold;
  color: #515151;
  margin-bottom: 0;
}

.umb-group-builder__group-title-input:hover {
  border-color: @inputBorder;
}

.umb-group-builder__group-title-input.-placeholder {
  border: 1px dashed #979797;
}

.umb-group-builder__group-inherited-label {
  font-size: 13px;
  color: @grayLight;
  display: inline-block;
  position: relative;
  top: 2px;
  margin-left: 10px;
}

.umb-group-builder__group-sort-order {
    display: flex;
    align-items: center;
    margin-left: 10px;
    position: relative;
    top: 2px;
}

input.umb-group-builder__group-sort-value {
  font-size: 11px;
  padding: 0px 0 0px 5px;
  width: 40px;
  margin-bottom: 0;
  border-color: #d9d9d9;
}

/* ---------- PROPERTIES ---------- */

.umb-group-builder__properties {
  list-style: none;
  margin: 0;
  padding: 0;
  min-height: 35px; // the height of a sortable property
}

.umb-group-builder__property {
  position: relative;
  display: flex;
  flex-flow: row;
  margin-bottom: 5px;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
}

.umb-group-builder__property:hover {
  border: 1px dashed @inputBorder;
}

.umb-group-builder__property.-placeholder {
  background: #ffffff;
  border: 1px dashed @grayLight;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  animation: fadeIn 0.5s;
}

.umb-group-builder__property.-inherited {
  border: transparent;
  animation: fadeIn 0.5s;
}

.umb-group-builder__property.-inherited:hover {
  border: transparent;
}

.umb-group-builder__property.-locked {
  border: transparent;
  animation: fadeIn 0.5s;
}

.umb-group-builder__property.-locked:hover {
  border: transparent;
}

.umb-group-builder__property.-sortable,
.umb-group-builder__property.-sortable-locked {
    min-height: 35px;
    border-radius: 5px;
    border: none;
    animation: none;
    align-items: center;
}

.umb-group-builder__property.-sortable {
  background: #E9E9E9;
  color: @grayDarker;
  cursor: move;
}

.umb-group-builder__property.-sortable-locked {
  background: @grayLighter;
  padding-left: 30px;
}


.umb-group-builder__property-meta {
  flex: 0 0 175px;
  margin-right: 20px;
}

.umb-group-builder__property-meta.-full-width {
  flex: 1;
}

.umb-group-builder__property-meta-alias {
  font-size: 10px;
  color: @gray;
  word-break: break-word;
  line-height: 1.5;
  margin-bottom: 5px;
}

.umb-group-builder__property-meta-label textarea {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0;
  color: @grayDarker;
  width: 100%;
  padding: 0;
  min-height: 25px;
  box-sizing: border-box;
  resize: none;
  overflow: hidden;
  border-color: transparent;
  background: transparent;
}

.umb-group-builder__property-meta-label textarea.ng-invalid {
   border: none;
}

.umb-group-builder__property-meta-description textarea {
  font-size: 12px;
  line-height: 1.5;
  color: @grayDark;
  margin-bottom: 0;
  padding: 0;
  width: 100%;
  min-height: 25px;
  box-sizing: border-box;
  resize: none;
  overflow: hidden;
  border-color: transparent;
  background: transparent;
}

.umb-group-builder__property-preview {
  flex: 1;
  height: 30px;
  overflow: hidden;
  position: relative;
  padding: 35px 10px 25px 10px;
  background: url("../img/checkered-background-20.png");
}

.umb-group-builder__property-preview:hover {
  cursor: pointer;
}

.umb-group-builder__property-preview:focus {
  outline: none;
}

.umb-group-builder__property-preview.-not-clickable:hover {
  cursor: auto;
}

.umb-group-builder__property-preview .help-inline {
    display:none !important;
}

.umb-group-builder__property-preview-label {
  font-size: 11px;
  position: absolute;
  top: 0;
  left: 0;
  text-transform: uppercase;
  z-index: 15;
  background: @grayLighter;
  padding: 3px;
  line-height: 12px;
  opacity: 0.8
}

.umb-group-builder__property-actions {
  flex: 0 0 40px;
  text-align: center;
  margin: 15px 0 0 15px;
}

.umb-group-builder__property-action {
  margin: 0 0 10px 0;
  display: block;
  font-size: 18px;
  position: relative;
  cursor: pointer;
}

.umb-group-builder__property-action:hover {
    color: @blueDark;
}

.umb-group-builder__property-tags {
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
}

.umb-group-builder__property-tags.-right {
    right: 0;
    left: auto;
}

.umb-group-builder__property-tag {
    font-size: 11px;
    background-color: @grayLight;
    margin-left: 10px;
    padding: 0 4px;
    display: flex;
}

.umb-group-builder__property-tag:first-child {
    margin-left: 0;
}

.umb-group-builder__property-tag.-white {
    background-color: @white;
}

.umb-group-builder__property-tag-icon {
    margin-right: 3px;
}


/* ---------- PLACEHOLDER BOX ---------- */

.umb-group-builder__placeholder-box {
  background: #E9E9E9;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  color: @blue;
}

.umb-group-builder__placeholder-box.-input {
  height: 10px;
  margin-bottom: 5px;
}

.umb-group-builder__placeholder-box.-input-small {
  height: 5px;
  margin-bottom: 5px;
  width: 25%;
}

.umb-group-builder__placeholder-box.-text-full-width {
  height: 3px;
  margin-bottom: 3px;
}

.umb-group-builder__placeholder-box.-text-short {
  height: 3px;
  margin-bottom: 3px;
  width: 75%;
}

/* ---------- SORTABLE ---------- */

.umb-group-builder__group-sortable-placeholder {
  background: transparent;
  border: 1px dashed @grayLight;
  margin: 0 0 70px 0;
  border-radius: 10px;
  border-radius: 5px;
}

.umb-group-builder__property_sortable-placeholder {
  background: transparent;
  border: 1px dashed @grayLight;
  margin-bottom: 5px;
  border-radius: 5px;
}

.umb-group-builder__no-data-text {
  padding-top: 50px;
  font-size: 16px;
  line-height: 1.8em;
  color: #ccc;
  text-align: center;
}


/* ---------- DIALOGS ---------- */

.umb-overlay .show-validation .ng-invalid-val-required-component .editor-placeholder {
   border-color: @red;
   color: @red;
}

.content-type-editor-dialog.edit-property-settings {

  .validation-wrapper {
    position: relative;
  }

  .validation-label {
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 12px;
    color: @red;
    transform: translate(0, -50%);
  }

  textarea.editor-label {
    border-color:transparent;
    box-shadow: none;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: bold;
    resize: none;
    line-height: 1.5em;
    padding-left: 0;
    border: none;
    &:focus {
      outline: none;
      box-shadow: none !important;
    }
  }

  .editor-placeholder {
    border: 1px dashed @grayLight;
    width: 100%;
    height: 80px;
    line-height: 80px;
    text-align: center;
    display: block;
    border-radius: 5px;
    color: @gray;
    font-weight: bold;
    font-size: 13px;
    color: @blue;
    &:hover {
      text-decoration: none;
    }
  }

  .editor {
    margin-bottom: 10px;
    .editor-icon-wrapper {
      border: 1px solid @grayLight;
      width: 60px;
      height: 60px;
      text-align: center;
      line-height: 60px;
      border-radius: 5px;
      float: left;
      margin-right: 20px;
      .icon {
        font-size: 26px;
      }
    }
    .editor-details {
      float: left;
      margin-top: 10px;
      .editor-name {
        display: block;
        font-weight: bold;
      }
      .editor-editor {
        display: block;
        font-size: 12px;
      }
    }
    .editor-settings-icon {
      font-size: 18px;
      margin-top: 8px;
   }
  }

  .checkbox {
    margin-bottom: 20px;
  }

  .editor-description,
  .editor-validation-pattern {
    min-width: 100%;
    min-height: 25px;
    resize: none;
    box-sizing: border-box;
    border: none;
    overflow: hidden;
  }

  .umb-dropdown {
    width: 100%;
  }

}
