.umb-querybuilder .row {
    font-size: 12px;
    line-height: 12px
}

.umb-querybuilder .row a.btn {
    padding: 5px 8px;
    margin: 0 5px;
    font-weight: bold;
    background-color: #f3f9ff;
    border: 1px solid #bfdff9;
    border-radius: 3px;
    text-align: center;
    display: inline-block;

}

.umb-querybuilder .row a.btn:hover {
    background: #e8f1fb;
    text-decoration: none;
}

.umb-querybuilder .row > div {
    padding: 20px 0;
    border-bottom: 1px solid @grayLighter;
}

.umb-querybuilder .datepicker input {
    width: 90px;
}

.umb-querybuilder .query-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.umb-querybuilder .query-items > *  {
    flex: 0 1 auto;
    margin: 5px;
}