.umb-color-swatches {
    display: flex;
    flex-flow: row wrap;

    .umb-color-box {
        .flex-center;
        border: 1px solid rgba(0, 0, 0, 0.15);
        color: @white;
        cursor: pointer;
        padding: 1px;
        text-align: center;
        text-decoration: none;
        margin: 5px;
        border-radius: 3px;
        width: 30px;
        height: 30px;
        transition: box-shadow .3s;

        &:hover,
        &:focus {
            .umb-box-shadow(1);
        }

        &--m {
            width: 40px;
            height: 40px;

            .check_circle {
                width: 25px;
                height: 25px;
            }
        }
    }

    &.with-labels {

        .umb-color-box {
            width: 130px;
            height: auto;
            display: flex;
            flex-flow: row wrap;
            border: 1px solid @gray-8;

            &__label {
                background: @white;
                font-size: 14px;
                padding: 5px;
                min-height: 35px;
                max-width: 100%;
                margin: auto -1px -3px;
                text-align: left;
                border-top: 1px solid @gray-8;
                border-bottom: 1px solid @gray-8;
                overflow: hidden;
                .border-bottom-radius(3px);
            }

            &__name {
                color: @black;
                font-weight: bold;
            }

            &__description {
                font-size: 12px;
                line-height: 1.5em;
                color: @gray-3;
            }
        }

        .umb-color-box-inner {
            display: flex;
            flex-flow: column wrap;
            flex: 0 0 100%;
            max-width: 100%;
            min-height: 80px;
            padding: 0;

            .check_circle {
                margin: 15px auto;
            }
        }
    }
}
