.umb-nav-tabs {
  position: absolute;
  z-index: 10;
}

.umb-nav-tabs.-padding-left {
  padding-left: 20px;
}

.umb-tab-content {
  padding-top: 20px;
  position: relative;
  top: 22px;
  border-top: 1px solid @grayLight;
}
