.umb-filter {
    position: relative;
}

.umb-filter .umb-filter__toggle {
    display: flex;
}

.umb-filter .umb-filter__label {
    margin-left: 5px;
    margin-right: 3px;
    max-width: 150px;
}

.umb-filter .pull-right.dropdown-menu{
    overflow-y: auto;
    max-height: 500px;
}
