

.umb-range-slider.noUi-target {
    background: linear-gradient(to bottom, @grayLighter 0%, @grayLighter 100%);
    box-shadow: none;
    border-radius: 20px;
    height: 8px;
    border: 1px solid @inputBorder;
    &:focus, &:focus-within {
        border-color: @inputBorderFocus;
    }
}
.umb-range-slider .noUi-connects {
    cursor: pointer;
    height: 20px;
    top: -6px;
}
.umb-range-slider .noUi-connect {
    background-color: @purple-washed;
    border: 1px solid @purple-l3;
}

.umb-range-slider .noUi-tooltip {
    padding: 2px 6px;
}
.umb-range-slider .noUi-handle {
    cursor: grab;
    border-radius: 100px;
    border: none;
    box-shadow: none;
    width: 20px !important;
    height: 20px !important;
    right: -10px !important; // half the handle width
    background-color: @blueExtraDark;
}
.umb-range-slider .noUi-horizontal .noUi-handle {
    top: -7px;
}

.umb-range-slider .noUi-handle::before {
    display: none;
}

.umb-range-slider .noUi-handle::after {
    display: none;
}

.umb-range-slider .noUi-marker-large.noUi-marker-horizontal {
    height: 10px;
}

.umb-range-slider .noUi-marker.noUi-marker-horizontal {
    width: 1px;
}
