.flatpickr-calendar.flatpickr-calendar {
    border-radius: @baseBorderRadius;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.16);
}

span.flatpickr-day {
    border-radius: @baseBorderRadius;
    border: none;
}

span.flatpickr-day:hover {
    background-color: @gray-10;
}

span.flatpickr-day.selected {
    background-color: @turquoise;
}

span.flatpickr-day.selected:hover {
    background-color: @turquoise-d1;
}