

.umb-range-slider.noUi-target {
    background: linear-gradient(to bottom, #f5f5f5 0%, #f9f9f9 100%);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    height: 10px;
    border: none;
}

.umb-range-slider .noUi-handle {
    border-radius: 100px;
    border: none;
    box-shadow: none;
    width: 20px !important;
    height: 20px !important;
    background-color: @blueMid;
}

.umb-range-slider .noUi-handle::before {
    display: none;
}

.umb-range-slider .noUi-handle::after {
    display: none;
}

.umb-range-slider .noUi-handle {
    right: -10px !important; // half the handle width
}

.umb-range-slider .noUi-marker-large.noUi-marker-horizontal {
    height: 10px;
}

.umb-range-slider .noUi-marker.noUi-marker-horizontal {
    width: 1px;
}
