.umb-breadcrumbs {
   list-style: none;
   margin-bottom: 0;
   margin-left: 0;
}

.umb-breadcrumbs__ancestor {
   display: inline-block;
}

.umb-breadcrumbs__ancestor-link,
.umb-breadcrumbs__ancestor-text {
   font-size: 11px;
   color: #555;
}

.umb-breadcrumbs__ancestor-link {
   text-decoration: underline;
}

.umb-breadcrumbs__ancestor-link:hover {
   color: #000;
}

.umb-breadcrumbs__seperator {
   position: relative;
   top: 1px;
   margin-left: 5px;
   margin-right: 5px;
   color: #ccc;
}
