.umb-nested-content {
    text-align: center;
    position: relative;
}

.umb-nested-content-property-container {
    position: relative;
    &:not(:last-child){
        margin-bottom: 12px;
    }
}

.umb-nested-content--not-supported {
    opacity: 0.3;
    pointer-events: none;
}

.umb-nested-content-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.umb-nested-content__item {
    position: relative;
    text-align: left;
    border-top: solid 1px transparent;
    background: @white;
}

.umb-nested-content__item--active:not(.umb-nested-content__item--single) {
    background: @gray-10;
}

.umb-nested-content__item.ui-sortable-placeholder {
    background: @gray-10;
    border: 1px dashed @gray-8;
    visibility: visible !important;
    height: 55px;
    margin-top: -1px;
}

.umb-nested-content__item--single > .umb-nested-content__content {
    border: 0;
}

.umb-nested-content__item--single > .umb-nested-content__content > .umb-pane {
    margin: 0;
}

.umb-nested-content__header-bar {
    padding: 15px 20px;
    border-bottom: 1px dashed @gray-8;
    text-align: right;
    cursor: pointer;
    background-color: @white;

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.umb-nested-content__heading {
    line-height: 20px;
    position: relative;

    &.-with-icon {
        padding-left: 20px;
    }

    i {
        color: @gray-2;
        position: absolute;
        left: 0;
    }

    .umb-nested-content__item-name {
        max-height: 20px;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
    }
}

.umb-nested-content__icons {
    opacity: 0;
    transition: opacity .15s ease-in-out;
    position: absolute;
    right: 0px;
    top: 2px;
    background-color: @white;
    padding: 5px;

    &:before {
        content: ' ';
        position: absolute;
        display: block;
        width: 30px;
        left: -30px;
        top: 0;
        bottom: 0;
        background: linear-gradient(90deg, rgba(255,255,255,0), white);
    }
}


.umb-nested-content__header-bar:hover .umb-nested-content__icons,
.umb-nested-content__item--active > .umb-nested-content__header-bar .umb-nested-content__icons {
    opacity: 1;
}

.umb-nested-content__icon,
.umb-nested-content__icon.umb-nested-content__icon--disabled:hover {
    display: inline-block;
    padding: 4px 6px;
    margin: 2px;
    cursor: pointer;
    background: @white;
    border: 1px solid @gray-7;
    border-radius: 200px;
    text-decoration: none !important;
}
.umb-nested-content__icon.umb-nested-content__icon--disabled:hover {
    cursor: default;
}

.umb-nested-content__icon:hover,
.umb-nested-content__icon--active
{
    color: @white;
    background: @blueMid;
    border-color: @blueMid;
    text-decoration: none;
}

.umb-nested-content__icon .icon,
.umb-nested-content__icon.umb-nested-content__icon--disabled:hover .icon {
    display: block;
    font-size: 16px !important;
    color: @gray-3;
}

.umb-nested-content__icon:hover .icon,
.umb-nested-content__icon--active .icon {
    color: @white;
}

.umb-nested-content__icon--disabled {
    opacity: 0.3;
}


.umb-nested-content__footer-bar {
    text-align: center;
    padding-top: 20px;
}

.umb-nested-content__content {
    border-bottom: 1px dashed @gray-8;
}

.umb-nested-content__content .umb-control-group {
    padding-bottom: 0;
}

.umb-nested-content__item.ui-sortable-helper .umb-nested-content__content {
    display: none !important;
}

.umb-nested-content__help-text {
    display: inline-block;
    padding: 10px 20px 10px 20px;
    clear: both;
    font-size: 14px;
    color: @gray-3;
    background: @gray-10;
    border-radius: 15px;
}

.umb-nested-content__doctypepicker table input, 
.umb-nested-content__doctypepicker table select {
    width: 100%;
    padding-right: 0;
}

.umb-nested-content__doctypepicker table td.icon-navigation, 
.umb-nested-content__doctypepicker i.umb-nested-content__help-icon {
    vertical-align: middle;
    color: @gray-7;
}

.umb-nested-content__doctypepicker table td.icon-navigation:hover, 
.umb-nested-content__doctypepicker i.umb-nested-content__help-icon:hover {
    color: @gray-2;
}

.umb-nested-content__doctypepicker i.umb-nested-content__help-icon {
    margin-left: 10px;
}

.form-horizontal .umb-nested-content--narrow .controls-row
{
    margin-left: 40% !important;
}

.form-horizontal .umb-nested-content--narrow .controls-row .umb-textstring,
.form-horizontal .umb-nested-content--narrow .controls-row .umb-textarea
{
    width: 95%;
}

.form-horizontal .umb-nested-content--narrow .controls-row .umb-dropdown {
    width: 99%;
}

// this resolves the layout issue introduced in nested content in 7.12 with the addition of the input for link anchors
// the attribute selector ensures the change only applies to the linkpicker overlay
.form-horizontal .umb-nested-content--narrow [ng-controller*="Umbraco.Overlays.LinkPickerController"] .controls-row {
    margin-left:0!important;
    
    .umb-textarea, .umb-textstring {
        width:100%;
    }
}
