.umb-editor-toolbar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  height: 25px;
}

.umb-editor-toolbar__tool {
  margin-left: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.umb-editor-toolbar__tool-icon {
   font-size: 20px;
   margin-right: 5px;
}
