.umb-property-editor {
    position: relative;
}

.umb-property-editor__view{
    z-index: 1;
    position: relative;
}

.umb-property-editor__overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    user-select: none;
    z-index: 2;
}