.umb-progress-bar {
    background: @grayLight;
    width: 100%;
    display: block;
    height: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.umb-progress-bar__progress {
    background: #50C878;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    border-radius: 10px;
}
