@checkboxWidth: 15px;
@checkboxHeight: 15px;

.umb-checkbox-list {
  list-style: none;
  margin-left: 0;
}

.umb-checkbox-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}

.umb-checkbox-list__item:last-child {
    border-bottom: none;
}

.umb-checkbox-list__item:hover {
    background-color: @gray-10;
}

.umb-checkbox-list__item.-selected,
.umb-checkbox-list__item.-disabled {
    background-color: @gray-10;
    font-weight: bold;
}

.umb-checkbox-list__item-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 30px;
  margin-right: 5px;
}

.umb-checkbox-list__item-icon {
  margin-right: 5px;
  font-size: 16px;
}

.umb-checkbox-list__item-text {
  font-size: 14px;
  margin-bottom: 0;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.umb-checkbox-list__item-text.-faded {
    opacity: 0.5;
}

.umb-checkbox-list__item.-disabled .umb-checkbox-list__item-text  {
    cursor: not-allowed;
}

.umb-checkbox-list__item-caption {
    font-size: 12px;
    margin-left: 2px;
}

.umb-checkbox-list__no-data {
  text-align: center;
  padding-top: 50px;
  color: @gray-7;
  font-size: 16px;
  line-height: 1.8em;
}


/* Styling for the .umb-checkboxlist class - Styling added 28-10-2018 using BEM syntax */
.umb-checkboxlist{

    ul{
        float: left;
    }

    &__item{
        line-height: 1;
        margin: 0 0 5px;
    }

    &__label{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        padding: 0;
        margin: 0;

        &-text{
            margin: 0 0 0 26px;
            position: relative;
            top: 2px;
        }
    }

    &__input{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;

        &:focus ~ .umb-checkboxlist__state .umb-checkboxlist__check{
            border-color: @gray-5;
        }

        &:checked ~ .umb-checkboxlist__state .umb-checkboxlist__check{
            &:before{
                width: @checkboxWidth;
                height: @checkboxHeight;
            }
        }

        &:checked ~ .umb-checkboxlist__state .umb-checkboxlist__icon{
            opacity: 1;
        }
    }

    &__state{
        height: 17px;
        position: absolute;
        top: 2px;
        left: 0;
    }

    &__check{
        position: relative;
        border: 1px solid @gray-7;
        width: @checkboxWidth;
        height: @checkboxHeight;

        &:before{
            content: "";
            background: @green;
            width: 0;
            height: 0;
            transition: .05s ease-out;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
        }
    }

    &__icon{
        color: @white;
        text-align: center;
        font-size: 10px;
        opacity: 0;
        transition: .2s ease-out;

        &:before{
            position: absolute;
            top: -2px;
            right: 0;
            left: 0;
            bottom: 0;
            margin: auto;
        }
    }
}
