.umb-panel-group {
    &__details {
        border-radius: 3px;
        margin-bottom: 40px;
    }

    &__details-group {
        background: @white;
        border-radius: @baseBorderRadius;
        .umb-box-shadow(0);
    }

    &__details-group-title {
        background-color: @blueExtraDark;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 3px 3px 0 0;
    }

    &__details-group-name {
        font-size: 16px;
        color: @white;
        font-weight: bold;
    }

    &__details-checks {
        border-top: none;
        border-radius: 0 0 3px 3px;
        background: @white;
    }

    &__details-check {
        position: relative;
    }

    &__details-check-title {
        padding: 15px 20px;
    }

    &__details-check-name {
        font-size: 15px;
        color: @black;
        font-weight: bold;
        margin-bottom: 3px;
    }

    &__details-check-description {
        font-size: 13px;
        color: @gray-3;
        line-height: 1.6em;
    }

    &__details-status {
        padding: 15px 0;
        display: flex;
        border-top: 2px solid @gray-10;

        &:last-child {
            border-bottom: none;
        }
    }

    &__details-status-overlay {
        background: @white;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0.9;
    }

    &__details-status-icon-container {
        flex: 0 0 50px;
        display: flex;
        justify-content: center;
        padding: 0 20px;
    }

    &__details-status-content {
        padding: 0 20px;
        flex: 1 1 auto;
    }

    &__details-status-text {
        line-height: 1.6em;
    }

    &__details-status-actions {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

    &__details-status-action {
        background-color: @gray-10;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 3px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__details-status-action-description {
        margin-top: 5px;
        font-size: 12px;
        padding-left: 165px;
    }
}
