<div ng-controller="Umbraco.PropertyEditors.GridController" class="usky-grid">

<div ng-if="contentReady">
    <!-- Template picker -->
    <div class="uSky-templates tb" ng-show="!model.value || model.value == ''">
        <div class="tr">
            <div class="td middle">
                <div class="uSky-templates-template"
                    ng-repeat="template in model.config.items.templates" style="">
                    <div class="tb" ng-click="addTemplate(template)">
                        <div class="tr">
                            <div class="td uSky-templates-column"
                                ng-class="{last:$last}"
                                ng-repeat="section in template.sections"
                                style="width:{{ section.$percentage }}%">
                            </div>
                        </div>
                    </div>
                </div>

                <br/>
                <div class="help-text">To start, select a layout for your grid</div>
            </div>
        </div>
    </div>
    <!-- template picker end -->

    <!-- Grids -->
    <div class="usky-grid-width">
        <div class="tb" >

            <!-- for each column in model -->
            <div class="usky-column td"
                 ng-class="{last:$last}"
                 ng-repeat="section in model.value.sections"
                 ng-init="initSection(section)"
                 style="width:{{section.$percentage}}%">

                <div ui-sortable="sortableOptions" ng-model="section.rows">

                    <!-- for each row in template section -->
                    <div ng-repeat="row in section.rows"
                         class="usky-row"
                         ng-mouseover="setCurrentRow(row)"
                         ng-mouseleave="disableCurrentRow()"
                         ng-class="{'selectedControl':currentRow == row && currentControl === null}">

                        <!-- Row tool -->
                        <div class="row-tools" ng-animate="'fade'" ng-if="currentRow == row && currentControl === null">

                            <!-- delete row -->
                            <div class="cell-tools-remove">
                                <div class="iconBox"
                                     ng-click="deletePrompt = true"
                                     ng-mouseover="setCurrentRemoveControl(row)"
                                     ng-mouseover="disableCurrentRemoveControl(row)">

                                    <span ng-if="deletePrompt">
                                        Are you sure?
                                        <a href style="text-decoration: underline" ng-click="removeRow(section, $index)">Yes</a>
                                    </span>

                                    <i ng-if="!deletePrompt" class="icon icon-trash"></i>
                                </div>
                            </div>

                            <div class="cell-tools-move">
                                <div class="iconBox"
                                     ng-mouseover="setCurrentMovedRow(row)"
                                     ng-mouseleave="disableCurrentMovedRow(row)">
                                    <i class="icon icon-navigation"></i>
                                </div>
                            </div>
                        </div>

                        <!-- row container -->
                        <div class="{{row.cssClass}} mainContainer usky-row-inner"
                             ng-class="{last:$last,first:$first,warnhighlight:currentRemoveControl == row, infohighlight:currentMovedRow == row}">
                            <div class="mainTb">
                                <div class="tb">
                                    <div class="tr">

                                        <!-- cells in row -->
                                        <div style="width:{{ area.$percentage }}%"
                                             ng-class="{last:$last,first:$first}"
                                             class="td mainTd usky-cell"
                                             ng-repeat="area in row.areas" ui-sortable="sortableOptionsCell" ng-model="area.controls">

                                            <!-- if area is empty tools -->
                                            <div class="usky-control usky-control-placeholder"
                                                 ng-if="area.controls.length == 0">

                                                <div ng-if="area.allowed && area.allowed.length === 1"
                                                     ng-init="singleEditor = area.$allowedEditors[0]"
                                                     class="cell-tools-add-single single-editor-{{singleEditor.alias}}">

                                                     <div class="help-text" style="margin-bottom: 15px">
                                                            To start, click the <i class=" icon {{singleEditor.icon}} blue">
                                                        </i> below and add your first {{singleEditor.name}}
                                                     </div><br/>

                                                     <div class="iconBox">
                                                        <a href ng-click="addControl(singleEditor, area)">
                                                            <i class="icon {{singleEditor.icon}}"></i>
                                                        </a>
                                                    </div>
                                                </div>


                                                <div ng-if="!area.allowed || area.allowed.length > 1">

                                                    <div class="help-text" style="margin-bottom: 15px">
                                                           To start, click the <i class=" icon icon-add blue">
                                                       </i> below and add your first element
                                                    </div><br/>


                                                    <div class="cell-tools-add"
                                                        ng-if="!currentToolsControl"
                                                        ng-animate="'fade'">

                                                        <div class="iconBox">
                                                            <a href ng-click="addItemOverlay($event, area, 0, area.$uniqueId);">
                                                                <i class=" icon icon-add"></i>
                                                            </a>
                                                        </div>

                                                        <div ng-if="overlayMenu.show && overlayMenu.key == area.$uniqueId" ng-include="'views/propertyeditors/grid/dialogs/additem.html'"></div>

                                                    </div>
                                                </div>

                                            </div>

                                            <!-- Controls in cell -->
                                            <div ng-repeat="control in area.controls"
                                                 ng-mouseover="setCurrentControl(control)"
                                                 ng-mouseleave="disableCurrentControl(control)"
                                                 ng-animate="'fade'"
                                                 class="usky-control">

                                                <!-- Filled cell tools -->
                                                <div class="cell-tools"
                                                     ng-animate="'fade'"
                                                     ng-show="control && (currentControl == control)">

                                                    <!-- delete cell -->
                                                    <div class="cell-tools-remove">
                                                        <div class="iconBox"
                                                             ng-click="deletePrompt = true"
                                                             ng-mouseover="setCurrentRemoveControl(control)"
                                                             ng-mouseleave="disableCurrentRemoveControl(control)">

                                                                <span ng-show="deletePrompt">
                                                                    Are you sure?
                                                                    <a href style="text-decoration: underline" ng-click="removeControl(area, $index)">Yes</a>
                                                                </span>

                                                                <i ng-show="!deletePrompt" class="icon icon-trash"></i>
                                                        </div>
                                                    </div>

                                                    <!-- move cell -->
                                                    <div class="cell-tools-move">
                                                        <div class="iconBox"
                                                             ng-mouseover="setCurrentMovedControl(control)"
                                                             ng-mouseleave="disableCurrentMovedControl(control)">
                                                            <i class="icon icon-navigation"></i>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="usky-control-inner" ng-class="{last:$last,
                                                               infohighlight:currentMovedControl == control,
                                                               warnhighlight:currentRemoveControl == control,
                                                               selectedControl:currentControl == control}">
                                                    <!-- Redering the editor for specific control -->
                                                    <div ng-if="control && control.$editorPath"
                                                         ng-include="control.$editorPath"
                                                         class="usky-cell usky-cell-{{control.editor.view}}">
                                                    </div>
                                                </div>

                                                <!-- add stuff -->
                                                <div class="cell-tools-add"
                                                    ng-show="!currentToolsControl && control===currentControl && (area.max === undefined || area.max < area.controls.length)"
                                                    ng-animate="'fade'">

                                                    <div class="iconBox">
                                                        <a href ng-click="addItemOverlay($event, area, control.$index, control.$uniqueId)">
                                                            <i class=" icon icon-add"></i>
                                                        </a>
                                                    </div>

                                                    <div ng-show="overlayMenu.show && overlayMenu.key == control.$uniqueId" ng-include="'views/propertyeditors/grid/dialogs/additem.html'"></div>
                                                </div>

                                            </div>
                                            <!-- Controls repeat end -->

                                        </div>
                                        <!-- cells repeat end -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- row container end -->

                    </div>
                    <!-- row repeat -->

                </div>
                <!-- row sortable end -->
                <!-- column tools -->
                <div class="usky-templates-columns tb">

                    <div class="tr">
                        <div class="td middle">
                            <ul>
                                <li ng-repeat="layout in  section.$allowedLayouts" ng-show="layout.areas.length > 0">
                                    <div class="tb mainTbpt" ng-click="addRow(section, layout)">
                                        <div class="tr">
                                            <div style="width:{{ percentage(area.grid); }}%"
                                                 class="middle mainTdpt td"
                                                 ng-repeat="area in layout.areas">
                                                <i class="icon {{cellPreview(area)}}"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <small>{{layout.name}}</small>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="tr">
                        <div class="td middle">
                            <br />
                            <span class="help-text">Add rows to your layout</span>
                        </div>
                    </div>
                </div>
                <!-- column tools end -->

            </div>
            <!-- column repeat end -->
        </div>
    </div>
</div>

</div>



