.umb-tree-root {
  border: 2px solid transparent;

  &-link {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 20px;
    color: @gray-2;
    height: @editorHeaderHeight;
  }

  h1, h5 {
    margin: 0;
    flex: 1;
  }

  h1 {
    font-size: @baseFontSize;
    font-weight: 700;
    width: 100%;
    display: flex;
  }

  .umb-options {
    align-self: center;
  }
}
