<?xml version="1.0" encoding="utf-8" ?>
<dashBoard>

  <section>
    <access>
      <deny>translator</deny>
    </access>
    
    <areas>
      <area>default</area>
      <area>content</area>
    </areas>

    <tab caption="Last Edits">
      <control>
        /umbraco/dashboard/latestEdits.ascx
        <access>
          <grant>writer</grant>
          <grant>editor</grant>
          <deny>administrator</deny>
        </access>
      </control>
    </tab>
    <tab caption="Hidden from all but admins">
      <access>
        <grant>administrator</grant>
        <grant>writer</grant>
      </access>
      <control>
        <access>
          <deny>writer</deny>
        </access>
        /umbraco/dashboard/latestEdits.ascx
      </control>
    </tab>
    <tab caption="Only for devs">
      <access>
        <grant>administrator</grant>
        <grantBySection>settings</grantBySection>
        <deny>writer</deny>
      </access>
      <control>
        <access>
          <grant>administrator</grant>
          <grant>writer</grant>
        </access>
        /umbraco/dashboard/latestEdits.ascx
      </control>
    </tab>

  </section>

</dashBoard>
