<?xml version="1.0" encoding="utf-8" ?> 
<dashBoard>
<!--
	<section>
	<areas>
		<area>default</area>
		<area>content</area>
	</areas>

	<tab caption="Last Edits">
		<control>/usercontrols/dashboard/latestEdits.ascx</control>
	</tab>
	<tab caption="Latest Items">
		<control>/usercontrols/dashboard/newestItems.ascx</control>
	</tab>
	<tab caption="Create blog post">
		<control>/usercontrols/umbracoBlog/dashboardBlogPostCreate.ascx</control>
	</tab>
</section>
-->
</dashBoard>
