<?xml version="1.0"?>
<!-- 
Umbraco examine is an extensible indexer and search engine.
This configuration file can be extended to add your own search/index providers.
Index sets can be defined in the ExamineIndex.config if you're using the standard provider model.

More information and documentation can be found on CodePlex: http://umbracoexamine.codeplex.com
--> 
<UmbracoExamine>  
  <ExamineIndexProviders enableDefaultEventHandler="true">
    <providers>
      <add name="InternalIndex" type="UmbracoExamine.Providers.LuceneExamineIndexer, UmbracoExamine.Providers"
           indexSet="Default"
           enabled="true"
           debug="false"
           supportUnpublished="true"
           analyzer="Lucene.Net.Analysis.WhitespaceAnalyzer, Lucene.Net"/>
      
      <!-- This is an example of an index provider created for the Creative Website Starter kit 
      <add name="CWSIndex" type="UmbracoExamine.Providers.LuceneExamineIndexer, UmbracoExamine.Providers"
           indexSet="CWSIndex"
           enabled="false"
           debug="false"/>
        -->
    </providers>
  </ExamineIndexProviders>
  <ExamineSearchProviders defaultProvider="InternalSearch">
    <providers>
      <add name="InternalSearch" type="UmbracoExamine.Providers.LuceneExamineSearcher, UmbracoExamine.Providers"
           indexSet="Default"
           analyzer="Lucene.Net.Analysis.WhitespaceAnalyzer, Lucene.Net"/>

      <!-- This is an example of a search provider created for the Creative Website Starter kit
      <add name="CWSIndex" type="UmbracoExamine.Providers.LuceneExamineSearcher, UmbracoExamine.Providers"
           indexSet="CWSIndex"/>
      -->
    </providers>
  </ExamineSearchProviders>
</UmbracoExamine>
