<?xml version="1.0" encoding="utf-8"?>
<RestExtensions>
  <!--
	<ext assembly="/bin/umbraco" type="umbraco.presentation.umbracoBase.library.member" alias="currentMember">
    <permission method="login" allowAll="true" />
    <permission method="logout" allowAll="true" />
    <permission method="id" allowAll="true" />
    <permission method="data" allowAll="true" />
    <permission method="logout" allowAll="true" />
    <permission method="setProperty" allowAll="false" />
  </ext>
-->
  <ext assembly="Umlaut.Umb.Blog" type="Umlaut.Umb.Blog.Library.Base" alias="Blog4Umbraco">
    <permission method="CreateComment" returnXml="false" allowAll="true" />
    <permission method="GetGravatarImage" returnXml="false" allowAll="true" />
  </ext>
</RestExtensions>