<div ng-controller="Umbraco.Editors.StyleSheets.CreateController as vm">

    <div class="umbracoDialog umb-dialog-body with-footer" ng-cloak>

        <div class="umb-pane">
            <h5><localize key="create_createUnder">Create an item under</localize> {{currentNode.name}}</h5>

            <ul class="umb-actions umb-actions-child">
                <li class="umb-action">
                    <a href="" class="umb-action-link" umb-auto-focus ng-click="vm.createFile()">
                        <i class="large icon icon-script"></i>
                        <span class="menu-label"><localize key="create_newStyleSheetFile">New style sheet file</localize></span>
                    </a>
                </li>
                <li class="umb-action">
                    <a href="" ng-click="vm.createRichtextStyle()" class="umb-action-link">
                        <i class="large icon icon-script"></i>
                        <span class="menu-label"><localize key="create_newRteStyleSheetFile">New richtext style sheet file</localize></span>
                    </a>
                </li>
            </ul>

        </div>

    </div>

    <div class="umb-dialog-footer btn-toolbar umb-btn-toolbar">
        <button class="btn btn-info" ng-click="vm.close()">
            <localize key="buttons_somethingElse">Do something else</localize>
        </button>
    </div>

</div>