<div class="umb-editor umb-radiobuttons" ng-controller="Umbraco.PropertyEditors.RadioButtonsController">
    <ul class="unstyled">
        <li ng-repeat="item in model.config.items">
            <label class="radio">
                <input type="radio" name="radiobuttons-{{model.alias}}"
                       value="{{item.id}}"
                       ng-model="model.value" />
                {{item.value}}
                    <div class="umb-radiobuttons__check">
                        <i class="umb-radiobuttons__icon icon-check" aria-hidden="true"></i>
                    </div>
            </label>
        </li>
    </ul>
</div>