<div id="dialog"
     class="umb-modalcolumn fill shadow"
     on-outside-click="outSideClick()"
     role="dialog"
     aria-labelledby="contextdialog-title"
     aria-describedby="contextdialog-description">
    <div class="umb-modalcolumn-header">
        <h2 id="contextdialog-title">{{dialogTitle}}</h2>
        <p id="contextdialog-description" class="sr-only">
            <localize key="visuallyHiddenTexts_contextDialogDescription" tokens="[dialogTitle,currentNode.name]">Perform action {{dialogTitle}} on the {{currentNode.name}} node</localize>
        </p>
    </div>
    <div class="umb-modalcolumn-body" ng-include="view"></div>
</div>
