.umb-tooltip-list {
   list-style: none;
   margin-left: 0;
   margin-bottom: 0;
   padding: 10px;
}

.umb-tooltip-list__item {
   margin-bottom: 5px;
}

.umb-tooltip-list__item:last-child {
   margin-bottom: 0;
}

.umb-tooltip-list__item-label {
   font-weight: bold;
   margin-bottom: -3px;
}
