.umb-tooltip {
   position: fixed;
   display: flex;
   background: @white;
   padding: 10px;
   z-index: 1000;
   max-width: 200px;
   font-size: 12px;
   animation-duration: 0.1s;
   animation-timing-function: ease-in;
   animation: fadeIn;
   margin-top: 15px;
   pointer-events: none;
   border-radius: 3px;
}
