<div class="umb-editor umb-mediapicker" 
	ng-controller="Umbraco.PropertyEditors.ImageCropperController">
    
	<span class="fileinput-button umb-upload-button-big"
	    style="margin-bottom: 5px;"
	    ng-hide="imageSrc">
	    <i class="icon icon-page-up"></i>
	    <p><localize key="media_clickToUpload">Click to upload</localize></p>
	    <umb-single-file-upload></umb-single-file-upload>
	</span>
	
	<div ng-if="imageSrc">
		<div style="border-bottom: 1px solid #f8f8f8; padding-bottom: 10px; margin-bottom: 15px;">
			<div ng-if="currentCrop">
				<div style="margin-bottom: 10px">
					<umb-image-crop
					 height="{{currentCrop.height}}"
					 width= "{{currentCrop.width}}" 
					 crop="currentCrop.coordinates"
					 center="model.value.focalPoint"
					 src="imageSrc" />
				</div>
				
				<a href class="btn btn-success" ng-click="done()">Done</a>
			</div>

			<div ng-if="!currentCrop">
				<div>
					<umb-image-gravity 
						src="imageSrc" 
						center="model.value.focalPoint" />
				</div>
				
				<a href class="btn btn-link" ng-click="clear()"><i class="icon-delete red"></i> Remove file</a></li>
				<a href class="btn btn-link" ng-click="togglePreviews()"><i class="icon-picture"></i> Toggle crop previews</a></li>
				
			</div>
		</div>		

		<ul ng-animate="'fade'" class="umb-sortable-thumbnails" ng-if="showPreviews || tempShowPreviews">
			<li class="tipmenu" ng-repeat="(key,value) in model.value.crops">
				<a href ng-click="crop(value)">
					<umb-image-thumbnail
						center="model.value.focalPoint"
						crop="value.coordinates"
						src="imageSrc"
						height="{{value.height}}"
						width="{{value.width}}" />
				</a>

				<div class="tooltip bottom" ng-if="value.coordinates">
					<div class="tooltip-arrow"></div>
					<div class="tooltip-inner">
						<a href ng-click="value.coordinates = undefined">Reset</a>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>