<div class="umbracoDialog umb-dialog-body with-footer" ng-controller="Umbraco.Editors.RelationTypes.CreateController as vm" ng-cloak>
    <div class="umb-pane">
        <form novalidate name="createRelationTypeForm" val-form-manager>
            <!-- Name -->
            <umb-control-group label="Name">
                <input type="text" name="relationTypeName" class="umb-textstring textstring input-block-level" umb-auto-focus required />
            </umb-control-group>

            <!-- Direction -->
            <umb-control-group label="Direction">
                <ul class="unstyled">
                    <li>
                        <label class="radio">
                            <input type="radio" name="relationType-direction" ng-value="false">
                            Parent to child
                        </label>
                    </li>
                    <li>
                        <label class="radio">
                            <input type="radio" name="relationType-direction" ng-value="true">
                            Bidirectional
                        </label>
                    </li>
                </ul>
            </umb-control-group>

            <!-- Parent -->
            <umb-control-group label="Parent">
                <select name="relationType-parent" class="umb-property-editor umb-dropdown">
                    <option>Document</option>
                    <option>Media</option>
                    <option>Member</option>
                    <option>Media Type</option>
                    <option>Member Type</option>
                    <option>Document Type</option>
                </select>
            </umb-control-group>

            <!-- Child -->
            <umb-control-group label="Child">
                <select name="relationType-child" class="umb-property-editor umb-dropdown">
                    <option>Document</option>
                    <option>Media</option>
                    <option>Member</option>
                    <option>Media Type</option>
                    <option>Member Type</option>
                    <option>Document Type</option>
                </select>
            </umb-control-group>

            <button type="submit" class="btn btn-primary">
                <localize key="general_create">Create</localize>
            </button>
        </form>
    </div>
</div>

<div class="umb-dialog-footer btn-toolbar umb-btn-toolbar">
    <button class="btn btn-info">
        <localize key="buttons_somethingElse">Do something else</localize>
    </button>
</div>
