<div>
    <ng-form name="mediapickerViewOrderDirectionForm" class="flex">
        <ul class="inline">
            <li class="-no-padding-left">
                <umb-radiobutton name="orderDirection"
                                 value="asc"
                                 model="model.value"
                                 text="Ascending [a-z]"
                                 required="true">
                </umb-radiobutton>
            </li>
            <li>
                <umb-radiobutton name="orderDirection"
                                 value="desc"
                                 model="model.value"
                                 text="Descending [z-a]"
                                 required="true">
                </umb-radiobutton>
            </li>
        </ul>
    </ng-form>
</div>
