.umb-mediapicker3 {
    .umb-property-editor--limit-width();

    .umb-media-card-grid {
        padding: 20px;
        border: 1px solid @inputBorder;
        box-sizing: border-box;

        &.--singleMode {
            max-width: 202px;
        }
    }
}

umb-media-picker3-property-editor[readonly] {
    .umb-mediapicker3 {
        .umb-media-card-grid {
            border-color: @inputReadonlyBorderColor;
        }
    }
}

.umb-mediapicker3 {
    .dropzone {
        position: relative;
    
        .drop-overlay {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            padding: 12px;
            background-color: rgba(27,38,79,.2);
            z-index: 1;
            backdrop-filter: blur(0px);
            opacity: 0;
            pointer-events: none;
            transition: backdrop-filter 200ms ease-in-out, opacity 200ms ease-in-out;
            margin: -1px;
        }
        
        &.drag-over {
            .drop-overlay {
                backdrop-filter: blur(2px);
                opacity: 1;
                pointer-events: all;
                border: 2px solid @blueExtraDark;
            }
        }
    };
}



