.umb-mediapicker3 {
    .umb-property-editor--limit-width();

    .umb-media-card-grid {
        padding: 20px;
        border: 1px solid @inputBorder;
        box-sizing: border-box;

        &.--singleMode {
            max-width: 202px;
        }
    }
}
