CREATE TABLE [umbracoUserType] (
  [id] int NOT NULL  IDENTITY (5,1)
, [userTypeAlias] nvarchar(50) NULL
, [userTypeName] nvarchar(255) NOT NULL
, [userTypeDefaultPermissions] nvarchar(50) NULL
);
GO
CREATE TABLE [umbracoUser2NodePermission] (
  [userId] int NOT NULL
, [nodeId] int NOT NULL
, [permission] nchar(1) NOT NULL
);
GO
CREATE TABLE [umbracoUser2NodeNotify] (
  [userId] int NOT NULL
, [nodeId] int NOT NULL
, [action] nchar(1) NOT NULL
);
GO
CREATE TABLE [umbracoUser] (
  [id] int NOT NULL  IDENTITY (1,1)
, [userDisabled] bit NOT NULL DEFAULT (0)
, [userNoConsole] bit NOT NULL DEFAULT (0)
, [userType] int NOT NULL
, [startStructureID] int NOT NULL
, [startMediaID] int NULL
, [userName] nvarchar(255) NOT NULL
, [userLogin] nvarchar(125) NOT NULL
, [userPassword] nvarchar(125) NOT NULL
, [userEmail] nvarchar(255) NOT NULL
, [userDefaultPermissions] nvarchar(50) NULL
, [userLanguage] nvarchar(10) NULL
, [defaultToLiveEditing] bit NOT NULL DEFAULT (0)
);
GO
CREATE TABLE [umbracoUser2app] (
  [user] int NOT NULL
, [app] nvarchar(50) NOT NULL
);
GO
CREATE TABLE [umbracoRelationType] (
  [id] int NOT NULL  IDENTITY (2,1)
, [dual] bit NOT NULL
, [parentObjectType] uniqueidentifier NOT NULL
, [childObjectType] uniqueidentifier NOT NULL
, [name] nvarchar(255) NOT NULL
, [alias] nvarchar(100) NULL
);
GO
CREATE TABLE [umbracoRelation] (
  [id] int NOT NULL  IDENTITY (1,1)
, [parentId] int NOT NULL
, [childId] int NOT NULL
, [relType] int NOT NULL
, [datetime] datetime NOT NULL DEFAULT (getdate())
, [comment] nvarchar(1000) NOT NULL
);
GO
CREATE TABLE [umbracoNode] (
  [id] int NOT NULL  IDENTITY (1073,1)
, [trashed] bit NOT NULL DEFAULT (0)
, [parentID] int NOT NULL
, [nodeUser] int NULL
, [level] int NOT NULL
, [path] nvarchar(150) NOT NULL
, [sortOrder] int NOT NULL
, [uniqueID] uniqueidentifier NULL
, [text] nvarchar(255) NULL
, [nodeObjectType] uniqueidentifier NULL
, [createDate] datetime NOT NULL DEFAULT (getdate())
);
GO
CREATE TABLE [umbracoLog] (
  [id] int NOT NULL  IDENTITY (103,1)
, [userId] int NOT NULL
, [NodeId] int NOT NULL
, [Datestamp] datetime NOT NULL DEFAULT (getdate())
, [logHeader] nvarchar(50) NOT NULL
, [logComment] nvarchar(4000) NULL
);
GO
CREATE TABLE [umbracoLanguage] (
  [id] int NOT NULL  IDENTITY (2,1)
, [languageISOCode] nvarchar(10) NULL
, [languageCultureName] nvarchar(100) NULL
);
GO
CREATE TABLE [umbracoDomains] (
  [id] int NOT NULL  IDENTITY (1,1)
, [domainDefaultLanguage] int NULL
, [domainRootStructureID] int NULL
, [domainName] nvarchar(255) NOT NULL
);
GO
CREATE TABLE [umbracoAppTree] (
  [treeSilent] bit NOT NULL DEFAULT (0)
, [treeInitialize] bit NOT NULL DEFAULT (1)
, [treeSortOrder] tinyint NOT NULL
, [appAlias] nvarchar(50) NOT NULL
, [treeAlias] nvarchar(150) NOT NULL
, [treeTitle] nvarchar(255) NOT NULL
, [treeIconClosed] nvarchar(255) NOT NULL
, [treeIconOpen] nvarchar(255) NOT NULL
, [treeHandlerAssembly] nvarchar(255) NOT NULL
, [treeHandlerType] nvarchar(255) NOT NULL
, [action] nvarchar(255) NULL
);
GO
CREATE TABLE [umbracoApp] (
  [sortOrder] tinyint NOT NULL DEFAULT (0)
, [appAlias] nvarchar(50) NOT NULL
, [appIcon] nvarchar(255) NOT NULL
, [appName] nvarchar(255) NOT NULL
, [appInitWithTreeAlias] nvarchar(255) NULL
);
GO
CREATE TABLE [Comment] (
  [id] int NOT NULL  IDENTITY (1,1)
, [mainid] int NOT NULL
, [nodeid] int NOT NULL
, [name] nvarchar(250) NULL
, [email] nvarchar(250) NULL
, [website] nvarchar(250) NULL
, [comment] ntext NULL
, [spam] bit NULL
, [ham] bit NULL
, [created] datetime NULL
);
GO
CREATE TABLE [cmsTemplate] (
  [pk] int NOT NULL  IDENTITY (11,1)
, [nodeId] int NOT NULL
, [master] int NULL
, [alias] nvarchar(100) NULL
, [design] ntext NOT NULL
);
GO
CREATE TABLE [cmsTaskType] (
  [id] int NOT NULL  IDENTITY (2,1)
, [alias] nvarchar(255) NOT NULL
);
GO
CREATE TABLE [cmsTask] (
  [closed] bit NOT NULL DEFAULT ((0))
, [id] int NOT NULL  IDENTITY (1,1)
, [taskTypeId] int NOT NULL
, [nodeId] int NOT NULL
, [parentUserId] int NOT NULL
, [userId] int NOT NULL
, [DateTime] datetime NOT NULL DEFAULT (getdate())
, [Comment] nvarchar(500) NULL
);
GO
CREATE TABLE [cmsTags] (
  [id] int NOT NULL  IDENTITY (2,1)
, [tag] nvarchar(200) NULL
, [parentId] int NULL
, [group] nvarchar(100) NULL
);
GO
CREATE TABLE [cmsTagRelationship] (
  [nodeId] int NOT NULL
, [tagId] int NOT NULL
);
GO
CREATE TABLE [cmsTab] (
  [id] int NOT NULL  IDENTITY (18,1)
, [contenttypeNodeId] int NOT NULL
, [text] nvarchar(255) NOT NULL
, [sortorder] int NOT NULL
);
GO
CREATE TABLE [cmsStylesheetProperty] (
  [nodeId] int NOT NULL
, [stylesheetPropertyEditor] bit NULL
, [stylesheetPropertyAlias] nvarchar(50) NULL
, [stylesheetPropertyValue] nvarchar(400) NULL
);
GO
CREATE TABLE [cmsStylesheet] (
  [nodeId] int NOT NULL
, [filename] nvarchar(100) NOT NULL
, [content] ntext NULL
);
GO
CREATE TABLE [cmsPropertyType] (
  [id] int NOT NULL  IDENTITY (47,1)
, [dataTypeId] int NOT NULL
, [contentTypeId] int NOT NULL
, [tabId] int NULL
, [Alias] nvarchar(255) NOT NULL
, [Name] nvarchar(255) NULL
, [helpText] nvarchar(1000) NULL
, [sortOrder] int NOT NULL DEFAULT (0)
, [mandatory] bit NOT NULL DEFAULT (0)
, [validationRegExp] nvarchar(255) NULL,
, [validationCustomErrorMessage] nvarchar(255) NULL
, [Description] nvarchar(2000) NULL
);
GO
CREATE TABLE [cmsPropertyData] (
  [id] int NOT NULL  IDENTITY (69,1)
, [contentNodeId] int NOT NULL
, [versionId] uniqueidentifier NULL
, [propertytypeid] int NOT NULL
, [dataInt] int NULL
, [dataDate] datetime NULL
, [dataNvarchar] nvarchar(500) NULL
, [dataNtext] ntext NULL
);
GO
CREATE TABLE [cmsPreviewXml] (
  [nodeId] int NOT NULL
, [versionId] uniqueidentifier NOT NULL
, [timestamp] datetime NOT NULL
, [xml] ntext NOT NULL
);
GO
CREATE TABLE [cmsMemberType] (
  [pk] int NOT NULL  IDENTITY (1,1)
, [NodeId] int NOT NULL
, [propertytypeId] int NOT NULL
, [memberCanEdit] bit NOT NULL DEFAULT (0)
, [viewOnProfile] bit NOT NULL DEFAULT (0)
);
GO
CREATE TABLE [cmsMember2MemberGroup] (
  [Member] int NOT NULL
, [MemberGroup] int NOT NULL
);
GO
CREATE TABLE [cmsMember] (
  [nodeId] int NOT NULL
, [Email] nvarchar(1000) NOT NULL DEFAULT ('')
, [LoginName] nvarchar(1000) NOT NULL DEFAULT ('')
, [Password] nvarchar(1000) NOT NULL DEFAULT ('')
);
GO
CREATE TABLE [cmsMacroPropertyType] (
  [id] int NOT NULL  IDENTITY (26,1)
, [macroPropertyTypeAlias] nvarchar(50) NULL
, [macroPropertyTypeRenderAssembly] nvarchar(255) NULL
, [macroPropertyTypeRenderType] nvarchar(255) NULL
, [macroPropertyTypeBaseType] nvarchar(255) NULL
);
GO
CREATE TABLE [cmsMacroProperty] (
  [id] int NOT NULL  IDENTITY (8,1)
, [macroPropertyHidden] bit NOT NULL DEFAULT (0)
, [macroPropertyType] int NOT NULL
, [macro] int NOT NULL
, [macroPropertySortOrder] tinyint NOT NULL DEFAULT (0)
, [macroPropertyAlias] nvarchar(50) NOT NULL
, [macroPropertyName] nvarchar(255) NOT NULL
);
GO
CREATE TABLE [cmsMacro] (
  [id] int NOT NULL  IDENTITY (22,1)
, [macroUseInEditor] bit NOT NULL DEFAULT (0)
, [macroRefreshRate] int NOT NULL DEFAULT (0)
, [macroAlias] nvarchar(255) NOT NULL
, [macroName] nvarchar(255) NULL
, [macroScriptType] nvarchar(255) NULL
, [macroScriptAssembly] nvarchar(255) NULL
, [macroXSLT] nvarchar(255) NULL
, [macroCacheByPage] bit NOT NULL DEFAULT (1)
, [macroCachePersonalized] bit NOT NULL DEFAULT (0)
, [macroDontRender] bit NOT NULL DEFAULT (0)
, [macroPython] nvarchar(255) NULL
);
GO
CREATE TABLE [cmsLanguageText] (
  [pk] int NOT NULL  IDENTITY (1,1)
, [languageId] int NOT NULL
, [UniqueId] uniqueidentifier NOT NULL
, [value] nvarchar(1000) NOT NULL
);
GO
CREATE TABLE [cmsDocumentType] (
  [contentTypeNodeId] int NOT NULL
, [templateNodeId] int NOT NULL
, [IsDefault] bit NOT NULL DEFAULT (0)
);
GO
CREATE TABLE [cmsDocument] (
  [nodeId] int NOT NULL
, [published] bit NOT NULL
, [documentUser] int NOT NULL
, [versionId] uniqueidentifier NOT NULL
, [text] nvarchar(255) NOT NULL
, [releaseDate] datetime NULL
, [expireDate] datetime NULL
, [updateDate] datetime NOT NULL DEFAULT (getdate())
, [templateId] int NULL
, [alias] nvarchar(255) NULL
, [newest] bit NOT NULL DEFAULT (0)
);
GO
CREATE TABLE [cmsDictionary] (
  [pk] int NOT NULL  IDENTITY (1,1)
, [id] uniqueidentifier NOT NULL
, [parent] uniqueidentifier NOT NULL
, [key] nvarchar(1000) NOT NULL
);
GO
CREATE TABLE [cmsDataTypePreValues] (
  [id] int NOT NULL  IDENTITY (5,1)
, [datatypeNodeId] int NOT NULL
, [value] nvarchar(2500) NULL
, [sortorder] int NOT NULL
, [alias] nvarchar(50) NULL
);
GO
CREATE TABLE [cmsDataType] (
  [pk] int NOT NULL  IDENTITY (40,1)
, [nodeId] int NOT NULL
, [controlId] uniqueidentifier NOT NULL
, [dbType] nvarchar(50) NOT NULL
);
GO
CREATE TABLE [cmsContentXml] (
  [nodeId] int NOT NULL
, [xml] ntext NOT NULL
);
GO
CREATE TABLE [cmsContentVersion] (
  [id] int NOT NULL  IDENTITY (28,1)
, [ContentId] int NOT NULL
, [VersionId] uniqueidentifier NOT NULL
, [VersionDate] datetime NOT NULL DEFAULT (getdate())
);
GO
CREATE TABLE [cmsContentTypeAllowedContentType] (
  [Id] int NOT NULL
, [AllowedId] int NOT NULL
);
GO
CREATE TABLE [cmsContentType] (
  [pk] int NOT NULL  IDENTITY (542,1)
, [nodeId] int NOT NULL
, [alias] nvarchar(255) NULL
, [icon] nvarchar(255) NULL
, [thumbnail] nvarchar(255) NOT NULL DEFAULT ('folder.png')
, [description] nvarchar(1500) NULL
, [masterContentType] int NULL DEFAULT (0)
);
GO
CREATE TABLE [cmsContent] (
  [pk] int NOT NULL  IDENTITY (13,1)
, [nodeId] int NOT NULL
, [contentType] int NOT NULL
);
GO
SET IDENTITY_INSERT [umbracoUserType] ON;
GO
INSERT INTO [umbracoUserType] ([id],[userTypeAlias],[userTypeName],[userTypeDefaultPermissions]) VALUES (1,N'admin',N'Administrators',N'CADMOSKTPIURZ:5F');
GO
INSERT INTO [umbracoUserType] ([id],[userTypeAlias],[userTypeName],[userTypeDefaultPermissions]) VALUES (2,N'writer',N'Writer',N'CAH:F');
GO
INSERT INTO [umbracoUserType] ([id],[userTypeAlias],[userTypeName],[userTypeDefaultPermissions]) VALUES (3,N'editor',N'Editors',N'CADMOSKTPUZ:5F');
GO
SET IDENTITY_INSERT [umbracoUserType] OFF;
GO
SET IDENTITY_INSERT [umbracoUser] ON;
GO
INSERT INTO [umbracoUser] ([id],[userDisabled],[userNoConsole],[userType],[startStructureID],[startMediaID],[userName],[userLogin],[userPassword],[userEmail],[userDefaultPermissions],[userLanguage],[defaultToLiveEditing]) VALUES (0,0,0,1,-1,-1,N'admin',N'admin',N'd9xnUXsUah9gycu7D0TpRYcx19c=',N'admin@domain.com',NULL,N'en',0);
GO
SET IDENTITY_INSERT [umbracoUser] OFF;
GO
INSERT INTO [umbracoUser2app] ([user],[app]) VALUES (0,N'content');
GO
INSERT INTO [umbracoUser2app] ([user],[app]) VALUES (0,N'developer');
GO
INSERT INTO [umbracoUser2app] ([user],[app]) VALUES (0,N'media');
GO
SET IDENTITY_INSERT [umbracoRelationType] ON;
GO
INSERT INTO [umbracoRelationType] ([id],[dual],[parentObjectType],[childObjectType],[name],[alias]) VALUES (1,1,'c66ba18e-eaf3-4cff-8a22-41b16d66a972','c66ba18e-eaf3-4cff-8a22-41b16d66a972',N'Relate Document On Copy',N'relateDocumentOnCopy');
GO
SET IDENTITY_INSERT [umbracoRelationType] OFF;
GO
SET IDENTITY_INSERT [umbracoRelation] OFF;
GO
SET IDENTITY_INSERT [umbracoNode] ON;
GO
INSERT INTO [umbracoNode] ([id],[trashed],[parentID],[nodeUser],[level],[path],[sortOrder],[uniqueID],[text],[nodeObjectType],[createDate]) VALUES (-92,0,-1,0,11,N'-1,-92',37,'f0bc4bfb-b499-40d6-ba86-058885a5178c',N'Label','30a2a501-1978-4ddb-a57b-f7efed43ba3c',{ts '2004-09-30 14:01:49.920'});
GO
INSERT INTO [umbracoNode] ([id],[trashed],[parentID],[nodeUser],[level],[path],[sortOrder],[uniqueID],[text],[nodeObjectType],[createDate]) VALUES (-90,0,-1,0,11,N'-1,-90',35,'84c6b441-31df-4ffe-b67e-67d5bc3ae65a',N'Upload','30a2a501-1978-4ddb-a57b-f7efed43ba3c',{ts '2004-09-30 14:01:49.920'});
GO
INSERT INTO [umbracoNode] ([id],[trashed],[parentID],[nodeUser],[level],[path],[sortOrder],[uniqueID],[text],[nodeObjectType],[createDate]) VALUES (-89,0,-1,0,11,N'-1,-89',34,'c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3',N'Textarea','30a2a501-1978-4ddb-a57b-f7efed43ba3c',{ts '2004-09-30 14:01:49.920'});
GO
SET IDENTITY_INSERT [umbracoNode] OFF;
GO
SET IDENTITY_INSERT [umbracoLog] ON;
GO
INSERT INTO [umbracoLog] ([id],[userId],[NodeId],[Datestamp],[logHeader],[logComment]) VALUES (1,0,-1,{ts '2013-01-10 11:40:00.477'},N'System',N'Loading content from database...');
GO
INSERT INTO [umbracoLog] ([id],[userId],[NodeId],[Datestamp],[logHeader],[logComment]) VALUES (2,0,-1,{ts '2013-01-10 11:40:00.483'},N'Debug',N'Republishing starting');
GO
INSERT INTO [umbracoLog] ([id],[userId],[NodeId],[Datestamp],[logHeader],[logComment]) VALUES (3,0,-1,{ts '2013-01-10 11:40:00.487'},N'Debug',N'Xml Pages loaded');
GO
INSERT INTO [umbracoLog] ([id],[userId],[NodeId],[Datestamp],[logHeader],[logComment]) VALUES (35,0,-1,{ts '2013-01-10 11:40:53.657'},N'Debug',N'&lt;Action runat=&quot;install&quot; alias=&quot;blog_executeNonQuery&quot;&gt;&lt;Sqlserver&gt;&lt;![CDATA[      	
     		CREATE TABLE [Comment](
     			  [id] [int] IDENTITY(1,1) NOT NULL CONSTRAINT [PK_Comment] PRIMARY KEY ,
     			  [mainid] [int] NOT NULL,
     			  [nodeid] [int] NOT NULL,
     			  [name] [nvarchar](250) NULL,
     			  [email] [nvarchar](250) NULL,
     			  [website] [nvarchar](250) NULL,
     			  [comment] [ntext] NULL,
     			  [spam] [bit] NULL,
     			  [ham] [bit] NULL,
     			  [created] [datetime] NULL
     				);
		  ]]&gt;&lt;/Sqlserver&gt;&lt;VistaDB&gt;&lt;![CDATA[
		  CREATE TABLE [Comment]
		  (
		  [id] INT NOT NULL PRIMARY KEY,
		  [mainid] INT NOT NULL,
		  [nodeid] INT NOT NULL,
		  [name] NVARCHAR (250),
		  [email] NVARCHAR (250),
		  [website] NVARCHAR (250),
		  [comment] NTEXT,
		  [spam] BIT,
		  [ham] BIT,
		  [created] DATETIME
		  );

		  ALTER TABLE [Comment]
		  ALTER COLUMN [id] INT NOT NULL IDENTITY (1, 1);
		  ]]&gt;&lt;/VistaDB&gt;&lt;MySQL&gt;&lt;![CDATA[
		  CREATE TABLE Comment (
		  id INTEGER UNSIGNED DEFAULT NULL AUTO_INCREMENT,
		  mainid INTEGER UNSIGNED NOT NULL,
		  nodeid INTEGER UNSIGNED NOT NULL,
		  name VARCHAR(250),
		  email VARCHAR(250),
		  website VARCHAR(250),
		  comment TEXT,
		  spam BOOLEAN,
		  ham BOOLEAN,
		  created DATETIME,
		  PRIMARY KEY (id)
		  );
		  ]]&gt;&lt;/MySQL&gt;&lt;/Action&gt;');
GO
SET IDENTITY_INSERT [umbracoLog] OFF;
GO
SET IDENTITY_INSERT [umbracoLanguage] ON;
GO
INSERT INTO [umbracoLanguage] ([id],[languageISOCode],[languageCultureName]) VALUES (1,N'en-US',N'en-US');
GO
SET IDENTITY_INSERT [umbracoLanguage] OFF;
GO
SET IDENTITY_INSERT [umbracoDomains] OFF;
GO
SET IDENTITY_INSERT [Comment] OFF;
GO
SET IDENTITY_INSERT [cmsTemplate] ON;
GO
INSERT INTO [cmsTemplate] ([pk],[nodeId],[master],[alias],[design]) VALUES (1,1043,1051,N'umbBlogDatefolder',N'<%@ Master Language="C#" MasterPageFile="~/masterpages/umbMaster.master" AutoEventWireup="true" %>

<asp:Content ContentPlaceHolderID="cp_content" runat="server">
  <div id="content" class="textpage">
    <umbraco:Macro Alias="BlogListPosts" runat="server"></umbraco:Macro>
  </div>
</asp:Content>');
GO
INSERT INTO [cmsTemplate] ([pk],[nodeId],[master],[alias],[design]) VALUES (3,1045,NULL,N'CommentRss',N'<%@ Master Language="C#" MasterPageFile="~/umbraco/masterpages/default.master" AutoEventWireup="true" %>
<asp:Content ContentPlaceHolderID="ContentPlaceHolderDefault" runat="server"><umbraco:Macro iscommentfeed="1" Alias="BlogRss" runat="server"></umbraco:Macro></asp:Content>');
GO
SET IDENTITY_INSERT [cmsTemplate] OFF;
GO
SET IDENTITY_INSERT [cmsTaskType] ON;
GO
INSERT INTO [cmsTaskType] ([id],[alias]) VALUES (1,N'toTranslate');
GO
SET IDENTITY_INSERT [cmsTaskType] OFF;
GO
SET IDENTITY_INSERT [cmsTask] OFF;
GO
SET IDENTITY_INSERT [cmsTags] ON;
GO
INSERT INTO [cmsTags] ([id],[tag],[parentId],[group]) VALUES (1,N'umbraco',NULL,N'default');
GO
SET IDENTITY_INSERT [cmsTags] OFF;
GO
INSERT INTO [cmsTagRelationship] ([nodeId],[tagId]) VALUES (1067,1);
GO
SET IDENTITY_INSERT [cmsTab] ON;
GO
INSERT INTO [cmsTab] ([id],[contenttypeNodeId],[text],[sortorder]) VALUES (3,1032,N'Image',1);
GO
INSERT INTO [cmsTab] ([id],[contenttypeNodeId],[text],[sortorder]) VALUES (4,1033,N'File',1);
GO
INSERT INTO [cmsTab] ([id],[contenttypeNodeId],[text],[sortorder]) VALUES (5,1031,N'Contents',1);
GO
SET IDENTITY_INSERT [cmsTab] OFF;
GO
SET IDENTITY_INSERT [cmsPropertyType] ON;
GO
INSERT INTO [cmsPropertyType] ([id],[dataTypeId],[contentTypeId],[tabId],[Alias],[Name],[helpText],[sortOrder],[mandatory],[validationRegExp],[Description]) VALUES (6,-90,1032,3,N'umbracoFile',N'Upload image',NULL,0,0,NULL,NULL);
GO
INSERT INTO [cmsPropertyType] ([id],[dataTypeId],[contentTypeId],[tabId],[Alias],[Name],[helpText],[sortOrder],[mandatory],[validationRegExp],[Description]) VALUES (7,-92,1032,3,N'umbracoWidth',N'Width',NULL,0,0,NULL,NULL);
GO
INSERT INTO [cmsPropertyType] ([id],[dataTypeId],[contentTypeId],[tabId],[Alias],[Name],[helpText],[sortOrder],[mandatory],[validationRegExp],[Description]) VALUES (8,-92,1032,3,N'umbracoHeight',N'Height',NULL,0,0,NULL,NULL);
GO
SET IDENTITY_INSERT [cmsPropertyType] OFF;
GO
SET IDENTITY_INSERT [cmsPropertyData] ON;
GO
INSERT INTO [cmsPropertyData] ([id],[contentNodeId],[versionId],[propertytypeid],[dataInt],[dataDate],[dataNvarchar],[dataNtext]) VALUES (2,1061,'3c22a413-d136-4d21-be8b-8a0d3d6b80db',41,NULL,NULL,N'Business site',NULL);
GO
INSERT INTO [cmsPropertyData] ([id],[contentNodeId],[versionId],[propertytypeid],[dataInt],[dataDate],[dataNvarchar],[dataNtext]) VALUES (3,1061,'3c22a413-d136-4d21-be8b-8a0d3d6b80db',42,NULL,NULL,NULL,N'Off to a great start');
GO
SET IDENTITY_INSERT [cmsPropertyData] OFF;
GO
INSERT INTO [cmsPreviewXml] ([nodeId],[versionId],[timestamp],[xml]) VALUES (1062,'3943e8dd-4f26-4807-9c8a-0e67b7994ad4',{ts '2013-01-10 11:40:51.257'},N'<umbNewsArea id="1062" parentID="1061" level="2" writerID="0" creatorID="0" nodeType="1057" template="1048" sortOrder="0" createDate="2010-09-07T13:22:05" updateDate="2013-01-10T11:40:51" nodeName="Company News" urlName="company-news" writerName="admin" creatorName="admin" path="-1,1061,1062" isDoc="" />');
GO
SET IDENTITY_INSERT [cmsMemberType] OFF;
GO
SET IDENTITY_INSERT [cmsMacroPropertyType] ON;
GO
INSERT INTO [cmsMacroPropertyType] ([id],[macroPropertyTypeAlias],[macroPropertyTypeRenderAssembly],[macroPropertyTypeRenderType],[macroPropertyTypeBaseType]) VALUES (3,N'mediaCurrent',N'umbraco.macroRenderings',N'media',N'Int32');
GO
INSERT INTO [cmsMacroPropertyType] ([id],[macroPropertyTypeAlias],[macroPropertyTypeRenderAssembly],[macroPropertyTypeRenderType],[macroPropertyTypeBaseType]) VALUES (4,N'contentSubs',N'umbraco.macroRenderings',N'content',N'Int32');
GO
INSERT INTO [cmsMacroPropertyType] ([id],[macroPropertyTypeAlias],[macroPropertyTypeRenderAssembly],[macroPropertyTypeRenderType],[macroPropertyTypeBaseType]) VALUES (5,N'contentRandom',N'umbraco.macroRenderings',N'content',N'Int32');
GO
SET IDENTITY_INSERT [cmsMacroPropertyType] OFF;
GO
SET IDENTITY_INSERT [cmsMacroProperty] ON;
GO
INSERT INTO [cmsMacroProperty] ([id],[macroPropertyHidden],[macroPropertyType],[macro],[macroPropertySortOrder],[macroPropertyAlias],[macroPropertyName]) VALUES (1,1,16,5,0,N'CommentsClosedMessage',N'Comments Closed Message');
GO
INSERT INTO [cmsMacroProperty] ([id],[macroPropertyHidden],[macroPropertyType],[macro],[macroPropertySortOrder],[macroPropertyAlias],[macroPropertyName]) VALUES (2,1,14,11,0,N'iscommentfeed',N'iscommentfeed');
GO
INSERT INTO [cmsMacroProperty] ([id],[macroPropertyHidden],[macroPropertyType],[macro],[macroPropertySortOrder],[macroPropertyAlias],[macroPropertyName]) VALUES (3,1,16,18,0,N'Subject',N'Subject');
GO
SET IDENTITY_INSERT [cmsMacroProperty] OFF;
GO
SET IDENTITY_INSERT [cmsMacro] ON;
GO
INSERT INTO [cmsMacro] ([id],[macroUseInEditor],[macroRefreshRate],[macroAlias],[macroName],[macroScriptType],[macroScriptAssembly],[macroXSLT],[macroCacheByPage],[macroCachePersonalized],[macroDontRender],[macroPython]) VALUES (1,0,0,N'umb2ndLevelNavigation',N'2nd Level Navigation',N'',N'',N'umb2ndLevelNavigation.xslt',1,0,0,N'');
GO
INSERT INTO [cmsMacro] ([id],[macroUseInEditor],[macroRefreshRate],[macroAlias],[macroName],[macroScriptType],[macroScriptAssembly],[macroXSLT],[macroCacheByPage],[macroCachePersonalized],[macroDontRender],[macroPython]) VALUES (2,0,0,N'BlogArchive',N'Blog Archive',N'',N'',N'umbBlogArchive.xslt',1,0,0,N'');
GO
INSERT INTO [cmsMacro] ([id],[macroUseInEditor],[macroRefreshRate],[macroAlias],[macroName],[macroScriptType],[macroScriptAssembly],[macroXSLT],[macroCacheByPage],[macroCachePersonalized],[macroDontRender],[macroPython]) VALUES (3,0,0,N'BlogBlogroll',N'Blog Blogroll',N'',N'',N'umbBlogroll.xslt',1,0,0,N'');
GO
SET IDENTITY_INSERT [cmsMacro] OFF;
GO
SET IDENTITY_INSERT [cmsLanguageText] OFF;
GO
INSERT INTO [cmsDocumentType] ([contentTypeNodeId],[templateNodeId],[IsDefault]) VALUES (1053,1047,1);
GO
INSERT INTO [cmsDocumentType] ([contentTypeNodeId],[templateNodeId],[IsDefault]) VALUES (1054,1044,1);
GO
INSERT INTO [cmsDocumentType] ([contentTypeNodeId],[templateNodeId],[IsDefault]) VALUES (1055,1043,1);
GO
INSERT INTO [cmsDocument] ([nodeId],[published],[documentUser],[versionId],[text],[releaseDate],[expireDate],[updateDate],[templateId],[alias],[newest]) VALUES (1061,1,0,'3c22a413-d136-4d21-be8b-8a0d3d6b80db',N'Business Site',NULL,NULL,{ts '2013-01-10 11:40:51.110'},NULL,NULL,0);
GO
INSERT INTO [cmsDocument] ([nodeId],[published],[documentUser],[versionId],[text],[releaseDate],[expireDate],[updateDate],[templateId],[alias],[newest]) VALUES (1062,1,0,'3943e8dd-4f26-4807-9c8a-0e67b7994ad4',N'Company News',NULL,NULL,{ts '2013-01-10 11:40:51.253'},NULL,NULL,0);
GO
INSERT INTO [cmsDocument] ([nodeId],[published],[documentUser],[versionId],[text],[releaseDate],[expireDate],[updateDate],[templateId],[alias],[newest]) VALUES (1063,1,0,'03bb0418-3581-4bcd-a5d2-0fe5b58b8244',N'Another record year',NULL,NULL,{ts '2013-01-10 11:40:51.320'},NULL,NULL,0);
GO
SET IDENTITY_INSERT [cmsDictionary] OFF;
GO
SET IDENTITY_INSERT [cmsDataTypePreValues] ON;
GO
INSERT INTO [cmsDataTypePreValues] ([id],[datatypeNodeId],[value],[sortorder],[alias]) VALUES (3,-87,N',code,undo,redo,cut,copy,mcepasteword,stylepicker,bold,italic,bullist,numlist,outdent,indent,mcelink,unlink,mceinsertanchor,mceimage,umbracomacro,mceinserttable,umbracoembed,mcecharmap,|1|1,2,3,|0|500,400|1049,|true|',0,N'');
GO
INSERT INTO [cmsDataTypePreValues] ([id],[datatypeNodeId],[value],[sortorder],[alias]) VALUES (4,1041,N'default',0,N'group');
GO
SET IDENTITY_INSERT [cmsDataTypePreValues] OFF;
GO
SET IDENTITY_INSERT [cmsDataType] ON;
GO
INSERT INTO [cmsDataType] ([pk],[nodeId],[controlId],[dbType]) VALUES (4,-49,'38b352c1-e9f8-4fd8-9324-9a2eab06d97a',N'Integer');
GO
INSERT INTO [cmsDataType] ([pk],[nodeId],[controlId],[dbType]) VALUES (6,-51,'1413afcb-d19a-4173-8e9a-68288d2a73b8',N'Integer');
GO
INSERT INTO [cmsDataType] ([pk],[nodeId],[controlId],[dbType]) VALUES (8,-87,'5e9b75ae-face-41c8-b47e-5f4b0fd82f83',N'Ntext');
GO
SET IDENTITY_INSERT [cmsDataType] OFF;
GO
INSERT INTO [cmsContentXml] ([nodeId],[xml]) VALUES (1062,N'<umbNewsArea id="1062" parentID="1061" level="2" writerID="0" creatorID="0" nodeType="1057" template="1048" sortOrder="0" createDate="2010-09-07T13:22:05" updateDate="2013-01-10T11:40:53" nodeName="Company News" urlName="company-news" writerName="admin" creatorName="admin" path="-1,1061,1062" isDoc="" />');
GO
SET IDENTITY_INSERT [cmsContentVersion] ON;
GO
INSERT INTO [cmsContentVersion] ([id],[ContentId],[VersionId],[VersionDate]) VALUES (1,1061,'3c22a413-d136-4d21-be8b-8a0d3d6b80db',{ts '2013-01-10 11:40:51.013'});
GO
INSERT INTO [cmsContentVersion] ([id],[ContentId],[VersionId],[VersionDate]) VALUES (2,1062,'3943e8dd-4f26-4807-9c8a-0e67b7994ad4',{ts '2013-01-10 11:40:51.213'});
GO
INSERT INTO [cmsContentVersion] ([id],[ContentId],[VersionId],[VersionDate]) VALUES (3,1063,'03bb0418-3581-4bcd-a5d2-0fe5b58b8244',{ts '2013-01-10 11:40:51.270'});
GO
SET IDENTITY_INSERT [cmsContentVersion] OFF;
GO
INSERT INTO [cmsContentTypeAllowedContentType] ([Id],[AllowedId]) VALUES (1031,1031);
GO
INSERT INTO [cmsContentTypeAllowedContentType] ([Id],[AllowedId]) VALUES (1031,1032);
GO
INSERT INTO [cmsContentTypeAllowedContentType] ([Id],[AllowedId]) VALUES (1031,1033);
GO
SET IDENTITY_INSERT [cmsContentType] ON;
GO
INSERT INTO [cmsContentType] ([pk],[nodeId],[alias],[icon],[thumbnail],[description],[masterContentType]) VALUES (532,1031,N'Folder',N'folder.gif',N'folder.png',NULL,0);
GO
INSERT INTO [cmsContentType] ([pk],[nodeId],[alias],[icon],[thumbnail],[description],[masterContentType]) VALUES (533,1032,N'Image',N'mediaPhoto.gif',N'mediaPhoto.png',NULL,0);
GO
INSERT INTO [cmsContentType] ([pk],[nodeId],[alias],[icon],[thumbnail],[description],[masterContentType]) VALUES (534,1033,N'File',N'mediaFile.gif',N'mediaFile.png',NULL,0);
GO
SET IDENTITY_INSERT [cmsContentType] OFF;
GO
SET IDENTITY_INSERT [cmsContent] ON;
GO
INSERT INTO [cmsContent] ([pk],[nodeId],[contentType]) VALUES (1,1061,1056);
GO
INSERT INTO [cmsContent] ([pk],[nodeId],[contentType]) VALUES (2,1062,1057);
GO
INSERT INTO [cmsContent] ([pk],[nodeId],[contentType]) VALUES (3,1063,1058);
GO
SET IDENTITY_INSERT [cmsContent] OFF;
GO
ALTER TABLE [umbracoUserType] ADD CONSTRAINT [PK_userType] PRIMARY KEY ([id]);
GO
ALTER TABLE [umbracoUser2NodePermission] ADD CONSTRAINT [PK_umbracoUser2NodePermission] PRIMARY KEY ([userId],[nodeId],[permission]);
GO
ALTER TABLE [umbracoUser2NodeNotify] ADD CONSTRAINT [PK_umbracoUser2NodeNotify] PRIMARY KEY ([userId],[nodeId],[action]);
GO
ALTER TABLE [umbracoUser] ADD CONSTRAINT [PK_user] PRIMARY KEY ([id]);
GO
ALTER TABLE [umbracoUser2app] ADD CONSTRAINT [PK_user2app] PRIMARY KEY ([user],[app]);
GO
ALTER TABLE [umbracoRelationType] ADD CONSTRAINT [PK_umbracoRelationType] PRIMARY KEY ([id]);
GO
ALTER TABLE [umbracoRelation] ADD CONSTRAINT [PK_umbracoRelation] PRIMARY KEY ([id]);
GO
ALTER TABLE [umbracoNode] ADD CONSTRAINT [PK_structure] PRIMARY KEY ([id]);
GO
ALTER TABLE [umbracoLog] ADD CONSTRAINT [PK_umbracoLog] PRIMARY KEY ([id]);
GO
ALTER TABLE [umbracoLanguage] ADD CONSTRAINT [PK_language] PRIMARY KEY ([id]);
GO
ALTER TABLE [umbracoDomains] ADD CONSTRAINT [PK_domains] PRIMARY KEY ([id]);
GO
ALTER TABLE [umbracoAppTree] ADD CONSTRAINT [PK_umbracoAppTree] PRIMARY KEY ([appAlias],[treeAlias]);
GO
ALTER TABLE [umbracoApp] ADD CONSTRAINT [PK_umbracoApp] PRIMARY KEY ([appAlias]);
GO
ALTER TABLE [Comment] ADD CONSTRAINT [PK_Comment] PRIMARY KEY ([id]);
GO
ALTER TABLE [cmsTemplate] ADD CONSTRAINT [PK_templates] PRIMARY KEY ([pk]);
GO
ALTER TABLE [cmsTaskType] ADD CONSTRAINT [PK_cmsTaskType] PRIMARY KEY ([id]);
GO
ALTER TABLE [cmsTask] ADD CONSTRAINT [PK_cmsTask] PRIMARY KEY ([id]);
GO
ALTER TABLE [cmsTab] ADD CONSTRAINT [PK_cmsTab] PRIMARY KEY ([id]);
GO
ALTER TABLE [cmsPropertyType] ADD CONSTRAINT [PK_cmsPropertyType] PRIMARY KEY ([id]);
GO
ALTER TABLE [cmsPropertyData] ADD CONSTRAINT [PK_cmsPropertyData] PRIMARY KEY ([id]);
GO
ALTER TABLE [cmsMemberType] ADD CONSTRAINT [PK_cmsMemberType] PRIMARY KEY ([pk]);
GO
ALTER TABLE [cmsMember2MemberGroup] ADD CONSTRAINT [PK_cmsMember2MemberGroup] PRIMARY KEY ([Member],[MemberGroup]);
GO
ALTER TABLE [cmsMacroPropertyType] ADD CONSTRAINT [PK_macroPropertyType] PRIMARY KEY ([id]);
GO
ALTER TABLE [cmsMacroProperty] ADD CONSTRAINT [PK_macroProperty] PRIMARY KEY ([id]);
GO
ALTER TABLE [cmsMacro] ADD CONSTRAINT [PK_macro] PRIMARY KEY ([id]);
GO
ALTER TABLE [cmsLanguageText] ADD CONSTRAINT [PK_cmsLanguageText] PRIMARY KEY ([pk]);
GO
ALTER TABLE [cmsDocumentType] ADD CONSTRAINT [PK_cmsDocumentType] PRIMARY KEY ([contentTypeNodeId],[templateNodeId]);
GO
ALTER TABLE [cmsDocument] ADD CONSTRAINT [PK_cmsDocument] PRIMARY KEY ([versionId]);
GO
ALTER TABLE [cmsDictionary] ADD CONSTRAINT [PK_cmsDictionary] PRIMARY KEY ([pk]);
GO
ALTER TABLE [cmsDataTypePreValues] ADD CONSTRAINT [PK_cmsDataTypePreValues] PRIMARY KEY ([id]);
GO
ALTER TABLE [cmsDataType] ADD CONSTRAINT [PK_cmsDataType] PRIMARY KEY ([pk]);
GO
ALTER TABLE [cmsContentXml] ADD CONSTRAINT [PK_cmsContentXml] PRIMARY KEY ([nodeId]);
GO
ALTER TABLE [cmsContentVersion] ADD CONSTRAINT [PK__cmsContentVersion__00000000000001BB] PRIMARY KEY ([id]);
GO
ALTER TABLE [cmsContentTypeAllowedContentType] ADD CONSTRAINT [PK_cmsContentTypeAllowedContentType] PRIMARY KEY ([Id],[AllowedId]);
GO
ALTER TABLE [cmsContentType] ADD CONSTRAINT [PK_cmsContentType] PRIMARY KEY ([pk]);
GO
ALTER TABLE [cmsContent] ADD CONSTRAINT [PK_cmsContent] PRIMARY KEY ([pk]);
GO
CREATE INDEX [IX_cmsPropertyData] ON [cmsPropertyData] ([id] ASC);
GO
ALTER TABLE [umbracoUser] ADD CONSTRAINT [FK_user_userType] FOREIGN KEY ([userType]) REFERENCES [umbracoUserType]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [umbracoUser2app] ADD CONSTRAINT [FK_umbracoUser2app_umbracoUser] FOREIGN KEY ([user]) REFERENCES [umbracoUser]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [umbracoNode] ADD CONSTRAINT [FK_umbracoNode_umbracoNode] FOREIGN KEY ([parentID]) REFERENCES [umbracoNode]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [cmsTemplate] ADD CONSTRAINT [FK_cmsTemplate_umbracoNode] FOREIGN KEY ([nodeId]) REFERENCES [umbracoNode]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [cmsTask] ADD CONSTRAINT [FK_cmsTask_cmsTaskType] FOREIGN KEY ([taskTypeId]) REFERENCES [cmsTaskType]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [cmsPropertyType] ADD CONSTRAINT [FK_cmsPropertyType_cmsTab] FOREIGN KEY ([tabId]) REFERENCES [cmsTab]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [cmsPropertyData] ADD CONSTRAINT [FK_cmsPropertyData_umbracoNode] FOREIGN KEY ([contentNodeId]) REFERENCES [umbracoNode]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [cmsMacroProperty] ADD CONSTRAINT [FK_umbracoMacroProperty_umbracoMacroPropertyType] FOREIGN KEY ([macroPropertyType]) REFERENCES [cmsMacroPropertyType]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [cmsDocument] ADD CONSTRAINT [FK_cmsDocument_umbracoNode] FOREIGN KEY ([nodeId]) REFERENCES [umbracoNode]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [cmsContentType] ADD CONSTRAINT [FK_cmsContentType_umbracoNode] FOREIGN KEY ([nodeId]) REFERENCES [umbracoNode]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [cmsContent] ADD CONSTRAINT [FK_cmsContent_umbracoNode] FOREIGN KEY ([nodeId]) REFERENCES [umbracoNode]([id]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO

