<div ng-controller="Umbraco.Editors.DocumentType.PermissionsController">
    <div class="sub-view-columns">

        <div class="sub-view-column-left">
            <h5>Allow as root</h5>
            <small>Allow editors to create content if this type in the root of the content tree</small>
        </div>
        <div class="sub-view-column-right">
            <label class="checkbox no-indent">
                <input type="checkbox" ng-model="contentType.allowAsRoot" /> Yes - allow content of this type in the root
            </label>
        </div>

    </div>

    <div class="sub-view-columns">

        <div class="sub-view-column-left">
            <h5>Allowed child node types</h5>
            <small>Allow content of these types to be created underneath content this type</small>
        </div>

        <div class="sub-view-column-right">

            <div class="node-tree">

                <!-- CURRENT CONTENT TYPE -->
                <div class="node node-parent">
                    <div class="node-description">
                        <div class="node-icon-wrapper">
                            <i class="icon {{ contentType.icon }}"></i>
                        </div>
                        <span class="node-name">{{ contentType.name }}</span>
                        <small>(Current)</small>
                    </div>
                </div>

                <div class="child-notes-wrapper">

                    <!-- ADDED NODES -->
                    <div class="node node-child" ng-repeat="allowedType in contentType.allowedContentTypes">
                        <div class="node-description">
                            <div class="node-icon-wrapper">
                                <i class="icon {{ allowedType.icon }}"></i>
                            </div>
                            <span class="node-name"> {{ allowedType.name }}</span>
                        </div>
                        <div class="node-actions">
                            <i class="icon icon-trash" ng-click="removeAllowedChildNode(allowedType)"></i>
                        </div>
                    </div>

                    <!-- NODE PLACEHOLDER -->
                    <div class="node node-placeholder" ng-if="(contentTypes | compareArrays:contentType.allowedContentTypes:'alias').length > 0" ng-click="addItemOverlay($event)">
                        <div class="node-placeholder-text">Allow child node</div>
                    </div>

                    <!-- ALL NODES ADDED -->
                    <div class="text-center" ng-if="(contentTypes | compareArrays:contentType.allowedContentTypes:'alias').length === 0">
                        <small>All content types are added as child nodes</small>
                    </div>

                </div>

            </div>

        </div>

    </div>

    <umb-overlay
            ng-style=""
            ng-if="showDialog"
            model="dialogModel"
            animation="slide-in-right"
            position="target"
            view="dialogModel.view">
    </umb-overlay>

</div>