<div data-element="editor-content" ng-controller="Umbraco.Editors.Content.EditController">
    <content-editor create-options="createOptions"
                    content-id="contentId"
                    page="page"
                    save-method="saveMethod"
                    get-method="getMethod"
                    get-scaffold-method="getScaffoldMethod"
                    tree-alias="content"
                    is-new="isNew"
                    culture="culture"
                    segment="segment"
                    infinite-model="model">
    </content-editor>
</div>
