<form novalidate name="contentForm" 
      ng-controller="Umbraco.Editors.Dictionary.EditController"
      ng-show="loaded" 
      ng-submit="save()"
      val-form-manager>
    <umb-panel>

        <umb-header>

            <div class="span7">
                <umb-content-name
                    placeholder="@placeholders_entername"
                    ng-model="content.name"/>
            </div>

            <div class="span5">
                <div class="btn-toolbar pull-right umb-btn-toolbar">
                    <umb-options-menu ng-show="currentNode"
                        current-node="currentNode"
                        current-section="{{currentSection}}">
                    </umb-options-menu>
                </div>
            </div>
        </umb-header>
        
        <div class="umb-panel-body umb-scrollable row-fluid">
            <div class="tab-content form-horizontal" style="padding-bottom: 90px">
                <div class="umb-pane">


					<p><localize key="dictionaryItem_description">description</localize></p>


					<!--display the translations here-->


                    <div class="umb-tab-buttons" detect-fold>
                        <div class="btn-group">
                            <button type="submit" data-hotkey="ctrl+s" class="btn btn-success">
                                <localize key="buttons_save">Save</localize>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </umb-panel>
</form>
