<div ng-controller="Umbraco.Editors.Dictionary.EditController as vm">
    <umb-load-indicator ng-if="vm.page.loading"></umb-load-indicator>
    
    <form name="contentForm"
          ng-submit="save()"
          novalidate
          val-form-manager>
        <umb-editor-view ng-if="!vm.page.loading">
            <umb-editor-header
                menu="vm.page.menu"
                name="vm.content.name"
                name-locked="vm.page.nameLocked"
                hide-icon="true"
                hide-description="true"
                hide-alias="true">
            </umb-editor-header>
            
            <umb-editor-container class="form-horizontal">
                <umb-property ng-repeat="translation in vm.content.translations" property="vm.tranformTranslationToProperty(translation)">
                    <textarea ng-model="translation.translation"></textarea>
                </umb-property>
            </umb-editor-container>
        </umb-editor-view>
    </form>
</div>
