<div class="umb-dialog" ng-controller="Umbraco.Editors.Dictionary.ImportController as vm">

  <div class="umb-dialog-body with-footer">
    <div class="umb-pane">
      <div ng-if="vm.state === 'upload'">
        <p>
          <localize key="dictionary_importDictionaryItemHelp">
            To import a Dictionary item, find the '.udt' file on your computer by clicking the 'Import' button (you'll be
            asked for confirmation on the next screen)
          </localize>
        </p>

        <form name="importDictionaryItem">

          <!-- Select files -->
          <button accept=".udt"
                  class="btn btn-action"
                  name="file"
                  ng-model="filesHolder"
                  ngf-change="handleFiles($files, $event, $invalidFiles)"
                  ngf-multiple="true"
                  ngf-pattern="*.udt"
                  ngf-select>
            <localize key="general_import">Import</localize>
          </button>
        </form>
      </div>
      <div ng-if="vm.state === 'confirm'">
        <strong>
          <localize key="dictionaryListCaption">Dictionary items</localize>
          :
        </strong>
        <span ng-repeat="dictionaryItem in vm.model.dictionaryItems"><br />{{dictionaryItem}}</span>       
        <br/>
        <br/>
        <button class="btn btn-primary" ng-click="import()">
          <localize key="actions_importDocumentType">Import</localize>
        </button>
      </div>
      <div ng-if="vm.state === 'done'">
        <strong> The following dictionary item(s) has been imported!</strong>
        <span ng-repeat="dictionaryItem in vm.model.dictionaryItems"><br />{{dictionaryItem}}</span>
      </div>
    </div>
  </div>

  <div class="umb-dialog-footer btn-toolbar umb-btn-toolbar">
    <umb-button action="close()"
                button-style="link"
                label-key="{{vm.cancelButtonLabel}}"
                type="button">
    </umb-button>
  </div>
</div>
