<div>
    <ng-form name="emailFieldForm">
        <input type="email" name="textbox"
               ng-model="model.value"
               id="{{model.alias}}"
               class="umb-property-editor umb-textstring textstring"
               val-email
               ng-required="model.config.IsRequired || model.validation.mandatory"
               val-server="value" />

        <span ng-messages="emailFieldForm.textbox.$error" show-validation-on-submit >
            <span class="help-inline" ng-message="required"><localize key="general_required">Required</localize></span>
            <span class="help-inline" ng-message="valEmail"><localize key="validation_invalidEmail">Invalid email</localize></span>
            <span class="help-inline" ng-message="valServer">{{emailFieldForm.textbox.errorMsg}}</span>
        </span>
    </ng-form>
</div>
