<div>
    <input type="email" name="textbox"
           ng-model="model.value"
           id="{{model.alias}}"
           class="umb-editor umb-textstring textstring"
           val-email
           ng-required="model.config.IsRequired || model.validation.mandatory"
           val-server="value" />
    
    <span class="help-inline" val-msg-for="textbox" val-toggle-msg="required"><localize key="general_required">Required</localize></span>
    <span class="help-inline" val-msg-for="textbox" val-toggle-msg="valEmail"><localize key="validation_invalidEmail">Invalid email</localize></span>
    <span class="help-inline" val-msg-for="textbox" val-toggle-msg="valServer"></span>
</div>
