#examineManagement .provider {
    padding-top: 3px;
}

#examineManagement .propertyPane {
    padding: 5px;
}

#examineManagement table th
{
    font-weight: normal;
    color: #333;
    width: 200px;
}
#examineManagement table td {
    color: #999;
}

#examineManagement table td.highlight {
    font-style: italic;
}

#examineManagement .propertyPane > a
{    
    padding: 3px;
    display: block;
}

#examineManagement .propertyPane > a.expanded
{
    border-bottom: 1px solid #CCC;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

#examineManagement .provider > a {
    padding: 7px;
    display: block;
    font-size: 1.1em;
}

#examineManagement .provider > div {
    margin-left: 15px;
}

#examineManagement a {
    text-decoration: none;
}
#examineManagement a:hover {
    text-decoration: underline;
}
#examineManagement .index-tools table {
    width:350px;
}
#examineManagement .index-tools .index-actions {
    float: right;
}