<div class="umb-dialog-body with-footer" ng-controller="Umbraco.Editors.Member.CreateController" ng-cloak>
    <div class="umb-pane">

        <h5><localize key="member_createNewMember">Create a new member</localize></h5>
        <ul class="umb-actions umb-actions-child">

            <li ng-repeat="docType in allowedTypes">
                <a href="#member/member/edit/{{currentNode.id}}?doctype={{docType.alias}}&create=true" ng-click="nav.hideNavigation()">
                    <i class="large {{docType.icon}}"></i>
                    <span class="menu-label">
                        {{docType.name}}
                        <small>{{docType.description}}</small>
                    </span>
                </a>
            </li>
        </ul>

    </div>
</div>

<div class="umb-dialog-footer btn-toolbar umb-btn-toolbar" >
    <button type="button" class="btn btn-info" ng-click="nav.hideDialog(true)">
        <localize key="buttons_somethingElse">Do something else</localize>
    </button>
</div>
