<div data-element="editor-members" ng-controller="Umbraco.Editors.Member.EditController">

   <umb-load-indicator ng-if="page.loading"></umb-load-indicator>

   <form novalidate name="contentForm"
      ng-submit="save()"
      val-form-manager>

      <umb-editor-view ng-if="!page.loading">

         <umb-editor-header
            name="content.name"
            menu="page.menu"
            hide-icon="true"
            hide-description="true"
            hide-alias="true"
            show-back-button="showBack()"
            on-back="onBack()">
          </umb-editor-header>

         <umb-editor-container class="form-horizontal">

            <div class="umb-group-panel" ng-repeat="group in content.tabs track by group.label">

                <div class="umb-group-panel__header">
                    <div>{{ group.label }}</div>
                </div>

                <div class="umb-group-panel__content">
                    <umb-property data-element="property-{{group.alias}}" ng-repeat="property in group.properties track by property.alias" property="property">
                        <umb-property-editor model="property"></umb-property-editor>
                    </umb-property>
                </div>

            </div>

         </umb-editor-container>

         <umb-editor-footer>

            <umb-editor-footer-content-left>
                <umb-breadcrumbs
                  ng-if="ancestors && ancestors.length > 0"
                  ancestors="ancestors">
                </umb-breadcrumbs>
            </umb-editor-footer-content-left>


            <umb-editor-footer-content-right>

               <umb-button
                  ng-if="page.listViewPath"
                  type="link"
                  href="#{{page.listViewPath}}"
                  button-style="link"
                  label="Return to list"
                  label-key="buttons_returnToList">
               </umb-button>

               <umb-button
                  type="submit"
                  label="Save"
                  label-key="buttons_save"
                  button-style="success"
                  shortcut="ctrl+s"
                  state="page.saveButtonState">
               </umb-button>

            </umb-editor-footer-content-right>


         </umb-editor-footer>


      </umb-editor-view>

   </form>

</div>
