<div ng-controller="Umbraco.Editors.Member.ListController">

   <umb-load-indicator ng-if="page.loading"></umb-load-indicator>

   <form novalidate name="contentForm" ng-show="!page.loading" val-form-manager>

      <umb-editor-view umb-tabs>

         <umb-editor-header
            name="content.name"
            name-locked="page.lockedName"
            tabs="content.tabs"
            menu="page.menu"
            hide-icon="true"
            hide-description="true"
            hide-alias="true">
         </umb-editor-header>

         <umb-editor-container>

            <umb-tabs-content view="true" class="form-horizontal">
               <umb-tab id="tab{{tab.id}}" rel="{{tab.id}}" ng-repeat="tab in content.tabs">

                  <umb-property property="property" ng-repeat="property in tab.properties">
                     <umb-editor model="property"></umb-editor>
                  </umb-property>

               </umb-tab>
            </umb-tabs-content>

         </umb-editor-container>

      </umb-editor-view>

   </form>

</div>
