<div ng-controller="Umbraco.Dashboard.FormsDashboardController as vm" class="umb-dashboards-forms-install">
	<div class="installer-wrapper">

		<div class="installer-intro">
			<umb-icon icon="icon-umb-contour" class="icon"></umb-icon>
			<h3>
				<localize key="formsDashboard_formsHeadline">Umbraco Forms</localize>
			</h3>
		</div>

        <!-- STEP one -->
		<div class="step-one" ng-hide="vm.state">

			<p class="step-text">
				<localize key="formsDashboard_formsDescription">Create forms using an intuitive drag and drop interface. From simple contact forms that sends e-mails to advanced questionaires that integrate with CRM systems. Your clients will love it!</localize>
			</p>

			<umb-button
				class="forms-install-button"
				type="button"
				button-style="success"
				label="Install"
				label-key="general_install"
				action="vm.installForms()">
			</umb-button>

		</div>

        <!-- STEP two -->
		<div class="step-two" ng-if="vm.state">
			<p id="installer" class="step-text"><localize key="general_installing">Installing</localize>...</p>

            <div class="installing">

                <umb-load-indicator ng-if="vm.state">
                </umb-load-indicator>

            </div>
		</div>
	</div>
</div>
