<div ng-controller="Umbraco.Editors.Content.AssignDomainController as vm" ng-cloak>
  <umb-load-indicator ng-show="vm.loading"></umb-load-indicator>

  <form name="vm.domainForm" ng-submit="vm.save()" id="assignDomain" novalidate>
    <div ng-hide="vm.loading" class="umb-dialog-body">
      <umb-pane ng-if="!currentNode.metaData.variesByCulture">
        <h5 class="umb-pane-title"><localize key="assignDomain_setLanguage">Culture</localize></h5>
        <label for="assignDomain_language" class="control-label"><localize key="general_language">Language</localize></label>
        <select class="umb-property-editor umb-dropdown" name="language" id="assignDomain_language" ng-model="vm.language" ng-options="lang.name for lang in vm.languages">
          <option value=""><localize key="assignDomain_inherit">Inherit</localize></option>
        </select>
      </umb-pane>

      <umb-pane>
        <div ng-show="vm.error">
          <div class="alert alert-error">
            <div><strong>{{vm.error.errorMsg}}</strong></div>
            <div>{{vm.error.data.Message}}</div>
          </div>
        </div>

        <h5 class="umb-pane-title"><localize key="assignDomain_setDomains">Domains</localize></h5>
        <p><small><localize key="assignDomain_domainHelpWithVariants">Valid domain names are: "example.com", "www.example.com", "example.com:8080", or "https://www.example.com/". Furthermore also one-level paths in domains are supported, eg. "example.com/en" or "/en".</localize></small></p>

        <div class="form-horizontal" ui-sortable="sortableOptions" ng-model="vm.domains">
          <div ng-repeat="domain in vm.domains">
            <div ng-if="domain.duplicate" class="alert alert-error property-error">
              <localize key="assignDomain_duplicateDomain">Domain has already been assigned.</localize><span ng-if="domain.other"> ({{domain.other}})</span>
            </div>
            <div ng-if="vm.domainForm.$submitted" ng-messages="vm.domainForm['domain_name_' + $index].$error">
              <div class="alert alert-error property-error" ng-message="required"><localize key="validation_invalidEmpty">Value cannot be empty</localize></div>
            </div>
            <div class="umb-prevalues-multivalues__listitem">
              <umb-icon icon="icon-navigation" class="icon handle"></umb-icon>
              <div class="umb-prevalues-multivalues__left">
                <input type="text" ng-model="domain.name" name="domain_name_{{$index}}" required umb-auto-focus />
                <select ng-model="domain.lang" name="domain_language_{{$index}}" ng-options="lang.name for lang in vm.languages" required></select>
              </div>
              <div class="umb-prevalues-multivalues__right">
                <button type="button" class="umb-node-preview__action" ng-click="vm.removeDomain($index)"><localize key="general_remove">Remove</localize></button>
              </div>
            </div>
          </div>
        </div>
        <umb-button-group ng-if="vm.buttonGroup"
                          default-button="vm.buttonGroup.defaultButton"
                          sub-buttons="vm.buttonGroup.subButtons"
                          button-style="[placeholder, block]"
                          float="right">
        </umb-button-group>
      </umb-pane>
    </div>

    <div class="umb-dialog-footer btn-toolbar umb-btn-toolbar">
      <umb-button label-key="general_close"
                  action="vm.closeDialog()"
                  type="button"
                  button-style="link">
      </umb-button>
      <umb-button label-key="buttons_save"
                  type="submit"
                  button-style="success"
                  state="vm.submitButtonState">
      </umb-button>
    </div>
  </form>
</div>
