<div ng-controller="Umbraco.Editors.Content.AssignDomainController">
    <form name="assignDomainDomainForm"
          novalidate
          ng-submit="save()"
          val-form-manager>

        <umb-load-indicator ng-if="loading"></umb-load-indicator>
        <div class="umb-pane" ng-show="!loading">

            <div class="umb-property">
                <div class="control-group umb-control-group">
                    <div class="umb-el-wrap">
                        <label class="control-label" for="setLanguage">
                            <span><localize key="assignDomain_setLanguage"></localize></span>
                            <small><localize key="assignDomain_setLanguageHelp"></localize></small>
                        </label>
                        <div class="controls">
                            <select id="setLanguage" ng-model="model.Language">
                                <option value="" ng-selected="model.Language == null"><localize key="assignDomain_inherit">Inherit</localize></option>
                                <option ng-repeat="language in model.AvailableLanguages" ng-value="language.Id" ng-bind="language.Name" ng-selected="model.Language == language.Id"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <table class="table domains" data-bind="visible: model.Domains.length > 0" style="">
                <thead>
                    <tr>
                        <th><localize key="assignDomain_domain">Domain</localize></th>
                        <th><localize key="assignDomain_language">Language</localize></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody ui-sortable="sortableOptions">
                    <tr ng-repeat="domain in model.Domains">
                        <td valign="top"><input type="text" class="domain" ng-model="domain.Name"></td>
                        <td valign="top"><select ng-options="language.Id as language.Name for language in model.AvailableLanguages" ng-model="domain.Lang" style="width:6em"></select></td>
                        <td valign="top">
                            <button type="button" class="btn btn-link danger" ng-click="remove(item, $event)"><i class="icon icon-trash"></i></button>
                            <i class="icon icon-navigation handle"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-info" ng-click="add($event)"><localize key="assignDomain_addNew">Add new domain</localize></button>

        </div>


        <div class="umb-dialog-footer btn-toolbar umb-btn-toolbar" ng-show="!loading">

            <umb-button label-key="general_cancel"
                        action="cancel()"
                        type="button"
                        button-style="link">
            </umb-button>

            <umb-button label-key="buttons_save"
                        type="submit"
                        button-style="success">
            </umb-button>

        </div>

    </form>

</div>

