<div ng-controller="Umbraco.Editors.Content.AssignDomainController as vm" ng-cloak>
    <div class="umb-dialog-body">
        <umb-pane>
            <h5 class="umb-pane-title"><localize key="assignDomain_setLanguage">Culture</localize></h5>
            <label for="assignDomain_language" class="control-label"><localize key="general_language"></localize></label>
            <select class="umb-property-editor umb-dropdown" name="language" id="assignDomain_language" ng-model="vm.language" ng-options="lang.name for lang in vm.languages">
                <option value="">{{vm.inherit}}</option>
            </select>
        </umb-pane>
        <umb-pane>
            <h5 class="umb-pane-title"><localize key="assignDomain_setDomains">Domains</localize></h5>
            <form name="vm.domainForm" novalidate="" ng-submit="vm.save()" class="control-group umb-control-group">
                <small class="help-inline">
                    <localize key="assignDomain_domainHelp"></localize>
                </small>
                <div class="umb-el-wrap  hidelabel">
                    <table class="table domains" ng-if="vm.domains.length > 0">
                        <thead>
                            <tr>
                                <th><localize key="assignDomain_domain"></localize></th>
                                <th><localize key="assignDomain_language"></localize></th>
                                <th />
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="domain in vm.domains">
                                <td>
                                    <input type="text" ng-model="domain.Name" multi="vm.validateDomain" ng-pattern="vm.domainPattern" name="domain_name_{{$index}}" />
                                    <span ng-if="vm.domainForm.$submitted" ng-messages="vm.domainForm['domain_name_' + $index].$error">
                                        <span class="help-inline" ng-message="multi"><localize key="assignDomain_duplicateDomain"></localize></span>
                                        <span class="help-inline" ng-message="pattern"><localize key="assignDomain_invalidDomain"></localize></span>
                                    </span>
                                </td>
                                <td>
                                    <select name="domain_language_{{$index}}" class="language" ng-model="domain.Lang" ng-options="lang.name for lang in vm.languages"></select>
                                </td>
                                <td>
                                    <umb-button icon="icon-trash"
                                                action="vm.removeDomain($index)"
                                                type="button"
                                                button-style="danger">
                                    </umb-button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <umb-button label-key="assignDomain_addNew"
                            action="vm.addDomain()"
                            type="button">
                </umb-button>
                <div class="umb-dialog-footer btn-toolbar umb-btn-toolbar">

                    <umb-button label-key="general_cancel"
                                action="vm.closeDialog()"
                                type="button"
                                button-style="link">
                    </umb-button>

                    <umb-button label-key="buttons_save"
                                type="submit"
                                button-style="success">
                    </umb-button>

                </div>
            </form>
        </umb-pane>
    </div>
    
</div>
