<div ng-controller="Umbraco.Editors.Content.ChangeDocTypeController as vm" ng-cloak>
    <div class="umb-dialog-body" ng-if="!vm.success">
        <umb-pane>
            <p><localize key="changeDocType_changeDocTypeInstruction"></localize></p>
        </umb-pane>
        <umb-pane>
            <label for="changeDocType_selectedContent" class="control-label"><localize key="changeDocType_selectedContent"></localize></label>
            <p>{{currentNode.name}}</p>
        </umb-pane>
        <umb-pane>
            <label for="changeDocType_currentType" class="control-label"><localize key="changeDocType_currentType"></localize></label>
            <p>{{vm.currentDocType.contentTypeName}}</p>
        </umb-pane>
        <umb-pane ng-if="vm.docTypesLength == 0">
            <p><localize key="changeDocType_docTypeCannotBeChanged"></localize></p>
        </umb-pane>
        <umb-pane ng-if="vm.docTypesLength> 0">
            <label for="changeDocType_newType" class="control-label"><localize key="changeDocType_newType"></localize></label>
            <select class="umb-property-editor umb-dropdown" name="newDocument" id="changeDocType_newDocumentTypeList" ng-change="vm.repopulate(vm.docType.id)" ng-model="vm.docType" ng-options="docType.name for docType in vm.docTypes"></select>
            <small><localize key="changeDocType_validDocTypesNote"></localize></small>

            <label for="changeDocType_newTemplate" class="control-label"><localize key="changeDocType_newTemplate"></localize></label>
            <select class="umb-property-editor umb-dropdown" name="newTemplate" id="changeDocType_newTemplateList" ng-model="vm.templateType" ng-options="templateType.name for templateType in vm.templateTypes"></select>
        </umb-pane>
        <umb-pane ng-if="vm.docTypesLength> 0">
            <p>
                <localize key="changeDocType_mapProperties"></localize>
            </p>
            <small><localize key="changeDocType_changeDocTypeInstruction"></localize> <localize key="changeDocType_changeDocTypeInstruction2"></localize></small>
            <div class="umb-el-wrap  hidelabel">
                <table class="table">
                    <thead>
                    <tr>
                        <th><localize key="changeDocType_currentProperty"></localize></th>
                        <th><localize key="changeDocType_mapToProperty"></localize></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="prop in vm.properties">
                        <td>
                            <p>{{prop.label}}</p>
                        </td>
                        <td>
                            <select name="{{destination.label}}" ng-model="prop.destination" class="language" ng-options="destination.label for destination in prop.destinations"></select>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </umb-pane>

    </div>
    <div class="umb-dialog-body" ng-if="vm.success">
        <umb-pane>
            <label for="changeDocType_docTypeChanged" class="control-label"><localize key="changeDocType_docTypeChanged"></localize></label>
            <p><localize key="changeDocType_successMessage"></localize></p>
            <br/><br/>
            <umb-button label-key="general_close"
                        action="vm.closeDialog()"
                        type="button"
                        button-style="link">
            </umb-button>
        </umb-pane>
    </div>

    <div class="umb-dialog-footer btn-toolbar umb-btn-toolbar">
        <umb-button label-key="general_cancel"
                    action="vm.closeDialog()"
                    type="button"
                    button-style="link">
        </umb-button>

        <umb-button label-key="buttons_save"
                    action="vm.save()"
                    type="button"
                    button-style="success">
        </umb-button>
    </div>
</div>
