<div ng-controller="Umbraco.Editors.Content.CreateBlueprintController">

  <form name="blueprintForm"
        novalidate
        ng-submit="create()"
        val-form-manager>

    <div class="umbracoDialog umb-dialog-body with-footer"
         ng-cloak>
      <div class="umb-pane">
        <umb-control-group label="{{label}}" hide-label="false">
          <input type="text" name="name" ng-model="name" class="umb-textstring textstring input-block-level" required />
        </umb-control-group>

      </div>

    </div>
    <div class="umb-dialog-footer btn-toolbar umb-btn-toolbar">
      <button type="submit" class="btn btn-primary">
        <localize key="general_create">Create blueprint</localize>
      </button>
    </div>

  </form>
</div>
