<div ng-controller="Umbraco.Editors.Content.CreateBlueprintController">

  <form name="blueprintForm"
        novalidate
        ng-submit="create()"
        val-form-manager>

    <div class="umbracoDialog umb-dialog-body with-footer"
         ng-cloak>
      <div class="umb-pane">
        <umb-control-group label="{{label}}" hide-label="false">
          <input type="text" name="name" ng-model="message.name" class="umb-textstring textstring input-block-level" 
                 val-server-field="value"
                 required />
          <span class="help-inline" val-msg-for="name" val-toggle-msg="required"><localize key="required" /></span>
          <span class="help-inline" val-msg-for="name" val-toggle-msg="valServerField"></span>
        </umb-control-group>

      </div>

    </div>
    <div class="umb-dialog-footer btn-toolbar umb-btn-toolbar">
    <button type="button" class="btn umb-button btn-info" ng-click="cancel()">
      <localize key="general_cancel">Cancel</localize>
    </button>
    <button type="submit" class="btn umb-button btn-success">
        <localize key="general_create">Create blueprint</localize>
      </button>
    </div>

  </form>
</div>
