<div class="umb-dialog umb-pane" ng-controller="Umbraco.Editors.Content.DeleteController">
    <div class="umb-dialog-body" auto-scale="90">

        <p class="abstract">
            <localize key="defaultdialogs_confirmdelete">Are you sure you want to delete</localize> <strong>{{currentNode.name}}</strong>?
        </p>

        <div class="umb-alert umb-alert--warning">
            <localize key="defaultdialogs_variantdeletewarning">This will delete the node and all its languages. If you only want to delete one language go and unpublish it instead.</localize>
        </div>

        <umb-confirm on-confirm="performDelete" confirm-button-style="danger" on-cancel="cancel"></umb-confirm>

    </div>
</div>
