<div ng-controller="Umbraco.Editors.Content.LanguageAndDomainsController">
    <form name="languageAndDomainsForm"
          novalidate
          ng-submit="create()"
          val-form-manager>

        <umb-load-indicator ng-if="loading"></umb-load-indicator>
        <div class="umb-pane" ng-show="!loading">


            <umb-control-group label="@assignDomain_setLanguage" description="@assignDomain_setLanguageHelp">
                <select ng-options="languages.Id as language.Name for language in model.AvailableLanguages" ng-model="model.Language"></select>
            </umb-control-group>

            <umb-control-group label="@assignDomain_setDomains" description="@assignDomain_setDomainsHelp">
                <table class="table domains" data-bind="visible: domains().length > 0" style="">
                    <thead>
                        <tr>
                            <th ng-bind="@assignDomain_domain">Domain</th>
                            <th ng-bind="@assignDomain_language">Language</th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody ui-sortable="vm.sortableOptions">
                        <tr ng-repeat="domain in model.Domains">
                            <td valign="top"><input class="domain" ng-model="domain.Name"></td>
                            <td valign="top"><select ng-options="languages.Id as language.Name for language in model.AvailableLanguages" ng-model="domain.Lang"></select></td>
                            <td valign="top">
                                <i class="icon icon-navigation handle"></i>
                                <button type="button" class="btn btn-danger" ng-click="remove(item, $event)"><i class="icon icon-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-info" ng-click="add($event)"><localize key="assignDomain_addNew">Add new domain</localize></button>
            </umb-control-group>

        </div>


        <div class="umb-dialog-footer btn-toolbar umb-btn-toolbar" ng-show="!loading">

            <umb-button label-key="general_cancel"
                        action="cancel()"
                        type="button"
                        button-style="link">
            </umb-button>

            <umb-button label-key="general_save"
                        type="submit"
                        button-style="success">
            </umb-button>

        </div>

    </form>

</div>

