<div ng-controller="Umbraco.Editors.Content.MoveController">
<div class="umb-dialog-body">
	<div class="umb-pane">

		<p class="abstract" ng-hide="success">
			Choose where to move <strong>{{currentNode.name}}</strong> to in the tree structure below
		</p>

		<div class="alert alert-error" ng-show="error">
			<h4>{{error.errorMsg}}</h4>
			<p>{{error.data.Message}}</p>
		</div>

		<div class="alert alert-success" ng-show="success">
			<p><strong>{{currentNode.name}}</strong> was moved underneath 
			<strong>{{target.name}}</strong></p>

			<button class="btn btn-primary" ng-click="nav.hideDialog()">Ok</button>
		</div>

		<div ng-hide="success">
			<umb-tree
				section="content" 
				hideheader="false" 
				hideoptions="true"
                isdialog="true"
				eventhandler="dialogTreeEventHandler">
			</umb-tree>
		</div>
	</div>
</div>


<div class="umb-dialog-footer btn-toolbar umb-btn-toolbar" ng-hide="success">
	<a class="btn btn-link" ng-click="nav.hideDialog()">Cancel</a>
	<button class="btn btn-primary" ng-click="move()">Move</button>
</div>
</div>