<umb-editor-view>
    <form ng-controller="Umbraco.Editors.Content.RecycleBinController">

        <umb-editor-header
            name="page.name"
            name-locked="page.nameLocked"
            hide-icon="true"
            hide-description="true"
            hide-alias="true">
        </umb-editor-header>

        <umb-editor-container>
            <ng-include
                src="listViewPath">
            </ng-include>
        </umb-editor-container>
        
    </form>
</umb-editor-view>