<div ng-controller="Umbraco.Editors.Content.SendToTranslateController as vm" ng-cloak>

    <div class="umb-dialog-body with-footer">

        <div class="umb-pane">

            <umb-load-indicator ng-show="vm.loading"></umb-load-indicator>

            <ng-container ng-if="vm.loading === false">
                <div ng-if="vm.error === null && vm.success === null">
                    <div class="alert alert-error" ng-if="vm.translators.length === 0">
                        <localize key="translation_noTranslators">No translator users found. Please create a translator user before you start sending content to translation</localize>
                    </div>

                    <div ng-if="vm.translators.length !== 0">
                        <h5>
                            <localize key="translation_sendToTranslate" tokens="[ dialogOptions.currentNode.name ]">Send the page '{{ dialogOptions.currentNode.name }}' to translation</localize>
                        </h5>

                        <div style="margin-bottom: 15px;">
                            <label class="bold db">
                                <localize key="translation_translator">Translator</localize>
                            </label>
                            <select class="input-block-level" ng-model="vm.form.userId" ng-options="translator.id as translator.name for translator in vm.translators" ng-change="vm.updateButtonDisabledState()">
                                <option value="" hidden>-- <localize key="general_choose">Choose</localize> --</option>
                            </select>
                        </div>

                        <div style="margin-bottom: 15px;">
                            <label class="bold db">
                                <localize key="translation_translateTo">Translate to</localize>
                            </label>
                            <select class="input-block-level" ng-model="vm.form.language" ng-options="language.isoCode as language.name for language in vm.languages" ng-change="vm.updateButtonDisabledState()">
                                <option value="" hidden>-- <localize key="general_choose">Choose</localize> --</option>
                            </select>
                        </div>

                        <div style="margin-bottom: 15px;" ng-show="dialogOptions.currentNode.hasChildren === true">
                            <label class="bold db">
                                <localize key="translation_includeSubpages">Include subpages</localize>
                            </label>
                            <label class="flex">
                                <input class="mt0" style="margin-right:10px;" type="checkbox" ng-model="vm.form.includeSubPages" />
                                <localize key="general_yes">Include subpages</localize>.&nbsp;<localize key="translation_includeSubpages">Include subpages</localize>
                            </label>
                        </div>

                        <div style="margin-bottom: 15px;">
                            <label class="bold db">
                                <localize key="general_comment">Comment</localize>
                            </label>
                            <textarea ng-model="vm.form.comment" style="width:100%; resize:none; min-height:80px;"></textarea>
                        </div>
                    </div>
                </div>

                <div ng-if="vm.error !== null">
                    <div class="alert alert-error">
                        <div><strong>{{ vm.error.errorMsg }}</strong></div>
                        <div>{{ vm.error.data.Message }}</div>
                    </div>
                    <div class="text-right">
                        <a href="" ng-click="nav.hideDialog()">
                            <localize key="defaultdialogs_closeThisWindow">Close this window</localize>
                        </a>
                    </div>
                </div>

                <div ng-if="vm.success === true">
                    <div class="alert alert-success">
                        <localize key="translation_pageHasBeenSendToTranslation" tokens="[ dialogOptions.currentNode.name ]">The page '{{ dialogOptions.currentNode.name }}' has been send to translation</localize>
                    </div>
                    <button class="btn btn-primary" ng-click="nav.hideDialog()">
                        <localize key="general_ok">Ok</localize>
                    </button>
                </div>
            </ng-container>
        </div>
    </div>

    <ng-container ng-if=" vm.loading === false && vm.error == null && vm.success === null">
        <div class="umb-dialog-footer btn-toolbar umb-btn-toolbar" ng-if="vm.translators.length !== 0">
            <a class="btn btn-link" ng-click="nav.hideDialog()">
                <localize key="general_cancel">Cancel</localize>
            </a>

            <umb-button type="button"
                        action="vm.sendToTranslate()"
                        state="vm.sendToTranslationButtonState"
                        button-style="success"
                        label-key="buttons_save"
                        disabled="!vm.buttonEnabled">
            </umb-button>
        </div>

        <div class="umb-dialog-footer btn-toolbar umb-btn-toolbar" ng-if="vm.translators.length === 0">
            <button class="btn btn-info" ng-click="nav.hideDialog(true)">
                <localize key="buttons_somethingElse">Do something else</localize>
            </button>
        </div>
    </ng-container>

</div>
