<div ng-controller="Umbraco.Editors.Content.SendToTranslationController as vm" ng-cloak>
    
    <div class="umb-dialog-body with-footer">
        
        <div class="umb-pane">

            <umb-load-indicator
                ng-show="vm.loading">
            </umb-load-indicator>

            <div ng-if="!vm.loading">

                <div class="alert alert-error" ng-if="vm.translators.length === 0">
                    No translator users found. Please create a translator user before you start sending content to translation
                </div>

                <h5>Send the page '{{ dialogOptions.currentNode }}' to translation</h5>

                <div style="margin-bottom: 10px;">
                    <label class="bold db">Translator</label>
                    <select ng-model="vm.form.translator" ng-options="translator as translator.name for translator in vm.translators">
                        <option value="">-- choose --</option>
                    </select>
                </div>

                <div style="margin-bottom: 10px;">
                    <label class="bold db">Translate to</label>
                    <select ng-model="vm.form.language" ng-options="language as language.name for language in vm.languages">
                        <option value="">-- choose --</option>
                    </select>
                </div>

                <div style="margin-bottom: 10px;">
                    <label class="bold db">Include subpages</label>
                    <label>
                        <input class="mt0" type="checkbox" ng-model="vm.form.includeSubpages" />
                        Yes, include subpages
                    </label>
                </div>

                <div style="margin-bottom: 10px;">
                    <label class="bold db">Comment</label>
                    <textarea ng-model="vm.form.comment"></textarea>
                </div>

            </div>

        </div>

    </div>

    <div class="umb-dialog-footer btn-toolbar umb-btn-toolbar">
        <a class="btn btn-link" ng-click="nav.hideDialog()">
            <localize key="general_cancel">Cancel</localize>
        </a>

        <umb-button
            type="button" 
            action="vm.sendToTranslation()"
            state="vm.sendToTranslationButtonState"
            button-style="success"
            label-key="buttons_save">
        </umb-button>

    </div>

</div>

