<div class="umb-dialog" style="width: 500px" ng-controller="Umbraco.Editors.Content.SortController">
    <ng-form name="sortForm" ng-submit="performSort()">
        <div class="umb-dialog-body" auto-scale="90">
            <p class="umb-abstract">Sort children of {{nav.ui.currentNode.name}}</p>

            <table class="table umb-table">
                <thead>
                    <tr>
                    <td>Name</td>
                    <td>Last Update</td>
                    <td>Index</td>
                </thead>
                <tbody ui-sortable="sortableOptions" ng-model="itemsToSort">
                    <tr ng-repeat="model in itemsToSort">
                        <td>{{model.name}}</td>
                        <td>{{model.updateDate}}</td>
                        <td>{{model.sortOrder}}</td>
                    </tr>                    
                </tbody>
            </table>

        </div>
        <div class="btn-toolbar umb-btn-toolbar">
            <button class="btn" ng-click="nav.hideDialog()">Cancel</button>
            <button class="btn btn-primary">Sort</button>
        </div>
    </ng-form>
</div>
