<div class="umb-dialog" style="width: 500px">
	<div class="umb-dialog-body" auto-scale="90">
	<p class="umb-abstract">Sort children of {{nav.ui.currentNode.name}}</p>

	<table class="table umb-table">
		<thead>
			<tr><td>Name</td><td>Last Update</td> <td>Index</td>
		</thead>
		<tbody>
			<tr><td>Some node</td><td>13:23 3 July 2024</td> <td>0</td></tr>
			<tr><td>Some node</td><td>13:23 3 July 2024</td> <td>0</td></tr>
			<tr><td>Some node</td><td>13:23 3 July 2024</td> <td>0</td></tr>
			<tr><td>Some node</td><td>13:23 3 July 2024</td> <td>0</td></tr>
			<tr><td>Some node</td><td>13:23 3 July 2024</td> <td>0</td></tr>
			<tr><td>Some node</td><td>13:23 3 July 2024</td> <td>0</td></tr>
			<tr><td>Some node</td><td>13:23 3 July 2024</td> <td>0</td></tr>
			<tr><td>Some node</td><td>13:23 3 July 2024</td> <td>0</td></tr>
			<tr><td>Some node</td><td>13:23 3 July 2024</td> <td>0</td></tr>
			<tr><td>Some node</td><td>13:23 3 July 2024</td> <td>0</td></tr>
		</tbody>
	</table>

	</div>
	<div class="btn-toolbar umb-btn-toolbar">
		<button class="btn" ng-click="nav.hideDialog()">Cancel</button>
		<button class="btn btn-primary" ng-click="nav.hideDialog()">Sort</button>		
	</div>
</div>