<div ng-controller="Umbraco.PropertyEditors.ColorPickerController">

	<div ng-if="!isConfigured" >
		<localize key="colorpicker_noColors">You haven't defined any colors</localize>
	</div>

    <ul class="thumbnails color-picker">
        <li ng-repeat="(key, val) in model.config.items" ng-class="{active: isActiveColor(val)}">
            <a ng-click="toggleItem(val)" class="thumbnail" hex-bg-color="{{val.value}}">
            </a>
            <span class="color-label" ng-if="model.useLabel" ng-bind="val.label"></span>
        </li>
    </ul>

    <input type="hidden" name="modelValue" ng-model="model.value" val-property-validator="validateMandatory"/>

</div>
