<div ng-controller="Umbraco.PropertyEditors.ColorPickerController">

	<div ng-if="!isConfigured" >
		<localize key="colorpicker_noColors">You haven't defined any colors</localize>
	</div>

    <ul class="thumbnails color-picker">
        <li ng-repeat="item in model.config.items" ng-class="{active: model.value === item.value}">
            <a ng-click="toggleItem(item)" class="thumbnail" hex-bg-color="{{item.value}}">

            </a>
        </li>
    </ul>

    <input type="hidden" name="modelValue" ng-model="model.value" val-property-validator="validateMandatory"/>

</div>
