<div ng-controller="Umbraco.PropertyEditors.EntityPickerController" ng-switch="model.config.multiple">
    
    <select name="contentTypeList"
        class="umb-property-editor umb-dropdown"
        ng-switch-default
        ng-model="model.value"
        ng-options="{{selectOptions}}">
    </select>
    
    <!--NOTE: This ng-switch is required because ng-multiple doesn't actually support dynamic bindings with multi-select lists -->
    <select name="contentTypeList"
        class="umb-property-editor umb-dropdown"
        ng-switch-when="1"
        multiple
        ng-model="model.value"
        ng-options="{{selectOptions}}">
    </select>

</div>
