<umb-load-indicator ng-if="vm.loading === true"></umb-load-indicator>

<umb-box ng-if="(vm.hasContentReferences === false) && (vm.hasContentReferencesInDescendants === false) && (vm.hasMediaReferences === false) && (vm.hasMediaReferencesInDescendants === false) && (vm.hasMemberReferences === false) && (vm.loading === false) && (vm.hideNoResult === false)">
    <umb-box-header title-key="references_tabName"></umb-box-header>
    <umb-box-content>
        <umb-empty-state size="small">
            <localize key="references_itemHasNoReferences">This item is not referenced</localize>
        </umb-empty-state>
    </umb-box-content>
</umb-box>

<div ng-if="vm.loading === false">

    <!-- Content -->
    <div ng-if="vm.hasContentReferences">
        <umb-tracked-references-table items="vm.contentReferences.items"
                                      total-pages="vm.contentReferences.totalPages"
                                      page-number="vm.contentReferences.pageNumber"
                                      headline="vm.contentReferencesTitle"
                                      on-page-changed="vm.changeContentPageNumber(pageNumber)"
                                      show-alias="!vm.compact"
                                      show-type="!vm.compact"
                                      type-label-key="content_documentType">
        </umb-tracked-references-table>
    </div>

    <!-- TODO: Make it optional to show this, so we can hide it in Info tabs. -->
    <div ng-if="vm.hasContentReferencesInDescendants"> <!-- TODO: RENAME this table -->
        <umb-tracked-references-table  items="vm.referencedContentDescendants.items"
                                                total-pages="vm.referencedContentDescendants.totalPages"
                                                page-number="vm.referencedContentDescendants.pageNumber"
                                                headline="vm.referencedDescendantsTitle"
                                                on-page-changed="vm.changeContentDescendantsPageNumber(pageNumber)">
        </umb-tracked-references-table>
    </div>

    <!-- Members -->
    <div ng-if="vm.hasMemberReferences">
        <umb-tracked-references-table items="vm.memberReferences.items"
                                      total-pages="vm.memberReferences.totalPages"
                                      page-number="vm.memberReferences.pageNumber"
                                      headline="vm.memberReferencesTitle"
                                      on-page-changed="vm.changeMemberPageNumber(pageNumber)"
                                      show-alias="!vm.compact"
                                      show-type="!vm.compact"
                                      type-label-key="content_memberType">
        </umb-tracked-references-table>
    </div>

    <!-- Media -->
    <div ng-if="vm.hasMediaReferences">
        <umb-tracked-references-table items="vm.mediaReferences.items"
                                      total-pages="vm.mediaReferences.totalPages"
                                      page-number="vm.mediaReferences.pageNumber"
                                      headline="vm.mediaReferencesTitle"
                                      on-page-changed="vm.changeMediaPageNumber(pageNumber)"
                                      show-alias="!vm.compact"
                                      show-type="!vm.compact"
                                      type-label-key="content_mediaType">
        </umb-tracked-references-table>
    </div>

    <!-- TODO: Make it optional to show this. -->
    <div ng-if="vm.hasMediaReferencesInDescendants"> <!-- TODO: RENAME this table -->
        <umb-tracked-references-table  items="vm.referencedMediaDescendants.items"
                                                total-pages="vm.referencedMediaDescendants.totalPages"
                                                page-number="vm.referencedMediaDescendants.pageNumber"
                                                headline="vm.referencedDescendantsTitle"
                                                on-page-changed="vm.changeMediaDescendantsPageNumber(pageNumber)">
        </umb-tracked-references-table>
    </div>
</div>
