<umb-load-indicator ng-if="vm.loading === true"></umb-load-indicator>

<umb-box ng-if="(vm.hasContentReferences === false) && (vm.hasContentReferencesInDescendants === false) && (vm.hasMediaReferences === false) && (vm.hasMediaReferencesInDescendants === false) && (vm.hasMemberReferences === false) && (vm.hasMemberReferencesInDescendants === false) && vm.loading === false">
    <umb-box-header title-key="references_tabName"></umb-box-header>
    <umb-box-content>
        <umb-empty-state size="small">
            This item has no references
        </umb-empty-state>
    </umb-box-content>
</umb-box>

<!-- Media Tracking (With Items) -->
<div ng-if="vm.loading === false">
    <!-- Content -->
    <div ng-if="vm.hasContentReferences">

        <h5 class="mt0" style="margin-bottom: 20px;">
            <localize key="references_labelUsedByDocuments">Used in Documents</localize>
        </h5>

        <div class="umb-table">
            <div class="umb-table-head">
                <div class="umb-table-row">
                    <div class="umb-table-cell"></div>
                    <div class="umb-table-cell umb-table__name not-fixed"><localize key="general_name">Name</localize></div>
                    <div class="umb-table-cell"><localize key="content_alias">Alias</localize></div>
                    <div class="umb-table-cell umb-table-cell--nano"><localize key="general_open" style="visibility:hidden;">Open</localize></div>
                </div>
            </div>
            <div class="umb-table-body">
                <div class="umb-table-row" ng-repeat="reference in vm.contentReferences.items">
                    <div class="umb-table-cell"><i class="umb-table-body__icon {{reference.icon}}"></i></div>
                    <div class="umb-table-cell umb-table__name"><span>{{::reference.name}}</span></div>
                    <div class="umb-table-cell"><span title="{{::reference.alias}}">{{::reference.alias}}</span></div>
                    <div class="umb-table-cell umb-table-cell--nano"><a ng-href="#/content/content/edit/{{::reference.id}}"><localize key="general_open">Open</localize></a></div>
                </div>
            </div>
        </div>

        <!-- Pagination -->
        <div class="flex justify-center">
            <umb-pagination ng-if="vm.contentReferences.totalPages"
                            page-number="vm.contentReferences.pageNumber"
                            total-pages="vm.contentReferences.totalPages"
                            on-change="vm.changeContentPageNumber(pageNumber)">
            </umb-pagination>
        </div>
    </div>

    <div ng-if="vm.hasContentReferencesInDescendants">
        <h5 class="mt0" style="margin-bottom: 20px;">
            <localize key="references_labelUsedByDocuments">Used in Documents</localize>
        </h5>

        <umb-box>
            <umb-box-content>
                <localize key="references_labelUsedInContentDescendants">One of the underlying items is being used in content item</localize>
            </umb-box-content>
        </umb-box>
    </div>

    <!-- Members -->
    <div ng-if="vm.hasMemberReferences > 0">

        <h5 class="mt0" style="margin-bottom: 20px;">
            <localize key="references_labelUsedByMembers">Used in Members</localize>
        </h5>

        <div class="umb-table">
            <div class="umb-table-head">
                <div class="umb-table-row">
                    <div class="umb-table-cell"></div>
                    <div class="umb-table-cell umb-table__name not-fixed"><localize key="general_name">Name</localize></div>
                    <div class="umb-table-cell"><localize key="content_alias">Alias</localize></div>
                    <div class="umb-table-cell umb-table-cell--nano"><localize key="general_open" style="visibility:hidden;">Open</localize></div>
                </div>
            </div>
            <div class="umb-table-body">
                <div class="umb-table-row" ng-repeat="reference in vm.memberReferences.items">
                    <div class="umb-table-cell"><i class="umb-table-body__icon {{reference.icon}}"></i></div>
                    <div class="umb-table-cell umb-table__name"><span>{{::reference.name}}</span></div>
                    <div class="umb-table-cell"><span title="{{::reference.alias}}">{{::reference.alias}}</span></div>
                    <div class="umb-table-cell umb-table-cell--nano"><a href="#/member/member/edit/{{::reference.key}}"><localize key="general_open">Open</localize></a></div>
                </div>
            </div>
        </div>

        <!-- Pagination -->
        <div class="flex justify-center">
            <umb-pagination ng-if="vm.memberReferences.totalPages"
                            page-number="vm.memberReferences.pageNumber"
                            total-pages="vm.memberReferences.totalPages"
                            on-change="vm.changeMemberPageNumber(pageNumber)">
            </umb-pagination>
        </div>
    </div>

    <div ng-if="vm.hasMemberReferencesInDescendants">
        <h5 class="mt0" style="margin-bottom: 20px;">
            <localize key="references_labelUsedByMembers">Used in Members</localize>
        </h5>

        <umb-box>
            <umb-box-content>
                <localize key="references_labelUsedInMemberDescendants">One of the underlying items is being used in a member</localize>
            </umb-box-content>
        </umb-box>
    </div>

    <!-- Media -->
    <div ng-if="vm.hasMediaReferences">

        <h5 class="mt0" style="margin-bottom: 20px;">
            <localize key="references_labelUsedByMedia">Used in Media</localize>
        </h5>

        <div class="umb-table">
            <div class="umb-table-head">
                <div class="umb-table-row">
                    <div class="umb-table-cell"></div>
                    <div class="umb-table-cell umb-table__name not-fixed"><localize key="general_name">Name</localize></div>
                    <div class="umb-table-cell"><localize key="content_alias">Alias</localize></div>
                    <div class="umb-table-cell umb-table-cell--nano"><localize key="general_open" style="visibility:hidden;">Open</localize></div>
                </div>
            </div>
            <div class="umb-table-body">
                <div class="umb-table-row" ng-repeat="reference in vm.mediaReferences.items">
                    <div class="umb-table-cell"><i class="umb-table-body__icon {{reference.icon}}"></i></div>
                    <div class="umb-table-cell umb-table__name"><span>{{::reference.name}}</span></div>
                    <div class="umb-table-cell"><span title="{{::reference.alias}}">{{::reference.alias}}</span></div>
                    <div class="umb-table-cell umb-table-cell--nano"><a href="#/media/media/edit/{{::reference.id}}"><localize key="general_open">Open</localize></a></div>
                </div>
            </div>
        </div>

        <!-- Pagination -->
        <div class="flex justify-center">
            <umb-pagination ng-if="vm.mediaReferences.totalPages"
                            page-number="vm.mediaReferences.pageNumber"
                            total-pages="vm.mediaReferences.totalPages"
                            on-change="vm.changeMediaPageNumber(pageNumber)">
            </umb-pagination>
        </div>
    </div>

    <div ng-if="vm.hasMediaReferencesInDescendants">
        <h5 class="mt0" style="margin-bottom: 20px;">
            <localize key="references_labelUsedByMedia">Used in Media</localize>
        </h5>

        <umb-box>
            <umb-box-content>
                <localize key="references_labelUsedInMediaDescendants">One of the underlying items is being used in a media item</localize>
            </umb-box-content>
        </umb-box>
    </div>

</div>
