@model Umbraco.Web.Search.ExamineDashboardDetails

<div class="propertypane">
    <div class="propertyItem">
        <div class="dashboardWrapper">
            <h2>Examine Management</h2>
            <img src="@(GlobalSettings.ClientPath)/Dashboards/ExamineManagementIco.png" alt="uGoLive" class="dashboardIcon">
        </div>
    </div>
</div>