.errormessage {
	color: var(--uui-color-invalid-standalone);
	display: none;
	margin-top: var(--uui-size-1);
}

[aria-invalid='true'] ~ .errormessage {
	display: block;
}

uui-form-layout-item {
	margin-top: var(--uui-size-space-4);
	margin-bottom: var(--uui-size-space-4);
}

#username-input {
	width: 100%;
	height: var(--input-height);
	box-sizing: border-box;
	display: block;
	border: 1px solid var(--uui-color-border);
	border-radius: var(--uui-border-radius);
	background-color: var(--uui-color-surface);
	padding: var(--uui-size-1, 3px) var(--uui-size-space-4, 9px);
}

#username-input:focus-within {
	border-color: var(--uui-input-border-color-focus, var(--uui-color-border-emphasis, #a1a1a1));
	outline: calc(2px * var(--uui-show-focus-outline, 1)) solid var(--uui-color-focus);
}

#username-input:hover:not(:focus-within) {
	border-color: var(--uui-input-border-color-hover, var(--uui-color-border-standalone, #c2c2c2));
}

#password-show-toggle {
	color: var(--uui-color-default-standalone);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	min-width: 24px;
	min-height: 24px;
	border-color: transparent;
	background-color: transparent;
	padding: 0;
	transition-property: color;
	transition-duration: 0.1s;
	transition-timing-function: linear;
}

#password-show-toggle:hover {
	color: var(--uui-color-default-emphasis);
	cursor: pointer;
}

#password-input-span {
	display: inline-flex;
	width: 100%;
	align-items: center;
	flex-wrap: nowrap;
	position: relative;
	vertical-align: middle;
	column-gap: 0;
	height: var(--input-height);
	box-sizing: border-box;
	border: 1px solid var(--uui-color-border);
	border-radius: var(--uui-border-radius);
	background-color: var(--uui-color-surface);
	padding: var(--uui-size-1, 3px) var(--uui-size-space-4, 9px);
}

#password-input {
	flex-grow: 1;
	align-self: stretch;
	min-width: 0;
	display: block;
	border-style: none;
	padding: 0;
	outline-style: none;
}

#password-input-span:focus-within {
	border-color: var(--uui-input-border-color-focus, var(--uui-color-border-emphasis, #a1a1a1));
	outline: calc(2px * var(--uui-show-focus-outline, 1)) solid var(--uui-color-focus);
}

#password-input-span:hover:not(:focus-within) {
	border-color: var(--uui-input-border-color-hover, var(--uui-color-border-standalone, #c2c2c2));
}

#password-input::-ms-reveal {
	display: none;
}
