<div class="umb-overlay-body" ng-controller="Umbraco.Editors.DocumentType.PropertyController">
		
		<!--
		<h5>Layout</h5>
        <ul class="umb-card-grid">
        	<li>
            	<a href ng-click="model.addTab()">
                	<i class="icon-tab"></i>
                	Tab
            	</a>
        	</li>
        	<li>
            	<a href ng-click="model.addGroup()">
                	<i class="icon-thumbnail-list"></i>
                	Fieldset
            	</a>
        	</li>
        </ul>

		<hr>
		-->

		<div ng-repeat="(key, value) in model.dataTypes">
                <h5>{{key}}</h5>
                <ul class="umb-card-grid">
                	<li ng-repeat="dt in value">
	                	<a href ng-click="model.submit(dt)">
	                    	<i class="{{dt.icon}}"></i> 
	                    	{{dt.name}}
	                	</a>
                	</li>
                </ul>
        </div>
</div>