<div ng-controller="Umbraco.PropertyEditors.MemberPickerController" class="umb-property-editor umb-memberpicker">

	<div>
		<umb-node-preview
			ng-repeat="node in renderModel"
			icon="node.icon"
			name="node.name"
			allow-remove="allowRemove"
			on-remove="remove($index)">
		</umb-node-preview>
	</div>

	<a ng-show="model.config.multiPicker === true || renderModel.length === 0" 
		class="umb-node-preview-add" 
		href="#"
		ng-click="openMemberPicker()"
		prevent-default>
		<localize key="general_add">Add</localize>
	</a>

</div>
