<div class="umb-keyboard-shortcuts-overview__keyboard-shortcuts-group" ng-repeat="shortcutGroup in model.shortcuts">
    <h5 class="umb-keyboard-shortcuts-overview__keyboard-shortcuts-group-name">{{ shortcutGroup.name }}</h5>
    <div class="umb-keyboard-shortcuts-overview__keyboard-shortcuts">
        <div class="umb-keyboard-shortcuts-overview__keyboard-shortcut" ng-repeat="shortcut in shortcutGroup.shortcuts">
            <div class="umb-keyboard-shortcuts-overview__description">{{ shortcut.description }}</div>
            <div class="umb-keyboard-keys">
                <div ng-repeat="key in shortcut.platformKeys">
                    <div class="umb-keyboard-key-wrapper">
                        <div class="umb-keyboard-key">{{ key.key }}</div>
                        <div ng-if="!$last">
                            <span ng-if="!keyboardShortcut.keyRange">+</span>
                            <span ng-if="keyboardShortcut.keyRange">-</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>