@inherits umbraco.MacroEngines.DynamicNodeContext

@*
    Macro parameter to be set on the macro
    Alias:propertyAlias     Name:Property Alias    Type:Textbox
*@   

@{
    
    @* Get the property alias we want to filter on from the macro parameter *@
    var propertyAlias = Parameter.propertyAlias;
    var selection = Model.Children.Where("Visible").OrderBy(propertyAlias);
}

<ul>
    @foreach (var page in selection)
    { 
        <li><a href="@page.Url">@page.Name</a></li>
    }
</ul>
