<div ng-controller="Umbraco.Editors.FileUploadController">
    
    <div ng-hide="clearFiles">
        <div class="file-uploader">
            <input type="file" umb-file-upload multiple />
        </div>
        <ul ng-show="files.length > 0">
            <li ng-repeat="file in files">{{file.file.name}}</li>
        </ul> 
    </div>

    <div ng-show="persistedFiles.length > 0">        
        <ul class="thumbnails">
            <li class="thumbnail" ng-repeat="file in persistedFiles">
                <div ng-switch on="file.isImage" >
                    <img ng-src="{{file.thumbnail}}" ng-switch-when="true" alt="{{file.file}}"/>
                    <span ng-switch-default>{{file.file}}</span>
                </div>                
            </li>
        </ul>
        <input type="checkbox" name="myPackage_clearFiles" ng-model="clearFiles" />
        <label for="myPackage_clearFiles">Clear files</label>
    </div>
</div>
