<div class="umb-dialog" ng-controller="Umbraco.Editors.Scripts.DeleteController">
    <div class="umb-dialog-body umb-pane">

        <p class="umb-abstract">
            <localize key="defaultdialogs_confirmdelete">Are you sure you want to delete</localize> <strong>{{currentNode.name}}</strong> ?
        </p>

    </div>

    <div class="umb-dialog-footer btn-toolbar umb-btn-toolbar">

        <umb-button type="button"
                    button-style="link"
                    label-key="general_cancel"
                    action="cancel()">
        </umb-button>

        <umb-button type="button"
                    button-style="success"
                    label-key="actions_delete"
                    action="performDelete()">
        </umb-button>

    </div>
</div>
