<div ng-controller="Umbraco.Editors.Scripts.EditController as vm">

    <umb-load-indicator ng-if="vm.page.loading"></umb-load-indicator>

    <form name="scriptsForm"
      ng-submit="vm.save()"
      novalidate
      val-form-manager>

        <umb-editor-view ng-if="!vm.page.loading">

            <umb-editor-header
                name="vm.script.name"
                hide-alias="true"
                description="vm.script.virtualPath"
                description-locked="true"
                menu="vm.page.menu"
                hide-icon="true">
            </umb-editor-header>

            <umb-editor-container>

                <div
                    auto-scale="85"
                    umb-ace-editor="vm.aceOption"
                    model="vm.script.content">
                </div>

            </umb-editor-container>

            <umb-editor-footer>
                <umb-editor-footer-content-left>

                    <umb-keyboard-shortcuts-overview
                        model="vm.page.keyboardShortcutsOverview"
                        show-overlay="vm.showKeyboardShortcut">
                    </umb-keyboard-shortcuts-overview>

                </umb-editor-footer-content-left>

                <umb-editor-footer-content-right>

                    <umb-button
                        type="submit"
                        button-style="success"
                        state="vm.page.saveButtonState"
                        shortcut="ctrl+s"
                        label="Save"
                        label-key="buttons_save">
                    </umb-button>

                </umb-editor-footer-content-right>

         </umb-editor-footer>

        </umb-editor-view>
    </form>

</div>