<?xml version="1.0"?>
<applications>
  <add alias="content" name="Content" icon=".traycontent" sortOrder="10" />
  <add alias="media" name="Media" icon=".traymedia" sortOrder="20" />
  <add alias="settings" name="Settings" icon=".traysettings" sortOrder="30" />
  <add alias="developer" name="Developer" icon=".traydeveloper" sortOrder="40" />
  <add alias="users" name="Users" icon=".trayusers" sortOrder="50" />
  <add alias="member" name="Members" icon=".traymember" sortOrder="60" />
  <add alias="translation" name="Translation" icon=".traytranslation" sortOrder="70" />
</applications>