<?xml version="1.0"?>
<!-- 
Umbraco examine is an extensible indexer and search engine.
This configuration file can be extended to create your own index sets.
Index/Search providers can be defined in the UmbracoSettings.config

More information and documentation can be found on CodePlex: http://umbracoexamine.codeplex.com
-->
<ExamineLuceneIndexSets>
  <!-- The internal index set used by Umbraco back-office - DO NOT REMOVE -->
  <IndexSet SetName="Default" IndexPath="~/App_Data/ExamineIndexes/Internal/">
    <IndexStandardFields>
      <add Name="id" />
      <add Name="nodeName" />
      <add Name="updateDate" />
      <add Name="writerName" />
      <add Name="path" />
      <add Name="nodeTypeAlias" />
      <add Name="parentID" />
    </IndexStandardFields>
    <IndexUserFields />
    <IncludeNodeTypes/>
    <ExcludeNodeTypes />
  </IndexSet>
  
  <!-- This is an example of an index set created for the Creative Website Starter kit 

  <IndexSet SetName="CWSIndex" IndexPath="~/App_Data/ExamineIndexes/CWSIndex/">
    <IndexStandardFields>
      <add Name="id" />
      <add Name="nodeName" />
      <add Name="updateDate" />
      <add Name="writerName" />
      <add Name="path" />
      <add Name="nodeTypeAlias" />
      <add Name="parentID" />
    </IndexStandardFields>
    <IndexUserFields>
      <add Name="headerText" />
      <add Name="bodyText" />
      <add Name="metaDescription" />
      <add Name="metaKeywords" />
      <add Name="bodyTextColOne" />
      <add Name="bodyTextColTwo" />
    </IndexUserFields>
    <IncludeNodeTypes>
      <add Name="CWS_Home" />
      <add Name="CWS_Textpage" />
      <add Name="CWS_TextpageTwoCol" />
      <add Name="CWS_NewsEventsList" />
      <add Name="CWS_NewsItem" />
      <add Name="CWS_Gallery" />
      <add Name="CWS_EventItem" />
    </IncludeNodeTypes>
    <ExcludeNodeTypes />
  </IndexSet>

  -->
</ExamineLuceneIndexSets>