<?xml version="1.0"?>
<trees>

  <!-- Content -->
  <add application="content" alias="content" name="Content" type="umbraco.loadContent, umbraco" 
       iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" silent="true" sortOrder="10" />
  <add application="content" alias="contentRecycleBin" name="RecycleBin" type="umbraco.cms.presentation.Trees.ContentRecycleBin, umbraco" 
       iconClosed="folder.gif" iconOpen="folder_o.gif" autoInitialize="false" sortOrder="20" />

  <!-- Media -->
  <add application="media" alias="media" name="Media" type="umbraco.loadMedia, umbraco" 
       iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" sortOrder="10" />
  <add application="media" alias="mediaRecycleBin" name="RecycleBin" type="umbraco.cms.presentation.Trees.MediaRecycleBin, umbraco" 
       iconClosed="folder.gif" iconOpen="folder_o.gif" autoInitialize="false" sortOrder="20" />

  <!-- Settings -->
  <add application="settings" alias="languages" name="Languages" type="umbraco.loadLanguages, umbraco"
       iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" sortOrder="10" />
  <add application="settings" alias="dictionary" name="Dictionary" type="umbraco.loadDictionary, umbraco"
       iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" sortOrder="20" />
  <add application="settings" alias="noteTypes" name="Document Types" type="umbraco.loadNodeTypes, umbraco"
       iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" sortOrder="30" />
  <add application="settings" alias="mediaTypes" name="Media Types" type="umbraco.loadMediaTypes, umbraco"
       iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" sortOrder="40" />
  <add application="settings" alias="stylesheets" name="Stylesheets" type="umbraco.loadStylesheets, umbraco"
       iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" sortOrder="50" />
  <add application="settings" alias="stylesheetProperty" name="Stylesheet Property" type="umbraco.loadStylesheetProperty, umbraco"
       iconClosed="" iconOpen="" autoInitialize="false" sortOrder="51" />
  <add application="settings" alias="scripts" name="Scripts" type="umbraco.loadScripts, umbraco"
       iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" sortOrder="60" />
  <add application="settings" alias="templates" name="Templates" type="umbraco.loadTemplates, umbraco"
       iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" sortOrder="70" />

  <!-- Developer -->
  <add application="developer" alias="cacheBrowser" name="Cache Browser" type="umbraco.loadCache, umbraco"
       iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" sortOrder="10" />
  <add application="developer" alias="CacheItem" name="Cache Item" type="umbraco.loadCacheItem, umbraco"
       iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" autoInitialize="false" sortOrder="11" />
  <add application="developer" alias="datatype" name="Data Types" type="umbraco.loadDataTypes, umbraco"
       iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" sortOrder="20" />
  <add application="developer" alias="macros" name="Macros" type="umbraco.loadMacros, umbraco"
       iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" sortOrder="30" />
  <add application="developer" alias="packager" name="Packages" type="umbraco.loadPackager, umbraco"
       iconClosed="folder.gif" iconOpen="folder_o.gif" sortOrder="40" />
  <add application="developer" alias="packagerPackages" name="Packager Packages" type="umbraco.loadPackages, umbraco"
       iconClosed="folder.gif" iconOpen="folder_o.gif" autoInitialize="false" sortOrder="41" />
  <add application="developer" alias="python" name="Scripting Files" type="umbraco.loadPython, umbraco"
       iconClosed="folder.gif" iconOpen="folder_o.gif" sortOrder="50" />
  <add application="developer" alias="xslt" name="XSLT Files" type="umbraco.loadXslt, umbraco"
       iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" sortOrder="60" />

  <!-- Users -->
  <add application="users" alias="users" name="Users" type="umbraco.loadUsers, umbraco"
       iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" sortOrder="10" />
  <add application="users" alias="userTypes" name="User Types" type="umbraco.cms.presentation.Trees.UserTypes, umbraco"
       iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" sortOrder="20" />
  <add application="users" alias="userPermissions" name="User Permissions" type="umbraco.cms.presentation.Trees.UserPermissions, umbraco"
       iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" sortOrder="30" />

  <!-- Members -->
  <add application="member" alias="member" name="Members" type="umbraco.loadMembers, umbraco"
       iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" sortOrder="10" />
  <add application="member" alias="memberGroup" name="Member Groups" type="umbraco.loadMemberGroups, umbraco"
       iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" sortOrder="20" />
  <add application="member" alias="memberType" name="Member Types" type="umbraco.loadMemberTypes, umbraco"
       iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" sortOrder="30" />

  <!-- Translation -->
  <add application="translation" alias="openTasks" name="Tasks assigned to you" type="umbraco.loadOpenTasks, umbraco"
       iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" sortOrder="10" />
  <add application="translation" alias="yourTasks" name="Tasks created by you" type="umbraco.loadYourTasks, umbraco"
       iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" sortOrder="20" />

  <!-- Custom -->
  <!--<add application="myApplication" alias="myTree" name="Me Tree" type="myPackage.myTree, myPackage"
       iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" sortOrder="10" />-->
  
</trees>
