<div class="clearfix">
    <umb-editor-view footer="false">

        <umb-editor-header 
            name="'Content Templates'"
            name-locked="true"
            hide-icon="true"
            hide-description="true"                           
            hide-alias="true">
        </umb-editor-header>

        <umb-editor-container>

            <umb-box>
                <umb-box-content class="content-templates-dashboard">
                    <h3>
                        <localize key="contentTemplatesDashboard_whatHeadline">What are Content Templates?</localize>
                    </h3>
                    <p>
                        <localize key="contentTemplatesDashboard_whatDescription">Content Templates are pre-defined content that can be selected when creating a new content node.</localize>
                    </p>
                    
                    <h4 class="bold">
                        <localize key="contentTemplatesDashboard_createHeadline">How do I create a Content Template?</localize>
                    </h4>
                    <localize key="contentTemplatesDashboard_createDescription">
                        <p>There are two ways to create a Content Template:</p>
                        <ul>
                            <li>Right-click a content node and select "Create Content Template" to create a new Content Template.</li>
                            <li>Right-click the Content Templates tree in the Settings section and select the Document Type you want to create a Content Template for.</li>
                        </ul>
                        <p>Once given a name, editors can start using the Content Template as a foundation for their new page.</p>
                    </localize>

                    <h4 class="bold">
                        <localize key="contentTemplatesDashboard_manageHeadline">How do I manage Content Templates?</localize>
                    </h4>
                    <p>
                        <localize key="contentTemplatesDashboard_manageDescription">You can edit and delete Content Templates from the "Content Templates" tree in the Settings section. Just expand the Document Type which the Content Template is based on and click it to edit or delete it.</localize>
                    </p>
                </umb-box-content>
            </umb-box>

        </umb-editor-container>

    </umb-editor-view>
</div>



