<div class="umb-property">
    <ng-form name="propertyForm">
        <div class="control-group umb-control-group" ng-class="{hidelabel:property.hideLabel}">

            <val-property-msg></val-property-msg>

            <div class="umb-el-wrap">

                <label class="control-label" ng-hide="property.hideLabel" for="{{property.alias}}" ng-attr-title="{{propertyAlias}}">

                    {{property.label}}

                    <span ng-if="property.validation.mandatory">
                        <strong class="umb-control-required" ng-class="{'--as-grey': showInherit}">*</strong>
                    </span>
                    <small ng-bind-html="property.description | preserveNewLineInHtml"></small>

                </label>

                <div class="controls" ng-transclude>
                </div>

                <small ng-if="showInherit" class="umb-property__inheriting-from-default" on-click="openDefaultVariant(inheritsFrom);">
                    <localize key="contentTypeEditor_inheritedFrom" tokens="[inheritsFrom.language.name]" watchTokens="true"></localize>
                </small>
            </div>
        </div>
    </ng-form>
</div>
