<div ng-form name="contentForm" ng-show="loaded">
    <umb-panel ng-controller="Umbraco.Editors.DataType.EditController" val-show-validation>

        <umb-header>

            <umb-content-name 
                ng-model="content.name" 
                placeholder="Enter a title">
            </umb-content-name>

            <div class="span8">
                <div class="btn-toolbar pull-right umb-btn-toolbar">
                    
                    <div class="btn-group">
                        
                        <a class="btn btn-success" href="#" ng-click="save(content)" data-shortcut="ctrl+s"
                           prevent-default>Save</a>

                    </div>
                </div>
            </div>
        </umb-header>
        
        <div class="umb-panel-body umb-scrollable row-fluid" auto-scale="1">
            <div class="tab-content form-horizontal">
                <div class="umb-pane">
                    <umb-property property="properties.selectedEditor">
                        
                        <!-- TODO: We have more issues with transcluding and ng-form so the current validator toggle is not 
                            executin, will investigate more tomorrow, if you are readin this, I discovered some crazy stuf with 
                            ng-form controllers and transclusion which makes things interesting. //-->
                        <div>
                            <select name="selectedEditor" 
                                    ng-model="availableEditors" 
                                    required  
                                    ng-options="e.name for e in content.availableEditors track by e.editorId"></select>
                            <span class="help-inline" val-msg-for="selectedEditor" val-toggle-msg="requires">Requires</span>
                        </div>

                    </umb-property>
                    <umb-property property="properties.selectedEditorId">
                        <div>{{content.selectedEditor}}</div>
                    </umb-property>
                </div>
            </div>
        </div>

    </umb-panel>
</div>
