<form novalidate name="contentForm" 
      ng-controller="Umbraco.Editors.DataType.EditController" 
      ng-show="loaded" 
      ng-submit="save()"
      val-form-manager>
    <umb-panel>

        <umb-header>

            <div class="span4">
                <input type="text" 
                    class="umb-headline" 
                    localize="placeholder" 
                    placeholder="@placeholders_entername" 
                    ng-model="content.name" />
            </div>

            <div class="span8">
                <div class="btn-toolbar pull-right umb-btn-toolbar">
                    <div class="btn-group" ng-class="{dimmed: content.id === 0}">
                        <!-- options button -->
                        <a class="btn" href="#" ng-click="options(content)" prevent-default data-toggle="dropdown">
                           <i class="icon-settings" style="line-height: 14px"></i> 
                           <localize key="general_actions">Actions</localize>
                        </a>
                        
                        <a class="btn dropdown-toggle" ng-click="options(content)" data-toggle="dropdown">
                            <span class="caret"></span>
                        </a>
                        
                        <!-- actions -->
                        <ul class="dropdown-menu  umb-actions" role="menu" aria-labelledby="dLabel">
                            <li class="action" ng-class="{sep:action.seperator}" ng-repeat="action in actions">
                                <a prevent-default
                                    ng-click="executeMenuItem(nav.ui.currentNode,action,nav.ui.currentSection)">
                                    <i class="icon icon-{{action.cssclass}}"></i>
                                    <span class="menu-label">{{action.name}}</span>
                                </a>
                            </li>                             
                        </ul>
                     </div>
                </div>
            </div>
        </umb-header>
        
        <div class="umb-panel-body umb-scrollable row-fluid">
            <div class="tab-content form-horizontal">
                <div class="umb-pane">
                    
                    <umb-property property="properties.selectedEditor">                        
                        <div>
                            <select name="selectedEditor"
                                    ng-model="content.selectedEditor" 
                                    required  
                                    ng-options="e.alias as e.name for e in content.availableEditors"></select>
                            <span class="help-inline" val-msg-for="selectedEditor" val-toggle-msg="required">Required</span>
                        </div>

                    </umb-property>
                    
                    <umb-property property="properties.selectedEditorId">
                        <div>{{content.selectedEditor}}</div>
                    </umb-property>
                    
                    <hr />
                    
                    <umb-property 
                        property="preValue" 
                        ng-repeat="preValue in preValues">
                        
                        <umb-editor model="preValue" is-pre-value="true"></umb-editor>
                    </umb-property>


                    <div class="umb-tab-buttons">
                        <div class="btn-group">
                            <button type="submit" data-hotkey="ctrl+s" class="btn btn-success">
                                <localize key="buttons_save">Save</localize>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </umb-panel>
</form>
