
<div style="max-width: 1200px">
<h3>Welcome to The Friendly CMS</h3>
<p>Thank you for choosing Umbraco - we think this could be the beginning of something beautiful. While it may feel overwhelming at first, we've done a lot to make the learning curve as smooth and fast as possible:</p>

<div class="row">
    <div class="span4">        
        <a href="http://umbraco.tv/?utm_source=core&utm_medium=dashboard&utm_content=image&utm_campaign=tv" target="_blank" class="nounderline">
            <img src="views/dashboard/default/umbracotv.png" alt="Umbraco.TV - Hours of Umbraco Video Tutorials" style="margin: 10px 0 10px 0"/>
        </a>
        
        <h4>
            <a href="http://umbraco.tv/?utm_source=core&utm_medium=dashboard&utm_content=header&utm_campaign=tv" target="_blank" class="nounderline">
            Umbraco.TV - Learn from the source!
            </a>
        </h4>

        <p>
            <a href="http://umbraco.tv/?utm_source=core&utm_medium=dashboard&utm_content=text&utm_campaign=tv" target="_blank" class="nounderline">
                Umbraco.TV will help you go from zero to Umbraco 
                hero at a pace that suits you. Our easy to follow 
                online training videos will give you the fundamental 
                knowledge to start building awesome Umbraco websites.
            </a>
        </p>
    </div>

    <div class="span4 offset1">
    
        <a href="http://our.umbraco.org/?utm_source=core&utm_medium=dashboard&utm_content=image&utm_campaign=our" target="_blank" class="nounderline">
            <img src="views/dashboard/default/ourumbraco.png" alt="Our Umbraco" style="margin: 10px 0 10px 0"/>
        </a>
        
        <a href="http://our.umbraco.org/?utm_source=core&utm_medium=dashboard&utm_content=header&utm_campaign=our" target="_blank" class="nounderline">
            <h4>Our Umbraco - The Friendliest Community</h4>
        </a>

        <p>
            <a href="http://our.umbraco.org/?utm_source=core&utm_medium=dashboard&utm_content=text&utm_campaign=our" target="_blank" class="nounderline">
                    Our Umbraco - the official commuity site is your one
                    stop for everything Umbraco. Whether you need a 
                    question answered or looking for cool plugins, the
                    worlds best community is just a click away.
            </a>
        </p>
    </div>
</div>

</div> 