<h3>Install a Starter Site and Skin</h3>
<p>If you haven't already installed one of our Starter Kits, we think you should do that now. This is one of the best ways to start working with Umbraco. After you install a Starter Kit, you can select a skin to make it look great and customize the kit to your liking.</p>
<h4>Starter Kits:</h4>
<div class="dashboardColWrapper">
    <div class="dashboardCols">
        <div class="dashboardCol">
        <ul>
            <li><strong><a class="btn-link -underline" href="/install/?installStep=skinning" target="_blank">Simple Starter Kit</a></strong> a bare-bones website that introduces you to a set of well-defined conventions for building an Umbraco website</li>
            <li><strong><a class="btn-link -underline" href="/install/?installStep=skinning" target="_blank">Blog Starter Kit</a></strong> a powerful blog kit with all the bells and whistles</li>
            <li><strong><a class="btn-link -underline" href="/install/?installStep=skinning" target="_blank">Business Starter Kit</a></strong> a basic business kit to get you up and running today</li>
            <li><strong><a class="btn-link -underline" href="/install/?installStep=skinning" target="_blank">Personal Starter Kit</a></strong> a basic personal kit for your own space on the web</li>
        </ul>
        </div>
    </div>
</div>
