<h3>Start here</h3>
<h4>This section contains the tools to add advanced features to your Umbraco site</h4>
    <p>From here you can explore and install packages, create macros, add data types, and much more. Start by exploring the below links or videos.</p>
    
<h4>Find out more:</h4>

<ul>
    <li>Find the answers to your Umbraco questions on our <a href="http://our.umbraco.org/wiki" target="_blank">Community Wiki</a></li>
    <li>Ask a question in the <a href="http://our.umbraco.org/" target="_blank">Community Forum</a></li>
    <li>Find an add-on <a href="http://our.umbraco.org/projects" target="_blank">package</a> to help you get going quickly</li>
    <li>Watch our <a href="http://umbraco.tv" target="_blank">tutorial videos</a> (some are free, some require a subscription)</li>
    <li>Find out about our <a href="http://umbraco.org/products" target="_blank">productivity boosting tools and commercial support</a></li>
    <li>Find out about real-life <a href="http://umbraco.org/training/training-schedule" target="_blank">training and certification</a> opportunities</li>
</ul>