<h3>Hours of Umbraco training videos are only a click away</h3>
<p>Want to master Umbraco? Spend a couple of minutes learning some best practices by watching one of these videos about using Umbraco, then visit <a class="btn-link -underline" href="http://umbraco.tv" target="_blank">umbraco.tv</a> for even more Umbraco videos.</p>

<div ng-init="init('http://umbraco.tv/videos/developer/chapterrss?sort=no')"
     ng-controller="Umbraco.Dashboard.StartupVideosController">

    <div class="umb-getstartedcards">
        <a class="umb-getstartedcard" ng-repeat="video in videos" href="{{video.link}}" title="{{video.title}}" target="_blank" rel="noopener">
            <img ng-src="{{video.thumbnail}}" alt="{{video.title}}">
            <div class="umb-getstartedbody">
                <p>{{video.title}}</p>
            </div>
        </a>
    </div>
</div>
