<div id="umbracoHealthCheck" ng-controller="Umbraco.Dashboard.HealthCheckController">
    <div ng-repeat="group in groups">
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th>
                            <h4><strong>{{group.name}}</strong></h4>
                            <button class="btn check-all" type="button" ng-click="checkAllInGroup(group.checks);">Check all in {{group.name}}</button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                <tr ng-repeat="check in group.checks">
                    <td>
                        <div>
                            <button prevent-default class="btn check" ng-click="getStatus(check);">Check</button>
                            <strong>{{check.name}}</strong><br/>
                            {{check.description}}
                        </div>

                        <span ng-if="check.loading">Loading status...</span>
                        
                        <div ng-if="check.status">
                            <div ng-repeat="status in check.status" class="check-status">
                                <i class="icon icon-check color-green" ng-if="status.resultType == 0"></i>
                                <i class="icon icon-alert color-yellow" ng-if="status.resultType == 1"></i>
                                <i class="icon icon-delete color-red" ng-if="status.resultType == 2"></i>
                                <i class="icon icon-info" ng-if="status.resultType == 3"></i>
                                {{status.message}}
                                <span ng-if="status.description">{{status.description}}</span>
                                <div ng-repeat="action in status.actions">
                                    <button type="button" class="btn" ng-click="executeAction(check, status, action);">{{action.name}}</button><br/>
                                    <p>{{action.description}}</p>
                                </div>
                            </div>
                        </div>

                        <span ng-bind="check.rectify"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>