<div class="umb-healthcheck" ng-controller="Umbraco.Dashboard.HealthCheckController as vm">

    <div class="umb-healthcheck-group" ng-repeat="group in vm.groups">

        <div class="umb-healthcheck-title">
            <h4><strong>{{group.name}}</strong></h4>
        </div>

        <div class="umb-healthcheck-messages">
            <p>flax</p>
        </div>

        <button class="umb-era-button" type="button" ng-click="vm.checkAllInGroup(group.checks);">Check all in {{group.name}}</button>

    </div>

</div>


<!-- <div class="umb-healthcheck-groupinfo" ng-repeat="check in group.checks">
    <strong>{{check.name}}</strong>
    {{check.description}}
    <button prevent-default class="btn check" ng-click="vm.getStatus(check);">Check</button>

    <span ng-if="check.loading">Loading status...</span>

    <div ng-if="check.status">
        <div ng-repeat="status in check.status" class="check-status">
            <i class="icon icon-check color-green" ng-if="status.resultType == 0"></i>
            <i class="icon icon-alert color-yellow" ng-if="status.resultType == 1"></i>
            <i class="icon icon-delete color-red" ng-if="status.resultType == 2"></i>
            <i class="icon icon-info" ng-if="status.resultType == 3"></i>
            <span ng-bind-html="status.message"></span><br/>
            <span ng-if="status.description" ng-bind-html="status.description"></span>
            <div ng-repeat="action in status.actions">
                <button type="button" class="btn" ng-click="vm.executeAction(check, status, action);">{{action.name}}</button><br/>
                <p ng-bind-html="action.description"></p>
            </div>
        </div>
    </div>

    <span ng-bind="check.rectify"></span>
</div> -->
