<div class="redirecturlsearch" ng-controller="Umbraco.Dashboard.RedirectUrlsController">

    <umb-load-indicator ng-if="dashboard.loading"></umb-load-indicator>

    <umb-editor-sub-header>

        <umb-editor-sub-header-content-right>

            <umb-editor-sub-header-section>

                <button
                    ng-if="dashboard.UrlTrackerDisabled === false"
                    type="button"
                    class="umb-era-button"
                    ng-click="disableUrlTracker()">
                    <span>Disable URL Tracker</span>
                </button>

                <button
                    ng-if="dashboard.UrlTrackerDisabled === true"
                    type="button"
                    class="umb-era-button"
                    ng-click="enableUrlTracker()">
                    <span>Enable URL Tracker</span>
                </button>

            </umb-editor-sub-header-section>

            <umb-editor-sub-header-section>

                <input
                    placeholder="Search for redirect"
                    ng-model="dashboard.searchTerm"
                    ng-change="filter()"
                    no-dirty-check>

            </umb-editor-sub-header-section>

        </umb-editor-sub-header-content-right>

    </umb-editor-sub-header>


    <div class="umb-table">

        <div class="umb-table-head">
            <div class="umb-table-row">
                <div class="umb-table-cell"></div>
                <div class="umb-table-cell">Original Url</div>
                <div class="umb-table-cell">Redirected To</div>
                <div class="umb-table-cell">Date Created</div>
                <div class="umb-table-cell"></div>
            </div>
        </div>

        <div class="umb-table-body">

            <div class="umb-table-row" ng-repeat="redirectUrl in redirectUrls">

                <div class="umb-table-cell">
                    <i class="umb-table-body__icon umb-table-body__fileicon icon-shuffle"></i>
                </div>

                <div class="umb-table-cell">
                    <a href="{{redirectUrl.Url}}" title="{{redirectUrl.Url}}">{{redirectUrl.Url}}</a>
                </div>

                <div class="umb-table-cell">
                    <a href="{{redirectUrl.ContentUrl}}" title="{{redirectUrl.ContentUrl}}">{{redirectUrl.ContentUrl}}</a>
                </div>

                <div class="umb-table-cell">
                    {{redirectUrl.CreateDateUtc | date:'medium'}}
                </div>

                <div class="umb-table-cell">
                    <a href="/umbraco/#/content/content/edit/{{redirectUrl.ContentId}}" class="umb-era-button -gray" style="margin-right: 10px;">Edit</a>
                    <button class="umb-era-button -gray" ng-click="removeRedirect(redirectUrl)">Remove</button>
                </div>

            </div>

        </div>

    </div>

    <div class="flex justify-center items-center">
        <umb-pagination
            ng-if="pagination.totalPages > 1 && !dashboard.loading"
            page-number="pagination.pageNumber"
            total-pages="pagination.totalPages"
            on-next="goToPage"
            on-prev="goToPage"
            on-go-to-page="goToPage">
        </umb-pagination>
    </div>

</div>
