<div class="umb-panel" ng-controller="Umbraco.Dialogs.HelpController">
	<div class="umb-panel-header">
		<h1 class="headline">Help</h1>
	</div>
	
	<div class="umb-panel-body umb-scrollable">
		<div class="tab-content umb-control-group">

			<div class="umb-pane">
				<h5>Help topics for: {{section}}</h5>
				<p>
					This area will contain manuals, references and tutorials, downloaded from our.umbraco.org...
				</p>
			</div>

			<div class="umb-pane">
				<h5>Video chapters for: {{section}}</h5>
				<p>
					This area will contain relevant videos from umbraco.tv
				</p>
			</div>
		</div>
	</div>
</div>