<div class="umb-panel" ng-controller="Umbraco.Dialogs.IconPickerController">
	<div class="umb-panel-header">
		<div class="umb-el-wrap umb-panel-buttons">
			<div class="span6">
	                <div class="form-search">
	                    <i class="icon-search"></i>	                    
	                    <input type="text" 
	                           ng-model="searchTerm" 
	                           class="umb-search-field search-query" 
	                           placeholder="Filter...">
	                </div>
	        </div>
		</div>
	</div>

	<div class="umb-panel-body with-footer">
        
        <div class="umb-loader" ng-hide="icons"></div>
        <div class="umb-control-group">
	        <ul class="umb-thumbnails thumbnails">
		        <li class="span1" ng-repeat="icon in icons|filter: searchTerm">
				    <a href="#" title="{{icon}}" class="thumbnail" ng-click="submit(icon)" prevent-default>
						<i class="{{icon}} large" style="font-size: 32px"></i>
		            </a>
		        </li>
		    </ul>
		</div>

	</div>
	
	<div class="umb-panel-footer" >
		<div class="umb-el-wrap umb-panel-buttons">
	        <div class="btn-toolbar umb-btn-toolbar pull-right">
	        	<a href ng-click="close()" class="btn btn-link">
	        		<localize key="general_cancel">Cancel</localize>
				</a>
	        </div>
		</div>
	</div>
</div>
