<form novalidate name="insertMacroForm" ng-submit="submitForm()" ng-controller="Umbraco.Dialogs.InsertMacroController">
    <div class="umb-panel" val-show-validation>        

        <div class="umb-panel-footer">
                <div class="btn-toolbar umb-btn-toolbar pull-right">
                    <button type="button" class="btn btn-link" ng-click="close()">Cancel</button>
                    <button type="submit" class="btn btn-primary">Ok</button>
                </div>
        </div>

        <div class="umb-panel-body no-header umb-scrollable" auto-scale="1">
            <div class="umb-control-group" ng-switch="wizardStep">
                <div class="umb-pane" ng-switch-when="macroSelect">

                    <label for="macroName">Choose a macro</label>
                    <select class="umb-editor" ng-change="submitForm()" name="selectedMacro" ng-model="$parent.selectedMacro" ng-options="m as m.name for m in macros" required>
                        <option value="">Choose macro...</option>
                    </select>
                </div>

                <div class="umb-pane" ng-switch-when="paramSelect">

                    <h5>{{$parent.selectedMacro.name}}</h5>

                    <ul class="unstyled">
                        <li ng-repeat="param in $parent.macroParams">

                            <div class="control-group umb-control-group" ng-class="{error: insertMacroForm.$invalid}">
                                <label>{{param.name}}</label>
                                <umb-editor model="param"></umb-editor>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

    </div>
</form>
