<div class="umb-panel" ng-controller="Umbraco.Dialogs.LinkPickerController">
	<div class="umb-panel-body no-header with-footer compact">
		<umb-pane>
			<umb-control-group label="Url">
				<input type="text" 
					placeholder="Enter url" 
					class="umb-editor umb-textstring" 
					ng-model="target.url"
					ng-disabled="target.id"
					 />
			</umb-control-group>
			<umb-control-group label="Title">
				<input type="text" 
					placeholder="Enter title" 
					class="umb-editor umb-textstring" 
					ng-model="target.name" />
			</umb-control-group>
		</umb-pane>

		<umb-tree 
			section="content" 
			cachekey="linkpickerDialog" 
			showheader="true" 
			showoptions="false"
			eventhandler="dialogTreeEventHandler"
			path="targte.path"
			>
		</umb-tree>
	</div>

	<div class="umb-panel-footer">
		<div class="umb-el-wrap umb-panel-buttons">
	        <div class="btn-toolbar umb-btn-toolbar pull-right">
	         	<input type="button" ng-click="submit(target)" class="btn btn-primary" value="select" />
	        </div>
		</div>
	</div>
</div>