<form ng-controller="Umbraco.Dialogs.MediaPickerController" id="fileupload" method="POST" enctype="multipart/form-data" 
data-file-upload="options" data-file-upload-progress="" data-ng-class="{'fileupload-processing': processing() || loadingFiles}">

<div class="umb-panel">
	<div class="umb-panel-header">

		<div class="umb-el-wrap umb-panel-buttons">
			<div class="span5">
	                <div class="form-search">
	                    <i class="icon-search"></i>
	                    <input type="text" 
	                           ng-model="searchTerm" 
	                           class="umb-search-field search-query" 
	                           placeholder="Filter..."
	                           >
	                </div>
	        </div>

		    <div class="pull-right umb-btn-toolbar">
				    	<span class="btn fileinput-button" ng-class="{disabled: disabled}">
				    	    <i class="icon-page-up"></i>
				    	    <input type="file" name="files[]" multiple ng-disabled="disabled">
				    	</span>

	        </div>
		</div>
	</div>

	<div class="umb-panel-body umb-scrollable" auto-scale="70">

		<div class="control-group umb-control-group">
			<ul class="breadcrumb">
				<li><a href ng-click="gotoFolder(-1)" prevent-default>Media</a> / </li>
				
				<li ng-repeat="item in path">
					<a href ng-click="gotoFolder(item.id)" prevent-default>{{item.name}}</a> / 
				</li>
				

				<li>
					<a href ng-hide="showFolderInput" ng-click="showFolderInput = true">
						<i class="icon icon-add small"></i>
					</a>

					<input type="text" 
						class="input-foldername input-mini inline" 
						ng-show="showFolderInput" 
						ng-model="newFolderName"
						ng-keyup="submitFolder($event)"
						ng-blur="showFolderInput = false"
						>
				</li>
			</ul>
		</div>
		
        <div style="height: 10px; margin: 10px 0px 10px 0px" class="umb-loader" ng-hide="active() == 0"></div>

        <ul class="thumbnails">
	        <li class="span2 folder" ng-repeat="image in images | orderBy:'contentTypeAlias' | filter:searchTerm">
			    <a href="#" class="thumbnail" ng-class="{selected: dialogData.selection.indexOf(image) > -1}" 
	               ng-click="selectMediaItem(image)" 
	               prevent-default>
					

	               	<img ng-src="{{image.thumbnail}}" ng-switch-when="Image" alt="{{image.name}}"/>	


                    <div ng-switch on="!!image.thumbnail" >
                        <img ng-src="{{image.thumbnail}}" class="image" ng-switch-when="true" alt="{{image.name}}"/>

                        <div ng-switch-default>
                        	<i class="icon-folder large"></i>
                        	{{image.name}}
                        </div>
                    </div>
	            </a>
	        </li>
	    </ul>
	</div>


	<div class="umb-panel-footer">
		<div class="umb-el-wrap umb-panel-buttons">
	        <div class="pull-right umb-btn-toolbar"> 
	         	<button ng-show="dialogData.selection.length > 0" type="button" ng-click="submit(dialogData)" class="btn btn-primary">Select ({{dialogData.selection.length}})</button>
	        </div>
		</div>
	</div>

</div>

</form>