<div class="umb-panel" ng-controller="Umbraco.Dialogs.MemberGroupPickerController">

    <div class="umb-panel-body with-footer no-header">

        <div>
            <umb-tree section="member"
                      treealias="memberGroups"
                      hideheader="true"
                      hideoptions="true"
                      isdialog="true"
                      eventhandler="dialogTreeEventHandler"
                      enablecheckboxes="{{multiPicker}}">
            </umb-tree>
        </div>
    </div>

    <div class="umb-panel-footer">
        <div class="umb-el-wrap umb-panel-buttons">
            <div class="btn-toolbar umb-btn-toolbar pull-right">

                <a href ng-click="close()" class="btn btn-link">
                    <localize key="general_cancel">Cancel</localize>
                </a>

                <button class="btn btn-primary"
                        ng-click="submit(dialogData.selection)">
                    <localize key="buttons_select">Select</localize>
                    ({{dialogData.selection.length}})
                </button>

            </div>
        </div>
    </div>
</div>