<div class="umb-panel" ng-controller="Umbraco.Dialogs.UserController">
	<div class="umb-panel-header">
		<div class="umb-el-wrap umb-panel-buttons">
	        <div class="btn-toolbar umb-btn-toolbar">
	         	<input type="button" ng-click="logout()" class="btn btn-warning" value="Log out" />
	        </div>
		</div>

		<h1>{{user.name}}</h1>
		<small>{{user.email}}</small>
	</div>
	

	<div class="umb-panel-body umb-scrollable" auto-scale="1">
		<div class="tab-content umb-control-group">
			<h5>Your profile</h5>
			
			<p>
				<a href="#/framed/%252Fumbraco%252Fusers%252Fedituser.aspx%253Fid%253D{{user.id}}" class="btn btn-primary">Edit your profile</a>
			</p>

			<hr />

			<h5>Your recent history</h5>
			<ul class="umb-tree">
					<li ng-repeat="item in history | orderBy:'time'">
						<a ng-href="{{item.link}}" ng-click="gotoHistory(item.link)" prevent-default>
							<i class="{{item.icon}}"></i> {{item.name}}</a>
					</li>
			</ul>	
		</div>
	</div>
</div>