<div class="umb-panel ysod" ng-controller="Umbraco.Dialogs.YsodController">
    
    <div class="umb-panel-body with-footer no-header">

        <h3 style="padding-left: 20px" class="headline red">Received an error from the server</h3>

        <umb-pane>
            <h4>{{error.errorMsg}}</h4>
            <p>{{error.data.ExceptionMessage || error.data.Message}}</p>
        </umb-pane>    
        
        <umb-pane>    
            <h5>Exception Details: </h5>
            {{error.data.ExceptionType}}: {{error.data.ExceptionMessage}}
        </umb-pane>   
        
        <umb-pane>
            <h5>Stacktrace: </h5>
            <pre style="white-space: pre-wrap; overflow-x: auto;">{{error.data.StackTrace}}</pre>
        </umb-pane>
    </div>

    <div class="umb-panel-footer">
            <a href ng-click="close()" class="btn pull-right">
                <localize key="general_close">Close</localize>
            </a>
    </div>
</umb-panel>