
html {
    font-family: 'Segoe UI', Tahoma, Helvetica, sans-serif;
}

body {
    font-family: 'Segoe UI', Tahoma, Helvetica, sans-serif;
}

.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    max-width: 1500px;
    width: 95%;
}

.span3 {
    width: 220px;
    width: calc(90% / 12 * 3);
}

.span9 {
    width: 700px;
    width: calc(90% / 12 * 9);
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 400;
    line-height: 1.1;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, .8);
}

.content p code,
.content li code {
    font-size: 85%;
    font-family: inherit;
    background-color: #f7f7f9;
    padding: 0px 3px;
    border: 1px solid #e1e1e8;
    color: #d14;
    white-space: nowrap;
}

.header img {
    width: 50px;
}

.breadcrumb {
    background-color: #f7f7f7;
}

.navbar .container{
    min-height: inherit;
    display: flex;
    align-items: center;
}

.navbar .brand {
    display: block;
    color: white;
    text-shadow: none;
}

.navbar-fixed-top .navbar-inner {
    min-height: 50px;
    background: #3544b1;
}

.form-search .well {
    background-color: #f7f7f7;
}

.form-search > ul.nav > li.module {
    background-color: #3544b1;
}

.form-search > ul.nav > li.module a {
    color: white;
}

.form-search > ul.nav > li.section {
    background-color: #ccc;
}

.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus,
.form-search > .nav-list > .active > a, .form-search > .nav-list > .active > a:hover, .form-search > .nav-list > .active > a:focus {
    color: #f36f21;
    text-shadow: none;
    background-color: inherit;
}

.form-search > ul.nav > li > a {
    color: rgba(0,0,0,.8);
    text-shadow: none;
}

.form-search > ul.nav > li > a:hover {
    text-decoration: none;
    background-color: inherit;
    text-shadow: none;
    color: #000;
}

.form-search > ul.nav > li.module > a:hover{
    color: #fff;
}

.close {
    float: initial;
    font-size: 14px;
    font-weight: initial;
    line-height: 20px;
    color: #333333;
    text-shadow: initial;
    opacity: initial;
    filter: initial;
}

.close:hover,
.close:focus {
    color: #333333;
    text-decoration: initial;
    cursor: initial;
    opacity: initial;
    filter: initial;
}
