.blockelement-inlineblock-editor {
    display: block;
    margin-bottom: 4px;
    margin-top: 4px;
    border: 1px solid @gray-9;
    border-radius: @baseBorderRadius;
    transition: border-color 120ms;

    .umb-block-list__block:not(.--active) &:hover {
        border-color: @gray-8;
    }

    > button {
        width: 100%;
        min-height: 48px;
        cursor: pointer;
        color: @ui-action-discreet-type;
        text-align: left;
        padding-left: 10px;
        padding-bottom: 2px;
        user-select: none;
        background-color: white;

        .caret {
            transform: rotate(-90deg);
            transition: transform 80ms ease-out;
        }

        i {
            font-size: 22px;
            display: inline-block;
            vertical-align: middle;
        }

        span {
            display: inline-block;
            vertical-align: middle;
        }

        &:hover {
            color: @ui-action-discreet-type-hover;
            border-color: @gray-8;
        }
    }

    .umb-block-list__block.--active & {
        border-color: @gray-8;
        box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.05);

        > button {
            > .caret {
                transform: rotate(0deg);
            }
        }
    }

    &.--error {
        border-color: @formErrorBorder !important;
    }
}
.blockelement-inlineblock-editor__inner {
    border-top: 1px solid @gray-8;
    background-color: @gray-12;

    > * > * > * > .umb-group-panel {
        background-color: transparent;
        box-shadow: none;
        margin-top: 10px;
        margin-bottom: 0;
        > .umb-group-panel__content .umb-property {
            margin-bottom: 20px;
        }
    }
    .umb-group-panel + .umb-group-panel {
        margin-top: 20px;
    }
    &.--singleGroup > * > * > * > .umb-group-panel {
        margin-top: 0;
        > .umb-group-panel__header {
            display: none;
        }
    }
    
}
