<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="umbraco.Linq.DTMetal.Engine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <umbraco.Linq.DTMetal.Engine.Properties.Settings>
            <setting name="DocTypeId" serializeAs="String">
                <value>a2cb7800-f571-4787-9638-bc48539a0efb</value>
            </setting>
        </umbraco.Linq.DTMetal.Engine.Properties.Settings>
    </applicationSettings>
</configuration>