
/************************************************************************/
/* font family -ALIAS- */ 
/************************************************************************/

/***start-lessParam--ALIAS-***/
@fontfamily-ALIAS-:'';
@fontweight-ALIAS-:'';
@fontstyle-ALIAS-:'';
@fonttype-ALIAS-:'';
/***end-lessParam--ALIAS-***/

/***start-fontfamilystyle--ALIAS-***/

.fontfamily-ALIAS- () when not (@fontfamily-ALIAS- = '') {
    font-family:@fontfamily-ALIAS-;
}

.fontweight-ALIAS- () when not (@fontweight-ALIAS- = '') {
    font-weight:@fontweight-ALIAS-;
}

.fontstyle-ALIAS- () when not  (@fontstyle-ALIAS- = '') {
    font-style:@fontstyle-ALIAS-;
}

-SCHEMA- {
	.fontfamily-ALIAS-;
    .fontweight-ALIAS-;
    .fontstyle-ALIAS-;
}
/***end-fontfamilystyle--ALIAS-***/ 

    