
/************************************************************************/
/* grid row -ALIAS- */
/************************************************************************/

/***start-lessParam--ALIAS-***/
@fullsize-ALIAS-:false;
/***end-lessParam--ALIAS-***/

/***start-gridStyle--ALIAS-***/

.fullusky-container-ALIAS- () when  (@fullsize-ALIAS- = true) {
    width:100%;
}

.fullusky-grid-cell-ALIAS- () when  (@fullsize-ALIAS- = true) {
    margin-top: 0px;
    margin-bottom: 0px;
}

.fullcolumn-ALIAS- () when  (@fullsize-ALIAS- = true) {
    padding-right: 0px;
    padding-left: 0px;
}

-SCHEMA- .container {
    .fullusky-container-ALIAS-
}

-SCHEMA- .usky-grid-cell {
    .fullusky-grid-cell-ALIAS-
}

-SCHEMA- .column {
    .fullcolumn-ALIAS-
}

/***end-gridStyle--ALIAS-***/ 


