
/************************************************************************/
/* radius -ALIAS- */
/************************************************************************/

/***start-lessParam--ALIAS-***/
@radiusvalue-ALIAS-:'';
@topleftradiusvalue-ALIAS-:'';
@toprightradiusvalue-ALIAS-:'';
@bottomleftradiusvalue-ALIAS-:'';
@bottomrightradiusvalue-ALIAS-:'';


/***end-lessParam--ALIAS-***/

/***start-lessStyle--ALIAS-***/

.allzero-ALIAS- () when (isnumber(@radiusvalue-ALIAS-)) {
    -webkit-border-radius: @radiusvalue-ALIAS- + 0px;
    -moz-border-radius: @radiusvalue-ALIAS- + 0px;
    border-radius: @radiusvalue-ALIAS- + 0px;
}

.all-ALIAS- () when (isnumber(@radiusvalue-ALIAS-)) and (@radiusvalue-ALIAS- > 0) {
    -webkit-border-radius: @radiusvalue-ALIAS- + 0px;
    -moz-border-radius: @radiusvalue-ALIAS- + 0px;
    border-radius: @radiusvalue-ALIAS- + 0px;
}

.topleft-ALIAS- () when (isnumber(@topleftradiusvalue-ALIAS-)) {
    -webkit-border-top-left-radius: @topleftradiusvalue-ALIAS- + 0px;
    -moz-border-radius-topleft: @topleftradiusvalue-ALIAS- + 0px;
    border-top-left-radius: @topleftradiusvalue-ALIAS- + 0px;
}

.topright-ALIAS- () when (isnumber(@toprightradiusvalue-ALIAS-)) {
    -webkit-border-top-right-radius: @toprightradiusvalue-ALIAS- + 0px;
    -moz-border-radius-topright: @toprightradiusvalue-ALIAS- + 0px;
    border-top-right-radius: @toprightradiusvalue-ALIAS- + 0px;
}

.bottomleft-ALIAS- () when (isnumber(@bottomleftradiusvalue-ALIAS-)) {
    -webkit-border-bottom-left-radius: @bottomleftradiusvalue-ALIAS- + 0px;
    -moz-border-radius-bottomleft: @bottomleftradiusvalue-ALIAS- + 0px;
    border-bottom-left-radius: @bottomleftradiusvalue-ALIAS- + 0px;
}

.bottomright-ALIAS- () when (isnumber(@bottomrightradiusvalue-ALIAS-)) {
    -webkit-border-bottom-right-radius: @bottomrightradiusvalue-ALIAS- + 0px;
    -moz-border-radius-bottomright: @bottomrightradiusvalue-ALIAS- + 0px;
    border-bottom-right-radius: @bottomrightradiusvalue-ALIAS- + 0px;
}


-SCHEMA- {
    .allzero-ALIAS-;
    .topleft-ALIAS-;
    .topright-ALIAS-;
    .bottomleft-ALIAS-;
    .bottomright-ALIAS-;
    .all-ALIAS-;
}
/***end-lessStyle--ALIAS-***/ 


