
/************************************************************************/
/* shadow -ALIAS- -CSS- */ 
/************************************************************************/

/***start-lessParam--ALIAS-***/
@shadow-ALIAS-:'';
/***end-lessParam--ALIAS-***/

/***start-lessStyle--ALIAS-***/

.valueshadow-ALIAS- () when  (isnumber(@shadow-ALIAS-)) {
    -webkit-box-shadow: 0 0 @shadow-ALIAS- + 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 @shadow-ALIAS- + 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 @shadow-ALIAS- + 0px rgba(0, 0, 0, 0.5);
}

-SCHEMA- {
    .valueshadow-ALIAS-
}
/***end-lessStyle--ALIAS-***/ 