{
    "rules": {
        "comma-dangle": ["error", "never"]
    },

    "parserOptions": {
        "ecmaVersion": "latest"
    },

    "overrides": [
        {
            "env": {
                "browser": true,
                "es6": true,
                "jquery": true
            },

            "files": ["src/**/*.js"],

            "extends": ["eslint:recommended"],

            "rules": {
                "no-extra-semi": "off",
                "no-mixed-spaces-and-tabs": "off",
                "no-unused-vars": "off",
                "no-control-regex": "off",
                "no-self-assign": "warn",
                "no-useless-escape": "warn",
                "no-extra-boolean-cast": "warn",
                "no-prototype-builtins": "warn"
            },

            "globals": {
                "angular": "readonly",
                "_": "readonly",
                "$": "readonly",
                "jQuery": "readonly",
                "tinymce": "readonly",
                "tinyMCE": "readonly",
                "FileReader": "readonly",
                "Umbraco": "readonly",
                "Utilities": "readonly",
                "window": "readonly",
                "LazyLoad": "readonly",
                "ActiveXObject": "readonly",
                "Bloodhound": "readonly",
                "Diff": "readonly",
                "moment": "readonly",
                "signalR": "readonly",
                "Markdown": "readonly",
                "Sortable": "readonly",
                "noUiSlider": "readonly",
                "ClipboardJS": "readonly",
                "anime": "readonly",
                "flatpickr": "readonly",
                "FlatpickrInstance": "readonly"
            }
        }
    ]
}
