{
	"env": {
        "browser": true
    },

    "rules": {
        "comma-dangle": ["error", "never"]
    },

    "parserOptions": {
        "ecmaVersion": 2020
    },

    "globals": {
        "angular": false,
        "_": false,
        "$": false,
        "tinymce": false,
        "tinyMCE": false,
        "FileReader": false,
        "Umbraco": false,
        "Utilities": false,
        "window": false,
        "LazyLoad": false,
        "ActiveXObject": false,
        "Bloodhound": false
    }
}
