<div>
    <ng-form name="sliderOrientationForm">
        <select ng-model="model.value" required name="orientation">
            <option value="horizontal">Horizontal</option>
            <option value="vertical">Vertical</option>
        </select>

        <span ng-messages="sliderOrientationForm.orientation.$error" show-validation-on-submit >
            <span class="help-inline" ng-message="required"><localize key="general_required">Required</localize></span>
        </span>
    </ng-form>
</div>
