/* ---------- LIST VIEW ---------- */

.list-view-container {
  background: #f8f8f8;
  border: 1px solid #CCCCCC;
  display: flex;
  border-radius: 5px;
  animation: fadeIn 0.5s;
  padding: 15px;
  position: relative;
  z-index: 1;
}

.list-view-container.list-view-settings-open {
  border-bottom: transparent;
  border-radius: 5px 5px 0 0;
}

.list-view-container .list-view-container-content {
  display: flex;
}

.list-view-container .icon-list {
  font-size: 20px;
  color: #d9d9d9;
  margin-right: 10px;
}

.list-view-container .list-view-name {
  margin-right: 5px;
  font-size: 14px;
  font-weight: bold;
  float: left;
}

.list-view-container .list-view-create-new {
  font-size: 12px;
  color: @blue;
}

.list-view-container .list-view-remove-new {
  font-size: 12px;
  color: @red;
}

.list-view-settings {
  border: 1px dashed #d9d9d9;
  border-radius: 0 0 5px 5px;
  padding: 50px 20px 20px 20px;
  position: relative;
  top: -20px;
  z-index: 0;
}

/* ---------- DIALOG ---------- */

.dialog-grid {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.dialog-grid-element {
  flex: 0 0 80px;
  height: 80px;
  padding: 5px;
  overflow: hidden;
  font-size: 11px;
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dialog-grid-element:hover {
  background: #2e8aea;
  color: white;
  text-decoration: none;
}

.dialog-grid-element:hover .icon {
  color: white;
}

.dialog-grid-element .icon {
  font-size: 30px;
  color: #999;
  display: block;
  margin-bottom: 10px;
}
