.CodeMirror-line-numbers
{
	color:black;
	background-color:#fff;
	font-family:monospace;
	font-size:10pt;
	padding:6px 6px 0px 0px;
	line-height:16px;
    text-align:right;
    border-right: 1px solid #efefef;
}

div.codepress{border: none !Important; background: #fff;}
div.codepress iframe{border: none !Important; background: #fff;}