<div class="umb-notifications" id="umb-notifications-wrapper" ng-cloak>
    <ul class="umb-notifications__notifications">
        <li ng-repeat="notification in notifications"
            class="alert alert-block alert-{{notification.type}} umb-notifications__notification animated -half-second fadeIn"
            ng-class="{'-no-border -extra-padding': notification.type === 'form'}">

            <a class='close -align-right' ng-click="removeNotification($index)" prevent-default href>&times;</a>

            <div ng-if="notification.view">
                <div ng-include="notification.view"></div>
            </div>
            <div ng-if="notification.headline" ng-switch on="{{notification}}">
                <a ng-href="{{notification.url}}" ng-switch-when="{{notification.url && notification.url.trim() != ''}}" target="_blank">
                    <strong>{{notification.headline}}</strong>
                    <span ng-bind-html="notification.message"></span>
                </a>
                <div ng-switch-default>
                    <strong>{{notification.headline}}</strong>
                    <span ng-bind-html="notification.message"></span>
                </div>
            </div>
        </li>
    </ul>
</div>
