<div class="umb-pane">

    <div class="control-group umb-control-group"
         ng-class="{hidelabel:model.hideLabel}" >

        <div class="umb-el-wrap">

            <label class="control-label" ng-hide="model.hideLabel" for="{{model.alias}}">

                {{model.label}}
                <small>{{model.description}}</small>
            </label>

            <div class="controls controls-row" >
               <ng-include src="model.editorView | propertyEditor"></ng-include>    
            </div>
        </div>
    </div>
</div>
