.umb-notifications {
   z-index: 1000;
   position: absolute;
   bottom: 52px;
   left: 0;
   right: 0;
   border-bottom: none;
   margin: auto;
   padding: 0px;
   border: none;
   background: none;
   border-radius: 0;
}

.umb-notifications__notifications {
   list-style: none;
   margin: 0;
   position: relative;
}


.umb-notifications__notification {
   padding: 5px 20px;
   text-shadow: none;
   font-size: 12px;
   border: none;
   border-radius: 0;
   position: relative;
   margin-bottom: 0;
}

.umb-notifications__notification.-extra-padding {
   padding-top: 20px;
   padding-bottom: 20px;
}
