.umb-notifications {
    z-index: @zindexNotification;
    position: absolute;
    bottom: @editorFooterHeight;
    left: 0;
    right: 0;

    @media (min-width: 1101px) {
        left: 360px;
    }
}

.umb-notifications__notifications {
    list-style: none;
    margin: 0;
    position: relative;
}

.umb-notifications__notification {
    padding: 5px 20px;
    text-shadow: none;
    font-size: 14px;
    border: none;
    position: relative;
    border-radius: 3px;
    margin: 10px;

    .close {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 6px;
        opacity: 0.4;
        margin: auto 0;
    }
}

.umb-notifications__notification.-extra-padding {
    padding-top: 20px;
    padding-bottom: 20px;
}


.emptySection .umb-notifications{
    left:0;
}
