<div>
    <div>
        <label><input type="checkbox" name="weekdays" value="mon" /> Monday</label>
    </div>
    <div>
        <label><input type="checkbox" name="weekdays" value="tue" /> Tuesday</label>
    </div>
    <div>
        <label><input type="checkbox" name="weekdays" value="wed" /> Wednesday</label>
    </div>
    <div>
        <label><input type="checkbox" name="weekdays" value="thu" /> Thursday</label>
    </div>
    <div>
        <label><input type="checkbox" name="weekdays" value="fri" /> Friday</label>
    </div>
    <div>
        <label><input type="checkbox" name="weekdays" value="sat" /> Saturday</label>
    </div>
    <div>
        <label><input type="checkbox" name="weekdays" value="sun" /> Sunday</label>
    </div>    
</div>