<div class="umb-property-editor umb-boolean" ng-controller="Umbraco.PropertyEditors.BooleanController">

    <ng-form name="modelValueForm">

        <umb-toggle input-id="{{model.alias}}"
                    checked="renderModel.value"
                    on-click="toggle()"
                    show-labels="{{model.config.showLabels}}"
                    label-position="right"
                    label-on="{{model.config.labelOn}}"
                    label-off="{{model.config.labelOff}}">
        </umb-toggle>

        <input type="hidden" name="modelValue" ng-model="renderModel.value" />
    </ng-form>
    
</div>
