<div class="umb-editor umb-checkboxlist" ng-controller="Umbraco.PropertyEditors.CheckboxListController">

    <ul class="unstyled">
        <li ng-repeat="item in selectedItems">
            <label class="checkbox umb-checkboxlist__label">
                <input type="checkbox" name="checkboxlist"
                       value="{{item.key}}"
                       ng-model="item.checked"
                       class="umb-checkboxlist__input" />

                <div class="umb-checkboxlist__state">
                    <i class="umb-checkboxlist__icon icon-check" aria-hidden="true"></i>
                    <span class="umb-checkboxlist__label-text">{{item.val}}</span>
                </div>
            </label>
        </li>
    </ul>

</div>
