.check_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;

    .icon {
        background-color: rgba(0,0,0,.15);
        border-radius: 50%;
        padding: 3px;
        color: @white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
