
/* ---------- OVERLAY ---------- */

.umb-keyboard-shortcuts-overview__keyboard-shortcuts-group {
    margin-bottom: 20px;
}

.umb-keyboard-shortcuts-overview__keyboard-shortcuts-group-name {
  margin-bottom: 0;
}

.umb-keyboard-shortcuts-overview__keyboard-shortcut {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 0;
  border-bottom: 1px solid @gray-9;
}

.umb-keyboard-shortcuts-overview__description {
  font-size: 13px;
  margin-right: 10px;
}

/* ---------- KEYBOARD KEYS ---------- */

.umb-keyboard-keys {
  list-style: none;
  display: flex;
  font-size: 12px;
  align-items: center;
}

.umb-keyboard-key-wrapper {
  display: flex;
  margin-right: 5px;
  align-items: center;
}

.umb-keyboard-key {
  background: @white;
  border: 1px solid @gray-8;
  color: @gray-3;
  border-radius: 5px;
  margin-right: 5px;
  padding: 1px 7px;
}
