.umb-color-picker {

    .sp-replacer {
        display: inline-flex;
        margin-right: 12px;
        height: 32px;
        padding: 5px;

        &.sp-light {
            background-color: @white; 
        }

        .sp-dd {
            line-height: 2rem;
        }
    }
}

.umb-color-picker[readonly] {
    .sp-replacer {
        cursor: not-allowed;
    }
}
