.umb-panel-group__details {
    border-radius: 3px;
    margin-bottom: 40px;
}

.umb-panel-group__details-group {
    background: @white;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.16);
    border-radius: @baseBorderRadius;
}

.umb-panel-group__details-group-title {
    background-color: @blueExtraDark;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px 3px 0 0;
}

.umb-panel-group__details-group-name {
    font-size: 16px;
    color: @white;
    font-weight: bold;
}

.umb-panel-group__details-checks {
    border-top: none;
    border-radius: 0 0 3px 3px;
    background: @white;
}

.umb-panel-group__details-check {
    position: relative;
}

.umb-panel-group__details-check-title {
    padding: 15px 20px;
}

.umb-panel-group__details-check-name {
    font-size: 15px;
    color: @black;
    font-weight: bold;
    margin-bottom: 3px;
}

.umb-panel-group__details-check-description {
    font-size: 13px;
    color: @gray-3;
    line-height: 1.6em;
}

.umb-panel-group__details-status {
    padding: 15px 0;
    display: flex;
    border-top: 2px solid @gray-10;
}

.umb-panel-group__details-status-overlay {
    background: @white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.9;
}

.umb-panel-group__details-status:last-child {
    border-bottom: none;
}

.umb-panel-group__details-status-icon-container {
    flex: 0 0 50px;
    display: flex;
    justify-content: center;
    padding: 0.25rem 20px;
}

.umb-panel-group__details-status-content {
    padding: 0 20px;
    flex: 1 1 auto;
}

.umb-panel-group__details-status-text {
    line-height: 1.6em;
}

.umb-panel-group__details-status-actions {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.umb-panel-group__details-status-action {
    background-color: @gray-10;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
}

.umb-panel-group__details-status-action:last-child {
    margin-bottom: 0;
}

.umb-panel-group__details-status-action-description {
    margin-top: 5px;
    font-size: 12px;
    padding-left:165px;
}
