.umb-sub-views {

  .umb-sub-views-action-bar {
    margin-bottom: 40px;
  }

  .umb-sub-views-action-bar .btn-link {
    padding-left: 0;
    padding-right: 0;
    &:focus {
      text-decoration: none;
    }
  }

  .umb-sub-views-nav {
    float: right;
    margin: 0;
    .umb-sub-views-nav-item {
      display: inline-block;
      margin-left: 15px;
      &.is-active {
        .btn-link {
          color: @blueMid !important;
        }
      }
    }
  }

  .umb-sub-views-tools {
    float: left;
    margin: 0;
    .umb-sub-views-tool {
      display: inline-block;
      margin-right: 15px;
    }
  }

}
