.umb-avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: @black;
    font-weight: bold;
    font-size: 16px;
    box-sizing: border-box;
    object-fit: cover;
    object-position: center;
}

/* Sizes */

.umb-avatar--xxs {
    width: 26px;
    height: 26px;
    font-size: 12px;
}

.umb-avatar--xs {
    width: 30px;
    height: 30px;
    font-size: 12px;
}

.umb-avatar--s {
    width: 40px;
    height: 40px;
    font-size: 14px;
}

.umb-avatar--m {
    width: 50px;
    height: 50px;
    font-size: 16px;
}

.umb-avatar--l {
    width: 70px;
    height: 70px;
    font-size: 18px;
}

.umb-avatar--xl {
    width: 100px;
    height: 100px;
    font-size: 20px;
}

.umb-avatar--xxl {
    width: 150px;
    height: 150px;
    font-size: 36px;
}

/* Colors */

.umb-avatar--white {
    background-color: @white;
    color: @black;
}

.umb-avatar--gray {
    background-color: @gray-10;
    color: @black;
}

.umb-avatar--primary {
    background-color: @pinkLight;
    color: @blueExtraDark;
}

.umb-avatar--secondary {
    background-color: @pinkLight;
    color: @blueExtraDark;
}

.umb-avatar--success {
    background-color: @green-l1;
    color: @white;
}

.umb-avatar--warning {
    background-color: @yellow-l1;
    color: @white;
}

.umb-avatar--danger {
    background-color: @red-l1;
    color: @white;
}

/*with button*/

a.umb-avatar-btn {
    cursor: pointer;
}
a.umb-avatar-btn:hover {
    text-decoration: none;
}
a.umb-avatar-btn .umb-avatar {
    border: 2px dashed @gray-6;
}
a.umb-avatar-btn .umb-avatar span {
    font-size: 50px;
    color: @gray-6;
}
a.umb-avatar-btn .umb-avatar span {
    color: @gray-6;
    font-size: 50px;
}

/*border-radius: 50%; width: 100px; height: 100px; font-size: 50px; text-align: center; display: flex; align-items: center; justify-content: center; background-color: @gray-10; border: 2px dashed @gray-6; color: @gray-6;*/
