/* TODO: Change these to classes to support many modal boxes */
div#umbModalBox, 
div.umbModalBox {
	position: absolute;
	top: 0;
	border: 5px #a3a3a3 solid;
	/*border-top: none;*/
	text-align: left;
	z-index: 10000;
	display: none;
	background: #fff ! important;
	font: bold 100% "Lucida Grande", Arial, sans-serif;
}

div#umbModalBox.loaded, 
div.umbModalBox.loaded
{ 
	background-image: none;
}

.jqmOverlay {background: url(modalBackground.gif)}

div#umbModalBoxHeader, 
div.umbModalBoxHeader {
	margin: 0;
	text-shadow: #FFF 0 1px 0;
	padding: .5em 2em .5em .75em;
	margin: 0;
	text-align: left;
}

div#umbModalBoxContent, 
div.umbModalBoxContent {
	padding: 0px;
	overflow: hidden;
	/*height: 100%;*/
	background: #fff ! important;
}

a#umbracModalBoxClose, 
a.umbracModalBoxClose {
	display: block;
	position: absolute;
	right: 5px; top: 2px;
	padding: 2px 3px;
	font-weight: bold;
	text-decoration: none;
	font-size: 13px;
}

div#umbModalBoxContent, 
div.umbModalBoxContent {border-top: 1px solid #F9F9F9; }

div#umbModalBoxHeader, 
div.umbModalBoxHeader {
  background: url(modalGradiant.gif) repeat-x bottom #fff ! important;
  border-bottom: 1px solid #CCC;
  color: #378080;
  cursor:move;
}

div#umbracModalBoxClose, 
div.umbracModalBoxClose { color: #777 }

div#umbracModalBoxClose:hover, 
div.umbracModalBoxClose:hover { color: #000 }