<div class="editor-rollback" ng-controller="Umbraco.Editors.RollbackController as vm">

    <umb-editor-view>

        <umb-editor-header
            name="model.title"
            name-locked="true"
            hide-alias="true"
            hide-icon="true"
            hide-description="true">
        </umb-editor-header>

        <umb-editor-container>

            <umb-load-indicator
                ng-if="vm.loading">
            </umb-load-indicator>

            <div class="main-content">

                <umb-box class="side-panel">
                    <umb-box-header title="Versions">
                        <small>Showing version {{ (vm.currentPage * vm.itemsPerPage - vm.itemsPerPage) + 1 }} to {{ vm.currentPage * vm.itemsPerPage }} of {{ vm.itemsPerPage * vm.totalPages }} versions</small>
                    </umb-box-header>

                    <umb-box-content>

                        <div ng-if="model.node.variants.length > 1">
                            <h5><localize key="general_language">Language</localize></h5>
                            <select
                                class="input-block-level"
                                ng-model="vm.selectedLanguage"
                                ng-options="variant as variant.displayName for variant in model.node.variants track by variant.language.culture"
                                ng-change="vm.changeLanguage(vm.selectedLanguage)">
                            </select>
                        </div>

                        <div>
                            <div class="mb3">
                                <span class="bold"><localize key="rollback_currentVersion">Current version</localize>: </span>
                                <span>{{vm.currentVersion.name}} (<localize key="rollback_created">Created</localize>: {{vm.currentVersion.createDate}})</span>
                            </div>

                            <div class="umb-table umb-table--condensed">

                                <div class="umb-table-body">
                                    <div class="umb-table-row cursor-pointer umb-outline -selectable"
                                        ng-repeat="version in vm.previousVersions track by version.versionId"
                                        ng-class="{'-selected': version.versionId === vm.previousVersion.versionId }"
                                        ng-click="vm.changeVersion(version)">
                                        <div class="umb-table-cell dn"></div>
                                        <div class="umb-table-cell black">{{ version.displayValue }}</div>
                                        <div class="umb-table-cell umb-table-cell--auto-width">
                                            <umb-button 
                                                style="margin-left: auto;"
                                                button-style="outline"
                                                type="button"
                                                size="xxs"
                                                state="version.pinningState"
                                                action="vm.pinVersion(version)"
                                                label="{{ version.isPinned ? 'Unpin' : 'Pin' }}">
                                            </umb-button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <umb-pagination
                            ng-if="vm.totalPages > 0 && !vm.loading"
                            page-number="vm.currentPage"
                            total-pages="vm.totalPages"
                            on-change="vm.goToPage(pageNumber)">
                        </umb-pagination>

                    </umb-box-content>
                </umb-box>

                <umb-box class="compare-panel">

                    <umb-box-header ng-if="vm.previousVersion" title="{{vm.previousVersion.displayValue}}"></umb-box-header>

                    <umb-box-content>

                        <umb-load-indicator ng-if="vm.loadingDiff"></umb-load-indicator>

                        <umb-empty-state
                            ng-if="!vm.diff"
                            position="center">
                            Select version to compare
                        </umb-empty-state>

                        <div ng-if="vm.diff && !vm.loadingDiff" class="diff">
                            
                            <small class="db" style="margin-bottom: 15px;">
                                <localize key="rollback_diffHelp">
                                    This shows the differences between the current version and the selected version<br /><del>Red text</del> will be
                                    removed in the selected version, <ins>green text</ins> will be added
                                </localize>
                            </small>

                            <table class="table table-condensed table-bordered">
                                <tbody>
                                    <tr>
                                        <td class="bold">
                                            <localize key="general_name">Name</localize>
                                        </td>
                                        <td>
                                            <span ng-repeat="part in vm.diff.name track by $id(part)">
                                                <ins ng-if="part.added">{{part.value}}</ins>
                                                <del ng-if="part.removed">{{part.value}}</del>
                                                <span ng-if="!part.added && !part.removed">{{part.value}}</span>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr ng-repeat="property in vm.diff.properties track by property.alias">
                                        <td class="bold">{{property.label}}</td>
                                        <td ng-class="{'pre-line': property.isObject, 'word-wrap': !property.isObject}">
                                            <span ng-repeat="part in property.diff track by $id(part)">
                                                <ins ng-if="part.added">{{part.value}}</ins>
                                                <del ng-if="part.removed">{{part.value}}</del>
                                                <span ng-if="!part.added && !part.removed">{{part.value}}</span>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                    </umb-box-content>
                </umb-box>

            </div>
        </umb-editor-container>

        <umb-editor-footer>
            <umb-editor-footer-content-right>
                <umb-button
                    type="button"
                    button-style="link"
                    label-key="general_close"
                    shortcut="esc"
                    action="vm.close()">
                </umb-button>
                <umb-button
                    type="button"
                    button-style="success"
                    state="vm.rollbackButtonState"
                    label-key="actions_rollback"
                    disabled="vm.rollbackButtonDisabled"
                    action="vm.rollback()">
                </umb-button>
            </umb-editor-footer-content-right>
        </umb-editor-footer>

    </umb-editor-view>

</div>
