.editor-rollback {

  .main-content {
    display: flex;
    gap: 20px;
  }

  .side-panel {
    flex: 0 0 33%;
  }

  .compare-panel {
    flex: 1 1 auto;
    position: relative;
  }

  .current-version {
    background: @gray-10;
    padding: 15px;
    margin-bottom: 12px;
  }

  .culture-select {
    margin-bottom: 12px;
  }

  .version-details {
    color: @gray-5;
    font-size: 13px;
  }

}