@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = null;
}

<h1>TemplateId: @Model.TemplateId</h1>
@foreach (var child in Model.Children)
{
    <h2>Template @child.Name @(child.TemplateId)</h2>
}

@Model.Value("test1")