@using Umbraco.Web
@using Umbraco.Web.Install.Controllers
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    <div>
        Hello world
    </div>
    <script type="text/javascript">
        var Umbraco = {};
        Umbraco.Sys = {};
        Umbraco.Sys.ServerVariables = {
            "loginApiBaaseUrl": "@(Url.GetUmbracoApiServiceBaseUrl<InstallApiController>(controller => controller.GetStatus()))",
            "defaultStarterKit": Guid.NewGuid()
        };
    </script>
</body>
</html>
