@using Umbraco.Web
@using Umbraco.Web.Install.Controllers
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    <div>
        Hello world
    </div>
    <script type="text/javascript">
        var Umbraco = {};
        Umbraco.Sys = {};
        Umbraco.Sys.ServerVariables = {
            "installApiBaseUrl": "@ViewBag.InstallApiBaseUrl",
            "defaultStarterKit": "@ViewBag.DefaultPackageId"
        };
    </script>
</body>
</html>
