<div class="umb-photo-folder" ng-style="containerStyle">
    <div class="picrow" ng-repeat="row in rows">

        <div class="pic"
            ng-class="img.cssclass"
            ng-style="img.style" ng-repeat="img in row.images">

            <a href="#media/media/edit/{{img.id}}"
                ng-click="clickHandler(img, $event, false)"
                ng-switch="img.thumbnail"
                title="{{img.name}}">

                <div ng-style="img.style" class="umb-non-thumbnail" ng-switch-when="none">
                    <i class="icon large {{img.icon}}"></i>
                    {{img.name}}
                </div>
                
                
                <div ng-switch-default class="umb-photo" ng-style="img.thumbStyle" alt="{{img.name}}"></div>
                
                

            </a>

            <a href ng-click="clickHandler(img, $event, true)" ng-show="img.contentTypeAlias === 'Folder'" class="selector-overlay">
                <localize key="buttons_select">Select</localize>
			</a>

        </div>
    </div>
</div>
