<div class="umb-photo-folder" ng-style="containerStyle">
    <div class="picrow" ng-repeat="row in rows">

        <div class="pic"
            ng-class="img.cssclass"
            ng-style="img.style" ng-repeat="img in row.images">

            <a href="#media/media/edit/{{img.id}}"
                ng-click="clickHandler(img, $event, false)"
                title="{{img.name}}">

                <div ng-style="img.style" class="umb-non-thumbnail" ng-if="!img.thumbnail">
                    <i class="icon large {{img.icon}}"></i>
                    {{img.name}}
                </div>
            
                <div ng-if="img.thumbnail" class="umb-photo" ng-style="img.thumbStyle" alt="{{img.name}}"></div>
            </a>

            <a href ng-click="clickHandler(img, $event, true)" 
                ng-if="img.isFolder" class="selector-overlay">
                <localize key="buttons_select">Select</localize>
			</a>
        </div>
    </div>
</div>
