<div ng-controller="Umbraco.DashboardController">

   <umb-load-indicator ng-if="page.loading"></umb-load-indicator>

   <form
      ng-show="!page.loading"
      class="umb-dashboard"
      val-form-manager>

      <umb-editor-view
        footer="false"
        umb-tabs>

         <umb-editor-header
            name="dashboard.name"
            name-locked="page.nameLocked"
            tabs="dashboard.tabs"
            hide-icon="true"
            hide-description="true"
            hide-alias="true">
         </umb-editor-header>

         <umb-editor-container>

            <umb-tabs-content view="true">
               <umb-tab id="tab{{tab.id}}" ng-repeat="tab in dashboard.tabs" rel="{{tab.id}}">

                  <div ng-repeat="property in tab.properties" ng-switch on="property.serverSide">

                     <div class="span12 clearfix" ng-switch-when="false">
                        <h3 ng-show="property.caption">{{property.caption}}</h3>
                        <div ng-include="property.path"></div>
                     </div>

                     <div class="span12 umb-dashboard-control clearfix" ng-switch-when="true">
                        <h3 ng-show="property.caption">{{property.caption}}</h3>

                        <iframe ng-src="dashboard/usercontrolproxy.aspx?ctrl={{ property.path}}"></iframe>
                     </div>

                  </div>

               </umb-tab>
            </umb-tabs-content>

         </umb-editor-container>

      </umb-editor-view>

   </form>﻿
</div>
