<div ng-controller="Umbraco.PrevalueEditors.RteController">

	<umb-control-group label="Toolbar" hide-label="false">
		<div ng-repeat="cmd in tinyMceConfig.commands">
			<input type="checkbox" 
				ng-checked="selected(cmd, cmd.frontEndCommand, model.value.toolbar)" 
				ng-model="cmd.selected" 
				ng-change="selectCommand(cmd)"
				/> 

				<img ng-src="{{cmd.icon}}" />

				{{cmd.frontEndCommand}}
		</div>
	</umb-control-group>

	<umb-control-group label="Stylesheets" hide-label="0">
		<div ng-repeat="css in stylesheets">
			<input type="checkbox" 
				ng-checked="selected(css, css.name, model.value.stylesheets)" 
				ng-model="css.selected" 
				ng-change="selectStylesheet(css)"
				/> 
				{{css.name}}
		</div>
	</umb-control-group>

	<umb-control-group label="Dimensions" description="Width x Height">
		<input type="number" ng-model="model.value.dimensions.width" class="umb-editor-tiny" placeholder="Width" /> &times; 
		<input type="number" ng-model="model.value.dimensions.height" class="umb-editor-tiny" placeholder="Height" /> Pixels   
	</umb-control-group>
</div>