<div ng-controller="Umbraco.PropertyEditors.RTEController" class="umb-editor umb-rte">
    <div ng-if="isLoading">Loading...</div>
    <textarea ng-style="{ visibility :  isLoading ? 'hidden' : 'visible'}"
              ng-model="model.value" rows="10"
              id="{{textAreaHtmlId}}"></textarea>

   <umb-overlay
      ng-if="mediaPickerOverlay.show"
      model="mediaPickerOverlay"
      position="right"
      view="mediaPickerOverlay.view">
   </umb-overlay>

   <umb-overlay
      ng-if="embedOverlay.show"
      model="embedOverlay"
      position="right"
      view="embedOverlay.view">
   </umb-overlay>

</div>
