@inherits System.Web.Mvc.WebViewPage
<div ng-controller="Umbraco.canvasdesigner.gridRow">

    <div class="box-slider">
        <input type="checkbox" ng-model="item.values.fullsize" /><label>Full size</label>
    </div>

</div>
