@inherits System.Web.Mvc.WebViewPage
<div ng-controller="Umbraco.canvasdesigner.layout">

    <div class="box-slider">
        <input type="radio" ng-model="item.values.layout" value="box"> Box
        <input type="radio" ng-model="item.values.layout" value="wide"> Wide
        <input type="radio" ng-model="item.values.layout" value="full"> Full
    </div>

</div>
