@inherits System.Web.Mvc.WebViewPage
<div ng-controller="Umbraco.canvasdesigner.padding">

    <div class="box-slider">
        <ul class="box-preview">
            <li ng-repeat="padding in paddingList" class="border-{{padding}}" ng-class="{selected: selectedpadding.name == padding}" ng-click="setSelectedpadding(padding)"></li>
        </ul>
    </div>

    <div class="box-slider">
        <div ui-slider min="0" max="400" step="1" ng-model="selectedpadding.value"></div>
    </div>

</div>
