@inherits System.Web.Mvc.WebViewPage
<div ng-controller="Umbraco.canvasdesigner.shadow">

    <div class="box-slider">
        <div ui-slider min="0" max="100" step="1" ng-model="item.values.shadow"></div>
    </div>

</div>
