@using System.Globalization
@model Umbraco.Cms.Api.Management.BackOfficeLoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="@CultureInfo.CurrentCulture.Name">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/svg+xml" href="~/umbraco/login/favicon.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Umbraco</title>
        <script type="module" src="~/umbraco/login/main.js" asp-append-version="true"></script>
        <link rel="stylesheet" href="~/umbraco/login/style.css" asp-append-version="true" />
        <base href="@Model.UmbracoUrl/login/" />
    </head>

    <body class="uui-font uui-text" style="margin: 0; padding: 0; overflow: hidden">
        <umb-login return-url="@Model.ReturnUrl"></umb-login>
    </body>
</html>
