<div ng-controller="Umbraco.Overlays.PublishDescendantsController as vm">

    <div ng-if="vm.variants.length === 1">
        <div class="mb3">
            <p><localize key="{{vm.labels.help.key}}" tokens="vm.labels.help.tokens"></localize></p>
        </div>

        <div class="flex mb3">
            <umb-checkbox
                model="model.includeUnpublished"
                text="Include drafts: also publish unpublished content items."
                label-key="content_includeUnpublished"
            />
        </div>

    </div>

    <div ng-if="vm.variants.length > 1">

        <div class="mb3">
            <p><localize key="content_publishDescendantsWithVariantsHelp"></localize></p>
        </div>

        <div class="flex mb3">
            <umb-checkbox
                model="model.includeUnpublished"
                text="Include drafts: also publish unpublished content items."
                label-key="content_includeUnpublished"
            />
        </div>

        <div class="bold mb1">
            <localize key="treeHeaders_languages"></localize>
        </div>

        <div class="umb-list umb-list--condensed">

            <div class="umb-list-item umb-list--condensed" ng-repeat="variant in vm.variants">
                <ng-form name="publishVariantSelectorForm">
                    <div ng-class="{'umb-list-item--error': publishVariantSelectorForm.publishVariantSelector.$invalid}">

                        <umb-checkbox
                            name="publishVariantSelector"
                            model="variant.publish"
                            on-change="vm.changeSelection(variant)"
                            server-validation-field="{{variant.htmlId}}"
                            text="{{variant.language.name}}"/>

                        <div>
                            <span class="db umb-list-item__description umb-list-item__description--checkbox" ng-if="!publishVariantSelectorForm.publishVariantSelector.$invalid && !(variant.notifications && variant.notifications.length > 0)">
                                <span class="db umb-list-item__description" ng-if="!publishVariantSelectorForm.publishVariantSelector.$invalid && !(variant.notifications && variant.notifications.length > 0)">
                                    <umb-variant-state variant="variant"></umb-variant-state>
                                    <span ng-if="variant.language.isMandatory"> - <localize key="languages_mandatoryLanguage"></localize></span>
                                </span>

                                <span class="db" ng-messages="publishVariantSelectorForm.publishVariantSelector.$error" show-validation-on-submit>
                                    <span class="db umb-list-item__description umb-list-item__description--checkbox text-error" ng-message="valServerField">{{publishVariantSelectorForm.publishVariantSelector.errorMsg}}</span>
                                </span>

                                <umb-variant-notification-list notifications="variant.notifications"></umb-variant-notification-list>
                            </span>
                        </div>
                    </div>

                </ng-form>
            </div>
        </div>

    </div>

</div>
