<div class="umb-editor">
    <div class="umb-nested-boolean">
        <label>
            <input type="checkbox" ng-model="model.value.allowBulkPublish" id="allowBulkPublish"/>
            <span>Allow bulk publish (content only)</span>
        </label>
    </div>
    <div class="umb-nested-boolean">
        <label>
            <input type="checkbox" ng-model="model.value.allowBulkUnpublish" id="allowBulkUnpublish" />
            <span>Allow bulk unpublish (content only)</span>
        </label>
    </div>
    <div class="umb-nested-boolean">
        <label>
            <input type="checkbox" ng-model="model.value.allowBulkCopy" id="allowBulkCopy" />
            <span>Allow bulk copy (content only)</span>
        </label>
    </div>
    <div class="umb-nested-boolean">
        <label>
            <input type="checkbox" ng-model="model.value.allowBulkMove" id="allowBulkMove" />
            <span>Allow bulk move</span>
        </label>
    </div>
    <div class="umb-nested-boolean">
        <label>
            <input type="checkbox" ng-model="model.value.allowBulkDelete" id="allowBulkDelete" />
            <span>Allow bulk delete</span>
        </label>
    </div>
</div>
