<div class="umb-editor" ng-controller="Umbraco.PrevalueEditors.ListViewBulkActionPermissionsPreValsController">
    <div class="umb-nested-boolean">
        <label for="allowBulkPublish">
            <span>Allow bulk publish (content only)</span>
            <input type="checkbox" ng-model="model.value.allowBulkPublish" id="allowBulkPublish"/>
        </label>
    </div>
    <div class="umb-nested-boolean">
        <label for="allowBulkPublish">
            <span>Allow bulk unpublish (content only)</span>
            <input type="checkbox" ng-model="model.value.allowBulkUnpublish" id="allowBulkUnpublish" />
        </label>
    </div>
    <div class="umb-nested-boolean">
        <label for="allowBulkPublish">
            <span>Allow bulk copy (content only)</span>
            <input type="checkbox" ng-model="model.value.allowBulkCopy" id="allowBulkCopy" />
        </label>
    </div>
    <div class="umb-nested-boolean">
        <label for="allowBulkPublish">
            <span>Allow bulk move</span>
            <input type="checkbox" ng-model="model.value.allowBulkMove" id="allowBulkMove" />
        </label>
    </div>
    <div class="umb-nested-boolean">
        <label for="allowBulkPublish">
            <span>Allow bulk delete</span>
            <input type="checkbox" ng-model="model.value.allowBulkDelete" id="allowBulkDelete" />
        </label>
    </div>
</div>