<div>
    <ng-form name="listViewOrderDirectionForm">
        <umb-radiobutton name="orderDirection" value="asc" model="model.value" text="Ascending"></umb-radiobutton>
        <umb-radiobutton name="orderDirection" value="desc" model="model.value" text="Descending"></umb-radiobutton>
        <span ng-messages="listViewOrderDirectionForm.orderDirection.$error" show-validation-on-submit>
            <span class="help-inline" ng-message="required">Required</span>
        </span>
    </ng-form>
</div>
