<div>
    <ng-form name="listViewOrderDirectionForm" class="flex">
        <umb-radiobutton name="orderDirection" value="asc" model="model.value" text="Ascending [a-z]" required></umb-radiobutton>
        <umb-radiobutton name="orderDirection" value="desc" model="model.value" text="Descending [z-a]" required></umb-radiobutton>

        <span ng-messages="listViewOrderDirectionForm.orderDirection.$error" show-validation-on-submit>
            <span class="help-inline" ng-message="required">Required</span>
        </span>
    </ng-form>
</div>
