<div class="clearfix" ng-controller="Umbraco.Editors.SchemaTypes.DesignController">

    <umb-editor-sub-header>

        <umb-editor-sub-header-content-right>

            <umb-button ng-if="sorting !== false"
                type="button"
                button-style="link"
                label-key="{{sortingButtonKey}}"
                icon="icon-navigation"
                action="toggleSortingMode();">
            </umb-button>

        </umb-editor-sub-header-content-right>

    </umb-editor-sub-header>

    <div class="umb-group-builder__group -active" style="border-radius: 10px; margin-top: -30px;">

        <ul class="umb-group-builder__properties" ui-sortable="sortableOptionsProperty" ng-model="tab.properties">

            <li ng-class="{'umb-group-builder__property-sortable': sortingMode && !property.inherited}" ng-repeat="property in tab.properties">

                <!-- Init property / Property placeholder / add new property -->
                <a href=""
                   class="umb-group-builder__property -placeholder"
                   ng-if="property.propertyState=='init' && !sortingMode"
                   ng-class="{'-placeholder': property.propertyState=='init'}"
                   hotkey="alt+shift+p"
                   hotkey-when="{{tab.tabState === 'active' && property.propertyState=='init'}}"
                   ng-click="addProperty(property, tab)"
                   on-focus="activateGroup(tab)"
                   focus-when="{{property.focus}}"> 

                    <div class="umb-group-builder__property-meta">
                        <div class="umb-group-builder__placeholder-box -input-small"></div>
                        <div class="umb-group-builder__placeholder-box -input"></div>
                        <div class="umb-group-builder__placeholder-box-group">
                            <div class="umb-group-builder__placeholder-box -text-full-width"></div>
                            <div class="umb-group-builder__placeholder-box -text-full-width"></div>
                            <div class="umb-group-builder__placeholder-box -text-short"></div>
                        </div>
                    </div>

                    <div class="umb-group-builder__property-preview umb-group-builder__placeholder-box">
                        <localize key="contentTypeEditor_addProperty"></localize>
                    </div>

                    <div class="umb-group-builder__property-actions"></div>

                </a>

                <div class="umb-group-builder__property" ng-if="property.propertyState!=='init'" ng-class="{'-active': property.dialogIsOpen, '-active': property.propertyState=='active', '-inherited': property.inherited, '-locked': property.locked, 'umb-group-builder__property-handle -sortable': sortingMode && !property.inherited, '-sortable-locked': sortingMode && property.inherited}">

                    <!-- property meta text -->
                    <div class="umb-group-builder__property-meta" ng-class="{'-full-width': sortingMode}">

                        <ng-form name="propertyTypeForm">
                            <div class="control-group -no-margin" ng-if="!sortingMode">

                                <div class="umb-group-builder__property-meta-alias" ng-if="property.inherited || property.locked">{{ property.alias }}</div>
                                <umb-locked-field ng-if="!property.inherited && !property.locked"
                                                  locked="locked"
                                                  ng-model="property.alias"
                                                  placeholder-text="'Alias...'"
                                                  server-validation-field="{{'Groups[' + $parent.$parent.$parent.$parent.$index + '].Properties[' + $index + '].Alias'}}">
                                </umb-locked-field>

                                <div class="umb-group-builder__property-meta-label">
                                    <textarea localize="placeholder"
                                              placeholder="@placeholders_label"
                                              ng-model="property.label"
                                              ng-disabled="property.inherited || property.locked"
                                              name="groupName"
                                              umb-auto-resize
                                              required
                                              val-server-field="{{'Groups[' + $parent.$parent.$parent.$parent.$index + '].Properties[' + $index + '].Label'}}"></textarea>

                                    <div class="umb-validation-label" val-msg-for="groupName" val-toggle-msg="valServerField"></div>
                                    <div class="umb-validation-label" val-msg-for="groupName" val-toggle-msg="required"><localize key="contentTypeEditor_requiredLabel"></localize>
                                    </div>
                                </div>

                                <div class="umb-group-builder__property-meta-description">
                                    <textarea localize="placeholder"
                                              placeholder="@placeholders_enterDescription"
                                              ng-model="property.description"
                                              ng-disabled="property.inherited || property.locked"
                                              umb-auto-resize></textarea>
                                </div>
                            </div>
                        </ng-form>

                        <div ng-if="sortingMode">
                            <i class="icon icon-navigation" ng-if="!property.inherited"></i>
                            <span class="umb-group-builder__property-meta-label">{{ property.label }}</span>
                            <span class="umb-group-builder__property-meta-alias">({{ property.alias }})</span>
                        </div>

                    </div>


                    <div tabindex="-1" class="umb-group-builder__property-preview" ng-click="editPropertyTypeSettings(property, tab)" ng-if="!sortingMode" ng-class="{'-not-clickable': !sortingMode && (property.inherited || property.locked)}">

                        <div class="umb-group-builder__property-tags">

                            <span class="umb-group-builder__property-tag -white">
                                <span ng-if="property.dataTypeName !== undefined">{{property.dataTypeName}}</span>
                                <span ng-if="property.dataTypeName == undefined"><localize key="general_preview"></localize></span>
                            </span>

                            <div class="umb-group-builder__property-tag -white" ng-if="property.validation.mandatory">
                                <i class="umb-group-builder__property-tag-icon">*</i>
                                <localize key="general_mandatory"></localize>
                            </div>

                            <div class="umb-group-builder__property-tag -white" ng-if="property.showOnMemberProfile">
                                <i class="icon-eye umb-group-builder__property-tag-icon"></i>
                                <localize key="contentTypeEditor_showOnMemberProfile"></localize>
                            </div>

                            <div class="umb-group-builder__property-tag -white" ng-if="property.memberCanEdit">
                                <i class="icon-edit umb-group-builder__property-tag-icon"></i>
                                <localize key="contentTypeEditor_memberCanEdit"></localize>
                            </div>

                        </div>

                        <div class="umb-group-builder__property-tags -right">

                            <div class="umb-group-builder__property-tag" ng-if="property.inherited">
                                <i class="icon icon-merge"></i>
                                <span style="margin-right: 3px"><localize key="contentTypeEditor_inheritedFrom"></localize></span>
                                {{property.contentTypeName}}
                            </div>

                            <div class="umb-group-builder__property-tag" ng-if="property.locked">
                                <i class="icon icon-lock"></i>
                                <localize key="general_locked"></localize>
                            </div>

                        </div>

                        <ng-form name="propertyEditorPreviewForm" umb-disable-form-validation>
                            <umb-property-editor ng-if="property.view !== undefined"
                                                 model="property"
                                                 preview="true">
                            </umb-property-editor>
                        </ng-form>

                    </div>

                    <!-- row tools -->
                    <div class="umb-group-builder__property-actions" ng-if="!sortingMode">

                        <div ng-if="!property.inherited && !property.locked">

                            <!-- settings for property -->
                            <div class="umb-group-builder__property-action" ng-click="editPropertyTypeSettings(property, tab)">
                                <i class="icon icon-settings"></i>
                            </div>

                            <!-- delete property -->
                            <div class="umb-group-builder__property-action">
                                <i class="icon-trash" ng-click="togglePrompt(property)"></i>
                                <umb-confirm-action ng-if="property.deletePrompt"
                                                    direction="left"
                                                    on-confirm="deleteProperty(tab, $index)"
                                                    on-cancel="hidePrompt(property)">
                                </umb-confirm-action>
                            </div>

                        </div>

                    </div>

                </div>

            </li>

        </ul>

        <umb-overlay ng-if="propertySettingsDialogModel.show"
            model="propertySettingsDialogModel"
            position="right"
            view="propertySettingsDialogModel.view">
        </umb-overlay>

    </div>
</div>
