.umb-users {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.umb-user {
    flex: 1 1 200px;
    background-color: @gray-10;
    border: 1px solid @gray-9;
    border-radius: 3px;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    position: relative;
}

.umb-user--selected {
    border-color: @turquoise;
}

.umb-user:hover {
    border-color: @turquoise;
}

.umb-user__avatar {
    margin-bottom: 15px;
}

.umb-user__name {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.umb-user__checkmark {
    position: absolute;
    top: 10px;
    right: 10px;
}

.umb-user__group {
    font-size: 14px;
}