.umb-user-group-picker-list {
    display: flex;
    flex-direction: column;
}

.umb-user-group-picker-list-item {
    display: flex;
    margin-bottom: 5px;
    padding: 10px;
    position: relative;
}

.umb-user-group-picker__action{
    background: transparent;
    border: 0 none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.umb-user-group-picker-list-item:hover {
    background-color: @gray-10;
    text-decoration: none;
}

.umb-user-group-picker-list-item__icon {
    font-size: 20px;
    line-height: 20px;
    min-width: 20px;
    margin-right: 15px;
}

.umb-user-group-picker-list-item__name {
    font-size: 15px;
    margin-bottom: 3px;
    font-weight: bold;
}

.umb-user-group-picker-list-item__permission {
    font-size: 13px;
    color: @gray-4;
}
