.umb-alert {
    padding: 15px;
    box-sizing: border-box;
    background-color: @blueLight;
    border: 1px solid @blueMid; 
    border-radius: 3px;
}

.umb-alert--info {
    background-color: @sand-5;
    border: 1px solid @sand-1;
    color: @gray-2;
}

.umb-alert--warning {
    background-color: @pinkLight;
    border: 1px solid @pink;
}

.umb-alert--danger {
    background-color: @pinkLight;
    border: 1px solid @pink;
}
