.umb-group-panel {
    background: @white;
    border-radius: 3px;
    margin-bottom: 20px;
    .umb-box-shadow(0);

    &__header {
        padding: 12px 20px;
        font-weight: bold;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: @grayDark;
        border-bottom: 1px solid @gray-9;
    }

    &__content {
        padding: 20px;
    }
}
