.umb-group-panel {
    background: @white;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16);
    margin-bottom: 20px;
}

.umb-group-panel__header {
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: @grayDarker;
  border-bottom: 1px solid @gray-9;
}

.umb-group-panel__header h2 {
  font-size: @fontSizeMedium;
  font-weight: bold;
  line-height: 1.3;
  margin: 0;
}

.umb-group-panel__content {
  padding: 20px;
}
