.umb-group-panel {
    background: @white;
    border-radius: 3px;
    margin-bottom: 16px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16);
}

.umb-group-panel__header {
    padding: 10px 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: @black;
}

.umb-group-panel__content {
    padding: 20px;
    border-top: 1px solid @gray-9;
}
