.umb-expansion-panel {
    background: @white;
    border-radius: 3px;
    margin-bottom: 20px;
    .umb-box-shadow(0, false);

    &__header {
        padding: 10px 20px;
        font-weight: bold;
        display: flex;
        align-items: center;
        cursor: pointer;
        justify-content: space-between;
        color: @black;

        &:hover .umb-expansion-panel__expand {
            color: @gray-6;
        }
    }

    &__expand {
        color: @gray-8;
    }

    &__content {
        padding: 20px;
        border-top: 1px solid @gray-9;
    }
}
