<?xml version="1.0" encoding="utf-8" ?>
<defaultSettings>

  <!-- 
    umbracoSettings.config configuration documentation can be found here: 
    https://our.umbraco.com/documentation/using-umbraco/config-files/umbracoSettings/
    Many of the optional settings are not explicitly listed here 
    but can be found in the online documentation, each section has a 
    corresponding URL link below.
    -->

  <!-- https://our.umbraco.com/documentation/using-umbraco/config-files/umbracoSettings/#Content -->
  <content>

    <!-- https://our.umbraco.com/documentation/using-umbraco/config-files/umbracoSettings/#Imaging -->
    <imaging/>
    
    <!-- https://our.umbraco.com/documentation/using-umbraco/config-files/umbracoSettings/#Errors -->
    <errors>
      <error404>1</error404>
    </errors>

    <!-- https://our.umbraco.com/documentation/using-umbraco/config-files/umbracoSettings/#Notifications -->
    <notifications>
      <!-- the email that should be used as from mail when umbraco sends a notification -->
      <email>robot@umbraco.dk</email>
    </notifications>
    
  </content>

  <!-- https://our.umbraco.com/documentation/using-umbraco/config-files/umbracoSettings/#Security 
  <security/> -->

  <!-- https://our.umbraco.com/documentation/using-umbraco/config-files/umbracoSettings/#RequestHandler 
  <requestHandler/> -->

  <!-- https://our.umbraco.com/documentation/using-umbraco/config-files/umbracoSettings/#Logging -->
  <logging/>

  <!-- https://our.umbraco.com/documentation/using-umbraco/config-files/umbracoSettings/#ScheduledTasks -->
  <scheduledTasks/>

  <!-- https://our.umbraco.com/documentation/using-umbraco/config-files/umbracoSettings/#Providers -->
  <providers/>

  <!-- https://our.umbraco.com/documentation/using-umbraco/config-files/umbracoSettings/#WebRouting -->
  <web.routing/>
  
</defaultSettings>
