<?xml version="1.0" encoding="utf-8" ?>
<defaultSettings>
  <content>
    
    <errors>
      <error404>1</error404>
    </errors>
    
    <notifications>
      <!-- the email that should be used as from mail when umbraco sends a notification -->
      <email>robot@umbraco.dk</email>
    </notifications>
    
  </content>

  <requestHandler>    
    <urlReplacing>
      <char org=" ">-</char>
      <char org="&quot;"></char>
      <char org="'"></char>
      <char org="%"></char>
      <char org="."></char>
      <char org=";"></char>
      <char org="/"></char>
      <char org="\"></char>
      <char org=":"></char>
      <char org="#"></char>
      <char org="+">plus</char>
      <char org="*">star</char>
      <char org="&amp;"></char>
      <char org="?"></char>
      <char org="æ">ae</char>
      <char org="ø">oe</char>
      <char org="å">aa</char>
      <char org="ä">ae</char>
      <char org="ö">oe</char>
      <char org="ü">ue</char>
      <char org="ß">ss</char>
      <char org="Ä">ae</char>
      <char org="Ö">oe</char>
      <char org="|">-</char>
      <char org="&lt;"></char>
      <char org="&gt;"></char>
    </urlReplacing>
  </requestHandler>

  <templates>    
    <defaultRenderingEngine>Mvc</defaultRenderingEngine>
  </templates>

  <scripting>
    <razor>
      <!-- razor DynamicNode typecasting detects XML and returns DynamicXml - Root elements that won't convert to DynamicXml -->
      <notDynamicXmlDocumentElements>
        <element>p</element>
        <element>div</element>
        <element>ul</element>
        <element>span</element>
      </notDynamicXmlDocumentElements>
      <dataTypeModelStaticMappings>
        <mapping dataTypeGuid="A3DB4034-BCB0-4E69-B3EE-DD4E6ECA74C2">MyName.1</mapping>
        <mapping documentTypeAlias="textPage2" nodeTypeAlias="propertyAlias2">MyName.2</mapping>
        <mapping dataTypeGuid="BD14E709-45BE-431C-B228-6255CDEDFCD5" documentTypeAlias="textPage3" nodeTypeAlias="propertyAlias3">MyName.3</mapping>
        <mapping dataTypeGuid="FCE8187E-0366-4833-953A-E5ECA11AA23A" documentTypeAlias="textPage4">MyName.4</mapping>
        <mapping dataTypeGuid="9139315A-6681-4C45-B89F-BE48D30F9AB9" nodeTypeAlias="propertyAlias5">MyName.5</mapping>
        <mapping nodeTypeAlias="propertyAlias6">MyName.6</mapping>
      </dataTypeModelStaticMappings>
    </razor>
  </scripting>

  <!-- distributed calls make umbraco use webservices to handle cache refreshing -->
  <distributedCall enable="true">
    <!-- the id of the user who's making the calls -->
    <!-- needed for security, umbraco will automatically look up correct login and passwords -->
    <user>0</user>
    <servers>
      <!-- add ip number or hostname, make sure that it can be reached from all servers -->
      <!-- you can also add optional attributes to force a protocol or port number (see #2) -->
      <server>127.0.0.1</server>
      <server forceProtocol="https" forcePortnumber="443">127.0.0.2</server>
    </servers>
  </distributedCall>

  <!-- Configuration for repositories -->
  <!-- Add or remove repositories here. You will need the repository's unique key to be able to connect to it.-->
  <repositories>
    <repository name="Umbraco package Repository" guid="65194810-1f85-11dd-bd0b-0800200c9a66" />
    <repository name="Test Repo" guid="163245E0-CD22-44B6-841A-1B9B9D2E955F" />
  </repositories>

  <providers>
    <users>
      <!-- if you wish to use your own membershipprovider for authenticating to the umbraco back office -->
      <!-- specify it here (remember to add it to the web.config as well) -->
      <DefaultBackofficeProvider>UsersMembershipProvider</DefaultBackofficeProvider>
    </users>
  </providers>

  <!-- Maps language, usertype, application and application_url to help pages -->
  <help defaultUrl="http://our.umbraco.org/wiki/umbraco-help/{0}/{1}">
    <!-- Add links that should open custom help pages -->
    <link application="content" applicationUrl="dashboard.aspx"  language="en" userType="Administrators" helpUrl="http://www.xyz.no?{0}/{1}/{2}/{3}" />
    <link application="media" applicationUrl="dashboard2.aspx"  language="ch" userType="Writers" helpUrl="http://www.abc.no?{0}/{1}/{2}/{3}" />
  </help>

  <!-- 
    web.routing
      @trySkipIisCustomErrors
        Tries to skip IIS custom errors.
        Starting with IIS 7.5, this must be set to true for Umbraco 404 pages to show. Else, IIS will take
        over and render its build-in error page. See MS doc for HttpResponseBase.TrySkipIisCustomErrors.
        The default value is false, for backward compatibility reasons, which means that IIS _will_ take
        over, and _prevent_ Umbraco 404 pages to show.
      @internalRedirectPreservesTemplate
        By default as soon as we're not displaying the initial document, we reset the template set by the
        finder or by the alt. template. Set this option to true to preserve the template set by the finder
        or by the alt. template, in case of an internal redirect.
        (false by default, and in fact should remain false unless you know what you're doing)
  -->
  <web.routing
    trySkipIisCustomErrors="false"
    internalRedirectPreservesTemplate="false">
  </web.routing>

</defaultSettings>