<?xml version="1.0" encoding="utf-8" ?>
<defaultSettings>
  <content>
    
    <errors>
      <error404>1</error404>
    </errors>
    
    <notifications>
      <!-- the email that should be used as from mail when umbraco sends a notification -->
      <email>robot@umbraco.dk</email>
    </notifications>
    
  </content>

</defaultSettings>