<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <sectionGroup name="umbracoConfiguration">
      <section name="settings" type="Umbraco.Core.Configuration.UmbracoSettings.UmbracoSettingsSection, Umbraco.Core" requirePermission="false" />
      <section name="defaultSettings" type="Umbraco.Core.Configuration.UmbracoSettings.UmbracoSettingsSection, Umbraco.Core" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <umbracoConfiguration>
    <settings configSource="umbracoSettings.config" />
    <defaultSettings configSource="umbracoSettings.minimal.config" />
  </umbracoConfiguration>

</configuration>