<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="3.0.0" targetFramework="net45" />
  <package id="ClientDependency" version="1.8.1.0" targetFramework="net45" />
  <package id="ClientDependency-Mvc" version="1.8.0.0" targetFramework="net45" />
  <package id="dotless" version="1.4.1.0" targetFramework="net45" />
  <package id="Examine" version="0.1.60.2941" targetFramework="net45" />
  <package id="ImageProcessor" version="1.9.5.0" targetFramework="net45" />
  <package id="ImageProcessor.Web" version="3.3.1.0" targetFramework="net45" />
  <package id="log4net-mediumtrust" version="2.0.0" targetFramework="net40" />
  <package id="Lucene.Net" version="2.9.4.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Mvc.FixedDisplayModes" version="1.0.1" targetFramework="net40" />
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi" version="4.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="4.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="4.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="net45" />
  <package id="Microsoft.Bcl.Async" version="1.0.165" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="MiniProfiler" version="2.1.0" targetFramework="net45" />
  <package id="MySql.Data" version="6.6.5" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net45" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
  <package id="SqlServerCE" version="4.0.0.0" targetFramework="net40" />
  <package id="UrlRewritingNet.UrlRewriter" version="2.0.60829.1" targetFramework="net40" />
</packages>