<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    CAREFUL!
    ========
    
    ONLY edit this if a certain change NEEDS to go into the config of the 
	Umbraco RELEASE version - The version that everybody will download and use    
  -->

  <appSettings>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="umbracoDbDSN"
         value=""/>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="umbracoConfigurationStatus"
         value=""/>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="umbracoDebugMode"
         value="false"/>
  </appSettings>

  <system.web>
    <trust xdt:Transform="Remove"/>
    <trace enabled="false" xdt:Transform="SetAttributes(enabled)" />
    <customErrors mode="RemoteOnly" xdt:Transform="SetAttributes(mode)">
    </customErrors>
  </system.web>

</configuration>