<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<!-- Lee Kelleher's Laptop -->
	<appSettings>
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="umbracoDbDSN" value="server=.\SQLEXPRESS;database=umbraco4_dev;integrated security=true"/>
		<!--<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="umbracoDbDSN" value="datalayer=SQLCE4Umbraco.SqlCEHelper,SQLCE4Umbraco;data source=|DataDirectory|\Umbraco.sdf"/>-->
		<!--<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="umbracoDbDSN" value="datalayer=MySQL"/>-->
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="umbracoConfigurationStatus" value="4.8.0"/>
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="umbracoUseMediumTrust" value="true"/>
	</appSettings>

	<system.web>
		<trust level="Medium" originUrl=".*" xdt:Transform="Insert" />
		<compilation debug="true" xdt:Transform="SetAttributes(debug)" />
	</system.web>
	
</configuration>