<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<!--
    CAREFUL!
    ========
    
    ONLY edit this if a certain change NEEDS to go into the config of the 
	Umbraco RELEASE version - The version that everybody will download and use    
  -->

	<system.web>
		<trace enabled="false" xdt:Transform="SetAttributes(enabled)" />
		<customErrors mode="RemoteOnly" xdt:Transform="SetAttributes(mode)">
		</customErrors>
	</system.web>


</configuration>