<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!--
    Defines transforms that apply to web.Template.config when creating the Release web.config.

    This file should ONLY contain changes that need to go into the Release config (the one that ships).
  -->

	<system.web>
		<trace enabled="false" xdt:Transform="SetAttributes(enabled)" />
		<customErrors mode="RemoteOnly" xdt:Transform="SetAttributes(mode)">
		</customErrors>
	</system.web>

</configuration>