<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

    
    <!--
    Defines transforms that apply to web.Template.config when creating the Debug web.config.

    This file should contain changes that need to go into the Debug config (the one that everybody
    contributing to the project is going to use). After the first build, the actual web.config file
    is created and is ignored by source control.

    One can edit web.config, it will not be overritten, but it WILL be altered by this transform
    file everytime Umbraco builds.
  -->

    <configSections>
        <section name="Examine" xdt:Transform="Remove" xdt:Locator="Match(name)" />
        <section name="ExamineLuceneIndexSets" xdt:Transform="Remove" xdt:Locator="Match(name)" />
    </configSections>

    <Examine xdt:Transform="Remove"  />
    <ExamineLuceneIndexSets xdt:Transform="Remove"  />

    <system.web>
        <compilation debug="true" xdt:Transform="SetAttributes(debug)" />
    </system.web>

</configuration>
