<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    CAREFUL!
    ========
    
    ONLY edit this if a certain change NEEDS to go into the config file of EVERYBODY contributing to the project.
    
    After first build you will get your own web.config, which is no included in source control.
    
    In the web.config you can edit all you want, it won't be overwritten, but it WILL be altered by this transform file.
    
    The transforms in this file only apply to debugging, not to the web.config that will be released, see web.Template.Release.config for that
    
    2012-11-08 SJ - Add Medium trust for everybody so we'll see any MedTrust related errors early on
  -->


  <configSections>
    <section name="Examine" type="Examine.Config.ExamineSettings, Examine"  xdt:Locator="Match(name)" xdt:Transform="SetAttributes(type)"/>
    <section name="ExamineLuceneIndexSets" type="Examine.LuceneEngine.Config.IndexSets, Examine"  xdt:Locator="Match(name)" xdt:Transform="SetAttributes(type)"/>

    <section name="BaseRestExtensions" type="Umbraco.Web.BaseRest.Configuration.BaseRestSection, umbraco" xdt:Locator="Match(name)" xdt:Transform="Remove" />
    <section name="FileSystemProviders" type="Umbraco.Core.Configuration.FileSystemProvidersSection, Umbraco.Core" xdt:Locator="Match(name)" xdt:Transform="Remove" />

    <sectionGroup name="umbracoConfiguration" xdt:Locator="Match(name)" xdt:Transform="Remove" />
    <sectionGroup name="umbracoConfiguration" xdt:Transform="Insert">
      <section name="settings" type="Umbraco.Core.Configuration.UmbracoSettings.UmbracoSettingsSection, Umbraco.Core" requirePermission="false" />
      <section name="BaseRestExtensions" type="Umbraco.Core.Configuration.BaseRest.BaseRestSection, Umbraco.Core" requirePermission="false"/>
      <section name="FileSystemProviders" type="Umbraco.Core.Configuration.FileSystemProvidersSection, Umbraco.Core" requirePermission="false"/>
    </sectionGroup>

  </configSections>

  <BaseRestExtensions xdt:Transform="Remove" />
  <FileSystemProviders xdt:Transform="Remove" />
  <umbracoConfiguration xdt:Transform="Remove"/>
  <umbracoConfiguration xdt:Transform="InsertBefore(/configuration/appSettings)">
    <settings configSource="config\umbracoSettings.config" />
    <BaseRestExtensions configSource="config\BaseRestExtensions.config" />
    <FileSystemProviders configSource="config\FileSystemProviders.config" />
  </umbracoConfiguration>

  <appSettings>
    <add key="umbracoDbDSN" xdt:Transform="Remove" xdt:Locator="Match(key)" />
  </appSettings>

  <system.web>
    <membership defaultProvider="UmbracoMembershipProvider">
      <providers>
        <add name="UmbracoMembershipProvider" defaultMemberTypeAlias="Member"
             xdt:Locator="Condition(@defaultMemberTypeAlias='Another Type' and @name='UmbracoMembershipProvider')"
             xdt:Transform="SetAttributes(defaultMemberTypeAlias)"/>
      </providers>
    </membership>

    <httpRuntime targetFramework="4.5" xdt:Transform="SetAttributes(targetFramework)"/>

    <compilation debug="true" targetFramework="4.5" xdt:Transform="SetAttributes(debug,targetFramework)">
      <assemblies xdt:Transform="Remove"/>
    </compilation>
    <!-- We no longer support medium trust so just remove it -->
    <trust xdt:Transform="Remove" />

    <httpHandlers>
      <add path="GoogleSpellChecker.ashx" xdt:Transform="Remove" xdt:Locator="Match(path)"  />
    </httpHandlers>
  </system.web>

  <system.web.extensions xdt:Transform="Remove" />

  <system.codedom xdt:Transform="Remove" />

  <system.webServer>
    <handlers>
      <remove name="SpellChecker" xdt:Transform="Remove" xdt:Locator="Match(name)" />
      <add name="SpellChecker" xdt:Transform="Remove" xdt:Locator="Match(name)"  />
    </handlers>
  </system.webServer>
    
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <!-- Ensure correct version of MVC -->
      <dependentAssembly xdt:Transform="Remove"
												 xdt:Locator="Condition(_defaultNamespace:assemblyIdentity[@name='System.Web.Helpers']])"/>
      <dependentAssembly xdt:Transform="Insert">
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>

      <dependentAssembly xdt:Transform="Remove"
												 xdt:Locator="Condition(_defaultNamespace:assemblyIdentity[@name='System.Web.Mvc']])"/>
      <dependentAssembly xdt:Transform="Insert">
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>

      <dependentAssembly xdt:Transform="Remove"
												 xdt:Locator="Condition(_defaultNamespace:assemblyIdentity[@name='System.Web.WebPages']])"/>
      <dependentAssembly xdt:Transform="Insert">
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>

      <dependentAssembly xdt:Transform="Remove"
												 xdt:Locator="Condition(_defaultNamespace:assemblyIdentity[@name='System.Web.WebPages.Razor']])"/>
      <dependentAssembly xdt:Transform="Insert">
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>


      <dependentAssembly  xdt:Transform="Remove"
												 xdt:Locator="Condition(_defaultNamespace:assemblyIdentity[@name='HtmlAgilityPack']])"/>
      <dependentAssembly xdt:Transform="Insert">
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="1.4.5.0-1.4.6.0" newVersion="1.4.6.0" />
      </dependentAssembly>

    </assemblyBinding>

  </runtime>

</configuration>