<div ng-controller="Umbraco.Editors.DocumentType.DesignController as vm" ng-class="{'is-in-sorting-mode': vm.sortingMode}">

    <umb-editor-toolbar tools="vm.toolbar"></umb-editor-toolbar>

    <ul ui-sortable="sortableOptionsTab" ng-model="model.groups" class="content-type-groups-list no-style-list">

        <li ng-repeat="tab in model.groups" ng-class="{'edt-tab-sortable': vm.sortingMode && !tab.inherited}">

            <!-- TAB INIT STATE -->
            <div class="edt-tab umb-card edt-tab-placeholder" ng-click="vm.addTab(tab)" ng-show="tab.tabState=='init' && !vm.sortingMode" ng-class="{'tab-state-init animated fadeIn': tab.tabState=='init'}">

                <div class="tab-title-wrapper">
                    <div class="tab-title">
                        <span class="tab-title-text"></span>
                    </div>
                </div>

                <div class="edt-tab-center-text">
                    <span ng-if="model.groups.length === 1">Add new tab</span>
                    <span ng-if="model.groups.length > 1">Add another tab</span>
                </div>

            </div>

            <!-- TAB ACTIVE OR INACTIVE STATE -->
            <div class="edt-tab umb-card" ng-class="{'tab-state-active':tab.tabState=='active', 'tab-state-inactive': tab.tabState=='inActive', 'tab-is-inherited': tab.inherited, 'edt-tab-handle': vm.sortingMode && !tab.inherited}" ng-click="vm.activateTab(tab)" ng-if="tab.tabState !== 'init'">

                <div class="tab-remove" ng-if="!vm.sortingMode && tab.properties.length <= 1">
                    <i class="icon icon-trash" ng-click="vm.removeTab($index)"></i>
                </div>

                <div class="tab-title-wrapper">

                    <div class="tab-title">
                        <i class="icon icon-navigation" ng-if="vm.sortingMode && !tab.inherited"></i>
                        <input class="tab-title-input" type="text" placeholder="Enter name..." ng-model="tab.name" ng-class="{'tab-title-placeholder': tab.name == ''}" ng-change="vm.updateTabTitle(tab)" umb-blur="vm.updateTabTitle(tab)" ng-disabled="tab.inherited" umb-auto-focus umb-auto-resize />
                    </div>

                    <div class="edt-tab-inherited-from" ng-if="tab.inherited">
                        <i class="icon icon-merge"></i> Inherited from {{ tab.inheritedFromName }}
                        <span ng-repeat="contentTypeName in tab.parentTabContentTypeNames">
                            {{ contentTypeName }}
                            <span ng-if="!$last">, </span>
                        </span>
                    </div>

                </div>

                <div class="edt-property-group">
                    <ul class="edt-property-list no-style-list" ui-sortable="sortableOptionsEditor"
                        ng-model="tab.properties" class="no-style-list">
                        <li ng-class="{'edt-property-sortable': vm.sortingMode && !property.inherited}" ng-repeat="property in tab.properties">

                            <!-- Init property / Property placeholder / add new property -->
                            <div class="edt-property" ng-show="property.propertyState=='init'" ng-class="{'property-state-init animated fadeIn': property.propertyState=='init'}" ng-click="vm.editPropertyTypeSettings(property)">

                                <div class="edt-property-meta">
                                    <div class="placeholder-input-small"></div>
                                    <div class="placeholder-input"></div>
                                    <div class="placeholder-text-group">
                                        <div class="placeholder-text-line-full"></div>
                                        <div class="placeholder-text-line-full"></div>
                                        <div class="placeholder-text-line-short"></div>
                                    </div>
                                </div>

                                <div class="edt-property-preview">
                                    <span class="placeholder-text">Add property</span>
                                </div>

                                <div class="edt-property-actions"></div>

                            </div>

                            <div class="edt-property" ng-show="property.propertyState!=='init'" ng-class="{'active': property.dialogIsOpen, 'property-state-active animated fadeIn': property.propertyState=='active', 'property-is-inherited': property.inherited, 'edt-property-handle': vm.sortingMode && !property.inherited}">

                                <!-- property meta text -->
                                <div class="edt-property-meta">

                                    <div class="edt-property-inherited-from" ng-if="property.inherited"><i class="icon icon-merge"></i> Inherited from {{property.contentTypeName}}</div>

                                    <div ng-if="!vm.sortingMode">

                                        <div class="edt-property-meta-alias">{{ property.alias }}</div>

                                        <div class="edt-property-meta-label invisible-field">
                                            <textarea placeholder="Label..." ng-model="property.label" ng-disabled="property.inherited" umb-auto-resize></textarea>
                                        </div>

                                        <div class="edt-property-meta-description invisible-field">
                                            <textarea ng-model="property.description" placeholder="Enter your description..." ng-disabled="property.inherited" umb-auto-resize></textarea>
                                        </div>

                                    </div>

                                    <div ng-if="vm.sortingMode">
                                        <i class="icon icon-navigation"></i>
                                        <span class="property-name">{{ property.label }}</span>
                                        <span class="item-alias">({{ property.alias }})</span>
                                    </div>

                                </div>


                                <div tabindex="-1" class="edt-property-preview" ng-click="vm.editPropertyTypeSettings(property)">

                                    <span class="edt-property-preview-overlay"></span>

                                    <span class="edt-property-preview-label">
                                        <span ng-if="property.dataTypeName !== undefined">{{property.dataTypeName}}</span>
                                        <span ng-if="property.dataTypeName == undefined">Preview</span>
                                    </span>

                                    <umb-property-editor model="property" ng-if="property.view !== undefined"></umb-property-editor>

                                </div>

                                <!-- row tools -->
                                <div tabindex="-1" class="edt-property-actions">

                                    <div ng-if="!property.inherited">

                                        <!-- delete property -->
                                        <a href="" class="property-action property-action-delete" ng-click="vm.deleteProperty(tab, $index)">
                                            <i class="icon icon-trash"></i>
                                        </a>

                                        <!-- settings for property -->
                                        <a href="" class="property-action property-action-edit" ng-click="vm.editPropertyTypeSettings(property)">
                                            <i class="icon icon-settings"></i>
                                        </a>

                                    </div>

                                </div>

                            </div>

                        </li>

                    </ul>
                </div>

            </div>

            <br>

        </li>

    </ul>

    <!-- overlay for change property editor -->
    <umb-overlay
            ng-style="{'width': '500px'}"
            ng-if="vm.showDialog"
            model="vm.dialogModel"
            animation="slide-in-right"
            position="right"
            view="vm.dialogModel.view">
    </umb-overlay>

</div>