<div data-element="editor-logs" ng-controller="Umbraco.Editors.LogViewer.OverviewController as vm" class="clearfix">

    <umb-editor-view footer="false">

        <umb-editor-header
            name="'Logs'"
            name-locked="true"
            hide-icon="true"
            hide-description="true"
            hide-alias="true">
        </umb-editor-header>

        <umb-editor-container>
            
            <umb-load-indicator ng-if="vm.loading"></umb-load-indicator>

            <umb-editor-sub-header>

                <umb-editor-sub-header-content-left>
                    <input class="form-control search-input" type="text" ng-model="vm.logOptions.filterExpression" style="width:850px;" />
                    <umb-button
                        button-style="button"
                        type="button"
                        action="vm.search()"
                        label-key="general_search">
                    </umb-button>

                    <strong>Sort by timestamp</strong>
                    Ascending <input type="radio" value="Ascending" ng-model="vm.logOptions.orderDirection" ng-change="vm.updateSort()" />
                    Descending <input type="radio" value="Descending" ng-model="vm.logOptions.orderDirection" ng-change="vm.updateSort()"/>

                    <!-- Log Level filter -->
                    <div style="position: relative;">
                        <a class="btn btn-link dropdown-toggle flex" href="" ng-click="vm.page.showLevelFilter = !vm.page.showLevelFilter">
                            <span>Log Levels:</span>
                            <span class="bold truncate dib" style="margin-left: 5px; margin-right: 3px; max-width: 150px;">{{ vm.getFilterName(vm.logLevels) }}</span>
                            <span class="caret"></span>
                        </a>
                        <umb-dropdown class="pull-right" ng-if="vm.page.showLevelFilter" on-close="vm.page.showLevelFilter = false;">
                            <umb-dropdown-item ng-repeat="level in vm.logLevels" style="padding: 8px 20px 8px 16px;">
                                <div class="flex items-center">
                                    <input
                                        id="loglevel-{{$index}}"
                                        type="checkbox"
                                        ng-model="level.selected"
                                        ng-change="vm.setLogLevelFilter(level)"
                                        style="margin-right: 10px; margin-top: -3px;" />
                                    <label for="loglevel-{{$index}}">{{ level.name }}</label>
                                </div>
                            </umb-dropdown-item>
                        </umb-dropdown>
                    </div>

                </umb-editor-sub-header-content-left>

                <umb-editor-sub-header-content-right>

                    <span>From</span>
                    <umb-date-time-picker
                        options="vm.fromDatePickerConfig"
                        on-change="vm.datePickerChange(event)"
                        on-error="vm.datePickerError(event)">
                    </umb-date-time-picker>

                    <span>To</span>
                    <umb-date-time-picker
                        options="vm.toDatePickerConfig"
                        on-change="vm.datePickerChange(event)"
                        on-error="vm.datePickerError(event)">
                    </umb-date-time-picker>

                </umb-editor-sub-header-content-right>

            </umb-editor-sub-header>            
            

            <div class="umb-package-details" ng-if="!vm.loading">
                
                <div class="umb-package-details__main-content">
            
                    <!-- Loader for the main logs content when paging -->
                    <umb-load-indicator ng-if="vm.logsLoading"></umb-load-indicator>

                    <!-- Empty states -->
                    <umb-empty-state ng-if="vm.logItems.totalItems === 0" position="center">
                        <localize key="general_searchNoResult"></localize>
                    </umb-empty-state>


                    <umb-box data-element="node-info-history" ng-if="!vm.logsLoading && vm.logItems.totalItems > 0">                        
                        <umb-box-content class="block-form">
                            <div ng-if="vm.logItems.totalItems > 0">
                                Total Items: {{ vm.logItems.totalItems }}
                            </div>
            
                            <table class="table table-hover" ng-if="vm.logItems.totalItems > 0">
                                <thead>
                                    <tr>
                                        <th>Timestamp</th>
                                        <th>Level</th>
                                        <th>Machine Name</th>
                                        <th>Message</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat-start="log in vm.logItems.items" ng-click="log.open = !log.open">
                                        <td>{{ log.Timestamp | date:'medium' }}</td>
                                        <td><umb-badge size="s" color="{{ log.logTypeColor }}">{{ log.Level }}</umb-badge></td>
                                        <td>{{ log.Properties.MachineName.Value }}</td>
                                        <td>{{ log.RenderedMessage }}</td>
                                    </tr>
                                    <tr ng-repeat-end ng-if="log.open">
                                        <td colspan="4">
                                            <div ng-if="log.Exception" style="background-color:#fe6561; color:#94100b; padding:10px;">
                                                <h3>Exception</h3>
                                                <p style="white-space: pre-wrap;">{{ log.Exception }}</p>
                                            </div>
                                                                                        
                                            <h3>Properties</h3>
                                            <div ng-repeat="(key, val) in log.Properties">
                                                <strong>{{ key }}</strong> {{ val.Value }}
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
            
                            <!-- Pagination -->
                            <div ng-if="!vm.loading" class="flex justify-center">
                                <umb-pagination
                                    ng-if="vm.logItems.totalPages"
                                    page-number="vm.logItems.pageNumber"
                                    total-pages="vm.logItems.totalPages"
                                    on-change="vm.changePageNumber(pageNumber)">
                                </umb-pagination>
                            </div>

                        </umb-box-content>
                    </umb-box>
                </div>
            
                <div class="umb-package-details__sidebar">

                    <!-- No of Errors -->
                    <umb-box data-element="node-info-scheduled-publishing">
                        <umb-box-header>Number of Errors</umb-box-header>
                        <umb-box-content class="block-form" style="font-size: 40px; font-weight:900; text-align:center; color:#fe6561;">
                            {{ vm.numberOfErrors }}
                        </umb-box-content>
                    </umb-box>

                    <!-- Chart of diff log types -->
                    <umb-box data-element="node-info-scheduled-publishing">
                        <umb-box-header>Log Types</umb-box-header>
                        <umb-box-content class="block-form">

                            <canvas 
                                chart-doughnut 
                                chart-data="vm.logTypeData" 
                                chart-labels="vm.logTypeLabels"
                                chart-colors="vm.logTypeColors" 
                                chart-options="vm.chartOptions"></canvas>

                        </umb-box-content>
                    </umb-box>

                    <!-- List of top 5 common log messages -->
                    <umb-box data-element="node-info-scheduled-publishing" ng-if="vm.commonLogMessages">
                            <umb-box-header>Common Log Messages</umb-box-header>
                            <umb-box-content class="block-form">

                                    <table class="table table-hover">
                                        <tbody>
                                            <tr ng-repeat="template in vm.commonLogMessages">
                                                <td>
                                                    {{ template.MessageTemplate }}
                                                </td>          
                                                <td>
                                                    {{ template.Count }}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                            </umb-box-content>
                        </umb-box>

                </div>
            </div>
            

        </umb-editor-container>

    </umb-editor-view>

</div>
