.examine-management {

    .form-search {

        .search-query {
            flex: 1 1 auto;
            width: auto;
        }

        button.btn {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}
