<div>

    <div ng-if="model.layout" class="umb-alert umb-alert--warning mb2">
        <localize key="contentTypeEditor_removeChildNode">You are removing the child node</localize> <strong>{{model.layout.name}}</strong>.
    </div>

    <p>
        <localize key="contentTypeEditor_removeChildNodeWarning">
            Removing a child node will limit the editors options to create different content types beneath a node.
        </localize>
    </p>

    <localize key="defaultdialogs_confirmdelete">Are you sure you want to remove</localize>?

</div>
