<div class="umb-overlay {{overlayCssClass}}" on-outside-click="closeOverLay()">
  <form name="overlayForm" ng-submit="submitForm(model)" novalidate val-form-manager>

    <div class="umb-overlay-header" ng-if="model.title">
      <h4>{{model.title}}
        <a class="pull-right" hotkey="esc" href ng-click="closeOverLay()">
          <i class="icon-delete"></i>
        </a>
      </h4>
    </div>

    <div class="umb-overlay-container">
      <div ng-if="view" ng-include="view"></div>
      <div ng-if="!view" ng-transclude></div>
    </div>

    <div class="umb-overlay-drawer" ng-if="model.close || model.submit">
      <div class="umb-overlay-drawer-content">
        <button class="btn btn-link" hotkey="esc" ng-click="closeOverLay()" ng-if="model.close">Cancel</button>
        <button class="btn btn-success" hotkey="enter" ng-if="model.submit && !model.multiActions" type="submit">Submit</button>
        <umb-button-group actions="model.multiActions" model="model" ng-if="model.multiActions"></umb-button-group>
      </div>
    </div>
  </form>
</div>
