@using Umbraco.Core.Models.PublishedContent
@using Umbraco.Web
@inherits Umbraco.Web.Macros.PartialViewMacroPage

@*
    This snippet shows how simple it is to fetch only children of a certain Document Type.
    
    Be sure to change "IPublishedContent" below to match your needs, such as "TextPage" or "NewsItem".
    (You can find the alias of your Document Type by editing it in the Settings section)
*@

@{  var selection = Model.Content.Children<IPublishedContent>().Where(x => x.IsVisible()).ToArray(); }

@if (selection.Length > 0)
{
    <ul>
        @foreach (var item in selection)
        {
            <li><a href="@item.Url">@item.Name</a></li>
        }
    </ul>
}
