@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{ var selection = Model.Content.Children.Where( x => x.IsVisible() ).OrderByDescending(x => x.CreateDate); }
@* OrderBy() takes the property to sort by and optionally order desc/asc *@

<ul>
    @foreach (var item in selection)
    {
        <li><a href="@item.Url">@item.Name</a></li>
    }
</ul>
