@inherits Umbraco.Web.Macros.PartialViewMacroPage

<ul>
	@* OrderBy() takes the property to sort by and optionally order desc/asc *@
	
    @foreach (var page in CurrentPage.Children.Where("Visible").OrderBy("CreateDate desc"))
    { 
        <li><a href="@page.Url">@page.Name</a></li>
    }
</ul>
