@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{ var selection = CurrentPage.Children.Where("Visible").OrderBy("CreateDate desc"); }
@* OrderBy() takes the property to sort by and optionally order desc/asc *@

<ul>
    @foreach (var item in selection)
    {
        <li><a href="@item.Url">@item.Name</a></li>
    }
</ul>
