


.umb-block-grid__layout-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(var(--umb-block-grid--grid-columns, 1), minmax(0, 1fr));
    /*
    Dev note, maybe this concept can be used for somethings:
    grid-template-columns: 
        [column-start] 1fr
        repeat(calc(var(--umb-block-grid--area-column-span, var(--umb-block-grid--grid-columns, 1)) - 2), minmax(0, 1fr))
        [column-end] 1fr
    ;
    */
    
    grid-gap: 0px;
    grid-auto-flow: row;
    grid-auto-rows: minmax(50px, auto);

}

.umb-block-grid__block-area-container {
    position: relative;
    display: grid;
    /* overwrite grid-columns for the areas container: */
    /* the overwrite of --umb-block-grid--grid-columns needs to be transfered to the next element to not overwrite it self.*/
    --umb-block-grid--area-grid-columns--overwrite: var(--umb-block-grid--area-grid-columns, var(--umb-block-grid--item-column-span, 1));
    grid-template-columns: repeat(var(--umb-block-grid--area-grid-columns--overwrite), minmax(0, 1fr));
    grid-gap: 0px;
    grid-auto-flow: row;
    grid-auto-rows: minmax(50px, auto);
    width: 100%;
}
.umb-block-grid__block-area {
    /* overwrite grid-columns for the area: */
    /* notice --umb-block-grid--grid-columns inherits to .umb-block-grid__layout-container to adjust for fitting in the Area*/
    --umb-block-grid--grid-columns: var(--umb-block-grid--area-column-span, var(--umb-block-grid--area-grid-columns--overwrite, 1));
    grid-column-end: span var(--umb-block-grid--area-column-span);
    grid-row: span var(--umb-block-grid--area-row-span, 1);
}

.umb-block-grid__layout-item {
    grid-column-end: span var(--umb-block-grid--item-column-span, var(--umb-block-grid--grid-columns, 1));
    grid-row: span var(--umb-block-grid--item-row-span, 1);
}

.umb-block-grid__layout-item[data-force-left] {
    grid-column-start: 1;
}
.umb-block-grid__layout-item[data-force-right] {
    grid-column-start: calc(1 + var(--umb-block-grid--grid-columns) - var(--umb-block-grid--item-column-span));
}

/*
.umb-block-grid__layout-item[data-content-element-type-alias='feature'] {
    border: 1px solid red;
}
*/

/*
.umb-block-grid__layout-item[data-content-property-hideOnMobile='True'] {
    display:none;
}
*/

/*
.umb-block-grid__layout-item[data-col-span='4'] {
    grid-column: span 4;
}
*/