

/*
Grid part:
*/
/*
.umb-block-grid__layout-container {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-gap: 10px;

    grid-auto-flow: row;
}


.umb-block-grid__layout-item {
    grid-column: span 4;
}
*/
