    <div 
        ui-sortable="vm.blockEditorApi.internal.sortableOptions"
        ng-model="vm.entries"
        class="umb-block-grid__layout-container"
    >
    <div ng-repeat="layoutEntry in vm.entries track by layoutEntry.$block.key"
        class="umb-block-grid__layout-item"
        data-col-span="{{layoutEntry.columnSpan}}"
        data-row-span="{{layoutEntry.rowSpan}}"
        style="
        --umb-block-grid--item-column-span: {{layoutEntry.columnSpan}};
        --umb-block-grid--item-row-span: {{layoutEntry.rowSpan}};
        "
    >

        <button type="button"
                class="btn-reset umb-block-grid__block--create-button"
                ng-click="vm.blockEditorApi.requestShowCreate(vm.parentBlock, vm.areaKey, $index, $event)"
                ng-controller="Umbraco.PropertyEditors.BlockGridPropertyEditor.CreateButtonController as inlineCreateButtonCtrl"
                ng-mousemove="inlineCreateButtonCtrl.onMouseMove($event)">
            <div class="__plus" ng-style="{'left':inlineCreateButtonCtrl.plusPosX}">
                <umb-icon icon="icon-add" class="icon"></umb-icon>
            </div>
        </button>

        <umb-block-grid-entry 
            block-editor-api="vm.blockEditorApi"
            layout-entry="layoutEntry"
            index="$index">
        </umb-block-grid-entry>

    </div>

</div>
<div class="umb-block-grid__actions">
    <button
            id="{{vm.model.alias}}"
            type="button"
            class="btn-reset umb-block-grid__create-button umb-outline"
            ng-disabled="vm.blockEditorApi.internal.availableBlockTypes.length === 0"
            ng-click="vm.blockEditorApi.requestShowCreate(vm.parentBlock, vm.areaKey, vm.entries.length, $event)">
        <localize ng-if="vm.blockEditorApi.internal.availableBlockTypes.length !== 1" key="blockEditor_addBlock">Add content</localize>
        <localize ng-if="vm.blockEditorApi.internal.availableBlockTypes.length === 1" key="blockEditor_addThis" tokens="[vm.blockEditorApi.internal.availableBlockTypes[0].elementTypeModel.name]">Add content</localize>
    </button>
    <button type="button"
            class="btn-reset umb-block-grid__clipboard-button umb-outline"
            ng-class="{'--jump': vm.jumpClipboardButton}"
            ng-disabled="vm.clipboardItems.length === 0"
            ng-click="vm.blockEditorApi.requestShowClipboard(vm.parentBlock, vm.areaKey, vm.entries.length, $event)"
            localize="title"
            title="@blockEditor_tabClipboard">
        <umb-icon icon="icon-paste-in" class="icon"></umb-icon>
        <span class="sr-only">
            <localize key="blockEditor_tabClipboard">Clipboard</localize>
        </span>
    </button>
</div>