/** Example of how a grid layout stylehseet could be done with Flex box: */


.umb-block-grid__layout-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.umb-block-grid__layout-item {
    --umb-block-grid__layout-item-calc: calc(var(--umb-block-grid--item-column-span) / var(--umb-block-grid--grid-columns));
    width: calc(var(--umb-block-grid__layout-item-calc) * 100%);
}
.umb-block-grid__layout-item[data-force-left] {
    align-self: flex-start;
}
.umb-block-grid__layout-item[data-force-left]::before {
    content: '';
    flex-basis: 100%;
    height: 0;
}
.umb-block-grid__layout-item[data-force-right] {
    margin-left: auto;
    align-self: flex-end;
}


.umb-block-grid__area-container, .umb-block-grid__block--view::part(area-container) {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.umb-block-grid__area {
    --umb-block-grid__area-calc: calc(var(--umb-block-grid--area-column-span) / var(--umb-block-grid--area-grid-columns, 1));
    width: calc(var(--umb-block-grid__area-calc) * 100%);
}


.umb-block-grid__actions {
    clear: both;
}