<div ng-controller="Umbraco.Dashboard.AnalyticsController as vm">
  <umb-box>
    <umb-box-content>
      <h3 class="bold">
        <localize key="analytics_consentForAnalytics">Consent for analytics</localize>
      </h3>
      <div class="umb-healthcheck-help-text">
        <p>In order to improve Umbraco and add new functionality based on as relevant information as possible,
          <br>we would like to collect system- and usage information from your installation.
          <br>We will NOT collect any personal data like content, code or users, and all data will be fully anonymous.
          <br>
          <br>We will on a regular basis share some of the overall learnings from these metrics.
          Hopefully, you'll help us collect some valuable data.</p>
        <div ng-if="!vm.loading" style="padding-left: 12px;padding-top: 50px; padding-bottom: 50px; width: 25%">
          <umb-range-slider
            ng-model="vm.val"
            on-setup="vm.setup(slider)"
            options="vm.sliderOptions"
            on-change="vm.sliderChange(values)">
          </umb-range-slider>
        </div>

        <p>
        <div ng-if="vm.sliderVal === 'Minimal'">
          <b>{{vm.sliderVal}}</b>
          <br>We'll only send an anonymous site ID to let us know that the site exists.
        </div>
        <div ng-if="vm.sliderVal === 'Basic'">
          <b>{{vm.sliderVal}}</b>
          <br>We'll send site ID, umbraco version and packages installed
        </div>
        <div ng-if="vm.sliderVal === 'Detailed'">
          <b>{{vm.sliderVal}}</b>

          <br> We'll send:
          <br>- Site ID, umbraco version and packages installed
          <br>- System information like Server OS and Webserver
          <br>- Statistics, like number of content nodes and number of media items
          <br>- Configuration settings, like modelsbuilder mode and used languages
          <br>
          <br>We might change/extend what we send on the detailed level in the future, but if so, it will be listed in
          this view.
          By choosing "detailed" I accept these future changes
        </div>
        </p>
      </div>
      <div class="umb-panel-group__details-status-actions">
        <umb-button type="button"
                    button-style="success"
                    label="Save"
                    action="vm.saveConsentLevel()"
                    ng-model="vm.sliderVal" ng-if="vm.consentLevel">
        </umb-button>
      </div>
    </umb-box-content>
  </umb-box>
</div>


