<div>

    <table class="table table-bordered table-condensed">
        <thead>
        <tr>
            <th class="score"><localize key="general_field">Field</localize></th>
            <th class="id"><localize key="general_value">Value</localize></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="(key, val) in model.searchResultValues track by key">
            <td>{{key}}
                <strong ng-if="val.length>1">
                    ({{val.length}})
                </strong>

            </td>
            <td ng-if="val.length<=1">
                {{val[0] }}</td>
            <td ng-if="val.length>1">
                <table>
                    <tr ng-repeat="subValue in val">

                        <td >
                            {{subValue}}</td>
                    </tr>
                </table>

            </td>
        </tr>
        </tbody>
    </table>

</div>
