<umb-box>
    <umb-box-content>
        <h3 class="bold">
            <localize key="settingsDashboard_start">Start here</localize>
        </h3>
        <localize key="settingsDashboard_startDescription">
            <p>This section contains the building blocks for your Umbraco site. Follow the below links to find out more about working with the items in the Settings section:</p>
        </localize>:
        <h5>
            <localize key="settingsDashboard_more">Find out more</localize>:
        </h5>
        <ul>
            <li>
                <localize key="settingsDashboard_bulletPointOne">Read more about working with the items in Settings <a class="btn-link -underline" href="https://our.umbraco.com/documentation/Getting-Started/Backoffice/Sections/" target="_blank" rel="noopener">in the Documentation section</a> of Our Umbraco</localize>
            </li>
            <li>
                <localize key="settingsDashboard_bulletPointTwo">Ask a question in the <a class="btn-link -underline" href="https://our.umbraco.com/forum" target="_blank" rel="noopener">Community Forum</a></localize>
            </li>
            <li>
                <localize key="settingsDashboard_bulletPointThree">Watch our <a class="btn-link -underline" href="https://umbraco.tv" target="_blank" rel="noopener">tutorial videos</a> (some are free, some require a subscription)</localize>
            </li>
            <li>
                <localize key="settingsDashboard_bulletPointFour">Find out about our <a class="btn-link -underline" href="https://umbraco.com/products/" target="_blank" rel="noopener">productivity boosting tools and commercial support</a></localize>
            </li>
            <li>
                <localize key="settingsDashboard_bulletPointFive">Find out about real-life <a class="btn-link -underline" href="https://umbraco.com/training/" target="_blank" rel="noopener">training and certification</a> opportunities</localize>
            </li>
        </ul>
    </umb-box-content>
</umb-box>

