<div ng-controller="Umbraco.Editors.Templates.EditController as vm">

    <umb-load-indicator ng-if="vm.page.loading"></umb-load-indicator>

   <form name="contentForm"
      ng-submit="vm.save()"
      novalidate
      val-form-manager>


        <umb-editor-view ng-if="!vm.page.loading">

            <umb-editor-header
                name="vm.template.name"
                alias="vm.template.alias"
                hideDescription="true"
                description="vm.template.virtualPath"
                menu="vm.page.menu"
                hide-icon="false">
            </umb-editor-header>

            <umb-editor-container>

                <div class="btn-group">
                    <a href ng-click="vm.openMacroOverlay()" class="btn">
                        <i class="icon-autofill"></i></a>
                    <a href ng-click="vm.insert('@RenderDictionary()')"class="btn">
                        <i class="icon-book-alt"></i></a>
                    <a href ng-click="vm.openMacroOverlay()"class="btn">
                        <i class="icon-settings-alt"></i></a>
                </div>

                <div class="btn-group">  
                  <a href class="btn"><i class="icon-checkbox-empty"></i></a>
                  <a href class="btn"><i class="icon-checkbox-dotted"></i></a>
                </div> 
            

                <div
                    auto-scale="85"
                    umb-ace-editor="vm.aceOption"
                    ng-model="vm.template.content">
                </div>
                    

            </umb-editor-container>

            <umb-editor-footer>

            <umb-editor-footer-content-right>

               <umb-button
                  type="submit"
                  button-style="success"
                  state="vm.page.saveButtonState"
                  shortcut="ctrl+s"
                  label="Save"
                  label-key="buttons_save">
               </umb-button>

            </umb-editor-footer-content-right>

         </umb-editor-footer>

        </umb-editor-view>
    </form>

    <umb-overlay
       ng-if="vm.macroPickerOverlay.show"
       model="vm.macroPickerOverlay"
       view="vm.macroPickerOverlay.view"
       position="right">
   </umb-overlay>

    <umb-overlay
        ng-if="vm.pageFieldOverlay.show"
        model="vm.pageFieldOverlay"
        position="right"
        view="vm.pageFieldOverlay.view">
    </umb-overlay>

    <umb-overlay
        ng-if="vm.dictionaryItemOverlay.show"
        model="vm.dictionaryItemOverlay"
        position="right"
        view="vm.dictionaryItemOverlay.view">
    </umb-overlay>

    <umb-overlay
        ng-if="vm.queryBuilderOverlay.show"
        model="vm.queryBuilderOverlay"
        position="right"
        view="vm.queryBuilderOverlay.view">
    </umb-overlay>

</div>
