<div>
    <em>This is a non designed placeholder for beta release.</em>
    
    <h1>What is Content Templates?</h1>
    <p>Content Templates are pre-defined content that can be selected when creating a new Content Node.</p>
    <h2>How do I create a Content Template?</h2>
    <p>Simply right-click a content node and select "Create Content Template" to create a new Content Template. Once given a name, editors can start
        using the Content Template as a foundation for their new page.</p>
    <h2>How do I manage Content Templates</h2>
    <p>You can edit and delete Content Templates from the "Content Templates" tree in the Settings section. Simply expand the Document Type which the 
    Content Template is based on and click it to edit or delete it.</p>
</div>
