<?xml version="1.0" encoding="utf-8"?>
<umbracocontour>
  <settings version="3.0.15">
    <setting key="UploadStorageDirectory" value="" />
    <!-- This can be 2 different things either True/False or a list of form names that ignore workflows, -->
    <!-- commaseperated: form name,contact form,etc -->
    <setting key="IgnoreWorkFlowsOnEdit" value="True" />
    <!-- This can be 2 different things either True/False or a list of form names that will execute workflows async,  -->
    <!-- commaseperated: form name,contact form,etc -->
    <!-- this setting is experimental and does not work with workflows that depends on the umbraco node factory or umbraco context-->
    <setting key="ExecuteWorkflowAsync" value="False" />
    <setting key="DisableFormCaching" value="False" />
    <setting key="DisableDefaultWorkflow" value="False" />
    <!--default form settings-->
    <setting key="DefaultManualApproval" value="False" />
    <setting key="DefaultDisableStylesheet" value="False" />
    <setting key="DefaultMarkFieldsIndicator" value="NoIndicator" />
    <setting key="DefaultIndicator" value="" />
    <setting key="DefaultRequiredErrorMessage" value="{0} is mandatory" />
    <setting key="DefaultInvalidErrorMessage" value="{0} is not valid" />
    <setting key="DefaultShowValidationSummary" value="False" />
    <setting key="DefaultHideFieldValidationLabels" value="False" />
    <setting key="DefaultMessageOnSubmit" value="Thank you" />
    <setting key="DefaultSendToPage" value="" />
    <setting key="DefaultXPathOnSubmit" value="" />
    <!-- Recaptcha -->
    <setting key="RecaptchaPublicKey" value="6LeqoNsSAAAAAOQrdqDFE5KAzDESxxxODLpOeJjh" />
    <setting key="RecaptchaPrivateKey" value="6LeqoNsSAAAAAOBgXNMLvgDWvnUGznMtfk7YDdrK" />
  </settings>
</umbracocontour>