/* Reset */
.umbracoSkin table, .umbracoSkin tbody, .umbracoSkin a, .umbracoSkin img, .umbracoSkin tr, .umbracoSkin div, .umbracoSkin td, .umbracoSkin iframe, .umbracoSkin span, .umbracoSkin *, .umbracoSkin .mceText {border:0; margin:0; padding:0; background:transparent; white-space:nowrap; text-decoration:none; font-weight:normal; cursor:default; color:#000; vertical-align:baseline; width:auto; border-collapse:separate; text-align:left}
.umbracoSkin a:hover, .umbracoSkin a:link, .umbracoSkin a:visited, .umbracoSkin a:active {text-decoration:none; font-weight:normal; cursor:default; color:#000}
.umbracoSkin table td {vertical-align:middle}

/* Containers */
.umbracoSkin table {background:#E5EFFD}
.umbracoSkin iframe {display:block; background:#FFF}
.umbracoSkin .mceToolbar {height:26px}

/* External */
.umbracoSkin .mceExternalToolbar {position:absolute; border:1px solid #ABC6DD; border-bottom:0; display:none}
.umbracoSkin .mceExternalToolbar td.mceToolbar {padding-right:13px;}
.umbracoSkin .mceExternalClose {position:absolute; top:3px; right:3px; width:7px; height:7px; background:url(../../img/icons.gif) -820px 0}

/* Layout */
.umbracoSkin table.mceLayout {border:0; border-left:1px solid #ABC6DD; border-right:1px solid #ABC6DD}
.umbracoSkin table.mceLayout tr.mceFirst td {border-top:1px solid #ABC6DD}
.umbracoSkin table.mceLayout tr.mceLast td {border-bottom:1px solid #ABC6DD}
.umbracoSkin table.mceToolbar, .umbracoSkin tr.mceFirst .mceToolbar tr td, .umbracoSkin tr.mceLast .mceToolbar tr td {border:0; margin:0; padding:0}
.umbracoSkin .mceIframeContainer {border-top:1px solid #ABC6DD; border-bottom:1px solid #ABC6DD}
.umbracoSkin .mceStatusbar {display:block; font-family:'MS Sans Serif',sans-serif,Verdana,Arial; font-size:9pt; line-height:16px; overflow:visible; color:#000; height:20px}
.umbracoSkin .mceStatusbar div {float:left; padding:2px}
.umbracoSkin .mceStatusbar a.mceResize {display:block; float:right; background:url(../../img/icons.gif) -800px 0; width:20px; height:20px; cursor:se-resize}
.umbracoSkin .mceStatusbar a:hover {text-decoration:underline}
.umbracoSkin table.mceToolbar {margin-left:3px}
.umbracoSkin .mceToolbar .mceToolbarStart span {display:block; background:url(img/button_bg.png) -22px 0; width:1px; height:22px; margin-left:3px;}
.umbracoSkin .mceToolbar td.mceFirst span {margin:0}
.umbracoSkin .mceToolbar .mceToolbarEnd span {display:block; background:url(img/button_bg.png) -22px 0; width:1px; height:22px}
.umbracoSkin .mceToolbar .mceToolbarEndListBox span, .umbracoSkin .mceToolbar .mceToolbarStartListBox span {display:none}
.umbracoSkin span.mceIcon, .umbracoSkin img.mceIcon {display:block; width:20px; height:20px}
.umbracoSkin .mceIcon {background:url(../../img/icons.gif) no-repeat 20px 20px}
.umbracoSkin td.mceCenter {text-align:center;}
.umbracoSkin td.mceCenter table {margin:0 auto; text-align:left;}
.umbracoSkin td.mceRight table {margin:0 0 0 auto;}

/* Button */
.umbracoSkin .mceButton {display:block; background:url(img/button_bg.png); width:22px; height:22px}
.umbracoSkin a.mceButton span, .umbracoSkin a.mceButton img {margin-left:1px}
.umbracoSkin .mceOldBoxModel a.mceButton span, .umbracoSkin .mceOldBoxModel a.mceButton img {margin:0 0 0 1px}
.umbracoSkin a.mceButtonEnabled:hover {background-color:#B2BBD0; background-position:0 -22px}
.umbracoSkin a.mceButtonActive, .umbracoSkin a.mceButtonSelected {background-position:0 -44px}
.umbracoSkin .mceButtonDisabled .mceIcon {opacity:0.3; filter:alpha(opacity=30)}
.umbracoSkin .mceButtonLabeled {width:auto}
.umbracoSkin .mceButtonLabeled span.mceIcon {float:left}
.umbracoSkin span.mceButtonLabel {display:block; font-size:10px; padding:4px 6px 0 22px; font-family:Tahoma,Verdana,Arial,Helvetica}
.umbracoSkin .mceButtonDisabled .mceButtonLabel {color:#888}

/* Separator */
.umbracoSkin .mceSeparator {display:block; background:url(img/button_bg.png) -22px 0; width:5px; height:22px}

/* ListBox */
.umbracoSkin .mceListBox {margin-left:3px}
.umbracoSkin .mceListBox, .umbracoSkin .mceListBox a {display:block}
.umbracoSkin .mceListBox .mceText {padding-left:4px; text-align:left; width:70px; border:1px solid #b3c7e1; border-right:0; background:#eaf2fb; font-family:Tahoma,Verdana,Arial,Helvetica; font-size:11px; height:20px; line-height:20px; overflow:hidden}
.umbracoSkin .mceListBox .mceOpen {width:14px; height:22px; background:url(img/button_bg.png) -66px 0}
.umbracoSkin table.mceListBoxEnabled:hover .mceText, .umbracoSkin .mceListBoxHover .mceText, .umbracoSkin .mceListBoxSelected .mceText {background:#FFF}
.umbracoSkin table.mceListBoxEnabled:hover .mceOpen, .umbracoSkin .mceListBoxHover .mceOpen, .umbracoSkin .mceListBoxSelected .mceOpen {background-position:-66px -22px}
.umbracoSkin .mceListBoxDisabled .mceText {color:gray}
.umbracoSkin .mceListBoxMenu {overflow:auto; overflow-x:hidden}
.umbracoSkin .mceOldBoxModel .mceListBox .mceText {height:22px}
.umbracoSkin select.mceListBox {font-family:Tahoma,Verdana,Arial,Helvetica; font-size:12px; border:1px solid #b3c7e1; background:#FFF;}

/* SplitButton */
.umbracoSkin .mceSplitButton, .umbracoSkin .mceSplitButton a, .umbracoSkin .mceSplitButton span {display:block; height:22px}
.umbracoSkin .mceSplitButton {background:url(img/button_bg.png)}
.umbracoSkin .mceSplitButton a.mceAction {width:22px}
.umbracoSkin .mceSplitButton span.mceAction {width:22px; background:url(../../img/icons.gif) 20px 20px}
.umbracoSkin .mceSplitButton a.mceOpen {width:10px}
.umbracoSkin .mceSplitButton span.mceOpen {width:10px; background:url(img/button_bg.png) -44px 0}
.umbracoSkin table.mceSplitButtonEnabled:hover a.mceAction, .umbracoSkin .mceSplitButtonHover a.mceAction, .umbracoSkin .mceSplitButtonSelected {background:url(img/button_bg.png) 0 -22px}
.umbracoSkin table.mceSplitButtonEnabled:hover span.mceOpen, .umbracoSkin .mceSplitButtonHover span.mceOpen, .umbracoSkin .mceSplitButtonSelected span.mceOpen {background-position:-44px -44px}
.umbracoSkin .mceSplitButtonDisabled .mceAction {opacity:0.3; filter:alpha(opacity=30)}
.umbracoSkin .mceSplitButtonActive {background-position:0 -44px}

/* ColorSplitButton */
.umbracoSkin div.mceColorSplitMenu table {background:#FFF; border:1px solid gray}
.umbracoSkin .mceColorSplitMenu td {padding:2px}
.umbracoSkin .mceColorSplitMenu a {display:block; width:9px; height:9px; overflow:hidden; border:1px solid #808080}
.umbracoSkin .mceColorSplitMenu td.mceMoreColors {padding:1px 3px 1px 1px}
.umbracoSkin .mceColorSplitMenu a.mceMoreColors {width:100%; height:auto; text-align:center; font-family:Tahoma,Verdana,Arial,Helvetica; font-size:11px; line-height:20px; border:1px solid #FFF}
.umbracoSkin .mceColorSplitMenu a.mceMoreColors:hover {border:1px solid #0A246A; background-color:#B6BDD2}
.umbracoSkin a.mceMoreColors:hover {border:1px solid #0A246A}
.umbracoSkin .mceColorPreview {margin-left:2px; width:16px; height:4px; overflow:hidden; background:#9a9b9a;overflow:hidden}
.umbracoSkin .mce_forecolor span.mceAction, .umbracoSkin .mce_backcolor span.mceAction {height:15px;overflow:hidden}

/* Menu */
.umbracoSkin .mceMenu {position:absolute; left:0; top:0; z-index:1000; border:1px solid #ABC6DD}
.umbracoSkin .mceNoIcons span.mceIcon {width:0;}
.umbracoSkin .mceNoIcons a .mceText {padding-left:10px}
.umbracoSkin .mceMenu table {background:#FFF}
.umbracoSkin .mceMenu a, .umbracoSkin .mceMenu span, .umbracoSkin .mceMenu {display:block}
.umbracoSkin .mceMenu td {height:20px}
.umbracoSkin .mceMenu a {position:relative;padding:3px 0 4px 0}
.umbracoSkin .mceMenu .mceText {position:relative; display:block; font-family:Tahoma,Verdana,Arial,Helvetica; color:#000; cursor:default; margin:0; padding:0 25px 0 25px; display:block}
.umbracoSkin .mceMenu span.mceText, .umbracoSkin .mceMenu .mcePreview {font-size:11px}
.umbracoSkin .mceMenu pre.mceText {font-family:Monospace}
.umbracoSkin .mceMenu .mceIcon {position:absolute; top:0; left:0; width:22px;}
.umbracoSkin .mceMenu .mceMenuItemEnabled a:hover, .umbracoSkin .mceMenu .mceMenuItemActive {background-color:#dbecf3}
.umbracoSkin td.mceMenuItemSeparator {background:#DDD; height:1px}
.umbracoSkin .mceMenuItemTitle a {border:0; background:#E5EFFD; border-bottom:1px solid #ABC6DD}
.umbracoSkin .mceMenuItemTitle span.mceText {color:#000; font-weight:bold; padding-left:4px}
.umbracoSkin .mceMenuItemDisabled .mceText {color:#888}
.umbracoSkin .mceMenuItemSelected .mceIcon {background:url(../default/img/menu_check.gif)}
.umbracoSkin .mceNoIcons .mceMenuItemSelected a {background:url(../default/img/menu_arrow.gif) no-repeat -6px center}
.umbracoSkin .mceMenu span.mceMenuLine {display:none}
.umbracoSkin .mceMenuItemSub a {background:url(../default/img/menu_arrow.gif) no-repeat top right;}

/* Progress,Resize */
.umbracoSkin .mceBlocker {position:absolute; left:0; top:0; z-index:1000; opacity:0.5; filter:alpha(opacity=50); background:#FFF}
.umbracoSkin .mceProgress {position:absolute; left:0; top:0; z-index:1001; background:url(../default/img/progress.gif) no-repeat; width:32px; height:32px; margin:-16px 0 0 -16px}
.umbracoSkin .mcePlaceHolder {border:1px dotted gray}

/* Formats */
.umbracoSkin .mce_formatPreview a {font-size:10px}
.umbracoSkin .mce_p span.mceText {}
.umbracoSkin .mce_address span.mceText {font-style:italic}
.umbracoSkin .mce_pre span.mceText {font-family:monospace}
.umbracoSkin .mce_h1 span.mceText {font-weight:bolder; font-size: 2em}
.umbracoSkin .mce_h2 span.mceText {font-weight:bolder; font-size: 1.5em}
.umbracoSkin .mce_h3 span.mceText {font-weight:bolder; font-size: 1.17em}
.umbracoSkin .mce_h4 span.mceText {font-weight:bolder; font-size: 1em}
.umbracoSkin .mce_h5 span.mceText {font-weight:bolder; font-size: .83em}
.umbracoSkin .mce_h6 span.mceText {font-weight:bolder; font-size: .75em}

/* Theme */
.umbracoSkin span.mce_bold {background-position:0 0}
.umbracoSkin span.mce_italic {background-position:-60px 0}
.umbracoSkin span.mce_underline {background-position:-140px 0}
.umbracoSkin span.mce_strikethrough {background-position:-120px 0}
.umbracoSkin span.mce_undo {background-position:-160px 0}
.umbracoSkin span.mce_redo {background-position:-100px 0}
.umbracoSkin span.mce_cleanup {background-position:-40px 0}
.umbracoSkin span.mce_bullist {background-position:-20px 0}
.umbracoSkin span.mce_numlist {background-position:-80px 0}
.umbracoSkin span.mce_justifyleft {background-position:-460px 0}
.umbracoSkin span.mce_justifyright {background-position:-480px 0}
.umbracoSkin span.mce_justifycenter {background-position:-420px 0}
.umbracoSkin span.mce_justifyfull {background-position:-440px 0}
.umbracoSkin span.mce_anchor {background-position:-200px 0}
.umbracoSkin span.mce_indent {background-position:-400px 0}
.umbracoSkin span.mce_outdent {background-position:-540px 0}
.umbracoSkin span.mce_link {background-position:-500px 0}
.umbracoSkin span.mce_unlink {background-position:-640px 0}
.umbracoSkin span.mce_sub {background-position:-600px 0}
.umbracoSkin span.mce_sup {background-position:-620px 0}
.umbracoSkin span.mce_removeformat {background-position:-580px 0}
.umbracoSkin span.mce_newdocument {background-position:-520px 0}
.umbracoSkin span.mce_image {background-position:-380px 0}
.umbracoSkin span.mce_help {background-position:-340px 0}
.umbracoSkin span.mce_code {background-position:-260px 0}
.umbracoSkin span.mce_hr {background-position:-360px 0}
.umbracoSkin span.mce_visualaid {background-position:-660px 0}
.umbracoSkin span.mce_charmap {background-position:-240px 0}
.umbracoSkin span.mce_paste {background-position:-560px 0}
.umbracoSkin span.mce_copy {background-position:-700px 0}
.umbracoSkin span.mce_cut {background-position:-680px 0}
.umbracoSkin span.mce_blockquote {background-position:-220px 0}
.umbracoSkin .mce_forecolor span.mceAction {background-position:-720px 0}
.umbracoSkin .mce_backcolor span.mceAction {background-position:-760px 0}
.umbracoSkin span.mce_forecolorpicker {background-position:-720px 0}
.umbracoSkin span.mce_backcolorpicker {background-position:-760px 0}

/* Plugins */
.umbracoSkin span.mce_advhr {background-position:-0px -20px}
.umbracoSkin span.mce_ltr {background-position:-20px -20px}
.umbracoSkin span.mce_rtl {background-position:-40px -20px}
.umbracoSkin span.mce_emotions {background-position:-60px -20px}
.umbracoSkin span.mce_fullpage {background-position:-80px -20px}
.umbracoSkin span.mce_fullscreen {background-position:-100px -20px}
.umbracoSkin span.mce_iespell {background-position:-120px -20px}
.umbracoSkin span.mce_insertdate {background-position:-140px -20px}
.umbracoSkin span.mce_inserttime {background-position:-160px -20px}
.umbracoSkin span.mce_absolute {background-position:-180px -20px}
.umbracoSkin span.mce_backward {background-position:-200px -20px}
.umbracoSkin span.mce_forward {background-position:-220px -20px}
.umbracoSkin span.mce_insert_layer {background-position:-240px -20px}
.umbracoSkin span.mce_insertlayer {background-position:-260px -20px}
.umbracoSkin span.mce_movebackward {background-position:-280px -20px}
.umbracoSkin span.mce_moveforward {background-position:-300px -20px}
.umbracoSkin span.mce_media {background-position:-320px -20px}
.umbracoSkin span.mce_nonbreaking {background-position:-340px -20px}
.umbracoSkin span.mce_pastetext {background-position:-360px -20px}
.umbracoSkin span.mce_pasteword {background-position:-380px -20px}
.umbracoSkin span.mce_selectall {background-position:-400px -20px}
.umbracoSkin span.mce_preview {background-position:-420px -20px}
.umbracoSkin span.mce_print {background-position:-440px -20px}
.umbracoSkin span.mce_cancel {background-position:-460px -20px}
.umbracoSkin span.mce_save {background-position:-480px -20px}
.umbracoSkin span.mce_replace {background-position:-500px -20px}
.umbracoSkin span.mce_search {background-position:-520px -20px}
.umbracoSkin span.mce_styleprops {background-position:-560px -20px}
.umbracoSkin span.mce_table {background-position:-580px -20px}
.umbracoSkin span.mce_cell_props {background-position:-600px -20px}
.umbracoSkin span.mce_delete_table {background-position:-620px -20px}
.umbracoSkin span.mce_delete_col {background-position:-640px -20px}
.umbracoSkin span.mce_delete_row {background-position:-660px -20px}
.umbracoSkin span.mce_col_after {background-position:-680px -20px}
.umbracoSkin span.mce_col_before {background-position:-700px -20px}
.umbracoSkin span.mce_row_after {background-position:-720px -20px}
.umbracoSkin span.mce_row_before {background-position:-740px -20px}
.umbracoSkin span.mce_merge_cells {background-position:-760px -20px}
.umbracoSkin span.mce_table_props {background-position:-980px -20px}
.umbracoSkin span.mce_row_props {background-position:-780px -20px}
.umbracoSkin span.mce_split_cells {background-position:-800px -20px}
.umbracoSkin span.mce_template {background-position:-820px -20px}
.umbracoSkin span.mce_visualchars {background-position:-840px -20px}
.umbracoSkin span.mce_abbr {background-position:-860px -20px}
.umbracoSkin span.mce_acronym {background-position:-880px -20px}
.umbracoSkin span.mce_attribs {background-position:-900px -20px}
.umbracoSkin span.mce_cite {background-position:-920px -20px}
.umbracoSkin span.mce_del {background-position:-940px -20px}
.umbracoSkin span.mce_ins {background-position:-960px -20px}
.umbracoSkin span.mce_pagebreak {background-position:0 -40px}
.umbracoSkin .mce_spellchecker span.mceAction {background-position:-540px -20px}
