.umb-editors {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.umb-editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: @brownGrayLight;
    z-index: @zIndexEditor;
}

.umb-editor--animating {
    will-change: transform, opacity, width, left;
}

// hide all infinite editors by default
// will be shown through animation
.umb-editors .umb-editor {
    opacity: 0;
    box-shadow: 0px 0 30px 0 rgba(0,0,0,.3);
}

.umb-editor--small {
    width: 500px;
    left: auto;

    .umb-editor-container {
        max-width: 500px;
    }
}

.umb-editor__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    z-index: @zIndexEditor;
}
