// Animations
// -------------------------

.fade-hide, .fade-show , .fade-leave, .fade-enter {
	-webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
	-moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
	-o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
	transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
}
.fade-enter {
	opacity: 1;
}

.fade-hide.fade-hide-active {
	opacity: 0;
}
.fade-leave {
	opacity: 0;
}

.fade-show.fade-show-active {
	opacity: 1;
}

.slide-hide, .slide-show {
	-webkit-transition: all cubic-bezier(0.770, 0.000, 0.175, 1.000) 0.5s;
	-moz-transition: all cubic-bezier(0.770, 0.000, 0.175, 1.000) 0.5s;
	-o-transition: all cubic-bezier(0.770, 0.000, 0.175, 1.000) 0.5s;
	transition: all cubic-bezier(0.770, 0.000, 0.175, 1.000) 0.5s;
}

.slide-hide {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
}

.slide-hide.slide-hide-active {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}

.slide-show {
	 -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
}

.slide-show.slide-show-active {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
}
 
.tree-node-delete-leave { 
    -webkit-animation: leave 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -moz-animation: leave 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -o-animation: leave 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    animation: leave 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    display: block;
    position: relative;    
} 

@-webkit-keyframes leave {
    to {
        opacity: 0;
        height: 0px;
        bottom: -70px;
    }
    25% {
        bottom: 15px;
    }
    from {
        opacity: 1;
        height: 30px;
        bottom: 0px;
    }
}
@-moz-keyframes leave {
    to {
        opacity: 0;
        height: 0px;
        bottom: -70px;
    }
    25% {
        bottom: 15px;
    }
    from {
        opacity: 1;
        height: 30px;
        bottom: 0px;
    }
}
@-ms-keyframes leave {
    to {
        opacity: 0;
        height: 0px;
        bottom: -70px;
    }
    25% {
        bottom: 15px;
    }
    from {
        opacity: 1;
        height: 30px;
        bottom: 0px;
    }
}
@-o-keyframes leave {
    to {
        opacity: 0;
        height: 0px;
        bottom: -70px;
    }
    25% {
        bottom: 15px;
    }
    from {
        opacity: 1;
        height: 30px;
        bottom: 0px;
    }
}
@keyframes leave {
    to {
        opacity: 0;
        height: 0px;
        bottom: -70px;
    }
    25% {
        bottom: 15px;
    }
    from {
        opacity: 1;
        height: 30px;
        bottom: 0px;
    }
}

.tree-node-delete-leave * { 
    color:@red !important;
}


.tree-node-slide-up
{ 
    opacity:1;
    top: 0px;
    -webkit-transition: 700ms cubic-bezier(0.000, 0.000, 0.580, 1.000) all;
    -moz-transition: 700ms cubic-bezier(0.000, 0.000, 0.580, 1.000) all;
    -ms-transition: 700ms cubic-bezier(0.000, 0.000, 0.580, 1.000) all;
    -o-transition: 700ms cubic-bezier(0.000, 0.000, 0.580, 1.000) all;
    transition: 700ms cubic-bezier(0.000, 0.000, 0.580, 1.000) all;    
} 
.tree-node-slide-up * {    
    font-size:100%;
    -webkit-transition:font-size 700ms;
    -moz-transition:font-size 700ms;
    -ms-transition:font-size 700ms;
    -o-transition:font-size 700ms;
    transition:font-size 700ms;    
}
.tree-node-slide-up.tree-node-slide-up-hide-active {
    opacity: 0;
    top: -100px;
}
.tree-node-slide-up.tree-node-slide-up-hide-active * {
    font-size:120%;
}

.tree-fade-out-hide ,
.tree-fade-out-show,
.tree-fade-out-hide div:not(.tree-node-slide-up-hide-active),
.tree-fade-out-show div:not(.tree-node-slide-up-hide-active) {    
    -webkit-transition: 700ms cubic-bezier(0.075, 0.820, 0.165, 1.000) all;
    -moz-transition: 700ms cubic-bezier(0.075, 0.820, 0.165, 1.000) all;
    -ms-transition: 700ms cubic-bezier(0.075, 0.820, 0.165, 1.000) all;
    -o-transition: 700ms cubic-bezier(0.075, 0.820, 0.165, 1.000) all;
    transition: 700ms cubic-bezier(0.075, 0.820, 0.165, 1.000) all;
}
.tree-fade-out-show.tree-fade-out-show-active div:not(.tree-node-slide-up-hide-active){
    opacity: 1;
}
.tree-fade-out-hide.tree-fade-out-hide-active div:not(.tree-node-slide-up-hide-active){
    opacity: 0;
}