
/******* font-face *******/

@font-face {
  src: url('assets/fonts/helveticons/helveticons.eot') !important;
  src: url('assets/fonts/helveticons/helveticons.eot?#iefix') format('embedded-opentype'), url('assets/fonts/helveticons/helveticons.ttf') format('truetype'), url('assets/fonts/helveticons/helveticons.svg#icomoon') format('svg') !important;
}

/****************************/
/* General style */
/****************************/

body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #343434;
    background-color: #F5F5F5;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    padding-left:80px;
}

h4 {
    margin: 0;
    font-size: 16px;
    background-color: #535353;
    color: #b3b3b3;
    text-transform: uppercase;
    position: initial;
    display: block;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: normal;
}

h5 {
    margin: 0 0 6px 0;
    color: #535353;
    font-size: 12px;
}

ul {
    list-style:none;
    margin:0;
    padding:0;
}

a, a:hover{
    color:#333;
    text-decoration:none;
}


/****************************/
/* General class */
/****************************/

.right {
    float:right;
    display:inline-block;
}

.left {
    float:left;
    display:inline-block;
}

.leftOpen {
    padding-left: 330px
}

.wait {
    display: block;
    height: 280px;
    width: 100%;
    background: center center url(../img/loader.gif) no-repeat;
}

/****************************/
/* Group button */
/****************************/

.btn-group {
    float: right;
    margin-right: 10px;
}

.btn {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background: #f2f2f2;
    border: 1px solid #cccccc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-success {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #53a93f;
    background-image: -moz-linear-gradient(top, #53a93f, #53a93f);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#53a93f), to(#53a93f));
    background-image: -webkit-linear-gradient(top, #53a93f, #53a93f);
    background-image: -o-linear-gradient(top, #53a93f, #53a93f);
    background-image: linear-gradient(to bottom, #53a93f, #53a93f);
    background-repeat: repeat-x;
    border-color: #53a93f #53a93f #38712a;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff53a93f', endColorstr='#ff53a93f', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-success:hover {
    color: #ffffff;
}

.btn-group > .btn + .dropdown-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-group > .btn + .btn {
    margin-left: -6px;
}

.btn-group > .btn + .dropdown-toggle {
    padding-right: 8px;
    padding-left: 8px;
    -webkit-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn-group > .btn:last-child, .btn-group > .dropdown-toggle {
    -webkit-border-top-right-radius: 2px;
    border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    border-bottom-right-radius: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 2px;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    border-top: 4px solid #FFFFFF;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
    border-top: 0;
    border-bottom: 4px solid #ffffff;
    margin-top: 8px;
    margin-left: 0;
}

.dropdown-menu {
    position: absolute;
    top: auto;
    right: 0;
    z-index: 1000;
    display: block;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: -96px 10px 0 0;
    margin-bottom: 1px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #343434;
    white-space: nowrap;
    cursor:pointer;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
    color: #000000;
    background: #f8f8f8;
}

/****************************/
/* Speech bubble */
/****************************/

#speechbubble {
    position: absolute;
    right: 0;
    bottom: 40px;
    left: 0;
    z-index: 9999;
    display: none;
    padding: 0;
    margin: auto;
    margin-left: 300px;
    text-align: left;
    background: none;
    border: none;
    border-bottom: none;
}

#speechbubble p {
    position: relative;
    padding: 8px 30px 8px 20px;
    margin: auto;
    margin-top: 5px;
    font-size: 12px;
    color: #ffffff;
    text-shadow: none;
    background-color: #46a546;
    border: none;
    border-color: transparent;
    border-radius: 5px 0 0 5px;
}


/****************************/
/* Main section menu */
/****************************/

.more-options i {
    display: inline-block;
    width: 5px !important;
    height: 5px !important;
    margin: 5px 1px 7px 0;
    background: #d9d9d9;
    border-radius: 20px;
}

.fix-left-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;
    height: 100%;
    padding: 0;
    margin-left: -80px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 16px;
    background: #1D1D1D;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    z-index: 9999;
}

.avatar {
    text-align:center;
    padding: 25px 0 29px 0;
    border-bottom: 1px solid #343434;
}

.help {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    margin: 0;
    font-size: 30px;
    text-align: center;
    color: #d9d9d9;
    opacity: 0.4;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
}

ul.sections {
    display: block;
    background: #1d1d1d;
    height: 100%;
    position:absolute;
    top: 90px;
    width: 80px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    list-style:none;
    margin:0;
    padding:0;
    margin-left: -80px;
}

ul.sections li {
    display: block;
    border-left: 4px #1d1d1d solid;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
}

.fix-left-menu ul.sections li a span,
.fix-left-menu ul.sections li a i {
    color: #d9d9d9;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
}

ul.sections li a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px 4px 15px 0;
    margin: 0 0 0 -4px;
    text-align: center;
    text-decoration: none;
    border-bottom: 1px solid #343434;
}

ul.sections li a i {
    font-size: 30px;
    opacity: 0.4;
}

ul.sections li a span {
    display:block;
    font-size: 10px;
    line-height: 1.4em;
    opacity: 0.4;
}

ul.sections li.current, ul.sections li:hover {
    border-left: 4px #f57020 solid;
}

.fix-left-menu:hover ul.sections li a span,
.fix-left-menu:hover ul.sections li a i,
.fix-left-menu:hover .help {
    opacity: 1;
}

.fix-left-menu.selected,
.sections.selected {
     margin-left:0px;
}

/*************************************************/
/* Main panel */
/*************************************************/

.main-panel {
    position: fixed;
    top: 0;
    left: 0;
    margin-left: -330px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 16px;
    background: #ffffff;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    width: 250px;
    height: 100%;
    padding: 0;
    z-index: 999;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.main-panel .header {
    padding: 28px 20px 32px 20px;
    font-weight: bold;
    background: #f8f8f8;
    border-bottom: 1px solid #d9d9d9;
}

.main-panel .header h3 {
    color: rgba(179, 179, 179, 0.49);
    font-size: 24px;
    margin:0;
}

.main-panel .header h3 i {
    position: absolute;
    right: 20px;
    cursor:pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.main-panel .header h3 i:hover {
    color:#333;
}

.main-panel.selected {
    margin-left: 80px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
}

.main-panel .content {
    padding:20px 0;
}

/*************************************************/
/* float-panel */
/*************************************************/

.float-panel {
    position: fixed;
    top: 0;
    z-index: 99;
    width: 250px;
    height: 100%;
    padding: 0;
    padding: 20px;
    margin-left: -480px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 16px;
    background: #ffffff;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.float-panel.selected{
     margin-left: 0px;
}

/*************************************************/
/* sample palette color */
/*************************************************/

.samples h4 {
    position: initial;
    display: block;
    padding: 5px 10px;
    margin: 0;
    border: 0px solid #6B6B6B;
    font-weight: normal;
    font-size: 12px;
}

.samples > li {
    padding: 6px 20px;
    cursor: pointer;
}

.samples > li:hover, .samples > li.hover {
    background: #f8f8f8;
}

.samples > li ul {
    display:table;
    width:100%;
}

.samples > li ul > li {
    display: table-cell;
    height: 15px;
    padding: 0;
}

/*************************************************/
/* canvas designer panel */
/*************************************************/

h4.panel-title {
    cursor:pointer;
    background-color: #f8f8f8;
    color: #767676;
}

.editor-category{
    margin: 5px 10px;
    border: 1px solid #D9D9D9;
}

.canvasdesigner-panel-container {
    padding: 10px 10px;
}

.canvasdesigner-panel-property {
    clear: both;
    overflow: hidden;
    margin: 0 0 10px 0;
}

.canvasdesigner .box-slider {
    padding: 0px 0px 6px 0px;
    overflow: hidden;
    clear: both;
}

.field-title {
    float: left;
    margin-right: 10px;
    font-size: 11px;
    color: #d9d9d9;
}

.div-field {
    margin-bottom: 10px;
    overflow: hidden;
    clear: both;
}

/*************************************************/
/* font family picker */
/*************************************************/

.fontFamilyPickerPreview {
    float: left;
    width: 90%;
    padding: 8px;
    margin-top: 4px;
    clear: both;
    font-size: 18px;
    color: #CDCDCD;
    cursor: pointer;
    border: 1px solid #CDCDCD;
    text-align: center;
    position: relative;
}

.fontFamilyPickerPreview span {
    font-size: 32px;
    line-height: 32px;
}

.fontPickerDelete {
    position: absolute;
    margin: 5px 0 0 -15px;
    cursor: pointer;
    color:#CDCDCD;
    right: 0;
    top: 0;
}

.fontFamilyPickerPreview:hover {
    border: 1px solid #979797;
    color:#979797;
}

.fontFamilyPickerPreview:hover .fontPickerDelete {
    color:#979797;
}

.canvasdesigner-fontfamilypicker {
    margin-bottom:30px;
}

.canvasdesigner-fontfamilypicker select {
    font-size: 12px;
    padding: 2px;
}

.canvasdesigner-fontfamilypicker select.font-list {
    width:170px;
}

.canvasdesigner-fontfamilypicker select.variant-list {
    width:60px;
}

.canvasdesigner-fontfamilypicker {
    font-size: 42px;
    line-height: 50px;
    margin-bottom:40px;
}

/*************************************************/
/* slider */
/*************************************************/

.canvasdesigner .ui-widget-content {
    background: rgba(0, 0, 0, 0.27) !important;
    border: 0px solid #fff !important;
    border-radius: 1px !important;
}

.canvasdesigner .ui-slider-horizontal {
    margin: 14px 11px 0 11px;
}

.ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default,
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border: 1px solid #535353  !important;
    background: #535353  !important;
    background-color:none !important;
    outline:none;
}

.canvasdesigner .ui-slider .ui-slider-handle:hover,
.canvasdesigner .ui-slider .ui-slider-handle:focus {
    color: #d9d9d9 !important;
}

.canvasdesigner .ui-slider .ui-slider-handle span {
    position: absolute !important;
    margin: -15px 0 0 -8px !important;
    color: #535353 !important;
    font-size: 9px !important;
    text-align: -webkit-center !important;
    display: block !important;
    width: 30px !important;
}

.canvasdesigner .slider-input {
    float: right;
    width: 25px;
    padding: 0;
    margin-top: -9px;
    margin-right: 1px;
    font-size: 11px;
    color: #d9d9d9;
    text-align: right;
    background-color: transparent;
    border: none;

}

@-moz-document url-prefix() {
  .canvasdesigner .slider-input {
    margin-top: -6px;
  }
}

.canvasdesigner .sp-replacer {
    padding: 0;
    margin: 0;
    display: block;
    border: none;
    height: 26px;
    border-radius: 1px;
    border: 1px solid #CDCDCD;
}

.canvasdesigner .sp-replacer:hover {
    border: 1px solid #979797;
}

.canvasdesigner .panel-body {
  border-top: none !important;
}

.canvasdesigner select {
  font-size: 11px;
}

.canvasdesigner .sp-dd {
  display: none;
}

.canvasdesigner .sp-preview {
    width: 100%;
    height: 100%;
    margin-right: 0;
    border: none;
    display: block;
}

.canvasdesigner .color-picker-preview {
    height: 26px;
    border: 1px solid #CDCDCD;
    border-radius: 1px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAIAAADZF8uwAAAAGUlEQVQYV2M4gwH+YwCGIasIUwhT25BVBADtzYNYrHvv4gAAAABJRU5ErkJggg==);
    cursor: pointer;
}

.canvasdesigner .spectrumcolorpicker {

}

.canvasdesigner .float-panel .sp-container.sp-flat {
    background-color: transparent;
    border: none;
    padding: 10px;
    width: 100%;
}

.canvasdesigner .float-panel .sp-container.sp-flat .sp-picker-container {
    padding: 0;
    margin: 0px;
    margin-bottom: 10px;
    border: none;
    width: 100%;
}

.canvasdesigner .float-panel .sp-container.sp-flat .sp-palette-container {
    padding: 0;
    height: 32px;
    width: 100%;
    float: left;
    margin: 0;
    border: none;
}

.canvasdesigner .float-panel .sp-container.sp-flat .sp-button-container {
    display: none;
}

.colorPickerDelete {
    position: absolute;
    margin: -23px 0 0 0;
    cursor: pointer;
}

.borderStyleSelect
{
    display: inline-block;
    float: right;
    width: 75px;
    height: 28px;
}

/*************************************************/
/* IFrame size */
/*************************************************/

.desktop {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.laptop {
    width: 1366px;
    height: 768px;
}

.iPad-portrait {
    width: 769px;
    height: 929px;
}

.iPad-landscape {
    width: 1024px;
    height: 675px;
}

.smartphone-portrait {
    width: 320px;
    height: 504px;
}

.smartphone-landscape {
    width: 480px;
    height: 256px;
}

.border {
    margin: 75px auto;
    background-color: #ffffff;
    border-radius: 10px;
    opacity: 1.0;
    box-shadow: 0 0 0 29px #ECECEC, 0 0 0 30px #C4C4C4;
    transition: all 0.5s ease-in-out;
}

iframe {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}

.flip:before {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

/*************************************************/
/* Image picker */
/*************************************************/

.imagePickerPreview {
    height: 20px;
    text-align: center;
    background-color: #fff;
    padding: 6px 0 0 0;
    cursor: pointer;
    background-size: cover;
    border-radius:1px;
    border: 1px solid #CDCDCD;
    color: #CDCDCD;
}

.sp-clear-display {
    background-image: none !important;
}

.imagePickerPreview:hover {
    border: 1px solid #979797;
}

.imagePickerPreview:hover i {
    color: #979797;
}

.imagePickerPreview i {
    font-size:24px;
    color: #CDCDCD;
}

.canvasdesignerImagePicker {
    padding: 0;
    margin-top: 10px;
    overflow: auto;
    text-align: left;
    list-style: none;
}

.canvasdesignerImagePicker ul {
    padding: 0;
    margin: 0;
    margin-left: 20px;
    list-style: none;
}

.canvasdesignerImagePicker li {
    display: inline-block;
    margin-bottom: 10px;
}

.canvasdesignerImagePicker ul.media-items li {
    margin-right: 20px;
}

.canvasdesignerImagePicker .media-preview {
    position: relative;
    display: inline-block;
    width: 91px;
    height: 78px;
    cursor: pointer;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: 2px solid #F3F2F2;
}

.canvasdesignerImagePicker .media-preview .folder {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    font-size: 40px;
    color: gainsboro;
    text-align: center;
}

.canvasdesignerImagePicker .media-preview .folder-name {
    margin-top: -5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 0;
    color: grey;
}

.canvasdesignerImagePicker .media-preview:hover,
.media-preview.selected {
    border: 2px solid #84B8F0;
}

.canvasdesignerImagePicker .modal-dialog {
    width: 618px;
    font-weight: normal;
}

.bodyCanvasdesignerImagePicker .breadcrumb {
    margin-top: 4px;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: left;
}

.bodyCanvasdesignerImagePicker .breadcrumb > li {
  display: inline;
}

.breadcrumb{
    font-size: 12px;
}

.bodyCanvasdesignerImagePicker .breadcrumb > li a {
    cursor: pointer;
}

.bodyCanvasdesignerImagePicker .breadcrumb input {
  padding: 0;
  margin: -4px -4px;
}

.bodyCanvasdesignerImagePicker .fileinput-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 19px;
}

.bodyCanvasdesignerImagePicker input.input-media {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  font-size: 23px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  direction: ltr;
}

.bodyCanvasdesignerImagePicker .breadcrumb a.disabled,
.bodyCanvasdesignerImagePicker .breadcrumb a.disabled:hover {
  color: grey;
  text-decoration: none;
  cursor: default;
}

.canvasdesignerImagePicker h3 {
  font-size: 18px;
  color: #555555;
}

/*************************************************/
/* Border editor */
/*************************************************/

.box-preview {
    display:inline-block;
}

.box-preview li {
    height: 30px;
    width: 30px;
    border-radius: 1px;
    border: none;
    display:inline-block;
    background-color:#535353;
    cursor:pointer;
    margin-right: 6px;
    position:relative;
}

.box-preview li:last-child{
    margin-right: 0px;
}

.box-preview li.selected {
    border-color:#53a93f !important;
}

.box-preview li.border-all {
    border: 6px solid #b3b3b3;
    height: 18px;
    width: 18px;
    margin-left:0px
}

.box-preview li.border-left {
    border-left: 6px solid #b3b3b3;
    width: 24px;
}

.box-preview li.border-right {
    border-right: 6px solid #b3b3b3;
    width: 24px;
}

.box-preview li.border-top {
    border-top: 6px solid #b3b3b3;
    height: 24px;
}

.box-preview li.border-bottom {
    border-bottom: 6px solid #b3b3b3;
    height: 24px;
}

.bordereditor .color-picker-preview {
    display: inline-block;
    width: 120px;
    float: left;
}

/*************************************************/
/* Radius editor */
/*************************************************/

.radius-top-left, .radius-top-right, .radius-bottom-left, .radius-bottom-right {
    display: block;
    position: absolute;
    background-color: #b3b3b3;
    width: 7px;
    height: 7px;
}

.box-preview li.selected span {
    background-color:#53a93f;
}

.radius-top-left{
    top:0;
    left:0;
}

.radius-top-right{
    top:0;
    right:0;
}

.radius-bottom-left{
    bottom:0;
    left:0;
}

.radius-bottom-right{
    bottom:0;
    right:0
}
