.red{color: @red;}
.blue{color: @blue;}
.black{color: @black;}
.turquoise{color: @turquoise;}
.turquoise-d1{color: @turquoise-d1;}

.text-warning {
    color: @orange;
}
.text-error {
    color: @red;
}
.text-success {
    color: @green;
}


//icon colors for tree icons
.color-red, .color-red i{color: @red-d1 !important;}
.color-blue, .color-blue i{color: @turquoise-d1 !important;}
.color-orange, .color-orange i{color: @orange !important;}
.color-green, .color-green i{color: @green-d1 !important;}
.color-yellow, .color-yellow i{color: @yellowIcon !important;}

/* Colors based on https://zavoloklom.github.io/material-design-color-palette/colors.html */
.btn-color-black {background-color: @black;}
.color-black, .color-black i { color: @black !important;}

.btn-color-blue-grey {background-color: @blueGrey;}
.color-blue-grey, .color-blue-grey i { color: @blueGrey !important;}

.btn-color-grey{background-color: @grayIcon;}
.color-grey, .color-grey i { color: @grayIcon !important; }

.btn-color-brown{background-color: @brownIcon;}
.color-brown, .color-brown i { color: @brownIcon !important; }

.btn-color-blue{background-color: @blueIcon;}
.color-blue, .color-blue i { color: @blueIcon !important; }

.btn-color-light-blue{background-color: @lightBlueIcon;}
.color-light-blue, .color-light-blue i {color: @lightBlueIcon !important;}

.btn-color-cyan{background-color: @cyanIcon;}
.color-cyan, .color-cyan i { color: @cyanIcon !important; }

.btn-color-green{background-color: @greenIcon;}
.color-green, .color-green i { color: @greenIcon !important; }

.btn-color-light-green{background-color: @lightGreenIcon;}
.color-light-green, .color-light-green i {color: @lightGreenIcon !important; }

.btn-color-lime{background-color: @limeIcon;}
.color-lime, .color-lime i { color: @limeIcon !important; }

.btn-color-yellow{background-color: @yellowIcon;}
.color-yellow, .color-yellow i { color: @yellowIcon !important; }

.btn-color-amber{background-color: @amberIcon;}
.color-amber, .color-amber i { color: @amberIcon !important; }

.btn-color-orange{background-color: @orangeIcon;}
.color-orange, .color-orange i { color: @orangeIcon !important; }

.btn-color-deep-orange{background-color: @deepOrangeIcon;}
.color-deep-orange, .color-deep-orange i { color: @deepOrangeIcon !important; }

.btn-color-red{background-color: @redIcon;}
.color-red, .color-red i { color: @redIcon !important; }

.btn-color-pink{background-color: @pinkIcon;}
.color-pink, .color-pink i { color: @pinkIcon !important; }

.btn-color-purple{background-color: @purpleIcon;}
.color-purple, .color-purple i { color: @purpleIcon !important; }

.btn-color-deep-purple{background-color: @deepPurpleIcon;}
.color-deep-purple, .color-deep-purple i { color: @deepPurpleIcon !important; }

.btn-color-indigo{background-color: @indigoIcon;}
.color-indigo, .color-indigo i { color: @indigoIcon !important; }
