.umb-dashboards-forms-install {
	background: url('../img/forms/installer-background.png');
	background-repeat: repeat-x;
	position: relative;
	top: -30px;
	padding-top: 30px;
	box-shadow: inset 0px -40px 30px 25px rgba(255,255,255,1);
	border-radius: 0px 0px 200px 200px;
	-moz-border-radius: 0px 0px 200px 200px;
	-webkit-border-radius: 0px 0px 200px 200px;

    small {
	    font-size: 14px;
	    opacity: .5;
    }

    .umb-loader{
        width: 640px;
        height: 4px;
    }

    .video_player video {
        width: 100%;
        max-width: 640px;
        border: 1px solid #ededed;
        border-left: none;
        border-bottom: none;
        box-sizing:border-box;
        -moz-box-sizing:border-box;
    }

    .installer-top {
		overflow: hidden;
		margin: 0 auto 30px;
		height: 80px;
		line-height: 80px;
		text-align: center;
		position: relative;

		i, h3 {
			display: inline-block;
		}

		i {
			position: absolute;
			top: 50%;
			margin-top: -40px;
		}

		h3 {
			margin: 0;
			line-height: 80px;
			font-weight: 700;
			margin-left: 100px;
			font-size: 36px;
			letter-spacing: -1px;
		}
	}


}
