.filter-toggle{
    margin: 0;
    padding: 0 8px 0 0;
    position: relative;
}

.filter-toggle__level{
    display: inline-block;
    font-weight: 700;
    margin: 0 5px;
    max-width: 150px;
}

.filter-toggle__icon{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto 0;
}
