// Gridview
// -------------------------

 .mceContentBody{
         overflow-y:hidden!important;
      }

IFRAME {overflow:hidden;}


 // Sortabel
 // -------------------------

 .usky-grid .ui-sortable-helper  {
     position:absolute !important;
     border: dashed 1px #000 !important;
     background: #ccc;
     opacity: 0.4;
     height: 80px !important;
     width: 160px !important;
     overflow: hidden;
     padding: 5px;
     border-radius:5px;
     -webkit-box-shadow: 3px 3px 12px 0px rgba(50, 50, 50, 0.45);
     -moz-box-shadow:    3px 3px 12px 0px rgba(50, 50, 50, 0.45);
     box-shadow:         3px 3px 12px 0px rgba(50, 50, 50, 0.45);
 }

 .usky-grid .ui-sortable-helper *{
     border: none !important;
     background: none !important;
     color: #999 !important;
     padding: 0 !important;
     margin: 0 !important;
 }

 .usky-grid .ui-sortable-helper .cell-tools{
     display: none !important;
 }

 .usky-grid .ui-sortable-placeholder{
     border: 2px dashed @grayLight;
     padding: 20px;
     font-family: icomoon;
     text-align: center;
     font-size: 85px;
     line-height: 65px;
     color: @gray;
     vertical-align: middle;
     background-color:@grayLighter;
 }

 .usky-grid .ui-sortable-placeholder:hover{
     border-color: @gray;
 }

 .usky-grid .ui-sortable-placeholder:before{
     content: "\e1bd";
 }



 // utils
 // -------------------------
 .usky-grid-width {
     margin: 20px auto;
     width:100%;
 }
 .usky-grid  .right {
     float:right;
 }


 // general layout components
 // -------------------------
 .usky-grid  .tb {
     width: 100%;
 }

 .usky-grid  .td {
     width: 100%;
     display: inline-block;
     vertical-align:top;
     border-right:1px dashed rgba(182, 182, 182, 0.0);
     box-sizing: border-box;
 }

 .usky-grid .tb:hover .td{
     border-right:1px dashed rgba(182, 182, 182, 0.3);
 }
 .usky-grid  .td.last {
     border-right:1px dashed rgba(182, 182, 182, 0.0) !important;
 }
 .usky-grid  .tr {
 }

 .usky-grid  .middle {
     text-align: center;
 }

 .usky-grid  .mainTb {
     border-collapse: separate;
 }
 .usky-grid  .mainTd {
     position:relative;
 }



 // COLUMN
 // -------------------------
 .usky-grid  .usky-column {

 }
 .usky-grid  .usky-column.last {

 }


 // ROW
 // -------------------------
.usky-grid .usky-row{
     position: relative;
     border: 1px dashed rgba(0,0,0,0);
}

.usky-grid .tb:hover .usky-row{
    border-bottom:1px dashed rgba(182, 182, 182, 0.3);
}

/*.usky-grid .selectedRow {
     border: 1px solid rgba(182, 182, 182, 0.3);
}*/




// CELL
// -------------------------
.usky-grid .usky-cell{
     position: relative;
     border: 1px dashed rgba(0,0,0,0);
     min-height:127px;
}

.usky-grid  .cell-tools {
    transition: all .20s ease-in-out;
    -moz-transition: all .20s ease-in-out;
    -webkit-transition: all .20s ease-in-out;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    width: 50px;
    opacity: 0.3;
    z-index: 50;
}

.usky-grid  .cell-tools.with-prompt {
    width:200px;
}

.usky-grid .cell-tools:hover{
    opacity: 1;
}

.usky-grid  .cell-tools-add {
    position: absolute;
    text-align: center;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: 0 45px 1px 0;

    &.emptyArea{
        margin: 0 0 1px 0;
    }
}

.usky-grid  .usky-control:hover .cell-tools-add{
    opacity: 1;
}

.usky-grid  .cell-tools-remove {
    display:inline-block;
    position: absolute;
    top: 0px;
    right: 5px;
    text-align: right;
    z-index: 500;
}

.usky-grid .cell-tools-remove .iconBox:hover, .usky-grid .cell-tools-remove .iconBox:hover *{
    background: @red !important;
    border-color: @red !important;
}

.usky-grid  .cell-tools-move {
    display:inline-block;
    position: absolute;
    top: 33px;
    right: 5px;
    z-index: 500;
    cursor: move
}

.usky-grid .cell-tools-edit{
    position: absolute;
    top: 66px;
    right: 5px;
}


// CONTROL
// -------------------------
.usky-grid .usky-control {
    /*transition: all .20s ease-in-out;
    -moz-transition: all .20s ease-in-out;
    -webkit-transition: all .20s ease-in-out;*/
    position:relative;
    display:block;

    /*
    border: 1px dashed rgba(255, 0, 0, .0);
    border-bottom-width: 1px;
    */

    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */

    margin: 10px 0 0 0;
}

.usky-grid  .usky-control:hover{
    /*border: 1px solid rgba(182, 182, 182, 0.3);*/
    //border-bottom: 1px solid rgba(182, 182, 182, 0.3);
}

.usky-grid  .usky-control-placeholder:hover{
    /*border: 1px solid rgba(182, 182, 182, 0);*/
    /*border-bottom:1px solid rgba(182, 182, 182, 0.0) !important;*/
}

.usky-grid .warnhighlight, .usky-grid  .td.last.warnhighlight{
     border: 1px dashed @red !important;
}

.usky-grid .infohighlight, .usky-grid  .td.last.infohighlight{
     border: 1px dashed @blue !important;
}

.usky-grid .usky-control-inner{
    min-height: 60px;
}



// CONTROL PLACEHOLDER
// -------------------------
.usky-grid  .usky-control-placeholder {
    min-height: 20px;
    position: relative;
    text-align: center;
    text-align: -moz-center;
    cursor: text;
}

.usky-grid  .usky-control-placeholder .placeholder{
    font-size: 14px; opacity: 0.7; text-align: left;
    padding: 5px;
    border:1px solid rgba(182, 182, 182, 0.3);
    height: 20px;
}

.usky-grid  .usky-control-placeholder:hover .placeholder{
    border:1px solid rgba(182, 182, 182, 0.8);
}






// EDITOR PLACEHOLDER
// -------------------------
.usky-grid .usky-editor-placeholder{
    min-height: 65px;
    padding: 20px;
    padding-bottom: 30px;
    position: relative;
    background-color: white;
    border: 4px dashed @grayLight;
    text-align: center;
    text-align: -moz-center;
}
.usky-grid .usky-editor-placeholder i{
    color: @grayLight;
    font-size: 85px;
    line-height: 85px;
    display: block;
    margin-bottom: 10px;
}



// Form elements
// -------------------------
 .usky-grid  textarea.textstring{
     display: block;
     overflow: hidden;
     border: none;
     background: #fff;
     outline: none;
     resize: none;
     color: @gray;
 }

.usky-grid .usky-cell-rte textarea{
     display: none !important
}

.usky-grid .usky-cell-media .caption{
     display: block;
     overflow: hidden;
     border: none;
     background: #fff;
     outline: none;
     width: 98%;
     resize: none;
     font-style: italic;
}

 .usky-grid  .cellPanelRte {
     min-height:60px;
 }

 .usky-grid .usky-cell-embed iframe {
     width: 100%;
}

// ICONS
// -------------------------
 .usky-grid  .iconBox {
     padding: 4px 6px 4px 6px;
     display: inline-block;
     cursor: pointer;
     border-radius: 200px;
     background: rgba(255,255,255, 1);
     border:1px solid rgb(182, 182, 182);
     margin: 2px;    
 }

  .usky-grid  .iconBox span.prompt {
      display:block;
      white-space: nowrap;
      text-align:center;

  }

  .usky-grid  .iconBox span.prompt > a {
      text-decoration:underline;
  }

 .usky-grid .iconBox:hover, .usky-grid .iconBox:hover *{
          background: @blue !important;
          color: white !important;
          border-color: @blue !important;
          text-decoration:none;
 }

 .usky-grid  .iconBox a:hover {
     text-decoration:none;
     color: white !important;
 }

 .usky-grid  .iconBox.selected {
     -webkit-appearance: none;
     background-image: -moz-linear-gradient(top,#e6e6e6,#bfbfbf);
     background-image: -webkit-gradient(linear,0 0,0 100%,from(#e6e6e6),to(#bfbfbf));
     background-image: -webkit-linear-gradient(top,#e6e6e6,#bfbfbf);
     background-image: -o-linear-gradient(top,#e6e6e6,#bfbfbf);
     background-image: linear-gradient(to bottom,#e6e6e6,#bfbfbf);
     background-repeat: repeat-x;
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe6e6e6',endColorstr='#ffbfbfbf',GradientType=0);
     zoom: 1;
     border-color: #bfbfbf #bfbfbf #999;
     border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
     -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
     box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     border-radius: 3px;
     background: transparent;
 }

 .usky-grid  .iconBox i {
     font-size:16px !important;
     color: #5F5F5F;
     display:block;
 }


 .usky-grid  ul {
     display:inline-block;
     list-style:none;
     padding:0;
     margin: 10px 0 0 0;
     text-align:center;
 }

 .usky-grid  .help-text {
     background: @grayLighter;
     color: @gray;
     font-size: 14px;
     padding: 10px 20px 10px 20px;
     border-radius: 15px;
     display: inline-block;
     clear: both;
 }

 .usky-grid  ul li {
     display: inline-block;
     width: 120px;
     margin: 8px 8px 0px 8px;
 }




 // TINYMCE EDITOR
 // -------------------------
 .usky-grid .mce-panel {
     border:none !important;
     clear:both;
 }

 .usky-grid .mce-btn button {
     padding: 8px 6px;
     line-height: inherit;
 }

 .usky-grid .mce-toolbar {
     border: 1px solid rgba(207, 207, 207, 0.7);
     background-color: rgba(250, 250, 250, 1);
     z-index: 100;
     display: inline-block;
     float: left;
     padding: -1px;
     position: absolute;
     margin: -1px -1px 0 -1px;
     -webkit-box-shadow: 2px 2px 10px 0px rgba(50, 50, 50, 0.14);
     -moz-box-shadow: 2px 2px 10px 0px rgba(50, 50, 50, 0.14);
     box-shadow: 2px 2px 10px 0px rgba(50, 50, 50, 0.14);
     z-index: 9999999;
 }

 .mce-flow-layout-item {
     margin: 0;
 }

 .usky-grid  .mce-panel {
     background: transparent !important;
 }
 .usky-grid  .mce-floatpanel {
     background-color: #F7F7F7 !important;
 }


 // MEDIA EDITOR
 // -------------------------
 .usky-grid  .fullSizeImage {
     width:100%
 }




 /**************************************************************************************************/
 /* Width */
 /**************************************************************************************************/

 .usky-grid  .boxWidth {
     text-align:right;
     margin-bottom: 10px;
 }

 .usky-grid  .boxWidth input {
     text-align: center;
     width: 40px;
 }

 .usky-grid  .boxWidth label {
     font-size: 10px;
     padding: 0;
     margin: 5px 5px 0 0;
     color: #808080;
 }



 /**************************************************************************************************/
 /* Margin control */
 /**************************************************************************************************/

 .usky-grid .usky-cell{
    padding-bottom: 15px;
 }

 .usky-grid .usky-control{
     margin: 10px 0 0 0;
     padding: 5px;
     border: 1px dashed transparent;
 }

 .usky-grid .usky-templates-columns{
     margin-top: 30px;
 }

 .usky-grid .usky-row-inner{
    margin-right: 45px;
    border: 1px dashed transparent;
 }

 .usky-grid .usky-control-inner{
    padding: 5px;
    margin-right: 45px;
    margin-bottom: 15px;
    border: 1px dashed transparent;
 }


 /**************************************************************************************************/
 /* template */
 /**************************************************************************************************/

 .usky-grid .uSky-templates {
     text-align:center;
     overflow:hidden;
     width:100%;
 }

 .usky-grid .uSky-templates-template {
     display:inline-block;
     width:100px;
     padding-right: 30px;
     margin: 20px;
 }

 .usky-grid .uSky-templates-template a.tb:hover {
     border:5px solid @blue;
 }

 .usky-grid .uSky-templates-template .tb {
     width:100%;
     height:150px;
     padding:10px;
     background-color: @grayLighter;
     border: 5px solid @grayLight;
     cursor:pointer;
     position: relative;
 }

 .usky-grid .uSky-templates-template .tr {
     height: 100%;
     position: relative;
 }

 .usky-grid .uSky-templates-template .tb .uSky-templates-column {
     height:100%;
     border: 1px dashed @grayLight;
     border-right: none;
 }

 .usky-grid .uSky-templates-template .tb .uSky-templates-column.last {
     border-right: 1px dashed @grayLight !important;
 }

 .usky-grid a.uSky-templates-column:hover, .usky-grid a.uSky-templates-column.selected{
    background-color: @blue;
 }


 /**************************************************************************************************/
 /* template column */
 /**************************************************************************************************/

/* New template preview */
.usky-grid {

	.templates-preview {
		display: inline-block;
		width: 100%;
		text-align: center;

		small {
			position: absolute;
			width: 100%;
			left: 0;
			bottom: -25px;
			padding-top: 15px;
		}

		.help-text {
			margin: 35px 35px 0 0;
		}
	}

	.preview-rows {

		display: inline-block;
		position: relative;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		width: 125px;
		margin: 35px 40px 15px 0;
		border: 2px solid @grayLight; /* @grayLight */
		transition: border 200ms linear;

        &.prevalues-rows {
            margin: 0px 20px 20px 0px;
            width: 80px;
            float:left;
        }

        &.prevalues-templates {
            margin: 0px 20px 20px 0px;
            float:left;

        }

		&:hover {
			border-color: @blue;
			cursor: pointer;
		}

		.preview-row {
			display: inline-block;
			width: 100%;
			vertical-align: bottom;
		}
	}

	.preview-rows.layout {
		padding: 2px;

		.preview-row {
			height: 100%;
		}

		.preview-col {
			height: 180px;
			border: dashed 1px @grayLight;
		}

		.preview-cell {
			background-color: @grayLighter;
		}
		.preview-overlay {
			display: none;
		}
	}

	.preview-rows.columns {
		min-height: 18px;
		line-height: 11px;
		padding: 1px;

        &.prevalues-rows {
            min-height: 30px;
        }
	}

    .preview-rows {

        .preview-col {

		    display: block;
		    float: left;
		    -webkit-box-sizing: border-box;
		    -moz-box-sizing: border-box;
		    box-sizing: border-box;
		    width: 33.3%; /* temp value */
		    height: 10px;
		    margin: 0;
		    border: 1px solid @white; /* @white */

		    .preview-cell {
			    display: block;
			    width: 100%;
			    height: 100%;
			    background-color: @grayLight; /* @grayLight */
			    margin: 0 1px 1px 0;
		    }
	    }

        &.prevalues-templates {
            .preview-col {
                height: 80px;
            }
        }

    }

	.preview-overlay {
		display: block;
        width: 100%;
        position: absolute;
        height: 100%;
        top: 0;
        box-sizing: border-box;
        left: 0;
        border: 3px solid white;
	}
}

 /**************************************************************************************************/
 /* overlay */
 /**************************************************************************************************/
 .usky-grid  .cell-tools-menu{
     position: absolute;
     width: 360px;
     height: 380px;
     overflow: auto;
     border: 1px solid #ccc;
     margin-top: -270px;
     margin-left: -150px;
     background: white;
     padding: 7px;
     top: 0;
     left: 50%;
     z-index: 6660;
     -webkit-box-shadow: 3px 3px 12px 0px rgba(50, 50, 50, 0.45);
     -moz-box-shadow:    3px 3px 12px 0px rgba(50, 50, 50, 0.45);
     box-shadow:         3px 3px 12px 0px rgba(50, 50, 50, 0.45);
 }


 .usky-grid .cell-tools-menu h5{
     border-bottom: 1px solid #d9d9d9;
     color: #999;
     padding: 10px;
     margin-top: 0;
 }

 .usky-grid .elements{
     display: block;
     padding: 0;
     margin: 0;
 }

 .usky-grid .elements li{
     display: inline-block;
     width: 90px;
     height: 80px;
     margin: 5px;
     padding: 5px;
     overflow: hidden;
     font-size: 11px;
 }

 .usky-grid .elements li:hover, .usky-grid .elements li:hover *{
     background: #2e8aea;
     color: white;
 }

 .usky-grid .elements a{
     color: #222;
     text-decoration: none;
 }

 .usky-grid .elements i{
     font-size: 30px;
     line-height: 50px;
     color: #999;
     display: block
 }


 /**************************************************************************************************/
 /* Configuration specific styles */
 /**************************************************************************************************/
.usky-grid-configuration .uSky-templates{
    text-align: left;
}

.usky-grid-configuration ul{
    display: block;
}

.usky-grid-configuration ul li{
    display: block;
    width: auto;
    text-align: left;
}

.usky-grid-configuration .uSky-templates .uSky-templates-template .tb{
    max-height: 50px;
    border-width: 2px !important;
    padding: 0px;
    border-spacing:2px;
    overflow: hidden;
}

.usky-grid-configuration .uSky-templates .uSky-templates-template span{
    background: @grayLight;
    display: inline-block;
}

.usky-grid-configuration .uSky-templates .uSky-templates-template .tb:hover{
    border-width: 2px !important;
}

.usky-grid-configuration .uSky-templates-column{
    display: block;
    float: left;
    margin-left: -1px;
    border: 1px white solid !important;
    background: @grayLight;
}

.usky-grid-configuration .uSky-templates-column.last{
    margin-right: -1px;
}

.usky-grid-configuration .uSky-templates-column.add{
    text-align: center;
    font-size: 20px;
    line-height: 70px;
    color: #ccc;
    text-decoration: none;
    background: white;
}

.usky-grid-configuration .mainTdpt{
    height: initial;
    border: none;
}

.usky-grid-configuration .uSky-templates-rows .uSky-templates-row{
    margin: 0px 50px 20px 0px;
    width: 60px;
}

.usky-grid-configuration .uSky-templates-rows .uSky-templates-row .tb{
    border-width: 2px !important;
    padding: 0px;
    border-spacing:2px;
}

.usky-grid-configuration .uSky-templates-rows .mainTdpt{
    height: 10px !important;
}

.usky-grid-configuration a.uSky-templates-column{height: 70px !important;}
