// Grid
// -------------------------

/* CONTAINS BASIC APPLICATION LAYOUT, POSITIONING AND AREA DIMENSIONS */

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

  font-family: @baseFontFamily;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
  color: @textColor;
  background-color: @bodyBackground;
}


.padded {
  padding: 20px
}


#layout {
  position: relative;
  height: 100%;
  padding: 0;
  z-index: 1;
}

#mainwrapper {
  height: 100%;
  width: 100%;
  margin: 0;
}

#contentwrapper, #contentcolumn {
  position: absolute;
  top: 0px; bottom: 0px; right: 0px; left: 80px;
  z-index: 10;
  margin: 0
}

#contentcolumn {
  left: 0px;
}

#contentcolumn iframe#right {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  border: none;
}

#leftcolumn {
  height: 100%;
  z-index: 20;
  width: 80px;
  float: left;
  position: absolute;
}

#applications {
  z-index: 1000;
  height: 100%;
  left: 0px;
  top: 0;
  bottom: 0;
  position: absolute;
  text-align: center
}

#applications-tray {
  z-index: 900;
  left: 80px;
  top: 0;
  bottom: 0;
  position: absolute;
  height: 100%;
  text-align: center;
}

#search-form {
  display: block;
  margin: 0px;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#search-form form{
  margin-top: 10px;
}

#navigation {
  left: 80px;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 100;
  background: @white;
  height: 100%;

}

.navigation-inner-container{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding-top: 100px;
    border-right: 1px solid @grayLight;
}

#dialog {
  min-width: 500px;
  left: 100%;
  top: 0;
  position: absolute;
  z-index: 50;
  display: inline-block;
}

#tree {
  padding: 0px;
  z-index: 100 !important;
  overflow: auto;
}

#tree .umb-tree {
    padding: 0px 0px 20px 0px;
}

#search-results {
  z-index: 200;
}

#contextMenu {
  z-index: 50;
  position: absolute;
  top: 0px;
  left: 100%;
  min-width: 250px;
}

#speechbubble {
  z-index: 1000;
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  border-bottom: none;
  margin: auto;
  padding: 0px;
  border: none;
  background: none;
  border-radius: 0;
}

@media (min-width: 1101px) {
  #contentwrapper {left: 440px;}
  #speechbubble {left: 360px;}
}

//empty section modification
.emptySection #contentwrapper {left: 80px;}
.emptySection #speechbubble {left: 0;}
.emptySection #navigation {display: none}


.login-only #speechbubble {
    z-index: 10000;
    left: 0 !important;
}
.login-only #speechbubble ul {
    padding-left:20px
}