@font-face {
	font-family: 'icomoon';
	src:url('../assets/fonts/helveticons.eot');
	src:url('../assets/fonts/helveticons.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/helveticons.woff') format('woff'),
		url('../assets/fonts/helveticons.ttf') format('truetype'),
		url('../assets/fonts/helveticons.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[class^="icon-"],[class*=" icon-"]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-Zoom-out, .icon-Truck, .icon-Zoom-in, .icon-Zip, .icon-axis-rotation, .icon-Yen-bag, .icon-axis-rotation-2, .icon-axis-rotation-3, .icon-Wrench, .icon-Wine-glass, .icon-Wrong, .icon-Windows, .icon-Window-sizes, .icon-Window-popin, .icon-Wifi, .icon-Width, .icon-Weight, .icon-War, .icon-Wand, .icon-Wallet, .icon-Wall-plug, .icon-Umbraco_icons-06, .icon-Voice, .icon-Video, .icon-Vcard, .icon-Utilities, .icon-Users, .icon-Users-alt, .icon-User, .icon-User-glasses, .icon-User-females, .icon-User-females-alt, .icon-User-female, .icon-Usb, .icon-Usb-connector, .icon-Unlocked, .icon-Universal, .icon-Undo, .icon-Umbrella, .icon-Umbraco_icons-08, .icon-Umbraco_icons-07, .icon-Umbraco_icons-05, .icon-Umbraco_icons-04, .icon-Umbraco_icons-03, .icon-Umbraco_icons-02, .icon-Umbraco_icons-01, .icon-Tv, .icon-Tv-old, .icon-Trophy, .icon-Tree, .icon-Trash, .icon-Trash-alt, .icon-Trash-alt-2, .icon-Train, .icon-Trafic, .icon-Traffic-alt, .icon-Top, .icon-Tools, .icon-Timer, .icon-Time, .icon-T-shirt, .icon-Tab-key, .icon-Tab, .icon-Tactics, .icon-Tag, .icon-Tags, .icon-Takeaway-cup, .icon-Target, .icon-Temperatrure-alt, .icon-Temperature, .icon-Terminal, .icon-Theater, .icon-Theif, .icon-Thought-bubble, .icon-Thumb-down, .icon-Thumb-up, .icon-Thumbnail-list, .icon-Thumbnails-small, .icon-Thumbnails, .icon-Ticket, .icon-Sync, .icon-Sweatshirt, .icon-Sunny, .icon-Stream, .icon-Store, .icon-Stop, .icon-Stop-hand, .icon-Stop-alt, .icon-Stamp, .icon-Stacked-disks, .icon-Ssd, .icon-Squiggly-line, .icon-Sprout, .icon-Split, .icon-Split-alt, .icon-Speed-gauge, .icon-Speaker, .icon-Sound, .icon-Spades, .icon-Sound-waves, .icon-Shipping-box, .icon-Shipping, .icon-Shoe, .icon-Shopping-basket-alt-2, .icon-Shopping-basket, .icon-Shopping-basket-alt, .icon-Shorts, .icon-Shuffle, .icon-Sience, .icon-Simcard, .icon-Single-note, .icon-Sitemap, .icon-Sleep, .icon-Slideshow, .icon-Smiley-inverted, .icon-Smiley, .icon-Snow, .icon-Sound-low, .icon-Sound-medium, .icon-Sound-off, .icon-Shift, .icon-Shield, .icon-Sharing-iphone, .icon-Share, .icon-Share-alt, .icon-Share-alt-2, .icon-Settings, .icon-Settings-alt, .icon-Settings-alt-2, .icon-Server, .icon-Server-alt, .icon-Sensor, .icon-Security-camera, .icon-Search, .icon-Scull, .icon-Script, .icon-Script-alt, .icon-Screensharing, .icon-School, .icon-Scan, .icon-Refresh, .icon-Remote, .icon-Remove, .icon-Repeat-one, .icon-Repeat, .icon-Resize, .icon-Reply-arrow, .icon-Return-to-top, .icon-Right-double-arrow, .icon-Road, .icon-Roadsign, .icon-Rocket, .icon-Rss, .icon-Ruler-alt, .icon-Ruler, .icon-Sandbox-toys, .icon-Satellite-dish, .icon-Save, .icon-Safedial, .icon-Safe, .icon-Redo, .icon-Printer-alt, .icon-Planet, .icon-Paste-in, .icon-Os-x, .icon-Navigation-left, .icon-Message, .icon-Lock, .icon-Layers-alt, .icon-Record, .icon-Print, .icon-Plane, .icon-Partly-cloudy, .icon-Ordered-list, .icon-Navigation-last, .icon-Message-unopened, .icon-Location-nearby, .icon-Laptop, .icon-Reception, .icon-Price-yen, .icon-Piracy, .icon-Parental-control, .icon-Operator, .icon-Navigation-horizontal, .icon-Message-open, .icon-Lab, .icon-Location-near-me, .icon-Receipt-yen, .icon-Price-pound, .icon-Pin-location, .icon-Parachute-drop, .icon-Old-phone, .icon-Merge, .icon-Navigation-first, .icon-Locate, .icon-Keyhole, .icon-Receipt-pound, .icon-Price-euro, .icon-Piggy-bank, .icon-Paper-plane, .icon-Old-key, .icon-Navigation-down, .icon-Megaphone, .icon-Loading, .icon-Keychain, .icon-Receipt-euro, .icon-Price-dollar, .icon-Pie-chart, .icon-Paper-plane-alt, .icon-Notepad, .icon-Navigation-bottom, .icon-Meeting, .icon-Keyboard, .icon-Load, .icon-Receipt-dollar, .icon-Previous, .icon-Pictures, .icon-Notepad-alt, .icon-Paper-bag, .icon-Name-badge, .icon-Medicine, .icon-List, .icon-Key, .icon-Receipt-alt, .icon-Previous-media, .icon-Pictures-alt, .icon-Pants, .icon-Nodes, .icon-Music, .icon-Readonly, .icon-Presentation, .icon-Pictures-alt-2, .icon-Pannel-close, .icon-Next, .icon-Multiple-windows, .icon-Medical-emergency, .icon-Medal, .icon-Link, .icon-Linux-tux, .icon-Junk, .icon-Item-arrangement, .icon-Iphone, .icon-Lightning, .icon-Map, .icon-Multiple-credit-cards, .icon-Next-media, .icon-Panel-show, .icon-Picture, .icon-Power, .icon-Re-post, .icon-Rate, .icon-Rain, .icon-Radio, .icon-Radio-receiver, .icon-Radio-alt, .icon-Quote, .icon-Qr-code, .icon-Pushpin, .icon-Pulse, .icon-Projector, .icon-Play, .icon-Playing-cards, .icon-Playlist, .icon-Plugin, .icon-Podcast, .icon-Poker-chip, .icon-Poll, .icon-Post-it, .icon-Pound-bag, .icon-Power-outlet, .icon-Photo-album, .icon-Phone, .icon-Phone-ring, .icon-People, .icon-People-female, .icon-People-alt, .icon-People-alt-2, .icon-Pc, .icon-Pause, .icon-Path, .icon-Out, .icon-Outbox, .icon-Outdent, .icon-Page-add, .icon-Page-down, .icon-Page-remove, .icon-Page-restricted, .icon-Page-up, .icon-Paint-roller, .icon-Palette, .icon-Newspaper, .icon-Newspaper-alt, .icon-Network-alt, .icon-Navigational-arrow, .icon-Navigation, .icon-Navigation-vertical, .icon-Navigation-up, .icon-Navigation-top, .icon-Navigation-road, .icon-Navigation-right, .icon-Microscope, .icon-Mindmap, .icon-Molecular-network, .icon-Molecular, .icon-Mountain, .icon-Mouse-cursor, .icon-Mouse, .icon-Movie-alt, .icon-Map-marker, .icon-Movie, .icon-Map-loaction, .icon-Map-alt, .icon-Male-symbol, .icon-Male-and-female, .icon-Mailbox, .icon-Magnet, .icon-Loupe, .icon-Mobile, .icon-Logout, .icon-Log-out, .icon-Layers, .icon-Left-double-arrow, .icon-Layout, .icon-Legal, .icon-Lense, .icon-Library, .icon-Light-down, .icon-Light-up, .icon-Lightbulb-active, .icon-Lightbulb, .icon-iPad, .icon-Invoice, .icon-Info, .icon-Infinity, .icon-Indent, .icon-Inbox, .icon-Inbox-full, .icon-Inactive-line, .icon-iMac, .icon-Hourglass, .icon-Home, .icon-Grid, .icon-Food, .icon-Favorite, .icon-Door-open-alt, .icon-Diagnostics, .icon-Contrast, .icon-Coins-dollar-alt, .icon-Circle-dotted-active, .icon-Cinema, .icon-Chip, .icon-Chip-alt, .icon-Chess, .icon-Checkbox, .icon-Checkbox-empty, .icon-Checkbox-dotted, .icon-Checkbox-dotted-active, .icon-Check, .icon-Chat, .icon-Chat-active, .icon-Chart, .icon-Chart-curve, .icon-Certificate, .icon-Categories, .icon-Cash-register, .icon-Car, .icon-Caps-lock, .icon-Candy, .icon-Circle-dotted, .icon-Circuits, .icon-Circus, .icon-Client, .icon-Clothes-hanger, .icon-Cloud-drive, .icon-Cloud-upload, .icon-Cloud, .icon-Cloudy, .icon-Clubs, .icon-Cocktail, .icon-Code, .icon-Coffee, .icon-Coin-dollar, .icon-Coin-pound, .icon-Coin-yen, .icon-Coin, .icon-Coins-alt, .icon-Console, .icon-Connection, .icon-Compress, .icon-Company, .icon-Command, .icon-Coin-euro, .icon-Combination-lock, .icon-Combination-lock-open, .icon-Comb, .icon-Columns, .icon-Colorpicker, .icon-Color-bucket, .icon-Coins, .icon-Coins-yen, .icon-Coins-yen-alt, .icon-Coins-pound, .icon-Coins-pound-alt, .icon-Coins-euro, .icon-Coins-euro-alt, .icon-Coins-dollar, .icon-Conversation-alt, .icon-Conversation, .icon-Coverflow, .icon-Credit-card-alt, .icon-Credit-card, .icon-Crop, .icon-Crosshair, .icon-Crown-alt, .icon-Crown, .icon-Cupcake, .icon-Curve, .icon-Cut, .icon-Dashboard, .icon-Defrag, .icon-Delete, .icon-Delete-key, .icon-Departure, .icon-Desk, .icon-Desktop, .icon-Donate, .icon-Dollar-bag, .icon-Documents, .icon-Document, .icon-Document-dashed-line, .icon-Dock-connector, .icon-Dna, .icon-Display, .icon-Disk-image, .icon-Disc, .icon-Directions, .icon-Directions-alt, .icon-Diploma, .icon-Diploma-alt, .icon-Dice, .icon-Diamonds, .icon-Diamond, .icon-Diagonal-arrow, .icon-Diagonal-arrow-alt, .icon-Door-open, .icon-Download-alt, .icon-Download, .icon-Drop, .icon-Eco, .icon-Economy, .icon-Edit, .icon-Eject, .icon-Employee, .icon-Energy-saving-bulb, .icon-Enter, .icon-Equalizer, .icon-Escape, .icon-Ethernet, .icon-Euro-bag, .icon-Exit-fullscreen, .icon-Eye, .icon-Facebook-like, .icon-Factory, .icon-Font, .icon-Folders, .icon-Folder, .icon-Folder-outline, .icon-Folder-open, .icon-Flowerpot, .icon-Flashlight, .icon-Flash, .icon-Flag, .icon-Flag-alt, .icon-Firewire, .icon-Firewall, .icon-Fire, .icon-Fingerprint, .icon-FIlter, .icon-Filter-arrows, .icon-Files, .icon-File-cabinet, .icon-Female-symbol, .icon-Footprints, .icon-Hammer, .icon-Hand-active-alt, .icon-Forking, .icon-Hand-active, .icon-Hand-pointer-alt, .icon-Hand-pointer, .icon-Handprint, .icon-Handshake, .icon-Handtool, .icon-Hard-drive, .icon-Help, .icon-Graduate, .icon-Gps, .icon-Help-alt, .icon-Height, .icon-Globe, .icon-Hearts, .icon-Globe-inverted-europe-africa, .icon-Headset, .icon-Globe-inverted-asia, .icon-Headphones, .icon-Globe-inverted-america, .icon-Hd, .icon-Globe-Europe---Africa, .icon-Hat, .icon-Globe-Asia, .icon-Globe-alt, .icon-Hard-drive-alt, .icon-Glasses, .icon-Gift, .icon-Handtool-alt, .icon-Geometry, .icon-Game, .icon-Fullscreen, .icon-Fullscreen-alt, .icon-Frame, .icon-Frame-alt, .icon-Camera-roll, .icon-Bookmark, .icon-Bill, .icon-Baby-stroller, .icon-Alarm-clock, .icon-Adressbook, .icon-Add, .icon-Activity, .icon-untitled, .icon-glasses, .icon-Camcorder, .icon-Calendar, .icon-Calendar-alt, .icon-Calculator, .icon-Bus, .icon-Burn, .icon-Bulleted-list, .icon-Bug, .icon-Brush, .icon-Brush-alt, .icon-Brush-alt-2, .icon-Browser-window, .icon-Briefcase, .icon-Brick, .icon-Brackets, .icon-Box, .icon-Box-open, .icon-Box-alt, .icon-Books, .icon-Billboard, .icon-Bills-dollar, .icon-Bills-euro, .icon-Bills-pound, .icon-Bills-yen, .icon-Bills, .icon-Binarycode, .icon-Binoculars, .icon-Bird, .icon-Birthday-cake, .icon-Blueprint, .icon-Block, .icon-Bluetooth, .icon-Boat-shipping, .icon-Bomb, .icon-Book-alt-2, .icon-Bones, .icon-Book-alt, .icon-Book, .icon-Bill-yen, .icon-Award, .icon-Bill-pound, .icon-Autofill, .icon-Bill-euro, .icon-Auction-hammer, .icon-Bill-dollar, .icon-Attachment, .icon-Bell, .icon-Article, .icon-Bell-off, .icon-Art-easel, .icon-Beer-glass, .icon-Arrow-up, .icon-Battery-low, .icon-Arrow-right, .icon-Battery-full, .icon-Arrow-left, .icon-Bars, .icon-Arrow-down, .icon-Barcode, .icon-Arrivals, .icon-Bar-chart, .icon-Application-window, .icon-Band-aid, .icon-Application-window-alt, .icon-Ball, .icon-Application-Error, .icon-Badge-restricted, .icon-App, .icon-Badge-remove, .icon-Anchor, .icon-Badge-count, .icon-Alt, .icon-Badge-add, .icon-Alert, .icon-Backspace, .icon-Alert-alt {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-Zoom-out:before {
	content: "\e000";
}
.icon-Truck:before {
	content: "\e001";
}
.icon-Zoom-in:before {
	content: "\e002";
}
.icon-Zip:before {
	content: "\e003";
}
.icon-axis-rotation:before {
	content: "\e004";
}
.icon-Yen-bag:before {
	content: "\e005";
}
.icon-axis-rotation-2:before {
	content: "\e006";
}
.icon-axis-rotation-3:before {
	content: "\e007";
}
.icon-Wrench:before {
	content: "\e008";
}
.icon-Wine-glass:before {
	content: "\e009";
}
.icon-Wrong:before {
	content: "\e00a";
}
.icon-Windows:before {
	content: "\e00b";
}
.icon-Window-sizes:before {
	content: "\e00c";
}
.icon-Window-popin:before {
	content: "\e00d";
}
.icon-Wifi:before {
	content: "\e00e";
}
.icon-Width:before {
	content: "\e00f";
}
.icon-Weight:before {
	content: "\e010";
}
.icon-War:before {
	content: "\e011";
}
.icon-Wand:before {
	content: "\e012";
}
.icon-Wallet:before {
	content: "\e013";
}
.icon-Wall-plug:before {
	content: "\e014";
}
.icon-Umbraco_icons-06:before {
	content: "\e015";
}
.icon-Voice:before {
	content: "\e016";
}
.icon-Video:before {
	content: "\e017";
}
.icon-Vcard:before {
	content: "\e018";
}
.icon-Utilities:before {
	content: "\e019";
}
.icon-Users:before {
	content: "\e01a";
}
.icon-Users-alt:before {
	content: "\e01b";
}
.icon-User:before {
	content: "\e01c";
}
.icon-User-glasses:before {
	content: "\e01d";
}
.icon-User-females:before {
	content: "\e01e";
}
.icon-User-females-alt:before {
	content: "\e01f";
}
.icon-User-female:before {
	content: "\e020";
}
.icon-Usb:before {
	content: "\e021";
}
.icon-Usb-connector:before {
	content: "\e022";
}
.icon-Unlocked:before {
	content: "\e023";
}
.icon-Universal:before {
	content: "\e024";
}
.icon-Undo:before {
	content: "\e025";
}
.icon-Umbrella:before {
	content: "\e026";
}
.icon-Umbraco_icons-08:before {
	content: "\e027";
}
.icon-Umbraco_icons-07:before {
	content: "\e028";
}
.icon-Umbraco_icons-05:before {
	content: "\e029";
}
.icon-Umbraco_icons-04:before {
	content: "\e02a";
}
.icon-Umbraco_icons-03:before {
	content: "\e02b";
}
.icon-Umbraco_icons-02:before {
	content: "\e02c";
}
.icon-Umbraco_icons-01:before {
	content: "\e02d";
}
.icon-Tv:before {
	content: "\e02e";
}
.icon-Tv-old:before {
	content: "\e02f";
}
.icon-Trophy:before {
	content: "\e030";
}
.icon-Tree:before {
	content: "\e031";
}
.icon-Trash:before {
	content: "\e032";
}
.icon-Trash-alt:before {
	content: "\e033";
}
.icon-Trash-alt-2:before {
	content: "\e034";
}
.icon-Train:before {
	content: "\e035";
}
.icon-Trafic:before {
	content: "\e036";
}
.icon-Traffic-alt:before {
	content: "\e037";
}
.icon-Top:before {
	content: "\e038";
}
.icon-Tools:before {
	content: "\e039";
}
.icon-Timer:before {
	content: "\e03a";
}
.icon-Time:before {
	content: "\e03b";
}
.icon-T-shirt:before {
	content: "\e03c";
}
.icon-Tab-key:before {
	content: "\e03d";
}
.icon-Tab:before {
	content: "\e03e";
}
.icon-Tactics:before {
	content: "\e03f";
}
.icon-Tag:before {
	content: "\e040";
}
.icon-Tags:before {
	content: "\e041";
}
.icon-Takeaway-cup:before {
	content: "\e042";
}
.icon-Target:before {
	content: "\e043";
}
.icon-Temperatrure-alt:before {
	content: "\e044";
}
.icon-Temperature:before {
	content: "\e045";
}
.icon-Terminal:before {
	content: "\e046";
}
.icon-Theater:before {
	content: "\e047";
}
.icon-Theif:before {
	content: "\e048";
}
.icon-Thought-bubble:before {
	content: "\e049";
}
.icon-Thumb-down:before {
	content: "\e04a";
}
.icon-Thumb-up:before {
	content: "\e04b";
}
.icon-Thumbnail-list:before {
	content: "\e04c";
}
.icon-Thumbnails-small:before {
	content: "\e04d";
}
.icon-Thumbnails:before {
	content: "\e04e";
}
.icon-Ticket:before {
	content: "\e04f";
}
.icon-Sync:before {
	content: "\e050";
}
.icon-Sweatshirt:before {
	content: "\e051";
}
.icon-Sunny:before {
	content: "\e052";
}
.icon-Stream:before {
	content: "\e053";
}
.icon-Store:before {
	content: "\e054";
}
.icon-Stop:before {
	content: "\e055";
}
.icon-Stop-hand:before {
	content: "\e056";
}
.icon-Stop-alt:before {
	content: "\e057";
}
.icon-Stamp:before {
	content: "\e058";
}
.icon-Stacked-disks:before {
	content: "\e059";
}
.icon-Ssd:before {
	content: "\e05a";
}
.icon-Squiggly-line:before {
	content: "\e05b";
}
.icon-Sprout:before {
	content: "\e05c";
}
.icon-Split:before {
	content: "\e05d";
}
.icon-Split-alt:before {
	content: "\e05e";
}
.icon-Speed-gauge:before {
	content: "\e05f";
}
.icon-Speaker:before {
	content: "\e060";
}
.icon-Sound:before {
	content: "\e061";
}
.icon-Spades:before {
	content: "\e062";
}
.icon-Sound-waves:before {
	content: "\e063";
}
.icon-Shipping-box:before {
	content: "\e064";
}
.icon-Shipping:before {
	content: "\e065";
}
.icon-Shoe:before {
	content: "\e066";
}
.icon-Shopping-basket-alt-2:before {
	content: "\e067";
}
.icon-Shopping-basket:before {
	content: "\e068";
}
.icon-Shopping-basket-alt:before {
	content: "\e069";
}
.icon-Shorts:before {
	content: "\e06a";
}
.icon-Shuffle:before {
	content: "\e06b";
}
.icon-Sience:before {
	content: "\e06c";
}
.icon-Simcard:before {
	content: "\e06d";
}
.icon-Single-note:before {
	content: "\e06e";
}
.icon-Sitemap:before {
	content: "\e06f";
}
.icon-Sleep:before {
	content: "\e070";
}
.icon-Slideshow:before {
	content: "\e071";
}
.icon-Smiley-inverted:before {
	content: "\e072";
}
.icon-Smiley:before {
	content: "\e073";
}
.icon-Snow:before {
	content: "\e074";
}
.icon-Sound-low:before {
	content: "\e075";
}
.icon-Sound-medium:before {
	content: "\e076";
}
.icon-Sound-off:before {
	content: "\e077";
}
.icon-Shift:before {
	content: "\e078";
}
.icon-Shield:before {
	content: "\e079";
}
.icon-Sharing-iphone:before {
	content: "\e07a";
}
.icon-Share:before {
	content: "\e07b";
}
.icon-Share-alt:before {
	content: "\e07c";
}
.icon-Share-alt-2:before {
	content: "\e07d";
}
.icon-Settings:before {
	content: "\e07e";
}
.icon-Settings-alt:before {
	content: "\e07f";
}
.icon-Settings-alt-2:before {
	content: "\e080";
}
.icon-Server:before {
	content: "\e081";
}
.icon-Server-alt:before {
	content: "\e082";
}
.icon-Sensor:before {
	content: "\e083";
}
.icon-Security-camera:before {
	content: "\e084";
}
.icon-Search:before {
	content: "\e085";
}
.icon-Scull:before {
	content: "\e086";
}
.icon-Script:before {
	content: "\e087";
}
.icon-Script-alt:before {
	content: "\e088";
}
.icon-Screensharing:before {
	content: "\e089";
}
.icon-School:before {
	content: "\e08a";
}
.icon-Scan:before {
	content: "\e08b";
}
.icon-Refresh:before {
	content: "\e08c";
}
.icon-Remote:before {
	content: "\e08d";
}
.icon-Remove:before {
	content: "\e08e";
}
.icon-Repeat-one:before {
	content: "\e08f";
}
.icon-Repeat:before {
	content: "\e090";
}
.icon-Resize:before {
	content: "\e091";
}
.icon-Reply-arrow:before {
	content: "\e092";
}
.icon-Return-to-top:before {
	content: "\e093";
}
.icon-Right-double-arrow:before {
	content: "\e094";
}
.icon-Road:before {
	content: "\e095";
}
.icon-Roadsign:before {
	content: "\e096";
}
.icon-Rocket:before {
	content: "\e097";
}
.icon-Rss:before {
	content: "\e098";
}
.icon-Ruler-alt:before {
	content: "\e099";
}
.icon-Ruler:before {
	content: "\e09a";
}
.icon-Sandbox-toys:before {
	content: "\e09b";
}
.icon-Satellite-dish:before {
	content: "\e09c";
}
.icon-Save:before {
	content: "\e09d";
}
.icon-Safedial:before {
	content: "\e09e";
}
.icon-Safe:before {
	content: "\e09f";
}
.icon-Redo:before {
	content: "\e0a0";
}
.icon-Printer-alt:before {
	content: "\e0a1";
}
.icon-Planet:before {
	content: "\e0a2";
}
.icon-Paste-in:before {
	content: "\e0a3";
}
.icon-Os-x:before {
	content: "\e0a4";
}
.icon-Navigation-left:before {
	content: "\e0a5";
}
.icon-Message:before {
	content: "\e0a6";
}
.icon-Lock:before {
	content: "\e0a7";
}
.icon-Layers-alt:before {
	content: "\e0a8";
}
.icon-Record:before {
	content: "\e0a9";
}
.icon-Print:before {
	content: "\e0aa";
}
.icon-Plane:before {
	content: "\e0ab";
}
.icon-Partly-cloudy:before {
	content: "\e0ac";
}
.icon-Ordered-list:before {
	content: "\e0ad";
}
.icon-Navigation-last:before {
	content: "\e0ae";
}
.icon-Message-unopened:before {
	content: "\e0af";
}
.icon-Location-nearby:before {
	content: "\e0b0";
}
.icon-Laptop:before {
	content: "\e0b1";
}
.icon-Reception:before {
	content: "\e0b2";
}
.icon-Price-yen:before {
	content: "\e0b3";
}
.icon-Piracy:before {
	content: "\e0b4";
}
.icon-Parental-control:before {
	content: "\e0b5";
}
.icon-Operator:before {
	content: "\e0b6";
}
.icon-Navigation-horizontal:before {
	content: "\e0b7";
}
.icon-Message-open:before {
	content: "\e0b8";
}
.icon-Lab:before {
	content: "\e0b9";
}
.icon-Location-near-me:before {
	content: "\e0ba";
}
.icon-Receipt-yen:before {
	content: "\e0bb";
}
.icon-Price-pound:before {
	content: "\e0bc";
}
.icon-Pin-location:before {
	content: "\e0bd";
}
.icon-Parachute-drop:before {
	content: "\e0be";
}
.icon-Old-phone:before {
	content: "\e0bf";
}
.icon-Merge:before {
	content: "\e0c0";
}
.icon-Navigation-first:before {
	content: "\e0c1";
}
.icon-Locate:before {
	content: "\e0c2";
}
.icon-Keyhole:before {
	content: "\e0c3";
}
.icon-Receipt-pound:before {
	content: "\e0c4";
}
.icon-Price-euro:before {
	content: "\e0c5";
}
.icon-Piggy-bank:before {
	content: "\e0c6";
}
.icon-Paper-plane:before {
	content: "\e0c7";
}
.icon-Old-key:before {
	content: "\e0c8";
}
.icon-Navigation-down:before {
	content: "\e0c9";
}
.icon-Megaphone:before {
	content: "\e0ca";
}
.icon-Loading:before {
	content: "\e0cb";
}
.icon-Keychain:before {
	content: "\e0cc";
}
.icon-Receipt-euro:before {
	content: "\e0cd";
}
.icon-Price-dollar:before {
	content: "\e0ce";
}
.icon-Pie-chart:before {
	content: "\e0cf";
}
.icon-Paper-plane-alt:before {
	content: "\e0d0";
}
.icon-Notepad:before {
	content: "\e0d1";
}
.icon-Navigation-bottom:before {
	content: "\e0d2";
}
.icon-Meeting:before {
	content: "\e0d3";
}
.icon-Keyboard:before {
	content: "\e0d4";
}
.icon-Load:before {
	content: "\e0d5";
}
.icon-Receipt-dollar:before {
	content: "\e0d6";
}
.icon-Previous:before {
	content: "\e0d7";
}
.icon-Pictures:before {
	content: "\e0d8";
}
.icon-Notepad-alt:before {
	content: "\e0d9";
}
.icon-Paper-bag:before {
	content: "\e0da";
}
.icon-Name-badge:before {
	content: "\e0db";
}
.icon-Medicine:before {
	content: "\e0dc";
}
.icon-List:before {
	content: "\e0dd";
}
.icon-Key:before {
	content: "\e0de";
}
.icon-Receipt-alt:before {
	content: "\e0df";
}
.icon-Previous-media:before {
	content: "\e0e0";
}
.icon-Pictures-alt:before {
	content: "\e0e1";
}
.icon-Pants:before {
	content: "\e0e2";
}
.icon-Nodes:before {
	content: "\e0e3";
}
.icon-Music:before {
	content: "\e0e4";
}
.icon-Readonly:before {
	content: "\e0e5";
}
.icon-Presentation:before {
	content: "\e0e6";
}
.icon-Pictures-alt-2:before {
	content: "\e0e7";
}
.icon-Pannel-close:before {
	content: "\e0e8";
}
.icon-Next:before {
	content: "\e0e9";
}
.icon-Multiple-windows:before {
	content: "\e0ea";
}
.icon-Medical-emergency:before {
	content: "\e0eb";
}
.icon-Medal:before {
	content: "\e0ec";
}
.icon-Link:before {
	content: "\e0ed";
}
.icon-Linux-tux:before {
	content: "\e0ee";
}
.icon-Junk:before {
	content: "\e0ef";
}
.icon-Item-arrangement:before {
	content: "\e0f0";
}
.icon-Iphone:before {
	content: "\e0f1";
}
.icon-Lightning:before {
	content: "\e0f2";
}
.icon-Map:before {
	content: "\e0f3";
}
.icon-Multiple-credit-cards:before {
	content: "\e0f4";
}
.icon-Next-media:before {
	content: "\e0f5";
}
.icon-Panel-show:before {
	content: "\e0f6";
}
.icon-Picture:before {
	content: "\e0f7";
}
.icon-Power:before {
	content: "\e0f8";
}
.icon-Re-post:before {
	content: "\e0f9";
}
.icon-Rate:before {
	content: "\e0fa";
}
.icon-Rain:before {
	content: "\e0fb";
}
.icon-Radio:before {
	content: "\e0fc";
}
.icon-Radio-receiver:before {
	content: "\e0fd";
}
.icon-Radio-alt:before {
	content: "\e0fe";
}
.icon-Quote:before {
	content: "\e0ff";
}
.icon-Qr-code:before {
	content: "\e100";
}
.icon-Pushpin:before {
	content: "\e101";
}
.icon-Pulse:before {
	content: "\e102";
}
.icon-Projector:before {
	content: "\e103";
}
.icon-Play:before {
	content: "\e104";
}
.icon-Playing-cards:before {
	content: "\e105";
}
.icon-Playlist:before {
	content: "\e106";
}
.icon-Plugin:before {
	content: "\e107";
}
.icon-Podcast:before {
	content: "\e108";
}
.icon-Poker-chip:before {
	content: "\e109";
}
.icon-Poll:before {
	content: "\e10a";
}
.icon-Post-it:before {
	content: "\e10b";
}
.icon-Pound-bag:before {
	content: "\e10c";
}
.icon-Power-outlet:before {
	content: "\e10d";
}
.icon-Photo-album:before {
	content: "\e10e";
}
.icon-Phone:before {
	content: "\e10f";
}
.icon-Phone-ring:before {
	content: "\e110";
}
.icon-People:before {
	content: "\e111";
}
.icon-People-female:before {
	content: "\e112";
}
.icon-People-alt:before {
	content: "\e113";
}
.icon-People-alt-2:before {
	content: "\e114";
}
.icon-Pc:before {
	content: "\e115";
}
.icon-Pause:before {
	content: "\e116";
}
.icon-Path:before {
	content: "\e117";
}
.icon-Out:before {
	content: "\e118";
}
.icon-Outbox:before {
	content: "\e119";
}
.icon-Outdent:before {
	content: "\e11a";
}
.icon-Page-add:before {
	content: "\e11b";
}
.icon-Page-down:before {
	content: "\e11c";
}
.icon-Page-remove:before {
	content: "\e11d";
}
.icon-Page-restricted:before {
	content: "\e11e";
}
.icon-Page-up:before {
	content: "\e11f";
}
.icon-Paint-roller:before {
	content: "\e120";
}
.icon-Palette:before {
	content: "\e121";
}
.icon-Newspaper:before {
	content: "\e122";
}
.icon-Newspaper-alt:before {
	content: "\e123";
}
.icon-Network-alt:before {
	content: "\e124";
}
.icon-Navigational-arrow:before {
	content: "\e125";
}
.icon-Navigation:before {
	content: "\e126";
}
.icon-Navigation-vertical:before {
	content: "\e127";
}
.icon-Navigation-up:before {
	content: "\e128";
}
.icon-Navigation-top:before {
	content: "\e129";
}
.icon-Navigation-road:before {
	content: "\e12a";
}
.icon-Navigation-right:before {
	content: "\e12b";
}
.icon-Microscope:before {
	content: "\e12c";
}
.icon-Mindmap:before {
	content: "\e12d";
}
.icon-Molecular-network:before {
	content: "\e12e";
}
.icon-Molecular:before {
	content: "\e12f";
}
.icon-Mountain:before {
	content: "\e130";
}
.icon-Mouse-cursor:before {
	content: "\e131";
}
.icon-Mouse:before {
	content: "\e132";
}
.icon-Movie-alt:before {
	content: "\e133";
}
.icon-Map-marker:before {
	content: "\e134";
}
.icon-Movie:before {
	content: "\e135";
}
.icon-Map-loaction:before {
	content: "\e136";
}
.icon-Map-alt:before {
	content: "\e137";
}
.icon-Male-symbol:before {
	content: "\e138";
}
.icon-Male-and-female:before {
	content: "\e139";
}
.icon-Mailbox:before {
	content: "\e13a";
}
.icon-Magnet:before {
	content: "\e13b";
}
.icon-Loupe:before {
	content: "\e13c";
}
.icon-Mobile:before {
	content: "\e13d";
}
.icon-Logout:before {
	content: "\e13e";
}
.icon-Log-out:before {
	content: "\e13f";
}
.icon-Layers:before {
	content: "\e140";
}
.icon-Left-double-arrow:before {
	content: "\e141";
}
.icon-Layout:before {
	content: "\e142";
}
.icon-Legal:before {
	content: "\e143";
}
.icon-Lense:before {
	content: "\e144";
}
.icon-Library:before {
	content: "\e145";
}
.icon-Light-down:before {
	content: "\e146";
}
.icon-Light-up:before {
	content: "\e147";
}
.icon-Lightbulb-active:before {
	content: "\e148";
}
.icon-Lightbulb:before {
	content: "\e149";
}
.icon-iPad:before {
	content: "\e14a";
}
.icon-Invoice:before {
	content: "\e14b";
}
.icon-Info:before {
	content: "\e14c";
}
.icon-Infinity:before {
	content: "\e14d";
}
.icon-Indent:before {
	content: "\e14e";
}
.icon-Inbox:before {
	content: "\e14f";
}
.icon-Inbox-full:before {
	content: "\e150";
}
.icon-Inactive-line:before {
	content: "\e151";
}
.icon-iMac:before {
	content: "\e152";
}
.icon-Hourglass:before {
	content: "\e153";
}
.icon-Home:before {
	content: "\e154";
}
.icon-Grid:before {
	content: "\e155";
}
.icon-Food:before {
	content: "\e156";
}
.icon-Favorite:before {
	content: "\e157";
}
.icon-Door-open-alt:before {
	content: "\e158";
}
.icon-Diagnostics:before {
	content: "\e159";
}
.icon-Contrast:before {
	content: "\e15a";
}
.icon-Coins-dollar-alt:before {
	content: "\e15b";
}
.icon-Circle-dotted-active:before {
	content: "\e15c";
}
.icon-Cinema:before {
	content: "\e15d";
}
.icon-Chip:before {
	content: "\e15e";
}
.icon-Chip-alt:before {
	content: "\e15f";
}
.icon-Chess:before {
	content: "\e160";
}
.icon-Checkbox:before {
	content: "\e161";
}
.icon-Checkbox-empty:before {
	content: "\e162";
}
.icon-Checkbox-dotted:before {
	content: "\e163";
}
.icon-Checkbox-dotted-active:before {
	content: "\e164";
}
.icon-Check:before {
	content: "\e165";
}
.icon-Chat:before {
	content: "\e166";
}
.icon-Chat-active:before {
	content: "\e167";
}
.icon-Chart:before {
	content: "\e168";
}
.icon-Chart-curve:before {
	content: "\e169";
}
.icon-Certificate:before {
	content: "\e16a";
}
.icon-Categories:before {
	content: "\e16b";
}
.icon-Cash-register:before {
	content: "\e16c";
}
.icon-Car:before {
	content: "\e16d";
}
.icon-Caps-lock:before {
	content: "\e16e";
}
.icon-Candy:before {
	content: "\e16f";
}
.icon-Circle-dotted:before {
	content: "\e170";
}
.icon-Circuits:before {
	content: "\e171";
}
.icon-Circus:before {
	content: "\e172";
}
.icon-Client:before {
	content: "\e173";
}
.icon-Clothes-hanger:before {
	content: "\e174";
}
.icon-Cloud-drive:before {
	content: "\e175";
}
.icon-Cloud-upload:before {
	content: "\e176";
}
.icon-Cloud:before {
	content: "\e177";
}
.icon-Cloudy:before {
	content: "\e178";
}
.icon-Clubs:before {
	content: "\e179";
}
.icon-Cocktail:before {
	content: "\e17a";
}
.icon-Code:before {
	content: "\e17b";
}
.icon-Coffee:before {
	content: "\e17c";
}
.icon-Coin-dollar:before {
	content: "\e17d";
}
.icon-Coin-pound:before {
	content: "\e17e";
}
.icon-Coin-yen:before {
	content: "\e17f";
}
.icon-Coin:before {
	content: "\e180";
}
.icon-Coins-alt:before {
	content: "\e181";
}
.icon-Console:before {
	content: "\e182";
}
.icon-Connection:before {
	content: "\e183";
}
.icon-Compress:before {
	content: "\e184";
}
.icon-Company:before {
	content: "\e185";
}
.icon-Command:before {
	content: "\e186";
}
.icon-Coin-euro:before {
	content: "\e187";
}
.icon-Combination-lock:before {
	content: "\e188";
}
.icon-Combination-lock-open:before {
	content: "\e189";
}
.icon-Comb:before {
	content: "\e18a";
}
.icon-Columns:before {
	content: "\e18b";
}
.icon-Colorpicker:before {
	content: "\e18c";
}
.icon-Color-bucket:before {
	content: "\e18d";
}
.icon-Coins:before {
	content: "\e18e";
}
.icon-Coins-yen:before {
	content: "\e18f";
}
.icon-Coins-yen-alt:before {
	content: "\e190";
}
.icon-Coins-pound:before {
	content: "\e191";
}
.icon-Coins-pound-alt:before {
	content: "\e192";
}
.icon-Coins-euro:before {
	content: "\e193";
}
.icon-Coins-euro-alt:before {
	content: "\e194";
}
.icon-Coins-dollar:before {
	content: "\e195";
}
.icon-Conversation-alt:before {
	content: "\e196";
}
.icon-Conversation:before {
	content: "\e197";
}
.icon-Coverflow:before {
	content: "\e198";
}
.icon-Credit-card-alt:before {
	content: "\e199";
}
.icon-Credit-card:before {
	content: "\e19a";
}
.icon-Crop:before {
	content: "\e19b";
}
.icon-Crosshair:before {
	content: "\e19c";
}
.icon-Crown-alt:before {
	content: "\e19d";
}
.icon-Crown:before {
	content: "\e19e";
}
.icon-Cupcake:before {
	content: "\e19f";
}
.icon-Curve:before {
	content: "\e1a0";
}
.icon-Cut:before {
	content: "\e1a1";
}
.icon-Dashboard:before {
	content: "\e1a2";
}
.icon-Defrag:before {
	content: "\e1a3";
}
.icon-Delete:before {
	content: "\e1a4";
}
.icon-Delete-key:before {
	content: "\e1a5";
}
.icon-Departure:before {
	content: "\e1a6";
}
.icon-Desk:before {
	content: "\e1a7";
}
.icon-Desktop:before {
	content: "\e1a8";
}
.icon-Donate:before {
	content: "\e1a9";
}
.icon-Dollar-bag:before {
	content: "\e1aa";
}
.icon-Documents:before {
	content: "\e1ab";
}
.icon-Document:before {
	content: "\e1ac";
}
.icon-Document-dashed-line:before {
	content: "\e1ad";
}
.icon-Dock-connector:before {
	content: "\e1ae";
}
.icon-Dna:before {
	content: "\e1af";
}
.icon-Display:before {
	content: "\e1b0";
}
.icon-Disk-image:before {
	content: "\e1b1";
}
.icon-Disc:before {
	content: "\e1b2";
}
.icon-Directions:before {
	content: "\e1b3";
}
.icon-Directions-alt:before {
	content: "\e1b4";
}
.icon-Diploma:before {
	content: "\e1b5";
}
.icon-Diploma-alt:before {
	content: "\e1b6";
}
.icon-Dice:before {
	content: "\e1b7";
}
.icon-Diamonds:before {
	content: "\e1b8";
}
.icon-Diamond:before {
	content: "\e1b9";
}
.icon-Diagonal-arrow:before {
	content: "\e1ba";
}
.icon-Diagonal-arrow-alt:before {
	content: "\e1bb";
}
.icon-Door-open:before {
	content: "\e1bc";
}
.icon-Download-alt:before {
	content: "\e1bd";
}
.icon-Download:before {
	content: "\e1be";
}
.icon-Drop:before {
	content: "\e1bf";
}
.icon-Eco:before {
	content: "\e1c0";
}
.icon-Economy:before {
	content: "\e1c1";
}
.icon-Edit:before {
	content: "\e1c2";
}
.icon-Eject:before {
	content: "\e1c3";
}
.icon-Employee:before {
	content: "\e1c4";
}
.icon-Energy-saving-bulb:before {
	content: "\e1c5";
}
.icon-Enter:before {
	content: "\e1c6";
}
.icon-Equalizer:before {
	content: "\e1c7";
}
.icon-Escape:before {
	content: "\e1c8";
}
.icon-Ethernet:before {
	content: "\e1c9";
}
.icon-Euro-bag:before {
	content: "\e1ca";
}
.icon-Exit-fullscreen:before {
	content: "\e1cb";
}
.icon-Eye:before {
	content: "\e1cc";
}
.icon-Facebook-like:before {
	content: "\e1cd";
}
.icon-Factory:before {
	content: "\e1ce";
}
.icon-Font:before {
	content: "\e1cf";
}
.icon-Folders:before {
	content: "\e1d0";
}
.icon-Folder:before {
	content: "\e1d1";
}
.icon-Folder-outline:before {
	content: "\e1d2";
}
.icon-Folder-open:before {
	content: "\e1d3";
}
.icon-Flowerpot:before {
	content: "\e1d4";
}
.icon-Flashlight:before {
	content: "\e1d5";
}
.icon-Flash:before {
	content: "\e1d6";
}
.icon-Flag:before {
	content: "\e1d7";
}
.icon-Flag-alt:before {
	content: "\e1d8";
}
.icon-Firewire:before {
	content: "\e1d9";
}
.icon-Firewall:before {
	content: "\e1da";
}
.icon-Fire:before {
	content: "\e1db";
}
.icon-Fingerprint:before {
	content: "\e1dc";
}
.icon-FIlter:before {
	content: "\e1dd";
}
.icon-Filter-arrows:before {
	content: "\e1de";
}
.icon-Files:before {
	content: "\e1df";
}
.icon-File-cabinet:before {
	content: "\e1e0";
}
.icon-Female-symbol:before {
	content: "\e1e1";
}
.icon-Footprints:before {
	content: "\e1e2";
}
.icon-Hammer:before {
	content: "\e1e3";
}
.icon-Hand-active-alt:before {
	content: "\e1e4";
}
.icon-Forking:before {
	content: "\e1e5";
}
.icon-Hand-active:before {
	content: "\e1e6";
}
.icon-Hand-pointer-alt:before {
	content: "\e1e7";
}
.icon-Hand-pointer:before {
	content: "\e1e8";
}
.icon-Handprint:before {
	content: "\e1e9";
}
.icon-Handshake:before {
	content: "\e1ea";
}
.icon-Handtool:before {
	content: "\e1eb";
}
.icon-Hard-drive:before {
	content: "\e1ec";
}
.icon-Help:before {
	content: "\e1ed";
}
.icon-Graduate:before {
	content: "\e1ee";
}
.icon-Gps:before {
	content: "\e1ef";
}
.icon-Help-alt:before {
	content: "\e1f0";
}
.icon-Height:before {
	content: "\e1f1";
}
.icon-Globe:before {
	content: "\e1f2";
}
.icon-Hearts:before {
	content: "\e1f3";
}
.icon-Globe-inverted-europe-africa:before {
	content: "\e1f4";
}
.icon-Headset:before {
	content: "\e1f5";
}
.icon-Globe-inverted-asia:before {
	content: "\e1f6";
}
.icon-Headphones:before {
	content: "\e1f7";
}
.icon-Globe-inverted-america:before {
	content: "\e1f8";
}
.icon-Hd:before {
	content: "\e1f9";
}
.icon-Globe-Europe---Africa:before {
	content: "\e1fa";
}
.icon-Hat:before {
	content: "\e1fb";
}
.icon-Globe-Asia:before {
	content: "\e1fc";
}
.icon-Globe-alt:before {
	content: "\e1fd";
}
.icon-Hard-drive-alt:before {
	content: "\e1fe";
}
.icon-Glasses:before {
	content: "\e1ff";
}
.icon-Gift:before {
	content: "\e200";
}
.icon-Handtool-alt:before {
	content: "\e201";
}
.icon-Geometry:before {
	content: "\e202";
}
.icon-Game:before {
	content: "\e203";
}
.icon-Fullscreen:before {
	content: "\e204";
}
.icon-Fullscreen-alt:before {
	content: "\e205";
}
.icon-Frame:before {
	content: "\e206";
}
.icon-Frame-alt:before {
	content: "\e207";
}
.icon-Camera-roll:before {
	content: "\e208";
}
.icon-Bookmark:before {
	content: "\e209";
}
.icon-Bill:before {
	content: "\e20a";
}
.icon-Baby-stroller:before {
	content: "\e20b";
}
.icon-Alarm-clock:before {
	content: "\e20c";
}
.icon-Adressbook:before {
	content: "\e20d";
}
.icon-Add:before {
	content: "\e20e";
}
.icon-Activity:before {
	content: "\e20f";
}
.icon-untitled:before {
	content: "\e210";
}
.icon-glasses:before {
	content: "\e211";
}
.icon-Camcorder:before {
	content: "\e212";
}
.icon-Calendar:before {
	content: "\e213";
}
.icon-Calendar-alt:before {
	content: "\e214";
}
.icon-Calculator:before {
	content: "\e215";
}
.icon-Bus:before {
	content: "\e216";
}
.icon-Burn:before {
	content: "\e217";
}
.icon-Bulleted-list:before {
	content: "\e218";
}
.icon-Bug:before {
	content: "\e219";
}
.icon-Brush:before {
	content: "\e21a";
}
.icon-Brush-alt:before {
	content: "\e21b";
}
.icon-Brush-alt-2:before {
	content: "\e21c";
}
.icon-Browser-window:before {
	content: "\e21d";
}
.icon-Briefcase:before {
	content: "\e21e";
}
.icon-Brick:before {
	content: "\e21f";
}
.icon-Brackets:before {
	content: "\e220";
}
.icon-Box:before {
	content: "\e221";
}
.icon-Box-open:before {
	content: "\e222";
}
.icon-Box-alt:before {
	content: "\e223";
}
.icon-Books:before {
	content: "\e224";
}
.icon-Billboard:before {
	content: "\e225";
}
.icon-Bills-dollar:before {
	content: "\e226";
}
.icon-Bills-euro:before {
	content: "\e227";
}
.icon-Bills-pound:before {
	content: "\e228";
}
.icon-Bills-yen:before {
	content: "\e229";
}
.icon-Bills:before {
	content: "\e22a";
}
.icon-Binarycode:before {
	content: "\e22b";
}
.icon-Binoculars:before {
	content: "\e22c";
}
.icon-Bird:before {
	content: "\e22d";
}
.icon-Birthday-cake:before {
	content: "\e22e";
}
.icon-Blueprint:before {
	content: "\e22f";
}
.icon-Block:before {
	content: "\e230";
}
.icon-Bluetooth:before {
	content: "\e231";
}
.icon-Boat-shipping:before {
	content: "\e232";
}
.icon-Bomb:before {
	content: "\e233";
}
.icon-Book-alt-2:before {
	content: "\e234";
}
.icon-Bones:before {
	content: "\e235";
}
.icon-Book-alt:before {
	content: "\e236";
}
.icon-Book:before {
	content: "\e237";
}
.icon-Bill-yen:before {
	content: "\e238";
}
.icon-Award:before {
	content: "\e239";
}
.icon-Bill-pound:before {
	content: "\e23a";
}
.icon-Autofill:before {
	content: "\e23b";
}
.icon-Bill-euro:before {
	content: "\e23c";
}
.icon-Auction-hammer:before {
	content: "\e23d";
}
.icon-Bill-dollar:before {
	content: "\e23e";
}
.icon-Attachment:before {
	content: "\e23f";
}
.icon-Bell:before {
	content: "\e240";
}
.icon-Article:before {
	content: "\e241";
}
.icon-Bell-off:before {
	content: "\e242";
}
.icon-Art-easel:before {
	content: "\e243";
}
.icon-Beer-glass:before {
	content: "\e244";
}
.icon-Arrow-up:before {
	content: "\e245";
}
.icon-Battery-low:before {
	content: "\e246";
}
.icon-Arrow-right:before {
	content: "\e247";
}
.icon-Battery-full:before {
	content: "\e248";
}
.icon-Arrow-left:before {
	content: "\e249";
}
.icon-Bars:before {
	content: "\e24a";
}
.icon-Arrow-down:before {
	content: "\e24b";
}
.icon-Barcode:before {
	content: "\e24c";
}
.icon-Arrivals:before {
	content: "\e24d";
}
.icon-Bar-chart:before {
	content: "\e24e";
}
.icon-Application-window:before {
	content: "\e24f";
}
.icon-Band-aid:before {
	content: "\e250";
}
.icon-Application-window-alt:before {
	content: "\e251";
}
.icon-Ball:before {
	content: "\e252";
}
.icon-Application-Error:before {
	content: "\e253";
}
.icon-Badge-restricted:before {
	content: "\e254";
}
.icon-App:before {
	content: "\e255";
}
.icon-Badge-remove:before {
	content: "\e256";
}
.icon-Anchor:before {
	content: "\e257";
}
.icon-Badge-count:before {
	content: "\e258";
}
.icon-Alt:before {
	content: "\e259";
}
.icon-Badge-add:before {
	content: "\e25a";
}
.icon-Alert:before {
	content: "\e25b";
}
.icon-Backspace:before {
	content: "\e25c";
}
.icon-Alert-alt:before {
	content: "\e25d";
}
