@font-face {
	font-family: 'icomoon';
	src:url('../fonts/helveticons/helveticons.eot');
	src:url('../fonts/helveticons/helveticons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/helveticons/helveticons.ttf') format('truetype'),
		url('../fonts/helveticons/helveticons.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}


[class^="icon-"],
[class*=" icon-"]{
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    text-decoration: inherit;
    display: inline-block;
    speak: none;
}

i.large{
	font-size: 32px;
}
i.medium{
	font-size: 24px;
}
i.small{
	font-size: 14px;
}

.icon-zoom-out:before {
	content: "\e000";
}
.icon-truck:before {
	content: "\e001";
}
.icon-zoom-in:before {
	content: "\e002";
}
.icon-zip:before {
	content: "\e003";
}
.icon-axis-rotation:before {
	content: "\e004";
}
.icon-yen-bag:before {
	content: "\e005";
}
.icon-axis-rotation-2:before {
	content: "\e006";
}
.icon-axis-rotation-3:before {
	content: "\e007";
}
.icon-wrench:before {
	content: "\e008";
}
.icon-wine-glass:before {
	content: "\e009";
}
.icon-wrong:before {
	content: "\e00a";
}
.icon-windows:before {
	content: "\e00b";
}
.icon-window-sizes:before {
	content: "\e00c";
}
.icon-window-popin:before {
	content: "\e00d";
}
.icon-wifi:before {
	content: "\e00e";
}
.icon-width:before {
	content: "\e00f";
}
.icon-weight:before {
	content: "\e010";
}
.icon-war:before {
	content: "\e011";
}
.icon-wand:before {
	content: "\e012";
}
.icon-wallet:before {
	content: "\e013";
}
.icon-wall-plug:before {
	content: "\e014";
}
.icon-voice:before {
	content: "\e016";
}
.icon-video:before {
	content: "\e017";
}
.icon-vcard:before {
	content: "\e018";
}
.icon-utilities:before {
	content: "\e019";
}
.icon-users:before {
	content: "\e01a";
}
.icon-users-alt:before {
	content: "\e01b";
}
.icon-user:before {
	content: "\e01c";
}
.icon-user-glasses:before {
	content: "\e01d";
}
.icon-user-females:before {
	content: "\e01e";
}
.icon-user-females-alt:before {
	content: "\e01f";
}
.icon-user-female:before {
	content: "\e020";
}
.icon-usb:before {
	content: "\e021";
}
.icon-usb-connector:before {
	content: "\e022";
}
.icon-unlocked:before {
	content: "\e023";
}
.icon-universal:before {
	content: "\e024";
}
.icon-undo:before {
	content: "\e025";
}
.icon-umbrella:before {
	content: "\e026";
}
.icon-umb-deploy:before {
	content: "\e027";
}
.icon-umb-contour:before, .traycontour:before {
	content: "\e028";
}
.icon-umb-settings:before, .traysettings:before {
	content: "\e029";
}
.icon-umb-users:before, .trayuser:before, .trayusers:before{
	content: "\e02a";
}
.icon-umb-media:before, .traymedia:before {
	content: "\e02b";
}
.icon-umb-content:before, .traycontent:before{
	content: "\e02c";
}
.icon-umb-developer:before, .traydeveloper:before {
	content: "\e02d";
}
.icon-umb-members:before, .traymember:before {
	content: "\e015";
}
.icon-umb-translation:before, .traytranslation:before {
	content: "\e1fd";
}
.icon-tv:before {
	content: "\e02e";
}
.icon-tv-old:before {
	content: "\e02f";
}
.icon-trophy:before {
	content: "\e030";
}
.icon-tree:before {
	content: "\e031";
}
.icon-trash:before {
	content: "\e032";
}
.icon-trash-alt:before {
	content: "\e033";
}
.icon-trash-alt-2:before {
	content: "\e034";
}
.icon-train:before {
	content: "\e035";
}
.icon-trafic:before,
.icon-traffic:before {
	content: "\e036";
}
.icon-traffic-alt:before {
	content: "\e037";
}
.icon-top:before {
	content: "\e038";
}
.icon-tools:before {
	content: "\e039";
}
.icon-timer:before {
	content: "\e03a";
}
.icon-time:before {
	content: "\e03b";
}
.icon-t-shirt:before {
	content: "\e03c";
}
.icon-tab-key:before {
	content: "\e03d";
}
.icon-tab:before {
	content: "\e03e";
}
.icon-tactics:before {
	content: "\e03f";
}
.icon-tag:before {
	content: "\e040";
}
.icon-tags:before {
	content: "\e041";
}
.icon-takeaway-cup:before {
	content: "\e042";
}
.icon-target:before {
	content: "\e043";
}
.icon-temperature-alt:before,
.icon-temperatrure-alt:before {
	content: "\e044";
}
.icon-temperature:before {
	content: "\e045";
}
.icon-terminal:before {
	content: "\e046";
}
.icon-theater:before {
	content: "\e047";
}
.icon-thief:before,
.icon-theif:before {
	content: "\e048";
}
.icon-thought-bubble:before {
	content: "\e049";
}
.icon-thumb-down:before {
	content: "\e04a";
}
.icon-thumb-up:before {
	content: "\e04b";
}
.icon-thumbnail-list:before {
	content: "\e04c";
}
.icon-thumbnails-small:before {
	content: "\e04d";
}
.icon-thumbnails:before {
	content: "\e04e";
}
.icon-ticket:before {
	content: "\e04f";
}
.icon-sync:before {
	content: "\e050";
}
.icon-sweatshirt:before {
	content: "\e051";
}
.icon-sunny:before {
	content: "\e052";
}
.icon-stream:before {
	content: "\e053";
}
.icon-store:before {
	content: "\e054";
}
.icon-stop:before {
	content: "\e055";
}
.icon-stop-hand:before {
	content: "\e056";
}
.icon-stop-alt:before {
	content: "\e057";
}
.icon-stamp:before {
	content: "\e058";
}
.icon-stacked-disks:before {
	content: "\e059";
}
.icon-ssd:before {
	content: "\e05a";
}
.icon-squiggly-line:before {
	content: "\e05b";
}
.icon-sprout:before {
	content: "\e05c";
}
.icon-split:before {
	content: "\e05d";
}
.icon-split-alt:before {
	content: "\e05e";
}
.icon-speed-gauge:before {
	content: "\e05f";
}
.icon-speaker:before {
	content: "\e060";
}
.icon-sound:before {
	content: "\e061";
}
.icon-spades:before {
	content: "\e062";
}
.icon-sound-waves:before {
	content: "\e063";
}
.icon-shipping-box:before {
	content: "\e064";
}
.icon-shipping:before {
	content: "\e065";
}
.icon-shoe:before {
	content: "\e066";
}
.icon-shopping-basket-alt-2:before {
	content: "\e067";
}
.icon-shopping-basket:before {
	content: "\e068";
}
.icon-shopping-basket-alt:before {
	content: "\e069";
}
.icon-shorts:before {
	content: "\e06a";
}
.icon-shuffle:before {
	content: "\e06b";
}
.icon-science:before,
.icon-sience:before {
	content: "\e06c";
}
.icon-simcard:before {
	content: "\e06d";
}
.icon-single-note:before {
	content: "\e06e";
}
.icon-sitemap:before {
	content: "\e06f";
}
.icon-sleep:before {
	content: "\e070";
}
.icon-slideshow:before {
	content: "\e071";
}
.icon-smiley-inverted:before {
	content: "\e072";
}
.icon-smiley:before {
	content: "\e073";
}
.icon-snow:before {
	content: "\e074";
}
.icon-sound-low:before {
	content: "\e075";
}
.icon-sound-medium:before {
	content: "\e076";
}
.icon-sound-off:before {
	content: "\e077";
}
.icon-shift:before {
	content: "\e078";
}
.icon-shield:before {
	content: "\e079";
}
.icon-sharing-iphone:before {
	content: "\e07a";
}
.icon-share:before {
	content: "\e07b";
}
.icon-share-alt:before {
	content: "\e07c";
}
.icon-share-alt-2:before {
	content: "\e07d";
}
.icon-settings:before {
	content: "\e07e";
}
.icon-settings-alt:before {
	content: "\e07f";
}
.icon-settings-alt-2:before {
	content: "\e080";
}
.icon-server:before {
	content: "\e081";
}
.icon-server-alt:before {
	content: "\e082";
}
.icon-sensor:before {
	content: "\e083";
}
.icon-security-camera:before {
	content: "\e084";
}
.icon-search:before {
	content: "\e085";
}
.icon-scull:before {
	content: "\e086";
}
.icon-script:before {
	content: "\e087";
}
.icon-script-alt:before {
	content: "\e088";
}
.icon-screensharing:before {
	content: "\e089";
}
.icon-school:before {
	content: "\e08a";
}
.icon-scan:before {
	content: "\e08b";
}
.icon-refresh:before {
	content: "\e08c";
}
.icon-remote:before {
	content: "\e08d";
}
.icon-remove:before {
	content: "\e08e";
}
.icon-repeat-one:before {
	content: "\e08f";
}
.icon-repeat:before {
	content: "\e090";
}
.icon-resize:before {
	content: "\e091";
}
.icon-reply-arrow:before {
	content: "\e092";
}
.icon-return-to-top:before {
	content: "\e093";
}
.icon-right-double-arrow:before {
	content: "\e094";
}
.icon-road:before {
	content: "\e095";
}
.icon-roadsign:before {
	content: "\e096";
}
.icon-rocket:before {
	content: "\e097";
}
.icon-rss:before {
	content: "\e098";
}
.icon-ruler-alt:before {
	content: "\e099";
}
.icon-ruler:before {
	content: "\e09a";
}
.icon-sandbox-toys:before {
	content: "\e09b";
}
.icon-satellite-dish:before {
	content: "\e09c";
}
.icon-save:before {
	content: "\e09d";
}
.icon-safedial:before {
	content: "\e09e";
}
.icon-safe:before {
	content: "\e09f";
}
.icon-redo:before {
	content: "\e0a0";
}
.icon-printer-alt:before {
	content: "\e0a1";
}
.icon-planet:before {
	content: "\e0a2";
}
.icon-paste-in:before {
	content: "\e0a3";
}
.icon-os-x:before {
	content: "\e0a4";
}
.icon-navigation-left:before {
	content: "\e0a5";
}
.icon-message:before {
	content: "\e0a6";
}
.icon-lock:before {
	content: "\e0a7";
}
.icon-layers-alt:before {
	content: "\e0a8";
}
.icon-record:before {
	content: "\e0a9";
}
.icon-print:before {
	content: "\e0aa";
}
.icon-plane:before {
	content: "\e0ab";
}
.icon-partly-cloudy:before {
	content: "\e0ac";
}
.icon-ordered-list:before {
	content: "\e0ad";
}
.icon-navigation-last:before {
	content: "\e0ae";
}
.icon-message-unopened:before {
	content: "\e0af";
}
.icon-location-nearby:before {
	content: "\e0b0";
}
.icon-laptop:before {
	content: "\e0b1";
}
.icon-reception:before {
	content: "\e0b2";
}
.icon-price-yen:before {
	content: "\e0b3";
}
.icon-piracy:before {
	content: "\e0b4";
}
.icon-parental-control:before {
	content: "\e0b5";
}
.icon-operator:before {
	content: "\e0b6";
}
.icon-navigation-horizontal:before {
	content: "\e0b7";
}
.icon-message-open:before {
	content: "\e0b8";
}
.icon-lab:before {
	content: "\e0b9";
}
.icon-location-near-me:before {
	content: "\e0ba";
}
.icon-receipt-yen:before {
	content: "\e0bb";
}
.icon-price-pound:before {
	content: "\e0bc";
}
.icon-pin-location:before {
	content: "\e0bd";
}
.icon-parachute-drop:before {
	content: "\e0be";
}
.icon-old-phone:before {
	content: "\e0bf";
}
.icon-merge:before {
	content: "\e0c0";
}
.icon-navigation-first:before {
	content: "\e0c1";
}
.icon-locate:before {
	content: "\e0c2";
}
.icon-keyhole:before {
	content: "\e0c3";
}
.icon-receipt-pound:before {
	content: "\e0c4";
}
.icon-price-euro:before {
	content: "\e0c5";
}
.icon-piggy-bank:before {
	content: "\e0c6";
}
.icon-paper-plane:before {
	content: "\e0c7";
}
.icon-old-key:before {
	content: "\e0c8";
}
.icon-navigation-down:before {
	content: "\e0c9";
}
.icon-megaphone:before {
	content: "\e0ca";
}
.icon-loading:before {
	content: "\e0cb";
}
.icon-keychain:before {
	content: "\e0cc";
}
.icon-receipt-euro:before {
	content: "\e0cd";
}
.icon-price-dollar:before {
	content: "\e0ce";
}
.icon-pie-chart:before {
	content: "\e0cf";
}
.icon-paper-plane-alt:before {
	content: "\e0d0";
}
.icon-notepad:before {
	content: "\e0d1";
}
.icon-navigation-bottom:before {
	content: "\e0d2";
}
.icon-meeting:before {
	content: "\e0d3";
}
.icon-keyboard:before {
	content: "\e0d4";
}
.icon-load:before {
	content: "\e0d5";
}
.icon-receipt-dollar:before {
	content: "\e0d6";
}
.icon-previous:before {
	content: "\e0d7";
}
.icon-pictures:before {
	content: "\e0d8";
}
.icon-notepad-alt:before {
	content: "\e0d9";
}
.icon-paper-bag:before {
	content: "\e0da";
}
.icon-badge:before {
	content: "\e0db";
}
.icon-medicine:before {
	content: "\e0dc";
}
.icon-list:before {
	content: "\e0dd";
}
.icon-key:before {
	content: "\e0de";
}
.icon-receipt-alt:before {
	content: "\e0df";
}
.icon-previous-media:before {
	content: "\e0e0";
}
.icon-pictures-alt:before {
	content: "\e0e1";
}
.icon-pants:before {
	content: "\e0e2";
}
.icon-nodes:before {
	content: "\e0e3";
}
.icon-music:before {
	content: "\e0e4";
}
.icon-readonly:before {
	content: "\e0e5";
}
.icon-presentation:before {
	content: "\e0e6";
}
.icon-pictures-alt-2:before {
	content: "\e0e7";
}
.icon-panel-close:before,
.icon-pannel-close:before {
	content: "\e0e8";
}
.icon-next:before {
	content: "\e0e9";
}
.icon-multiple-windows:before {
	content: "\e0ea";
}
.icon-medical-emergency:before {
	content: "\e0eb";
}
.icon-medal:before {
	content: "\e0ec";
}
.icon-link:before {
	content: "\e0ed";
}
.icon-linux-tux:before {
	content: "\e0ee";
}
.icon-junk:before {
	content: "\e0ef";
}
.icon-item-arrangement:before {
	content: "\e0f0";
}
.icon-iphone:before {
	content: "\e0f1";
}
.icon-lightning:before {
	content: "\e0f2";
}
.icon-map:before {
	content: "\e0f3";
}
.icon-multiple-credit-cards:before {
	content: "\e0f4";
}
.icon-next-media:before {
	content: "\e0f5";
}
.icon-panel-show:before {
	content: "\e0f6";
}
.icon-picture:before {
	content: "\e0f7";
}
.icon-power:before {
	content: "\e0f8";
}
.icon-re-post:before {
	content: "\e0f9";
}
.icon-rate:before {
	content: "\e0fa";
}
.icon-rain:before {
	content: "\e0fb";
}
.icon-radio:before {
	content: "\e0fc";
}
.icon-radio-receiver:before {
	content: "\e0fd";
}
.icon-radio-alt:before {
	content: "\e0fe";
}
.icon-quote:before {
	content: "\e0ff";
}
.icon-qr-code:before {
	content: "\e100";
}
.icon-pushpin:before {
	content: "\e101";
}
.icon-pulse:before {
	content: "\e102";
}
.icon-projector:before {
	content: "\e103";
}
.icon-play:before {
	content: "\e104";
}
.icon-playing-cards:before {
	content: "\e105";
}
.icon-playlist:before {
	content: "\e106";
}
.icon-plugin:before {
	content: "\e107";
}
.icon-podcast:before {
	content: "\e108";
}
.icon-poker-chip:before {
	content: "\e109";
}
.icon-poll:before {
	content: "\e10a";
}
.icon-post-it:before {
	content: "\e10b";
}
.icon-pound-bag:before {
	content: "\e10c";
}
.icon-power-outlet:before {
	content: "\e10d";
}
.icon-photo-album:before {
	content: "\e10e";
}
.icon-phone:before {
	content: "\e10f";
}
.icon-phone-ring:before {
	content: "\e110";
}
.icon-people:before {
	content: "\e111";
}
.icon-people-female:before {
	content: "\e112";
}
.icon-people-alt:before {
	content: "\e113";
}
.icon-people-alt-2:before {
	content: "\e114";
}
.icon-pc:before {
	content: "\e115";
}
.icon-pause:before {
	content: "\e116";
}
.icon-path:before {
	content: "\e117";
}
.icon-out:before {
	content: "\e118";
}
.icon-outbox:before {
	content: "\e119";
}
.icon-outdent:before {
	content: "\e11a";
}
.icon-page-add:before {
	content: "\e11b";
}
.icon-page-down:before {
	content: "\e11c";
}
.icon-page-remove:before {
	content: "\e11d";
}
.icon-page-restricted:before {
	content: "\e11e";
}
.icon-page-up:before {
	content: "\e11f";
}
.icon-paint-roller:before {
	content: "\e120";
}
.icon-palette:before {
	content: "\e121";
}
.icon-newspaper:before {
	content: "\e122";
}
.icon-newspaper-alt:before {
	content: "\e123";
}
.icon-network-alt:before {
	content: "\e124";
}
.icon-navigational-arrow:before {
	content: "\e125";
}
.icon-navigation:before {
	content: "\e126";
}
.icon-navigation-vertical:before {
	content: "\e127";
}
.icon-navigation-up:before {
	content: "\e128";
}
.icon-navigation-top:before {
	content: "\e129";
}
.icon-navigation-road:before {
	content: "\e12a";
}
.icon-navigation-right:before {
	content: "\e12b";
}
.icon-microscope:before {
	content: "\e12c";
}
.icon-mindmap:before {
	content: "\e12d";
}
.icon-molecular-network:before {
	content: "\e12e";
}
.icon-molecular:before {
	content: "\e12f";
}
.icon-mountain:before {
	content: "\e130";
}
.icon-mouse-cursor:before {
	content: "\e131";
}
.icon-mouse:before {
	content: "\e132";
}
.icon-movie-alt:before {
	content: "\e133";
}
.icon-map-marker:before {
	content: "\e134";
}
.icon-movie:before {
	content: "\e135";
}
.icon-map-location:before {
	content: "\e136";
}
.icon-map-alt:before {
	content: "\e137";
}
.icon-male-symbol:before {
	content: "\e138";
}
.icon-male-and-female:before {
	content: "\e139";
}
.icon-mailbox:before {
	content: "\e13a";
}
.icon-magnet:before {
	content: "\e13b";
}
.icon-loupe:before {
	content: "\e13c";
}
.icon-mobile:before {
	content: "\e13d";
}
.icon-logout:before {
	content: "\e13e";
}
.icon-log-out:before {
	content: "\e13f";
}
.icon-layers:before {
	content: "\e140";
}
.icon-left-double-arrow:before {
	content: "\e141";
}
.icon-layout:before {
	content: "\e142";
}
.icon-legal:before {
	content: "\e143";
}
.icon-lense:before {
	content: "\e144";
}
.icon-library:before {
	content: "\e145";
}
.icon-light-down:before {
	content: "\e146";
}
.icon-light-up:before {
	content: "\e147";
}
.icon-lightbulb-active:before {
	content: "\e148";
}
.icon-lightbulb:before {
	content: "\e149";
}
.icon-ipad:before {
	content: "\e14a";
}
.icon-invoice:before {
	content: "\e14b";
}
.icon-info:before {
	content: "\e14c";
}
.icon-infinity:before {
	content: "\e14d";
}
.icon-indent:before {
	content: "\e14e";
}
.icon-inbox:before {
	content: "\e14f";
}
.icon-inbox-full:before {
	content: "\e150";
}
.icon-inactive-line:before {
	content: "\e151";
}
.icon-imac:before {
	content: "\e152";
}
.icon-hourglass:before {
	content: "\e153";
}
.icon-home:before {
	content: "\e154";
}
.icon-grid:before {
	content: "\e155";
}
.icon-food:before {
	content: "\e156";
}
.icon-favorite:before {
	content: "\e157";
}
.icon-door-open-alt:before {
	content: "\e158";
}
.icon-diagnostics:before {
	content: "\e159";
}
.icon-contrast:before {
	content: "\e15a";
}
.icon-coins-dollar-alt:before {
	content: "\e15b";
}
.icon-circle-dotted-active:before {
	content: "\e15c";
}
.icon-cinema:before {
	content: "\e15d";
}
.icon-chip:before {
	content: "\e15e";
}
.icon-chip-alt:before {
	content: "\e15f";
}
.icon-chess:before {
	content: "\e160";
}
.icon-checkbox:before {
	content: "\e161";
}
.icon-checkbox-empty:before {
	content: "\e162";
}
.icon-checkbox-dotted:before {
	content: "\e163";
}
.icon-checkbox-dotted-active:before {
	content: "\e164";
}
.icon-check:before {
	content: "\e165";
}
.icon-chat:before {
	content: "\e166";
}
.icon-chat-active:before {
	content: "\e167";
}
.icon-chart:before {
	content: "\e168";
}
.icon-chart-curve:before {
	content: "\e169";
}
.icon-certificate:before {
	content: "\e16a";
}
.icon-categories:before {
	content: "\e16b";
}
.icon-cash-register:before {
	content: "\e16c";
}
.icon-car:before {
	content: "\e16d";
}
.icon-caps-lock:before {
	content: "\e16e";
}
.icon-candy:before {
	content: "\e16f";
}
.icon-circle-dotted:before {
	content: "\e170";
}
.icon-circuits:before {
	content: "\e171";
}
.icon-circus:before {
	content: "\e172";
}
.icon-client:before {
	content: "\e173";
}
.icon-clothes-hanger:before {
	content: "\e174";
}
.icon-cloud-drive:before {
	content: "\e175";
}
.icon-cloud-upload:before {
	content: "\e176";
}
.icon-cloud:before {
	content: "\e177";
}
.icon-cloudy:before {
	content: "\e178";
}
.icon-clubs:before {
	content: "\e179";
}
.icon-cocktail:before {
	content: "\e17a";
}
.icon-code:before {
	content: "\e17b";
}
.icon-coffee:before {
	content: "\e17c";
}
.icon-coin-dollar:before {
	content: "\e17d";
}
.icon-coin-pound:before {
	content: "\e17e";
}
.icon-coin-yen:before {
	content: "\e17f";
}
.icon-coin:before {
	content: "\e180";
}
.icon-coins-alt:before {
	content: "\e181";
}
.icon-console:before {
	content: "\e182";
}
.icon-connection:before {
	content: "\e183";
}
.icon-compress:before {
	content: "\e184";
}
.icon-company:before {
	content: "\e185";
}
.icon-command:before {
	content: "\e186";
}
.icon-coin-euro:before {
	content: "\e187";
}
.icon-combination-lock:before {
	content: "\e188";
}
.icon-combination-lock-open:before {
	content: "\e189";
}
.icon-comb:before {
	content: "\e18a";
}
.icon-columns:before {
	content: "\e18b";
}
.icon-colorpicker:before {
	content: "\e18c";
}
.icon-color-bucket:before {
	content: "\e18d";
}
.icon-coins:before {
	content: "\e18e";
}
.icon-coins-yen:before {
	content: "\e18f";
}
.icon-coins-yen-alt:before {
	content: "\e190";
}
.icon-coins-pound:before {
	content: "\e191";
}
.icon-coins-pound-alt:before {
	content: "\e192";
}
.icon-coins-euro:before {
	content: "\e193";
}
.icon-coins-euro-alt:before {
	content: "\e194";
}
.icon-coins-dollar:before {
	content: "\e195";
}
.icon-conversation-alt:before {
	content: "\e196";
}
.icon-conversation:before {
	content: "\e197";
}
.icon-coverflow:before {
	content: "\e198";
}
.icon-credit-card-alt:before {
	content: "\e199";
}
.icon-credit-card:before {
	content: "\e19a";
}
.icon-crop:before {
	content: "\e19b";
}
.icon-crosshair:before {
	content: "\e19c";
}
.icon-crown-alt:before {
	content: "\e19d";
}
.icon-crown:before {
	content: "\e19e";
}
.icon-cupcake:before {
	content: "\e19f";
}
.icon-curve:before {
	content: "\e1a0";
}
.icon-cut:before {
	content: "\e1a1";
}
.icon-dashboard:before {
	content: "\e1a2";
}
.icon-defrag:before {
	content: "\e1a3";
}
.icon-delete:before {
	content: "\e1a4";
}
.icon-delete-key:before {
	content: "\e1a5";
}
.icon-departure:before {
	content: "\e1a6";
}
.icon-desk:before {
	content: "\e1a7";
}
.icon-desktop:before {
	content: "\e1a8";
}
.icon-donate:before {
	content: "\e1a9";
}
.icon-dollar-bag:before {
	content: "\e1aa";
}
.icon-documents:before {
	content: "\e1ab";
}
.icon-document:before {
	content: "\e1ac";
}
.icon-document-dashed-line:before {
	content: "\e1ad";
}
.icon-dock-connector:before {
	content: "\e1ae";
}
.icon-dna:before {
	content: "\e1af";
}
.icon-display:before {
	content: "\e1b0";
}
.icon-disk-image:before {
	content: "\e1b1";
}
.icon-disc:before {
	content: "\e1b2";
}
.icon-directions:before {
	content: "\e1b3";
}
.icon-directions-alt:before {
	content: "\e1b4";
}
.icon-diploma:before {
	content: "\e1b5";
}
.icon-diploma-alt:before {
	content: "\e1b6";
}
.icon-dice:before {
	content: "\e1b7";
}
.icon-diamonds:before {
	content: "\e1b8";
}
.icon-diamond:before {
	content: "\e1b9";
}
.icon-diagonal-arrow:before {
	content: "\e1ba";
}
.icon-diagonal-arrow-alt:before {
	content: "\e1bb";
}
.icon-door-open:before {
	content: "\e1bc";
}
.icon-download-alt:before {
	content: "\e1bd";
}
.icon-download:before {
	content: "\e1be";
}
.icon-drop:before {
	content: "\e1bf";
}
.icon-eco:before {
	content: "\e1c0";
}
.icon-economy:before {
	content: "\e1c1";
}
.icon-edit:before {
	content: "\e1c2";
}
.icon-eject:before {
	content: "\e1c3";
}
.icon-employee:before {
	content: "\e1c4";
}
.icon-energy-saving-bulb:before {
	content: "\e1c5";
}
.icon-enter:before {
	content: "\e1c6";
}
.icon-equalizer:before {
	content: "\e1c7";
}
.icon-escape:before {
	content: "\e1c8";
}
.icon-ethernet:before {
	content: "\e1c9";
}
.icon-euro-bag:before {
	content: "\e1ca";
}
.icon-exit-fullscreen:before {
	content: "\e1cb";
}
.icon-eye:before {
	content: "\e1cc";
}
.icon-facebook-like:before {
	content: "\e1cd";
}
.icon-factory:before {
	content: "\e1ce";
}
.icon-font:before {
	content: "\e1cf";
}
.icon-folders:before {
	content: "\e1d0";
}
.icon-folder:before, .icon-folder-close:before {
	content: "\e1d1";
}
.icon-folder-outline:before {
	content: "\e1d2";
}
.icon-folder-open:before {
	content: "\e1d3";
}
.icon-flowerpot:before {
	content: "\e1d4";
}
.icon-flashlight:before {
	content: "\e1d5";
}
.icon-flash:before {
	content: "\e1d6";
}
.icon-flag:before {
	content: "\e1d7";
}
.icon-flag-alt:before {
	content: "\e1d8";
}
.icon-firewire:before {
	content: "\e1d9";
}
.icon-firewall:before {
	content: "\e1da";
}
.icon-fire:before {
	content: "\e1db";
}
.icon-fingerprint:before {
	content: "\e1dc";
}
.icon-filter:before {
	content: "\e1dd";
}
.icon-filter-arrows:before {
	content: "\e1de";
}
.icon-files:before {
	content: "\e1df";
}
.icon-file-cabinet:before {
	content: "\e1e0";
}
.icon-female-symbol:before {
	content: "\e1e1";
}
.icon-footprints:before {
	content: "\e1e2";
}
.icon-hammer:before {
	content: "\e1e3";
}
.icon-hand-active-alt:before {
	content: "\e1e4";
}
.icon-forking:before {
	content: "\e1e5";
}
.icon-hand-active:before {
	content: "\e1e6";
}
.icon-hand-pointer-alt:before {
	content: "\e1e7";
}
.icon-hand-pointer:before {
	content: "\e1e8";
}
.icon-handprint:before {
	content: "\e1e9";
}
.icon-handshake:before {
	content: "\e1ea";
}
.icon-handtool:before {
	content: "\e1eb";
}
.icon-hard-drive:before {
	content: "\e1ec";
}
.icon-help:before {
	content: "\e1ed";
}
.icon-graduate:before {
	content: "\e1ee";
}
.icon-gps:before {
	content: "\e1ef";
}
.icon-help-alt:before {
	content: "\e1f0";
}
.icon-height:before {
	content: "\e1f1";
}
.icon-globe:before {
	content: "\e1f2";
}
.icon-hearts:before {
	content: "\e1f3";
}
.icon-globe-inverted-europe-africa:before {
	content: "\e1f4";
}
.icon-headset:before {
	content: "\e1f5";
}
.icon-globe-inverted-asia:before {
	content: "\e1f6";
}
.icon-headphones:before {
	content: "\e1f7";
}
.icon-globe-inverted-america:before {
	content: "\e1f8";
}
.icon-hd:before {
	content: "\e1f9";
}
.icon-globe-europe-africa:before,
.icon-globe-europe---africa:before {
	content: "\e1fa";
}
.icon-hat:before {
	content: "\e1fb";
}
.icon-globe-asia:before {
	content: "\e1fc";
}
.icon-globe-alt:before {
	content: "\e1fd";
}
.icon-hard-drive-alt:before {
	content: "\e1fe";
}
.icon-glasses:before {
	content: "\e1ff";
}
.icon-gift:before {
	content: "\e200";
}
.icon-handtool-alt:before {
	content: "\e201";
}
.icon-geometry:before {
	content: "\e202";
}
.icon-game:before {
	content: "\e203";
}
.icon-fullscreen:before {
	content: "\e204";
}
.icon-fullscreen-alt:before {
	content: "\e205";
}
.icon-frame:before {
	content: "\e206";
}
.icon-frame-alt:before {
	content: "\e207";
}
.icon-camera-roll:before {
	content: "\e208";
}
.icon-bookmark:before {
	content: "\e209";
}
.icon-bill:before {
	content: "\e20a";
}
.icon-baby-stroller:before {
	content: "\e20b";
}
.icon-alarm-clock:before {
	content: "\e20c";
}
.icon-addressbook:before,
.icon-adressbook:before {
	content: "\e20d";
}
.icon-add:before {
	content: "\e20e";
}
.icon-activity:before {
	content: "\e20f";
}
.icon-untitled:before {
	content: "\e210";
}
.icon-glasses:before {
	content: "\e211";
}
.icon-camcorder:before {
	content: "\e212";
}
.icon-calendar:before {
	content: "\e213";
}
.icon-calendar-alt:before {
	content: "\e214";
}
.icon-calculator:before {
	content: "\e215";
}
.icon-bus:before {
	content: "\e216";
}
.icon-burn:before {
	content: "\e217";
}
.icon-bulleted-list:before {
	content: "\e218";
}
.icon-bug:before {
	content: "\e219";
}
.icon-brush:before {
	content: "\e21a";
}
.icon-brush-alt:before {
	content: "\e21b";
}
.icon-brush-alt-2:before {
	content: "\e21c";
}
.icon-browser-window:before {
	content: "\e21d";
}
.icon-briefcase:before {
	content: "\e21e";
}
.icon-brick:before {
	content: "\e21f";
}
.icon-brackets:before {
	content: "\e220";
}
.icon-box:before {
	content: "\e221";
}
.icon-box-open:before {
	content: "\e222";
}
.icon-box-alt:before {
	content: "\e223";
}
.icon-books:before {
	content: "\e224";
}
.icon-billboard:before {
	content: "\e225";
}
.icon-bills-dollar:before {
	content: "\e226";
}
.icon-bills-euro:before {
	content: "\e227";
}
.icon-bills-pound:before {
	content: "\e228";
}
.icon-bills-yen:before {
	content: "\e229";
}
.icon-bills:before {
	content: "\e22a";
}
.icon-binarycode:before {
	content: "\e22b";
}
.icon-binoculars:before {
	content: "\e22c";
}
.icon-bird:before {
	content: "\e22d";
}
.icon-birthday-cake:before {
	content: "\e22e";
}
.icon-blueprint:before {
	content: "\e22f";
}
.icon-block:before {
	content: "\e230";
}
.icon-bluetooth:before {
	content: "\e231";
}
.icon-boat-shipping:before {
	content: "\e232";
}
.icon-bomb:before {
	content: "\e233";
}
.icon-book-alt-2:before {
	content: "\e234";
}
.icon-bones:before {
	content: "\e235";
}
.icon-book-alt:before {
	content: "\e236";
}
.icon-book:before {
	content: "\e237";
}
.icon-bill-yen:before {
	content: "\e238";
}
.icon-award:before {
	content: "\e239";
}
.icon-bill-pound:before {
	content: "\e23a";
}
.icon-autofill:before {
	content: "\e23b";
}
.icon-bill-euro:before {
	content: "\e23c";
}
.icon-auction-hammer:before {
	content: "\e23d";
}
.icon-bill-dollar:before {
	content: "\e23e";
}
.icon-attachment:before {
	content: "\e23f";
}
.icon-bell:before {
	content: "\e240";
}
.icon-article:before {
	content: "\e241";
}
.icon-bell-off:before {
	content: "\e242";
}
.icon-art-easel:before {
	content: "\e243";
}
.icon-beer-glass:before {
	content: "\e244";
}
.icon-arrow-up:before {
	content: "\e245";
}
.icon-battery-low:before {
	content: "\e246";
}
.icon-arrow-right:before {
	content: "\e247";
}
.icon-battery-full:before {
	content: "\e248";
}
.icon-arrow-left:before {
	content: "\e249";
}
.icon-bars:before {
	content: "\e24a";
}
.icon-arrow-down:before {
	content: "\e24b";
}
.icon-barcode:before {
	content: "\e24c";
}
.icon-arrivals:before {
	content: "\e24d";
}
.icon-bar-chart:before {
	content: "\e24e";
}
.icon-application-window:before {
	content: "\e24f";
}
.icon-band-aid:before {
	content: "\e250";
}
.icon-application-window-alt:before {
	content: "\e251";
}
.icon-ball:before {
	content: "\e252";
}
.icon-application-error:before {
	content: "\e253";
}
.icon-badge-restricted:before {
	content: "\e254";
}
.icon-app:before {
	content: "\e255";
}
.icon-badge-remove:before {
	content: "\e256";
}
.icon-anchor:before {
	content: "\e257";
}
.icon-badge-count:before {
	content: "\e258";
}
.icon-alt:before {
	content: "\e259";
}
.icon-badge-add:before {
	content: "\e25a";
}
.icon-alert:before {
	content: "\e25b";
}
.icon-backspace:before {
	content: "\e25c";
}
.icon-alert-alt:before {
	content: "\e25d";
}
.icon-section:before {
    content: "\e24f";
}
