// Core variables and mixins
@import "fonts.less"; // Loading fonts
@import "variables.less"; // Modify this for custom colors, font-sizes, etc
@import "mixins.less";
@import "buttons.less";
@import "forms.less";

// Grid system and page structure
@import "../../lib/bootstrap/less/scaffolding.less";
@import "../../lib/bootstrap/less/grid.less";
@import "../../lib/bootstrap/less/layouts.less";



html { 
  background: url('../img/installer.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  
  font-family: @baseFontFamily;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
  color: @textColor;

  vertical-align: center;
  text-align: center;
}

#logo{
	position: absolute;
	top: 20px;
	left: 20px;
	opacity: 0.8
}

#installer{
	margin: auto;
	background: rgba(255, 255, 255, 1);
	height: 400px;
}

input.ng-dirty.ng-invalid{border-color: #b94a48; color: #b94a48;}

.disabled{
  opacity: 0.6;
}

.controls{
	text-align: left
}

.controls small{display: block; color: @gray;}

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.umb-loader{
background-color: @blue;
margin-top:0;
margin-left:-100%;
-moz-animation-name:bounce_loadingProgressG;
-moz-animation-duration:1s;
-moz-animation-iteration-count:infinite;
-moz-animation-timing-function:linear;
-webkit-animation-name:bounce_loadingProgressG;
-webkit-animation-duration:1s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-timing-function:linear;
-ms-animation-name:bounce_loadingProgressG;
-ms-animation-duration:1s;
-ms-animation-iteration-count:infinite;
-ms-animation-timing-function:linear;
-o-animation-name:bounce_loadingProgressG;
-o-animation-duration:1s;
-o-animation-iteration-count:infinite;
-o-animationtiming-function:linear;
animation-name:bounce_loadingProgressG;
animation-duration:1s;
animation-iteration-count:infinite;
animation-timing-function:linear;
width:100%;
height:1px;
}


    @-moz-keyframes bounce_loadingProgressG{
    0%{
    margin-left:-100%;
    }

    100%{
    margin-left:100%;
    }

    }

    @-webkit-keyframes bounce_loadingProgressG{
    0%{
    margin-left:-100%;
    }

    100%{
    margin-left:100%;
    }

    }

    @-ms-keyframes bounce_loadingProgressG{
    0%{
    margin-left:-100%;
    }

    100%{
    margin-left:100%;
    }

    }

    @-o-keyframes bounce_loadingProgressG{
    0%{
    margin-left:-100%;
    }

    100%{
    margin-left:100%;
    }

    }

    @keyframes bounce_loadingProgressG{
    0%{
    margin-left:-100%;
    }
    100%{
    margin-left:100%;
    }
}

//loader defaults
.umb-loader{
	height: 10px; margin: 10px 10px 10px 10px;
}