
.umb-dialog .propertyItemheader {
    width: 140px !Important;
}

.umb-dialog .diffDropdown {
    width: 400px;
}

.umb-dialog .diffPanel {
    height: 400px;
}


.umb-dialog .diff {
    margin-top: 10px;
    height: 100%;
    overflow: auto;
    border-top: 1px solid @gray-8;
    border-top: 1px solid @gray-8;
    padding: 5px;
}

.umb-dialog .diff table {
    width: 95%;
    max-width: 95%;
    margin: 0 3px;
}

.umb-dialog .diff table th {
    padding: 5px;
    width: 25%;
    border-bottom: 1px solid @gray-8;
}

.umb-dialog .diff table td {
    border-bottom: 1px solid @gray-8;
    padding: 3px;
}

.umb-dialog .diff del {
    background: rgb(255, 230, 230) none repeat scroll 0%;
    -moz-background-clip: -moz-initial;
    -moz-background-origin: -moz-initial;
    -moz-background-inline-policy: -moz-initial;
}

.umb-dialog .diff ins {
    background: rgb(230, 255, 230) none repeat scroll 0%;
    -moz-background-clip: -moz-initial;
    -moz-background-origin: -moz-initial;
    -moz-background-inline-policy: -moz-initial;
}

.umb-dialog .diff .diffnotice {
    text-align: center;
    margin-bottom: 10px;
}
