// Listview
// -------------------------

.umb-listview{width: auto !important;}
.umb-listview .dropdown-menu {
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0);
}

.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus, 
.dropdown-submenu:hover > a, 
.dropdown-submenu:focus > a {
  color: @black;
  background: @grayLighter;
}

.umb-listview table {
	border: 1px solid @grayLight;
}

.umb-listview table caption {
  background: @white;
  text-align: left;
  vertical-align: middle;
}

.umb-sub-header {
  padding: 0 0 20px 0
}

/* listview search */
.form-search {
    .inner-addon {
        position: relative;

        [class^="icon-"], [class*=" icon-"] {
            position: absolute;
            padding: 5px 8px;
            pointer-events: none;
            top: 0;
        }

        input[type="text"] {
            width: 190px;
        }
    }

    /* align icon */
    .left-addon [class^="icon-"], .left-addon [class*=" icon-"] { left: 0; right: inherit; }
    .right-addon [class^="icon-"], .right-addon [class*=" icon-"] { right: 0; left: inherit; }

    /* add padding */
    .left-addon input[type="text"]  { padding-left: 30px !important; padding-right: 6px; }
    .right-addon input[type="text"] { padding-right: 30px; padding-left: 6px !important; }
}

.umb-listview table form {
  position: relative;
  margin: 0;
}

.umb-listview table input[type="text"] {
  background: none;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  width: 60px;
  padding: 4px 0 4px 20px;
  border: 1px solid @grayLight;
}

.umb-listview table input::-webkit-input-placeholder {
   color: @gray;
}

.umb-listview table input:-moz-placeholder {
   color: @gray;
}

.umb-listview table input::-moz-placeholder {
   color: @gray;
}

.umb-listview table input:-ms-input-placeholder
 {
   color: @gray;
}

.umb-listview table input[type="text"]:focus {
  width: 200px;
  border: 1px solid @grayLight;
  background: @white;
  color: @black
}

.umb-listview table thead a {
    cursor: default;
}
.umb-listview table thead a:hover {
    text-decoration: none;
}

.umb-listview table thead a.sortable {
    cursor: pointer;
}
.umb-listview table thead a.sortable span:hover {
    text-decoration: underline;
}

.umb-listview .icon-star {
  color: @grayLight
}

.umb-listview .selected i.icon, .umb-listview tbody tr:hover i.icon{display: none}
.umb-listview .selected input[type="checkbox"], 
.umb-listview tr:hover input[type="checkbox"]{display: inline-block !important;}
.umb-listview .inactive{color: @grayLight;}

.umb-listview .selected td{font-weight: bold;}

.umb-listview table thead {
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: @grayLighter;
}

.umb-listview table tfoot {
	background: @grayLighter;
}

.umb-listview table tfoot td:last-child {
  border-left: none
}

.umb-listview table tfoot th {
	padding: 0 20px;
}

.umb-listview .label {
  color: @black;
  text-shadow:none;
  background: @grayLighter;
  border: 1px solid @grayLight;
  font-size: 11px;
  font-weight: 400
}

.umb-listview .table-striped tbody > tr:nth-child(even) > td, .umb-listview .table-striped tbody > tr:nth-child(even) > th {
  background-color: @grayLighter
}

.table-striped tbody > tr:nth-child(odd) > td, .table-striped tbody > tr:nth-child(odd) > th {
  background: none
}

.umb-listview .pagination {
  margin: 0;
}

.umb-listview .table th {
  font-weight: normal
}

.umb-listview .showing {
  padding: 8px 4px 2px 4px;
  background: none;
  font-size: 11px;
  color: #b0b0b0
}

.umb-listview .pagination ul {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
  background: none
}

.umb-listview .pagination ul > li > a, .pagination ul > li > span {
  border:none;
  padding: 8px 4px 2px 4px;
  background: none;
  font-size: 11px;
  color: #b0b0b0
}

.umb-listview .pagination ul > li.active > a, .umb-listview .pagination ul > li > a:hover {
  color: @black;
}

.umb-listview .pagination ul > li.disabled > a, .umb-listview .pagination ul > li.disabled > a:hover {
  color: @grayLight;
}

/* TEMP */

.umb-listview .table-striped tbody td {
  position: relative
}


.umb-listview  .table-striped thead input[type="checkbox"] {
  margin-left: 7px;
}

.umb-listview  .table-striped tbody input[type="checkbox"] {
  display: none;
  margin-left: 7px;
  z-index: 5;
}

.umb-listview .table-striped tbody i {
  display: block;
  top: 10px;
  left:6px;
  padding: 0 0 0 4px;
  z-index: 6;
  background: @white;
  width: 20px;
  height: 20px;
}

.umb-listview .table-striped tbody > tr:nth-child(even) > td i, .umb-listview .table-striped tbody > tr:nth-child(even) > th i{
  background-color: @grayLighter
}

.table-striped tbody i:hover {
  display: none !important
}
