/* contains variables to make available on the :root pseudo element - ie colors, base sizing/padding units 
   makes package developers happy :)
*/

:root {
    --blue: @blue;
    --blueMid: @blueMid;
    --blueDark: @blueDark;
    --blueExtraDark: @blueExtraDark;
    --blueLight: @blueLight;
    --blueNight: @blueNight;
    
    --pink: @pink;
    --pinkLight: @pinkLight;
    --pinkRedLight: @pinkRedLight;
    
    --brown: @brown;
    --brownLight: @brownLight;
    --brownGrayLight: @brownGrayLight;
    --brownGrayExtraLight: @brownGrayExtraLight;
        
    --error: @red;    
    --warning: @orange;
    --success: @green;
    
    --brandPrimary: @blueExtraDark;
    --brandSecondary: @pinkLight;
    
    --paddingMini: @paddingMini;
    --paddingSmall: @paddingSmall;
    --paddingLarge: @paddingLarge;
}