// Styles for the RTE, the whole stylesheet is used in Tiny and these are specific to it's content
// -------------------------

.umb-rte {
    position: relative;
    
    .umb-property-editor--limit-width();

    .-loading {
        position: absolute;
    }
}

.umb-rte .mce-tinymce {
    box-shadow: none;
    
}

.umb-rte .umb-rte-editor{
    min-height: 100px;
}

.umb-rte .mce-content-body {
    background-color: @white;
    line-height: 1.5em;
    border: 1px solid @gray-8;
    padding:10px;
}

.umb-rte .mce-container {
    box-sizing: border-box;
}

/* make sure the menu wraps */
.umb-rte .mce-top-part.mce-container div {
    white-space: normal;
}

.umb-rte .mce-tinymce .mce-edit-area {
    border-radius: 0px !important;
}

/*
.mce-panel {
    background: @gray-10 !important;
    border-color: @gray-8 !important;
}

.mce-btn-group, .mce-btn {
    border: none !important;
    background: none !important;
}
*/

.mce-ico {
    font-size: 12px !important;
    /*color: @gray-1 !important;*/
}

/* Special case to support helviticons for the tiny mce button controls */
.mce-ico.mce-i-custom[class^="icon-"],
.mce-ico.mce-i-custom[class*=" icon-"] {
    font-family: icomoon;
    font-size: 16px !important;
}


/* pre-value editor */
.rte-editor-preval .control-group .controls > div > label .mce-ico {
    line-height: 20px;
}
