//
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------


// Grays
// -------------------------
@black:                 #000;
@blackLight:			#1D1D1D;
@grayDarker:            #222;
@grayDark:              #343434;
@gray:                  #555;
@grayMed:               #7F7F7F;
@blueGrey:              #607D8B;
@grayLight:             #D9D9D9;
@grayLighter:           #F8F8F8;
@white:                 #FFF;
@grayIcon:              #9E9E9E;

// Accent colors
// -------------------------



@blue:                  #2E8AEA;
@blueDark:              #0064CD;
@blueLight:             #ADD8E6;
@green:                 #46A546;
@red:                   #9D261D;
@yellow:                #FFC40D;
@orange:                #DF7F48;
@pink:                  #C3325F;


// Colors
// -------------------------

@turquoise-d1: 			#00AEA2;
@turquoise:				#03BFB3;
@turquoise-l1:			#42CFC5;
@turquoise-l2:			#81DED8;
@turquoise-l3:			#C0F0ED;
@turquoise-washed:		#F3FDFC;

@purple-d2:			    #1D1333;
@purple-d1:			    #2E2246;
@purple:                #413659;
@purple-l1:			    #675E7A;
@purple-l2:			    #8D869B;
@purple-l3:			    #B3AFBD;
@purple-washed:		    #F6F3FD;

// UI Colors
@red-d1:                #F02E28;
@red:                   #FE3E39;
@red-l1:			    #FE6561;
@red-l2:			    #FE8B88;
@red-l3:			    #FFB2B0;
@red-washed:		    #FFECEB;

@yellow-d2:             #F0AC00;
@yellow-d1:             #FFC011;
@yellow:                #FFCE38;
@yellow-l1:			    #FFD861;
@yellow-l2:			    #FFE28A;
@yellow-l3:			    #FFECB0;
@yellow-washed:		    #FFFAEB;

@green-d1:              #1FB572;
@green:                 #35C786;
@green-l1:			    #4ECF95;
@green-l2:			    #79E1B2;
@green-l3:			    #A6F0CF;
@green-washed:		    #EBFFF6;

// Grayscale
@gray-1:                #1E1C1C;
@gray-2:                #303033;
@gray-3:                #515054;
@gray-4:                #68676B;
@gray-5:                #817F85;
@gray-6:                #A2A1A6;
@gray-7:                #BBBABF;
@gray-8:                #D8D7D9;
@gray-9:                #E9E9EB;
@gray-10:               #F3F3F5;


// Additional Icon Colours
@brownIcon:             #795548;
@blueIcon:              #2196F3;
@lightBlueIcon:         #03A9F4;
@cyanIcon:              #00BCD4;
@greenIcon:             #4CAF50;
@lightGreenIcon:        #8BC34A;
@limeIcon:              #CDDC39;
@yellowIcon:            #FFEB3B;
@amberIcon:             #FFC107;
@orangeIcon:            #FF9800;
@deepOrangeIcon:        #FF5722;
@redIcon:               #F44336;
@pinkIcon:              #E91E63;
@purpleIcon:            #9C27B0;
@deepPurpleIcon:        #673AB7;
@indigoIcon:            #3F51B5;





.red{color: @red;}
.blue{color: @blue;}
.black{color: @black;}
.turquoise{color: @turquoise;}
.turquoise-d1{color: @turquoise-d1;}


//icon colors for tree icons
.color-red, .color-red i{color: @red-d1 !important;}
.color-blue, .color-blue i{color: @turquoise-d1 !important;}
.color-orange, .color-orange i{color: @orange !important;}
.color-green, .color-green i{color: @green-d1 !important;}
.color-yellow, .color-yellow i{color: @yellowIcon !important;}

/* Colors based on https://zavoloklom.github.io/material-design-color-palette/colors.html */
.btn-color-black {background-color: @black;}
.color-black i { color: @black;}


.btn-color-blue-grey {background-color: @blueGrey;}
.color-blue-grey, .color-blue-grey i { color: @blueGrey !important;}


.btn-color-grey{background-color: @grayIcon;}
.color-grey, .color-grey i { color: @grayIcon !important; }


.btn-color-brown{background-color: @brownIcon;}
.color-brown, .color-brown i { color: @brownIcon !important; }

.btn-color-blue{background-color: @blueIcon;}
.color-blue, .color-blue i { color: @blueIcon !important; }

.btn-color-light-blue{background-color: @lightBlueIcon;}
.color-light-blue, .color-light-blue i {color: @lightBlueIcon !important;}

.btn-color-cyan{background-color: @cyanIcon;}
.color-cyan, .color-cyan i { color: @cyanIcon !important; }

.btn-color-green{background-color: @greenIcon;}
.color-green, .color-green i { color: @greenIcon !important; }

.btn-color-light-green{background-color: @lightGreenIcon;}
.color-light-green, .color-light-green i {color: @lightGreenIcon !important; }

.btn-color-lime{background-color: @limeIcon;}
.color-lime, .color-lime i { color: @limeIcon !important; }

.btn-color-yellow{background-color: @yellowIcon;}
.color-yellow, .color-yellow i { color: @yellowIcon !important; }

.btn-color-amber{background-color: @amberIcon;}
.color-amber, .color-amber i { color: @amberIcon !important; }

.btn-color-orange{background-color: @orangeIcon;}
.color-orange, .color-orange i { color: @orangeIcon !important; }

.btn-color-deep-orange{background-color: @deepOrangeIcon;}
.color-deep-orange, .color-deep-orange i { color: @deepOrangeIcon !important; }

.btn-color-red{background-color: @redIcon;}
.color-red, .color-red i { color: @redIcon !important; }

.btn-color-pink{background-color: @pinkIcon;}
.color-pink, .color-pink i { color: @pinkIcon !important; }

.btn-color-purple{background-color: @purpleIcon;}
.color-purple, .color-purple i { color: @purpleIcon !important; }

.btn-color-deep-purple{background-color: @deepPurpleIcon;}
.color-deep-purple, .color-deep-purple i { color: @deepPurpleIcon !important; }

.btn-color-indigo{background-color: @indigoIcon;}
.color-indigo, .color-indigo i { color: @indigoIcon !important; }



// Scaffolding
// -------------------------
@bodyBackground:        @white;
@textColor:             @gray-2;


// Links
// -------------------------
@linkColor:             @black;
@linkColorHover:        darken(@linkColor, 15%);

// Typography
// -------------------------
@sansFontFamily:        "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
@serifFontFamily:       Georgia, "Times New Roman", Times, serif;
@monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace;

@baseFontSize:          15px;
@baseFontFamily:        @sansFontFamily;
@baseLineHeight:        20px;
@altFontFamily:         @serifFontFamily;

@headingsFontFamily:    inherit; // empty to use BS default, @baseFontFamily
@headingsFontWeight:    500;    // instead of browser default, bold
@headingsColor:         inherit; // empty to use BS default, @textColor


// Component sizing
// -------------------------
// Based on 14px font-size and 20px line-height

@fontSizeLarge:         @baseFontSize * 1.25; // ~18px
@fontSizeMedium:        @baseFontSize * 1.15; // ~14px
@fontSizeSmall:         @baseFontSize * 0.85; // ~12px
@fontSizeMini:          @baseFontSize * 0.75; // ~11px

@paddingLarge:          11px 19px; // 44px
@paddingSmall:          2px 10px;  // 26px
@paddingMini:           0 6px;   // 22px


// Disabled this to keep consistency throughout the backoffice UI. Untill a better solution is thought up, this will do.
@baseBorderRadius:      3px; // 2px;
@borderRadiusLarge:     3px; // 6px;
@borderRadiusSmall:     3px; // 3px;


// Tables
// -------------------------
@tableBackground:                   transparent; // overall background-color
@tableBackgroundAccent:             @gray-10; // for striping
@tableBackgroundHover:              @gray-10; // for hover
@tableBorder:                       @gray-8; // table and cell border

// Buttons
// -------------------------
@btnBackground:                     @gray-9;
@btnBackgroundHighlight:            @gray-9;
@btnBorder:                         @gray-9;

@btnPrimaryBackground:              @green;
@btnPrimaryBackgroundHighlight:     @green;

@btnInfoBackground:                 @purple-l1;
@btnInfoBackgroundHighlight:        @purple-l1;

@btnSuccessBackground:              @green;
@btnSuccessBackgroundHighlight:     @green;

@btnWarningBackground:              @red-l1;
@btnWarningBackgroundHighlight:     @red-l1;

@btnDangerBackground:               @red-l1;
@btnDangerBackgroundHighlight:      @red-l1;

@btnInverseBackground:              @gray-2;
@btnInverseBackgroundHighlight:     @gray-2;

@btnNeutralBackground:              @gray-9;
@btnNeutralBackgroundHighlight:     @gray-9;


// Forms
// -------------------------
@inputBackground:               @white;
@inputBorder:                   @gray-7;
@inputBorderRadius:             0;
@inputDisabledBackground:       @gray-10;
@formActionsBackground:         @gray-9;
@inputHeight:                   @baseLineHeight + 12px; // base line-height + 8px vertical padding + 2px top/bottom border
@controlRequiredColor:          @red;


// Tabs
// -------------------------

@tabsBorderRadius:				@baseBorderRadius;

// Dropdowns
// -------------------------
@dropdownBackground:            @white;
@dropdownBorder:                @gray-8;
@dropdownDividerTop:            @gray-8;
@dropdownDividerBottom:         @white;

@dropdownLinkColor:             @gray-2;
@dropdownLinkColorHover:        @white;
@dropdownLinkColorActive:       @white;

@dropdownLinkBackgroundActive:  @linkColor;
@dropdownLinkBackgroundHover:   @dropdownLinkBackgroundActive;



// COMPONENT VARIABLES
// --------------------------------------------------

// Drawer
@drawerWidth:             400px;


// Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
@zindexDropdown:          1000;
@zindexPopover:           1010;
@zindexTooltip:           1030;
@zindexFixedNavbar:       1030;
@zindexModalBackdrop:     1040;
@zindexModal:             1050;

@zindexUmbOverlay:        7500;
@zindexOverlayBackdrop:   2000;

// Sticky bar has a z-index of "500", which is set from javascript in directive
// so set z-index of cropper should be lower to be behind sticky bar.
@zindexCropperOverlay:    499;

// Sprite icons path
// -------------------------
@iconSpritePath:          "../img/glyphicons-halflings.png";
@iconWhiteSpritePath:     "../img/glyphicons-halflings-white.png";


// Input placeholder text color
// -------------------------
@placeholderText:         @gray-8;


// Hr border color
// -------------------------
@hrBorder:                @gray-10;


// Horizontal forms & lists
// -------------------------
@horizontalComponentOffset:       180px;


// Wells
// -------------------------
@wellBackground:                  @gray-10;


// Navbar
// -------------------------
@navbarCollapseWidth:             979px;
@navbarCollapseDesktopWidth:      @navbarCollapseWidth + 1;

@navbarHeight:                    40px;
@navbarBackgroundHighlight:       @white;
@navbarBackground:                darken(@navbarBackgroundHighlight, 5%);
@navbarBorder:                    darken(@navbarBackground, 12%);

@navbarText:                      @gray-4;
@navbarLinkColor:                 @gray-4;
@navbarLinkColorHover:            @gray-2;
@navbarLinkColorActive:           @gray-3;
@navbarLinkBackgroundHover:       transparent;
@navbarLinkBackgroundActive:      darken(@navbarBackground, 5%);

@navbarBrandColor:                @navbarLinkColor;

// Inverted navbar
@navbarInverseBackground:                @gray-1;
@navbarInverseBackgroundHighlight:       @gray-2;
@navbarInverseBorder:                    @gray-2;

@navbarInverseText:                      @gray-8;
@navbarInverseLinkColor:                 @gray-8;
@navbarInverseLinkColorHover:            @white;
@navbarInverseLinkColorActive:           @navbarInverseLinkColorHover;
@navbarInverseLinkBackgroundHover:       transparent;
@navbarInverseLinkBackgroundActive:      @navbarInverseBackground;

@navbarInverseSearchBackground:          lighten(@navbarInverseBackground, 25%);
@navbarInverseSearchBackgroundFocus:     @white;
@navbarInverseSearchBorder:              @navbarInverseBackground;
@navbarInverseSearchPlaceholderColor:    @gray-7;

@navbarInverseBrandColor:                @navbarInverseLinkColor;


// Pagination
// -------------------------
@paginationBackground:                @white;
@paginationBorder:                    @gray-8;
@paginationActiveBackground:          @gray-10;


// Hero unit
// -------------------------
@heroUnitBackground:              @gray-10;
@heroUnitHeadingColor:            inherit;
@heroUnitLeadColor:               inherit;


// alerts
// -------------------------
@warningText:             @white;
@warningBackground:       @yellow-d2;
@warningBorder:           transparent;

@errorText:               @white;
@errorBackground:         @red-d1;
@errorBorder:             transparent;

@successText:             @white;
@successBackground:       @green-d1;
@successBorder:           transparent;

@infoText:                @white;
@infoBackground:          @turquoise-d1;
@infoBorder:              transparent;

@alertBorderRadius:       0;

// SD: Had to duplicate the above but prefix with 'form' inversed colors
// because we cannot share the above alert colors with forms otherwise we end up with white
// text and giant red backgrounds.

// Form states
// -------------------------
@formWarningText:             @warningBackground;
@formWarningBackground:       lighten(@warningBackground, 38%);
@formWarningBorder:           darken(spin(@warningBackground, -10), 3%);

@formErrorText:               @errorBackground;
@formErrorBackground:         lighten(@errorBackground, 55%);
@formErrorBorder:             darken(spin(@errorBackground, -10), 3%);

@formSuccessText:             @successBackground;
@formSuccessBackground:       lighten(@successBackground, 48%);
@formSuccessBorder:           darken(spin(@successBackground, -10), 5%);

@formInfoText:                @infoBackground;
@formInfoBackground:          lighten(@infoBackground, 41%);
@formInfoBorder:              darken(spin(@infoBackground, -10), 7%);


// Tooltips and popovers
// -------------------------
@tooltipColor:            @white;
@tooltipBackground:       @black;
@tooltipArrowWidth:       5px;
@tooltipArrowColor:       @tooltipBackground;

@popoverBackground:       @white;
@popoverArrowWidth:       10px;
@popoverArrowColor:       @white;
@popoverTitleBackground:  darken(@popoverBackground, 3%);

// Special enhancement for popovers
@popoverArrowOuterWidth:  @popoverArrowWidth + 1;
@popoverArrowOuterColor:  @gray-7;



// GRID
// --------------------------------------------------


// Default 940px grid
// -------------------------
@gridColumns:             12;
@gridColumnWidth:         60px;
@gridGutterWidth:         0px;
@gridRowWidth:            (@gridColumns * @gridColumnWidth) + (@gridGutterWidth * (@gridColumns - 1));

// 1200px min
@gridColumnWidth1200:     70px;
@gridGutterWidth1200:     30px;
@gridRowWidth1200:        (@gridColumns * @gridColumnWidth1200) + (@gridGutterWidth1200 * (@gridColumns - 1));

// 768px-979px
@gridColumnWidth768:      42px;
@gridGutterWidth768:      20px;
@gridRowWidth768:         (@gridColumns * @gridColumnWidth768) + (@gridGutterWidth768 * (@gridColumns - 1));


// Fluid grid
// -------------------------
@fluidGridColumnWidth:    percentage(@gridColumnWidth/@gridRowWidth);
@fluidGridGutterWidth:    percentage(@gridGutterWidth/@gridRowWidth);

// 1200px min
@fluidGridColumnWidth1200:     percentage(@gridColumnWidth1200/@gridRowWidth1200);
@fluidGridGutterWidth1200:     percentage(@gridGutterWidth1200/@gridRowWidth1200);

// 768px-979px
@fluidGridColumnWidth768:      percentage(@gridColumnWidth768/@gridRowWidth768);
@fluidGridGutterWidth768:      percentage(@gridGutterWidth768/@gridRowWidth768);

// SORTABLE
// --------------------------------------------------
@sortableHelperBg: @turquoise-l2;
@sortablePlaceholderBg : @turquoise;
