@inherits Umbraco.Cms.Web.Common.Macros.PartialViewMacroPage

@using Umbraco.Cms.Web.Common.Models
@using Umbraco.Cms.Web.Common.Security
@using Umbraco.Cms.Web.Website.Controllers
@using Umbraco.Cms.Core.Services
@using Umbraco.Extensions
@{
    var forgottenPasswordModel = new ForgottenPasswordModel();
    // You can modify this to redirect to a different URL instead of the current one
    forgottenPasswordModel.RedirectUrl = null;
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>


<div class="forgotten-password-form">

    @using (Html.BeginUmbracoForm<UmbLoginController>(
        "HandleForgottenPassword", new { RedirectUrl = forgottenPasswordModel.RedirectUrl })) {

        <h4>Forgot password?</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="@forgottenPasswordModel.Username" class="form-label"></label>
            <input asp-for="@forgottenPasswordModel.Username" class="form-control" />
            <span asp-validation-for="@forgottenPasswordModel.Username" class="form-text text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Reset password</button>
    }
</div>
