<form novalidate name="passwordForm"
    ng-controller="Umbraco.Dashboard.StartupChangePasswordController"
    ng-submit="changePassword(profile)"
    val-form-manager>

    <h3>Change password</h3>
    <p>Enter your current password, then repeat your new password to change it</p>
    
    <umb-pane>
        
        <umb-editor model="changePasswordModel"></umb-editor>   
        <!--<umb-control-group label="Old password">
                <input type="password" name="oldpass" ng-model="profile.oldPassword" 
                       required
                       val-server />

                <span class="help-inline" val-msg-for="oldpass" val-toggle-msg="required">Required</span>
                <span class="help-inline" val-msg-for="oldpass" val-toggle-msg="valServer"></span>

            </umb-control-group>

            <umb-control-group label="New password">
                <input type="password" name="pass" ng-model="profile.newPassword" required/>

                <span class="help-inline" val-msg-for="pass" val-toggle-msg="required">Required</span>
            </umb-control-group>

            <umb-control-group label="Repeat new password">
                <input type="password" name="passcompare" 
                       val-compare="pass"
                       ng-model="profile.repeatNewPassword" />

                <small class="help-inline"  val-msg-for="passcompare" val-toggle-msg="valCompare">Password does not match</small>            
            </umb-control-group>-->

        <umb-control-group hideLabel="1">
            <button class="btn btn-primary">Change</button>
        </umb-control-group>			
    </umb-pane>
</form>
