<form novalidate name="passwordForm"
    ng-controller="Umbraco.Dashboard.StartupChangePasswordController"
    ng-submit="changePassword()"
    val-form-manager>

    <h3><localize key="user_changePassword">Change password</localize></h3>
    
    <umb-pane>
        
        <umb-editor model="changePasswordModel"></umb-editor>   
        
        <umb-control-group hideLabel="1">
            <button class="btn btn-primary">
                <localize key="user_change">Change</localize>
            </button>
        </umb-control-group>			
    </umb-pane>
</form>
