<form name="passwordForm" ng-controller="Umbraco.Dashboard.StartupChangePasswordController">
	<umb-pane>
		<umb-control-group label="Old password">
			<input type="text" name="oldpass" ng-model="profile.oldPassword" required/>
		</umb-control-group>

		<umb-control-group label="New password">
			<input type="text" name="pass" ng-model="profile.newPassword" required/>
		</umb-control-group>

		<umb-control-group label="Repeat new password">
				<input type="text" name="passcompare" 
					   val-custom="{compare: '$value === profile.newPassword'}" 
					   ng-model="profile.repeatNewPassword" required/>
		</umb-control-group>

		<umb-control-group hideLabel="1">
			<button class="btn btn-primary"  
					ng-disabled="!passwordForm.$valid" 
					ng-click="changePassword(profile)">Change</button>
		</umb-control-group>			
	</umb-pane>

	{{profile | json}} ---
	{{passwordForm.$error | json}}

	{{passwordForm | json}}
</form>