<div class="wmd-panel" ng-controller="Umbraco.PropertyEditors.MarkdownEditorController">
   <div id="wmd-button-bar-{{model.alias}}"></div>

   <textarea class="wmd-input" id="wmd-input-{{model.alias}}" ng-model="model.value"></textarea>

   <div class="wmd-panel wmd-preview" id="wmd-preview-{{model.alias}}" ng-show="model.config.preview"></div>

   <umb-overlay
      ng-if="mediaPickerOverlay.show"
      model="mediaPickerOverlay"
      position="right"
      view="mediaPickerOverlay.view">
   </umb-overlay>

</div>
