.umb-user-preview {
    padding-top: 7px;
    padding-bottom: 7px;
    display: flex;
    box-sizing: border-box;
    border-bottom: 1px solid @gray-9;
    flex-wrap: wrap;
}

.umb-editor-wrapper .umb-user-preview {
    .umb-property-editor--limit-width();
}

.umb-user-preview:last-of-type {
    border-bottom: none;
    margin-bottom: 7px;
}

.umb-user-preview__avatar {
    margin-right: 10px;
}

.umb-user-preview__content {
    flex: 1 1 auto;
}

.umb-user-preview__name {
    color: @black;
    margin-bottom: 3px;
    margin-top: 2px;
}

.umb-user-preview__actions {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    margin-left: auto;
}

.umb-user-preview__action {
    background: transparent;
    padding: 0;
    border: 0 none;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 13px;
    font-weight: bold;
    color: @ui-action-type;
}

.umb-user-preview__action:hover {
    color: @ui-action-type-hover;
    text-decoration: none;
    opacity: 1;
}

.umb-user-preview__action--red:hover {
    color: @red;
}
