<div class="umb-dialog-body with-footer" ng-controller="Umbraco.Editors.Media.CreateController">
	<div class="umb-pane">

	<h5><localize key="create_createUnder">Create under</localize> {{currentNode.name}}</h5>

	<p class="abstract" ng-hide="allowedTypes">
		<localize key="create_noMediaTypes" />
	</p>

		<ul class="umb-actions">
			<li class="action">
				<ul class="umb-actions-child">

					<li ng-repeat="docType in allowedTypes">
					    <a href="#media/media/edit/{{currentNode.id}}?doctype={{docType.alias}}&create=true" ng-click="nav.hideNavigation()">

					        <i class="large {{docType.icon}}"></i>
					        
					        <span class="menu-label">
	        		        	{{docType.name}}
	        		            <small>
	        		                {{docType.description}}
	        		            </small>
	        		        </span>
					    </a>
					</li>
<!--
					<li class="add">
					    <a href="#settings/documenttype/create/{{currentNode.id}}?doctype={{docType.alias}}&create=true" ng-click="nav.hideNavigation()">
					        <i class="icon-large icon-plus"></i>
					        <span class="menu-label">
					            Create a new media type
					            <small>
					                Design and configure a new media type
					            </small>
					        </span>
					    </a>
					</li>	-->
				</ul>
			</li>
		</ul>
	</div>
</div>

	
<div class="umb-dialog-footer btn-toolbar umb-btn-toolbar">
		<button class="btn btn-info" ng-click="nav.hideDialog(true)">
			<localize key="buttons_somethingElse">Do something else</localize>
		</button>
</div>
