<form novalidate name="contentForm"
   ng-controller="Umbraco.Editors.Media.EditController"
   ng-show="loaded"
   ng-submit="save()"
   val-form-manager>

   <umb-editor-view umb-tabs>

      <umb-editor-header
         name="content.name"
         tabs="content.tabs"
         menu="page.menu">
      </umb-editor-header>

      <umb-editor-container>

         <umb-tabs-content view="true" class="form-horizontal">
            <umb-tab id="tab{{tab.id}}" rel="{{tab.id}}" ng-repeat="tab in content.tabs">

               <umb-property property="property" ng-repeat="property in tab.properties">
                  <umb-editor model="property"></umb-editor>
               </umb-property>

            </umb-tab>
         </umb-tabs-content>

      </umb-editor-container>

      <umb-editor-footer>

         <umb-editor-footer-content-left>
            <umb-breadcrumbs ng-if="ancestors && ancestors.length > 0" ancestors="ancestors"></umb-breadcrumbs>
         </umb-editor-footer-content-left>


         <umb-editor-footer-content-right ng-class="{'umb-dimmed': busy}">

            <div class="btn-group" ng-show="listViewPath">
                <a class="btn" href="#{{listViewPath}}">
                    <localize key="buttons_returnToList">Return to list</localize>
                </a>
            </div>

            <div class="btn-group">
                <button type="submit" data-hotkey="ctrl+s" class="btn btn-success">
                    <localize key="buttons_save">Save</localize>
                </button>
            </div>

         </umb-editor-footer-content-right>


      </umb-editor-footer>


   </umb-editor-view>

</form>
