<div class="umb-dialog" ng-controller="Umbraco.Editors.Media.EmptyRecycleBinController">
    <div class="umb-dialog-body">
        
        <umb-pane>
            <div class="umb-loader-wrapper" ng-show="busy">
                <div class="umb-loader"></div>
            </div>

            <p class="abstract">
                <localize key="defaultdialogs_recycleBinWarning">When items are deleted from the recycle bin, they will be gone forever</localize>.
                <localize key="general_areyousure">Are you sure?</localize>
            </p>

        </umb-pane>

    </div>

    <div class="umb-dialog-footer btn-toolbar umb-btn-toolbar">

        <umb-button type="button"
                    button-style="link"
                    label-key="general_cancel"
                    action="cancel()">
        </umb-button>

        <umb-button type="button"
                    button-style="success"
                    label-key="general_ok"
                    action="performDelete()">
        </umb-button>

    </div>
</div>
