<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/umbraco/" />
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="backoffice/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Umbraco</title>
    <link rel="stylesheet" href="backoffice/style.css"/>
    <script type="importmap">
        {
            "imports": {
                "@@umbraco-cms/backoffice/backend-api": "/umbraco/backoffice/libs/backend-api.js",
                "@@umbraco-cms/backoffice/collection": "/umbraco/backoffice/libs/collection.js",
                "@@umbraco-cms/backoffice/content-type": "/umbraco/backoffice/libs/content-type.js",
                "@@umbraco-cms/backoffice/context-api": "/umbraco/backoffice/libs/context-api.js",
                "@@umbraco-cms/backoffice/controller-api": "/umbraco/backoffice/libs/controller-api.js",
                "@@umbraco-cms/backoffice/data-type": "/umbraco/backoffice/libs/data-type.js",
                "@@umbraco-cms/backoffice/element-api": "/umbraco/backoffice/libs/element-api.js",
                "@@umbraco-cms/backoffice/entity-action": "/umbraco/backoffice/libs/entity-action.js",
                "@@umbraco-cms/backoffice/extension-api": "/umbraco/backoffice/libs/extension-api.js",
                "@@umbraco-cms/backoffice/extension-registry": "/umbraco/backoffice/libs/extension-registry.js",
                "@@umbraco-cms/backoffice/id": "/umbraco/backoffice/libs/id.js",
                "@@umbraco-cms/backoffice/modal": "/umbraco/backoffice/libs/modal.js",
                "@@umbraco-cms/backoffice/models": "/umbraco/backoffice/libs/models.js",
                "@@umbraco-cms/backoffice/notification": "/umbraco/backoffice/libs/notification.js",
                "@@umbraco-cms/backoffice/observable-api": "/umbraco/backoffice/libs/observable-api.js",
                "@@umbraco-cms/backoffice/picker-input": "/umbraco/backoffice/libs/picker-input.js",
                "@@umbraco-cms/backoffice/repository": "/umbraco/backoffice/libs/repository.js",
                "@@umbraco-cms/backoffice/resources": "/umbraco/backoffice/libs/resources.js",
                "@@umbraco-cms/backoffice/router": "/umbraco/backoffice/libs/router.js",
                "@@umbraco-cms/backoffice/section": "/umbraco/backoffice/libs/section.js",
                "@@umbraco-cms/backoffice/sorter": "/umbraco/backoffice/libs/sorter.js",
                "@@umbraco-cms/backoffice/store": "/umbraco/backoffice/libs/store.js",
                "@@umbraco-cms/backoffice/tree": "/umbraco/backoffice/libs/tree.js",
                "@@umbraco-cms/backoffice/events": "/umbraco/backoffice/libs/umb-events.js",
                "@@umbraco-cms/backoffice/utils": "/umbraco/backoffice/libs/utils.js",
                "@@umbraco-cms/backoffice/variant": "/umbraco/backoffice/libs/variant.js",
                "@@umbraco-cms/backoffice/workspace": "/umbraco/backoffice/libs/workspace.js"
            }
        }
    </script>
    <script type="module" src="backoffice/main.js"></script>
</head>

<body class="uui-font uui-text" style="margin: 0; padding: 0; overflow: hidden">
<umb-app></umb-app>
</body>
</html>
