.umb-variant-selector-overlay {


    .umb-variant-selector-entry {
        .umb-form-check {
            .umb-form-check__symbol {
                margin-top: 2px;
            }
        }
    }
    .umb-variant-selector-entry__title {
        font-weight: 600;
        font-size: 14px;
        .__secondarytitle {
            font-weight: normal;
            color: @gray-5;
        }
    }
    .umb-variant-selector-entry__description {
        display: block;
        font-size: 12px;
        color: @gray-4;
    }


}
