.outtaHere {
	position:absolute;
	left:-3000px;
}
/* Selects */
.selectArea {
	position: relative;
	height: 29px;
	float:left;
	color:#000;
	font-size:13px;
	line-height:29px;
}
.selectArea .left {
	position: absolute;
	top: 0;
	left: 0;
	width:15px;
	height:29px;
	background: url(../images/select-left.png) no-repeat;
	display: block;
}
.selectArea a.selectButton {
	position: absolute;
	top: 0;
	right: 0;
	width:310px;
	height:29px;
	background: url(../images/select-button.png) no-repeat;
}
.selectArea .center{
	height: 29px;
	line-height:28px;
	display:block;
	margin:0 24px 0 15px;
	background: url(../images/select-center.png) repeat-x;
}
.selectArea .center img {
	float:left;
}
/*Selects drop-down*/
.optionsDivInvisible,
.optionsDivVisible {
	position: absolute;
	background-color: #fff;
	border: 1px solid #896e68;
	display: block;
	z-index: 30;
	font-size: 11px;
}
.optionsDivInvisible {display: none;}
.optionsDivVisible ul {
	margin:0;
	padding:0;
	overflow:hidden;
	width:100%;
	list-style: none;
}
.optionsDivVisible ul li {
	float:left;
	width:100%;
}
.optionsDivVisible a {
	color: #000;
	overflow:hidden;
	text-decoration: none;
	display: block;
	height:1%;
	padding: 3px 5px;
}
.optionsDivVisible a img {
	border:none;
	float:left;
}
.optionsDivVisible a:hover {
	text-decoration:underline;
}