<div ng-controller="Umbraco.PropertyEditors.OEmbedPickerController as vm" class="umb-property-editor umb-oembedpicker">

  <ng-form name="vm.oembedForm">
    <div class="umb-media-card-grid" ng-class="{'--singleMode': vm.allowMultiple === false}">
      <div style="display:contents;" ui-sortable="vm.sortableOptions" ng-model="vm.items" ng-hide="!model.value">

        <div ng-repeat="embed in vm.items track by $index" class="umb-media-card-grid__cell">

          <div class="umb-media-card">
            <div class="__showcase">
              <div class="preview-item">
                <span ng-bind-html="vm.trustHtml(embed.preview)"></span>
              </div>
            </div>
            <div class="__actions">
              <button type="button" class="btn-reset __action umb-outline" localize="title" title="general_edit" ng-click="vm.edit($index, $event)">
                <umb-icon icon="icon-edit" class="icon"></umb-icon>
              </button>
              <button type="button" class="btn-reset __action umb-outline" localize="title" title="general_remove" ng-click="vm.remove($index, $event)">
                <umb-icon icon="icon-trash" class="icon"></umb-icon>
              </button>
            </div>
          </div>

        </div>

      </div>

      <button 
          type="button"
          ng-if="(vm.allowMultiple === false && vm.items.length === 0) || vm.allowMultiple === true"
          class="btn-reset umb-media-card-grid__create-button umb-outline"
          ng-click="vm.add($event)">
        <div>
          <umb-icon icon="icon-add" class="icon large"></umb-icon>
          <localize key="general_add">Add</localize>
        </div>
      </button>

    </div>

    {{model.value | json}}

    <input type="hidden" name="itemCount" ng-model="vm.items.length" val-property-validator="vm.validateMandatory" />
  </ng-form>
</div>
