.umb-oembedpicker {
  .umb-property-editor--limit-width();

  .umb-media-card-grid {
    padding: 20px;
    border: 1px solid @inputBorder;
    box-sizing: border-box;

    &.--singleMode {
      max-width: 202px;
    }
  }

  .preview-item {
      position: relative;

      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
      }

      iframe,
      span {
        display: inline-block;
        height: 100%;
      }
  }
}
