<?xml version="1.0" encoding="utf-8" ?>
<NotFoundHandlers>
  <notFound assembly="umbraco" type="SearchForAlias" />
  <notFound assembly="umbraco" type="SearchForTemplate"/>
  <notFound assembly="umbraco" type="SearchForProfile"/>
  <notFound assembly="umbraco" type="handle404"/>
</NotFoundHandlers>