<?xml version="1.0" encoding="utf-8" ?>
<NotFoundHandlers>
  <notFound assembly="Umbraco.Web" type="SearchForAlias" />
  <notFound assembly="Umbraco.Web" type="SearchForTemplate"/>
  <notFound assembly="Umbraco.Web" type="SearchForProfile"/>
  <notFound assembly="Umbraco.Web" type="handle404"/>
</NotFoundHandlers>