<?xml version="1.0"?>
<applications>
  <add alias="content" name="Content" icon="content" sortOrder="0" />
  <add alias="media" name="Media" icon="media" sortOrder="1" />
  <add alias="settings" name="Settings" icon="settings" sortOrder="2" />
  <add alias="developer" name="Developer" icon="developer" sortOrder="3" />
  <add alias="users" name="Users" icon="user" sortOrder="4" />
  <add alias="member" name="Members" icon="member" sortOrder="5" />
  <add alias="translation" name="Translation" icon="translation" sortOrder="6" />
</applications>