<?xml version="1.0" encoding="utf-8"?>
<applications>
  <add alias="content" name="Content" sortOrder="0" />
  <add alias="media" name="Media" sortOrder="1" />
  <add alias="settings" name="Settings" sortOrder="2" />
  <add alias="packages" name="Packages" sortOrder="3" />
  <add alias="users" name="Users" sortOrder="4" />
  <add alias="member" name="Members" sortOrder="5" />
  <add alias="forms" name="Forms" sortOrder="6" />
  <add alias="translation" name="Translation" sortOrder="7" />
</applications>
