<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- 
    Umbraco web.config configuration documentation can be found here: 
    http://our.umbraco.org/documentation/using-umbraco/config-files/#webconfig
    -->
  <add key="umbracoConfigurationStatus" value="7.0.0" />
  <add key="umbracoReservedUrls" value="~/config/splashes/booting.aspx,~/install/default.aspx,~/config/splashes/noNodes.aspx,~/VSEnterpriseHelper.axd" />
  <add key="umbracoReservedPaths" value="~/umbraco,~/install/" />
  <add key="umbracoPath" value="~/umbraco" />
  <add key="umbracoHideTopLevelNodeFromPath" value="true" />
  <add key="umbracoUseDirectoryUrls" value="true" />
  <add key="umbracoTimeOutInMinutes" value="20" />
  <add key="umbracoDefaultUILanguage" value="en" />
  <add key="umbracoUseSSL" value="false" />

  <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  <add key="webpages:Enabled" value="false" />
  <add key="enableSimpleMembership" value="false" />
  <add key="autoFormsAuthentication" value="false" />

  <add key="log4net.Config" value="config\log4net.config" />
  
</appSettings>