<?xml version="1.0" encoding="utf-8"?>
<!-- BaseRestExtensions.config is the new way to configure extensions, parsed as a configuration section. 
     restExtensions.config is the old pre-4.10 way, parsed in an ugly way, still supported for backward compatibility.
	 Same feature set, just cleaner. The "old" way should get removed one day. https://twitter.com/jesperordrup/statuses/292201596689981440 -->
<BaseRestExtensions>
	<!--
	<extension alias="member" type="Umbraco.Web.BaseRest.MemberRest,umbraco">
		<method name="Login" allowAll="true" />
		<method name="Logout" allowAll="true" />
		<method name="GetCurrentMemberId" allowAll="true" />
		<method name="GetCurrentMember" allowAll="true" />
		<method name="GetCurrentMemberAsXml" allowAll="true" />
		<method name="SetProperty" allowAll="false" />
	</extension>
	-->
	<!--
	<extension alias="umbBlog" type="Runway.Blog.Library.Base,Runway.Blog">
		<method name="CreateComment" returnXml="false" allowAll="true" />
		<method name="GetGravatarImage" returnXml="false" allowAll="true" />
	</extension>
	-->
</BaseRestExtensions>