<?xml version="1.0" encoding="utf-8"?>
<BaseRestExtensions>
	<!--
	<extension alias="member" type="Umbraco.Web.BaseRest.MemberRest,umbraco">
		<method name="Login" allowAll="true" />
		<method name="Logout" allowAll="true" />
		<method name="GetCurrentMemberId" allowAll="true" />
		<method name="GetCurrentMember" allowAll="true" />
		<method name="GetCurrentMemberAsXml" allowAll="true" />
		<method name="SetProperty" allowAll="false" />
	</extension>
	-->
	<!--
	<extension alias="umbBlog" type="Runway.Blog.Library.Base,Runway.Blog">
		<method name="CreateComment" returnXml="false" allowAll="true" />
		<method name="GetGravatarImage" returnXml="false" allowAll="true" />
	</extension>
	-->
</BaseRestExtensions>