<?xml version="1.0" encoding="utf-8"?>
<dashBoard>

  <section alias="StartupSettingsDashboardSection">
    <areas>
      <area>settings</area>
    </areas>
    <tab caption="Welcome">
      <control showOnce="true" addPanel="true" panelCaption="">
        views/dashboard/settings/settingsdashboardintro.html
      </control>
    </tab>
  </section>

  <section alias="StartupDeveloperDashboardSection">
    <areas>
      <area>developer</area>
    </areas>
    <tab caption="Get Started">
      <control showOnce="true" addPanel="true" panelCaption="">
        views/dashboard/developer/developerdashboardvideos.html
      </control>
    </tab>
    <tab caption="Examine Management">
      <control>/umbraco/dashboard/ExamineManagement.ascx</control>
    </tab>
  </section>

  <section alias="StartupMediaDashboardSection">
    <areas>
      <area>media</area>
    </areas>
    <tab caption="Content">
      <control showOnce="false" addPanel="false" panelCaption="">
        views/dashboard/media/mediafolderbrowser.html
      </control>
    </tab>

  </section>

  <section alias="StartupDashboardSection">
    <access>
      <deny>translator</deny>
    </access>
    <areas>
      <area>content</area>
    </areas>
    <tab caption="Get Started">
      <access>
        <grant>admin</grant>
      </access>

      <control showOnce="true" addPanel="true" panelCaption="">
        views/dashboard/default/startupdashboardintro.html
      </control>

    </tab>
      <tab caption="Change password">
        <control showOnce="false" addPanel="false" panelCaption="">
          views/dashboard/ChangePassword.html
        </control>
      </tab>
  </section>

  <section alias="StartupMemberDashboardSection">
    <areas>
      <area>member</area>
    </areas>
    <tab caption="Get Started">
      <control showOnce="true" addPanel="true" panelCaption="">
        views/dashboard/members/membersdashboardvideos.html
      </control>
    </tab>
  </section>
</dashBoard>