<?xml version="1.0"?>
<embed>
  <!-- Flickr Settings-->
  <provider name="Flickr" type="Umbraco.Web.Media.EmbedProviders.Flickr, umbraco">
    <urlShemeRegex><![CDATA[flickr\.com/]]></urlShemeRegex>
    <apiEndpoint><![CDATA[http://www.flickr.com/services/oembed/]]></apiEndpoint>
    <requestParams type="Umbraco.Web.Media.EmbedProviders.Settings.Dictionary, umbraco"></requestParams>
  </provider>
  <!-- Screenr Settings -->
  <provider name="Screenr" type="Umbraco.Web.Media.EmbedProviders.OEmbedVideo, umbraco" supportsDimensions="False">
    <urlShemeRegex><![CDATA[screenr\.com/]]></urlShemeRegex>
    <apiEndpoint><![CDATA[http://www.screenr.com/api/oembed.xml]]></apiEndpoint>
    <requestParams type="Umbraco.Web.Media.EmbedProviders.Settings.Dictionary, umbraco"></requestParams>
  </provider>
  <!-- SlideShare Settings -->
  <provider name="SlideShare" type="Umbraco.Web.Media.EmbedProviders.OEmbedRich, umbraco">
    <urlShemeRegex><![CDATA[slideshare\.net/]]></urlShemeRegex>
    <apiEndpoint><![CDATA[http://www.slideshare.net/api/oembed/2]]></apiEndpoint>
    <requestParams type="Umbraco.Web.Media.EmbedProviders.Settings.Dictionary, umbraco">
      <param name="format">xml</param>
    </requestParams>
  </provider>
  <!-- SoundCloud Settigs -->
  <provider name="SoundCloud" type="Umbraco.Web.Media.EmbedProviders.OEmbedRich, umbraco">
    <urlShemeRegex><![CDATA[soundcloud\.com/]]></urlShemeRegex>
    <apiEndpoint><![CDATA[http://soundcloud.com/oembed]]></apiEndpoint>
    <requestParams type="Umbraco.Web.Media.EmbedProviders.Settings.Dictionary, umbraco"></requestParams>
  </provider>
  <!-- Twitgoo Settings , not an OEmbed one -->
  <provider name="Twitgoo" type="Umbraco.Web.Media.EmbedProviders.Twitgoo, umbraco">
    <urlShemeRegex><![CDATA[twitgoo\.com/]]></urlShemeRegex>
  </provider>
  <!-- Youtube Settings -->
  <provider name="Youtube" type="Umbraco.Web.Media.EmbedProviders.OEmbedVideo, umbraco">
    <urlShemeRegex><![CDATA[youtu(?:\.be|be\.com)/(?:(.*)v(/|=)|(.*/)?)([a-zA-Z0-9-_]+)]]></urlShemeRegex>
    <apiEndpoint><![CDATA[https://www.youtube.com/oembed]]></apiEndpoint>
    <requestParams type="Umbraco.Web.Media.EmbedProviders.Settings.Dictionary, umbraco">
      <param name="iframe">1</param>
      <param name="format">xml</param>
      <param name="scheme">https</param>
    </requestParams>
  </provider>
  <!-- StreamDotUmbracoDotCom -->
  <provider name="StreamDotUmbracoDotCom" type="Umbraco.Web.Media.EmbedProviders.OEmbedVideo, umbraco">
    <urlShemeRegex><![CDATA[stream\.umbraco\.org/]]></urlShemeRegex>
    <apiEndpoint><![CDATA[http://stream.umbraco.org/oembed]]></apiEndpoint>
    <requestParams type="Umbraco.Web.Media.EmbedProviders.Settings.Dictionary, umbraco"></requestParams>
  </provider>
  <!-- Daily Motion -->
  <provider name="DailyMotion" type="Umbraco.Web.Media.EmbedProviders.OEmbedVideo, umbraco">
    <urlShemeRegex><![CDATA[dailymotion\.com/]]></urlShemeRegex>
    <apiEndpoint><![CDATA[http://www.dailymotion.com/services/oembed]]></apiEndpoint>
    <requestParams type="Umbraco.Web.Media.EmbedProviders.Settings.Dictionary, umbraco">
      <param name="format">xml</param>
    </requestParams>
  </provider>
  <!-- Hulu -->
  <provider name="Hulu" type="Umbraco.Web.Media.EmbedProviders.OEmbedVideo, umbraco">
    <urlShemeRegex><![CDATA[hulu\.com/]]></urlShemeRegex>
    <apiEndpoint><![CDATA[http://www.hulu.com/api/oembed.xml]]></apiEndpoint>
    <requestParams type="Umbraco.Web.Media.EmbedProviders.Settings.Dictionary, umbraco">
      <param name="format">xml</param>
    </requestParams>
  </provider>
  <!-- Vimeo -->
  <provider name="Vimeo" type="Umbraco.Web.Media.EmbedProviders.OEmbedVideo, umbraco">
    <urlShemeRegex><![CDATA[vimeo\.com/]]></urlShemeRegex>
    <apiEndpoint><![CDATA[http://vimeo.com/api/oembed.xml]]></apiEndpoint>
    <requestParams type="Umbraco.Web.Media.EmbedProviders.Settings.Dictionary, umbraco"></requestParams>
  </provider>  
</embed>
