<?xml version="1.0"?>
<embed>
  <!-- Flickr Settings-->
  <provider name="Flickr" type="Umbraco.Web.Media.EmbedProviders.OEmbedPhoto, umbraco">
    <urlShemeRegex><![CDATA[flickr\.com/]]></urlShemeRegex>
    <apiEndpoint><![CDATA[http://www.flickr.com/services/oembed/]]></apiEndpoint>
    <requestParams type="Umbraco.Web.Media.EmbedProviders.Settings.Dictionary, umbraco"></requestParams>
  </provider>
  <!-- SlideShare Settings -->
  <provider name="SlideShare" type="Umbraco.Web.Media.EmbedProviders.OEmbedRich, umbraco">
    <urlShemeRegex><![CDATA[slideshare\.net/]]></urlShemeRegex>
    <apiEndpoint><![CDATA[http://www.slideshare.net/api/oembed/2]]></apiEndpoint>
    <requestParams type="Umbraco.Web.Media.EmbedProviders.Settings.Dictionary, umbraco">
      <param name="format">xml</param>
    </requestParams>
  </provider>
  <!-- Kickstarter Settings-->
  <provider name="Kickstarter" type="Umbraco.Web.Media.EmbedProviders.OEmbedJson, umbraco">
    <urlShemeRegex><![CDATA[kickstarter\.com/]]></urlShemeRegex>
    <apiEndpoint><![CDATA[http://www.kickstarter.com/services/oembed]]></apiEndpoint>
    <requestParams type="Umbraco.Web.Media.EmbedProviders.Settings.Dictionary, umbraco"></requestParams>
  </provider>
  <!-- Getty Images Settings-->
  <provider name="GettyImages" type="Umbraco.Web.Media.EmbedProviders.OEmbedJson, umbraco">
    <urlShemeRegex><![CDATA[gty\.im/]]></urlShemeRegex>
    <apiEndpoint><![CDATA[http://embed.gettyimages.com/oembed]]></apiEndpoint>
    <requestParams type="Umbraco.Web.Media.EmbedProviders.Settings.Dictionary, umbraco"></requestParams>
  </provider>
  <!-- Poll Everywhere Settings -->
  <provider name="PollEverywhere" type="Umbraco.Web.Media.EmbedProviders.OEmbedJson, umbraco">
    <urlShemeRegex><![CDATA[polleverywhere\.com/]]></urlShemeRegex>
    <apiEndpoint><![CDATA[http://www.polleverywhere.com/services/oembed/]]></apiEndpoint>
    <requestParams type="Umbraco.Web.Media.EmbedProviders.Settings.Dictionary, umbraco"></requestParams>
  </provider>
  <!-- Poll Daddy Settings -->
  <provider name="PollDaddy" type="Umbraco.Web.Media.EmbedProviders.OEmbedJson, umbraco">
    <urlShemeRegex><![CDATA[polldaddy\.com/]]></urlShemeRegex>
    <apiEndpoint><![CDATA[http://polldaddy.com/oembed/]]></apiEndpoint>
    <requestParams type="Umbraco.Web.Media.EmbedProviders.Settings.Dictionary, umbraco"></requestParams>
  </provider>
  <!-- IFTTT Settings -->
  <provider name="IFTTT" type="Umbraco.Web.Media.EmbedProviders.OEmbedJson, umbraco">
    <urlShemeRegex><![CDATA[ifttt\.com/]]></urlShemeRegex>
    <apiEndpoint><![CDATA[http://www.ifttt.com/oembed/]]></apiEndpoint>
    <requestParams type="Umbraco.Web.Media.EmbedProviders.Settings.Dictionary, umbraco"></requestParams>
  </provider>
  <!-- Instagram Settings -->
  <provider name="Instagram" type="Umbraco.Web.Media.EmbedProviders.OEmbedJson, umbraco">
    <urlShemeRegex><![CDATA[instagram\.com/]]></urlShemeRegex>
    <apiEndpoint><![CDATA[http://api.instagram.com/oembed]]></apiEndpoint>
    <requestParams type="Umbraco.Web.Media.EmbedProviders.Settings.Dictionary, umbraco"></requestParams>
  </provider>
  <!-- Issuu Settings-->
  <provider name="Issuu" type="Umbraco.Web.Media.EmbedProviders.OEmbedJson, umbraco">
    <urlShemeRegex><![CDATA[issuu.com/(?:.*)/docs]]></urlShemeRegex>
    <apiEndpoint><![CDATA[https://issuu.com/oembed]]></apiEndpoint>
    <requestParams type="Umbraco.Web.Media.EmbedProviders.Settings.Dictionary, umbraco">
        <param name="format">json</param>
    </requestParams>
  </provider>
  <!-- Rdio Settings -->
  <provider name="Rdio" type="Umbraco.Web.Media.EmbedProviders.OEmbedJson, umbraco">
    <urlShemeRegex><![CDATA[rdio\.com/]]></urlShemeRegex>
    <apiEndpoint><![CDATA[http://www.rdio.com/api/oembed/]]></apiEndpoint>
    <requestParams type="Umbraco.Web.Media.EmbedProviders.Settings.Dictionary, umbraco"></requestParams>
  </provider>
  <!-- SoundCloud Settings -->
  <provider name="SoundCloud" type="Umbraco.Web.Media.EmbedProviders.OEmbedRich, umbraco">
    <urlShemeRegex><![CDATA[soundcloud\.com/]]></urlShemeRegex>
    <apiEndpoint><![CDATA[http://soundcloud.com/oembed]]></apiEndpoint>
    <requestParams type="Umbraco.Web.Media.EmbedProviders.Settings.Dictionary, umbraco"></requestParams>
  </provider>
  <!-- Youtube Settings -->
  <provider name="Youtube" type="Umbraco.Web.Media.EmbedProviders.OEmbedVideo, umbraco">
    <urlShemeRegex><![CDATA[youtu(?:\.be|be\.com)/(?:(.*)v(/|=)|(.*/)?)([a-zA-Z0-9-_]+)]]></urlShemeRegex>
    <apiEndpoint><![CDATA[https://www.youtube.com/oembed]]></apiEndpoint>
    <requestParams type="Umbraco.Web.Media.EmbedProviders.Settings.Dictionary, umbraco">
      <param name="iframe">1</param>
      <param name="format">xml</param>
      <param name="scheme">https</param>
    </requestParams>
  </provider>
  <!-- StreamDotUmbracoDotCom -->
  <provider name="StreamDotUmbracoDotCom" type="Umbraco.Web.Media.EmbedProviders.OEmbedVideo, umbraco">
    <urlShemeRegex><![CDATA[stream\.umbraco\.org/]]></urlShemeRegex>
    <apiEndpoint><![CDATA[http://stream.umbraco.org/oembed]]></apiEndpoint>
    <requestParams type="Umbraco.Web.Media.EmbedProviders.Settings.Dictionary, umbraco"></requestParams>
  </provider>
  <!-- Daily Motion -->
  <provider name="DailyMotion" type="Umbraco.Web.Media.EmbedProviders.OEmbedVideo, umbraco">
    <urlShemeRegex><![CDATA[dailymotion\.com/]]></urlShemeRegex>
    <apiEndpoint><![CDATA[http://www.dailymotion.com/services/oembed]]></apiEndpoint>
    <requestParams type="Umbraco.Web.Media.EmbedProviders.Settings.Dictionary, umbraco">
      <param name="format">xml</param>
    </requestParams>
  </provider>
  <!-- Hulu -->
  <provider name="Hulu" type="Umbraco.Web.Media.EmbedProviders.OEmbedVideo, umbraco">
    <urlShemeRegex><![CDATA[hulu\.com/]]></urlShemeRegex>
    <apiEndpoint><![CDATA[http://www.hulu.com/api/oembed.xml]]></apiEndpoint>
    <requestParams type="Umbraco.Web.Media.EmbedProviders.Settings.Dictionary, umbraco">
      <param name="format">xml</param>
    </requestParams>
  </provider>
  <!-- Vimeo -->
  <provider name="Vimeo" type="Umbraco.Web.Media.EmbedProviders.OEmbedVideo, umbraco">
    <urlShemeRegex><![CDATA[vimeo\.com/]]></urlShemeRegex>
    <apiEndpoint><![CDATA[http://vimeo.com/api/oembed.xml]]></apiEndpoint>
    <requestParams type="Umbraco.Web.Media.EmbedProviders.Settings.Dictionary, umbraco"></requestParams>
  </provider>
  <!-- Ted -->
  <provider name="Ted" type="Umbraco.Web.Media.EmbedProviders.OEmbedVideo, umbraco">
    <urlShemeRegex><![CDATA[ted\.com/]]></urlShemeRegex>
    <apiEndpoint><![CDATA[http://www.ted.com/talks/oembed.xml]]></apiEndpoint>
    <requestParams type="Umbraco.Web.Media.EmbedProviders.Settings.Dictionary, umbraco"></requestParams>
  </provider>
  <!-- Screenr Settings -->
  <provider name="Screenr" type="Umbraco.Web.Media.EmbedProviders.OEmbedVideo, umbraco" supportsDimensions="False">
    <urlShemeRegex><![CDATA[screenr\.com/]]></urlShemeRegex>
    <apiEndpoint><![CDATA[http://www.screenr.com/api/oembed.xml]]></apiEndpoint>
    <requestParams type="Umbraco.Web.Media.EmbedProviders.Settings.Dictionary, umbraco"></requestParams>
  </provider>
  <!-- Twitgoo Settings , not an OEmbed one -->
  <provider name="Twitgoo" type="Umbraco.Web.Media.EmbedProviders.Twitgoo, umbraco">
    <urlShemeRegex><![CDATA[twitgoo\.com/]]></urlShemeRegex>
  </provider>
  <!-- Twitter Settings -->
  <provider name="Twitter" type="Umbraco.Web.Media.EmbedProviders.OEmbedJson, umbraco">
    <urlShemeRegex><![CDATA[twitter\.com/]]></urlShemeRegex>
    <apiEndpoint><![CDATA[https://publish.twitter.com/oembed]]></apiEndpoint>
    <requestParams type="Umbraco.Web.Media.EmbedProviders.Settings.Dictionary, umbraco">
    </requestParams>
  </provider>
      <!-- Giphy Embed support -->
  <provider name="Giphy" type="Umbraco.Web.Media.EmbedProviders.OEmbedJson, umbraco">
    <urlShemeRegex><![CDATA[giphy\.com/]]></urlShemeRegex>
    <apiEndpoint><![CDATA[https://giphy.com/services/oembed?url=]]></apiEndpoint>
    <requestParams type="Umbraco.Web.Media.EmbedProviders.Settings.Dictionary, umbraco">
    </requestParams>
  </provider>
</embed>
