<?xml version="1.0"?>
<embed>

    <!-- Youtube Settings -->
    <provider name="Youtube" type="Umbraco.Web.Media.EmbedProviders.OEmbedVideo, Umbraco.Web">
        <urlShemeRegex><![CDATA[youtu(?:\.be|be\.com)/(?:(.*)v(/|=)|(.*/)?)([a-zA-Z0-9-_]+)]]></urlShemeRegex>
        <apiEndpoint><![CDATA[https://www.youtube.com/oembed]]></apiEndpoint>
        <requestParams type="Umbraco.Web.Media.EmbedProviders.Settings.Dictionary, Umbraco.Web">
            <param name="iframe">1</param>
            <param name="format">xml</param>
            <param name="scheme">https</param>
        </requestParams>
    </provider>

    <!-- Issuu Settings -->
    <provider name="Issuu" type="Umbraco.Web.Media.EmbedProviders.OEmbedJson, Umbraco.Web">
        <urlShemeRegex><![CDATA[issuu.com/(?:.*)/docs]]></urlShemeRegex>
        <apiEndpoint><![CDATA[https://issuu.com/oembed]]></apiEndpoint>
        <requestParams type="Umbraco.Web.Media.EmbedProviders.Settings.Dictionary, Umbraco.Web">
            <param name="format">json</param>
        </requestParams>
    </provider>
    
    <!-- Daily Motion -->
    <provider name="DailyMotion" type="Umbraco.Web.Media.EmbedProviders.OEmbedVideo, Umbraco.Web">
        <urlShemeRegex><![CDATA[dailymotion\.com/]]></urlShemeRegex>
        <apiEndpoint><![CDATA[http://www.dailymotion.com/services/oembed]]></apiEndpoint>
        <requestParams type="Umbraco.Web.Media.EmbedProviders.Settings.Dictionary, Umbraco.Web">
            <param name="format">xml</param>
        </requestParams>
    </provider>

    <!-- Hulu -->
    <provider name="Hulu" type="Umbraco.Web.Media.EmbedProviders.OEmbedVideo, Umbraco.Web">
        <urlShemeRegex><![CDATA[hulu\.com/]]></urlShemeRegex>
        <apiEndpoint><![CDATA[http://www.hulu.com/api/oembed.xml]]></apiEndpoint>
        <requestParams type="Umbraco.Web.Media.EmbedProviders.Settings.Dictionary, Umbraco.Web">
            <param name="format">xml</param>
        </requestParams>
    </provider>

    <!-- IFTTT Settings -->
    <provider name="IFTTT" type="Umbraco.Web.Media.EmbedProviders.OEmbedJson, Umbraco.Web">
        <urlShemeRegex><![CDATA[ifttt\.com/]]></urlShemeRegex>
        <apiEndpoint><![CDATA[http://www.ifttt.com/oembed/]]></apiEndpoint>
        <requestParams type="Umbraco.Web.Media.EmbedProviders.Settings.Dictionary, Umbraco.Web"></requestParams>
    </provider>
    
</embed>
