<?xml version="1.0"?>
<!--
Umbraco examine is an extensible indexer and search engine.
This configuration file can be extended to add your own search/index providers.
Index sets can be defined in the ExamineIndex.config if you're using the standard provider model.

More information and documentation can be found on GitHub: https://github.com/Shazwazza/Examine/
-->
<Examine>
    
  <ExamineIndexProviders>
    <providers>
    </providers>
  </ExamineIndexProviders>

  <ExamineSearchProviders>
    <providers>
    </providers>
  </ExamineSearchProviders>

</Examine>
