<?xml version="1.0"?>
<!--
Umbraco examine is an extensible indexer and search engine.
This configuration file can be extended to add your own search/index providers.
Index sets can be defined in the ExamineIndex.config if you're using the standard provider model.

More information and documentation can be found on GitHub: https://github.com/Shazwazza/Examine/
-->
<Examine>
  <ExamineIndexProviders>
    <providers>
      <add name="InternalIndexer" type="Umbraco.Examine.UmbracoContentIndexer, Umbraco.Examine"
           supportUnpublished="true"
           supportProtected="true"
           analyzer="Examine.LuceneEngine.CultureInvariantWhitespaceAnalyzer, Examine"/>

      <add name="InternalMemberIndexer" type="Umbraco.Examine.UmbracoMemberIndexer, Umbraco.Examine"
           supportUnpublished="true"
           supportProtected="true"
           analyzer="Examine.LuceneEngine.CultureInvariantStandardAnalyzer, Examine"/>

        <!-- default external indexer, which excludes protected and unpublished pages-->
        <add name="ExternalIndexer" type="Umbraco.Examine.UmbracoContentIndexer, Umbraco.Examine"/>

    </providers>
  </ExamineIndexProviders>

  <ExamineSearchProviders>
    <providers>
      <add name="InternalSearcher" type="Umbraco.Examine.UmbracoExamineSearcher, Umbraco.Examine"
           analyzer="Lucene.Net.Analysis.WhitespaceAnalyzer, Lucene.Net"/>

      <add name="ExternalSearcher" type="Umbraco.Examine.UmbracoExamineSearcher, Umbraco.Examine" />

      <add name="InternalMemberSearcher" type="Umbraco.Examine.UmbracoExamineSearcher, Umbraco.Examine"
           analyzer="Examine.LuceneEngine.CultureInvariantStandardAnalyzer, Examine" />

    </providers>
  </ExamineSearchProviders>

</Examine>
