<?xml version="1.0" encoding="utf-8" ?>
<!--

Please note: to use healthcheck notifications you must ensure to set the umbracoApplicationUrl value
in umbracoSettings.config.  For more information on this setting, please see:
https://our.umbraco.org/documentation/reference/config/umbracosettings/#web-routing
-->
<HealthChecks>
  <disabledChecks>
    <check id="1B5D221B-CE99-4193-97CB-5F3261EC73DF" disabledOn="" disabledBy="0" /> <!-- Smtp-->
  </disabledChecks>
  <notificationSettings enabled="true" firstRunTime="2300" periodInHours="24" recipientEmail="" webHookUrl="">
    <disabledChecks>
      <check id="EB66BB3B-1BCD-4314-9531-9DA2C1D6D9A7" disabledOn="" disabledBy="0" /> <!-- Https -->
      <check id="ED0D7E40-971E-4BE8-AB6D-8CC5D0A6A5B0" disabledOn="" disabledBy="0" /> <!-- Click jack -->
      <check id="92ABBAA2-0586-4089-8AE2-9A843439D577" disabledOn="" disabledBy="0" /> <!-- Excessive headers -->
    </disabledChecks>
  </notificationSettings>
</HealthChecks> 


