<?xml version ="1.0" encoding="utf-8" ?>
<!--
Please note: to use healthcheck notifications you must ensure to set the umbracoApplicationUrl value
in umbracoSettings.config.  For more information on this setting, please see:
https://our.umbraco.com/documentation/reference/config/umbracosettings/#web-routing

For details on the format of this configuration file see:
https://our.umbraco.com/documentation/reference/config/healthchecks
-->
<HealthChecks>
  <disabledChecks>
      <check id="92AE66E1-209D-4F9E-AAF5-19B19D41CF49" disabledOn="22-Jan-2019" disabledBy="0" />
      <check id="6437384C-D1D3-46DA-9E21-9E0BC1498E1F" disabledOn="22-Jan-2019" disabledBy="0" />
  </disabledChecks>
  <notificationSettings enabled="true" firstRunTime="" periodInHours="24">
    <notificationMethods>
      <notificationMethod alias="email" enabled="true" verbosity="Summary">
        <settings>
          <add key="recipientEmail" value="" />
        </settings>
      </notificationMethod>
    </notificationMethods>
    <disabledChecks>
      <!--<check id="EB66BB3B-1BCD-4314-9531-9DA2C1D6D9A7" disabledOn="" disabledBy="0" />-->
    </disabledChecks>    
  </notificationSettings>
</HealthChecks> 
