<?xml version="1.0" encoding="utf-8"?>
<!-- BaseRestExtensions.config is the new way to configure extensions, parsed as a configuration section. 
     restExtensions.config is the old pre-4.10 way, parsed in an ugly way, still supported for backward compatibility.
     Same feature set, just cleaner. The "old" way should get removed one day. https://twitter.com/jesperordrup/statuses/292201596689981440 -->
<RestExtensions>
  <!-- available for backward compatibility only -->
  <ext assembly="umbraco" type="umbraco.presentation.umbracobase.library.member" alias="currentMember">
    <permission method="login" allowAll="true" />
    <permission method="logout" allowAll="true" />
    <permission method="id" allowAll="true" />
    <permission method="data" allowAll="true" />
    <permission method="logout" allowAll="true" />
    <permission method="setProperty" allowAll="false" />
  </ext>
  <!-- here for backward compatibility only -->
  <!-- because really, it should not be enabled by default -->
  <ext assembly="Runway.Blog" type="Runway.Blog.Library.Base" alias="umbBlog">
    <permission method="CreateComment" returnXml="false" allowAll="true" />
    <permission method="GetGravatarImage" returnXml="false" allowAll="true" />
  </ext>
</RestExtensions>