<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- Controls log levels for all sinks (Set this higher than child sinks) -->
        <add key="serilog:minimum-level" value="Verbose" />

        <!-- Write to a user log file -->
        <add key="serilog:using:File" value="Serilog.Sinks.File" />
        <add key="serilog:write-to:File.path" value="c:/code/warren-log.txt" /><!-- Can we do a relative path to website ? -->
        <add key="serilog:write-to:File.restrictedToMinimumLevel" value="Debug" /> 
        <add key="serilog:write-to:File.retainedFileCountLimit" value="32" /> <!-- Number of log files to keep (or remove value to keep all files) -->
        <add key="serilog:write-to:File.rollingInterval" value="Day" /> <!-- Create a new log file every Minute/Hour/Day/Month/Year/infinite -->

        <!--
            TODO
            * Path relative to the site
            * Filter logfile to my own namespace only
            * Have multiple file sink configs (One for main CMS, so it can be fine tuned & another for customer needs if they want to)
        -->

    </appSettings>
</configuration>
