<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>

        <!-- Used to toggle the loge levels for the main Umbraco log files -->
        <!-- Found at /app_data/logs/ -->
        <!-- NOTE: Changing this will also flow down into serilog.user.config -->
        <!-- VALID Values: Verbose, Debug, Information, Warning, Error, Fatal -->
        <add key="serilog:minimum-level" value="Information" />

        <!-- To write to new log locations (aka Sinks) such as your own .txt files, ELMAH.io, Elastic, SEQ -->
        <!-- Please use the serilog.user.config file to configure your own logging needs -->

    </appSettings>
</configuration>
