<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>

        <!-- Used to toggle the log levels for the main Umbraco log files -->
        <!-- Found at /app_data/logs/ -->
        <!-- NOTE: Changing this will also flow down into serilog.user.config -->
        <!-- VALID Values: Verbose, Debug, Information, Warning, Error, Fatal -->
        <add key="serilog:minimum-level" value="Information" />

        <!-- NOTE: This is how sources can have a different level -->
        <!--
        <add key="serilog:minimum-level:override:Umbraco.Core.Composing.TypeLoader" value="Warning" />
        -->

        <!-- NOTE: Only one logger below can be enabled, you cannot log JSON & TXT files at the same time -->

        <!-- Default JSON log file -->
        <!-- This is used by the default log viewer in the Umbraco backoffice -->
        <add key="serilog:using:File" value="Umbraco.Core" />
        <add key="serilog:write-to:File.formatter" value="Serilog.Formatting.Compact.CompactJsonFormatter, Serilog.Formatting.Compact" />
        <add key="serilog:write-to:File.path" value="%BASEDIR%\App_Data\Logs\UmbracoTraceLog.%MACHINENAME%..json" />
        <add key="serilog:write-to:File.restrictedToMinimumLevel" value="Debug" />
        <add key="serilog:write-to:File.retainedFileCountLimit" value="" /> <!-- Number of log files to keep (or remove value to keep all files) -->
        <add key="serilog:write-to:File.rollingInterval" value="Day" /> <!-- Create a new log file every Minute/Hour/Day/Month/Year/infinite -->


        <!-- Optional TXT log file -->
        <!--<add key="serilog:using:File" value="Serilog.Sinks.File" /> -->
        <!--<add key="serilog:write-to:File.path" value="%BASEDIR%\App_Data\Logs\UmbracoTraceLog.%MACHINENAME%..txt" /> -->
        <!--<add key="serilog:write-to:File.shared" value="true" /> -->
        <!--<add key="serilog:write-to:File.restrictedToMinimumLevel" value="Debug" /> -->
        <!--<add key="serilog:write-to:File.retainedFileCountLimit" value="" /> --> <!-- Number of log files to keep (or remove value to keep all files) -->
        <!--<add key="serilog:write-to:File.rollingInterval" value="Day" /> --> <!-- Create a new log file every Minute/Hour/Day/Month/Year/infinite -->
        <!--<add key="serilog:write-to:File.outputTemplate" value="{Timestamp:yyyy-MM-dd HH:mm:ss,fff} [P{ProcessId}/D{AppDomainId}/T{ThreadId}] {Log4NetLevel}  {SourceContext} - {Message:lj}{NewLine}{Exception}" /> -->

        <!-- To write to new log locations (aka Sinks) such as your own .txt files with filtering, ELMAH.io, Elastic, SEQ -->
        <!-- Please use the serilog.user.config file to configure your own logging needs -->

    </appSettings>
</configuration>
