<?xml version="1.0" encoding="utf-8"?>
<trees>

  <!--Content-->
  <add application="content" alias="content" title="Content" assembly="umbraco" type="loadContent" iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" silent="true" sortOrder="0" />
  <add application="content" alias="contentRecycleBin" title="RecycleBin" assembly="umbraco" type="cms.presentation.Trees.ContentRecycleBin" iconClosed="folder.gif" iconOpen="folder_o.gif" initialize="false" sortOrder="0" />

  <!--Media-->
  <add application="media" alias="media" title="Media" assembly="umbraco" type="loadMedia" iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" sortOrder="0" />
  <add application="media" alias="mediaRecycleBin" title="RecycleBin" assembly="umbraco" type="cms.presentation.Trees.MediaRecycleBin" iconClosed="folder.gif" iconOpen="folder_o.gif" initialize="false" sortOrder="0" />

  <!--Settings-->
  <add application="settings" alias="stylesheets" title="Stylesheets" assembly="umbraco" type="loadStylesheets" iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" sortOrder="0" />
  <add application="settings" alias="stylesheetProperty" title="Stylesheet Property" assembly="umbraco" type="loadStylesheetProperty" iconClosed="" iconOpen="" initialize="false" sortOrder="0" />
  <add application="settings" alias="templates" title="Templates" assembly="umbraco" type="loadTemplates" iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" sortOrder="1" />
  <add application="settings" alias="scripts" title="Scripts" assembly="umbraco" type="loadScripts" iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" sortOrder="2" />
  <add application="settings" alias="dictionary" title="Dictionary" assembly="umbraco" type="loadDictionary" iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" action="openDictionary()" sortOrder="3" />
  <add application="settings" alias="languages" title="Languages" assembly="umbraco" type="loadLanguages" iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" sortOrder="4" />
  <add application="settings" alias="mediaTypes" title="Media Types" assembly="umbraco" type="loadMediaTypes" iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" sortOrder="5" />
  <add application="settings" alias="nodeTypes" title="Document Types" assembly="umbraco" type="loadNodeTypes" iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" sortOrder="6" />

  <!--Developer-->
  <add application="developer" alias="cacheBrowser" title="Cache Browser" assembly="umbraco" type="loadCache" iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" sortOrder="0" />
  <add application="developer" alias="CacheItem" title="Cache Item" assembly="umbraco" type="loadCacheItem" iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" initialize="false" sortOrder="0" />
  <add application="developer" alias="datatype" title="Data Types" assembly="umbraco" type="loadDataTypes" iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" sortOrder="1" />
  <add application="developer" alias="macros" title="Macros" assembly="umbraco" type="loadMacros" iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" sortOrder="2" />
  <add application="developer" alias="packager" title="Packages" assembly="umbraco" type="loadPackager" iconClosed="folder.gif" iconOpen="folder_o.gif" sortOrder="3" />
  <add application="developer" alias="packagerPackages" title="Packager Packages" assembly="umbraco" type="loadPackages" iconClosed="folder.gif" iconOpen="folder_o.gif" initialize="false" sortOrder="3" />
  <!--<add application="developer" alias="relationTypes" title="Relation Types" assembly="umbraco" type="loadRelationTypes" iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" sortOrder="4" />-->
  <add application="developer" alias="python" title="Scripting Files" assembly="umbraco" type="loadPython" iconClosed="folder.gif" iconOpen="folder_o.gif" sortOrder="4" />
  <add application="developer" alias="xslt" title="XSLT Files" assembly="umbraco" type="loadXslt" iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" sortOrder="5" />

  <!--Users-->
  <add application="users" alias="users" title="Users" assembly="umbraco" type="loadUsers" iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" sortOrder="0" />
  <add application="users" alias="userTypes" title="User Types" assembly="umbraco" type="cms.presentation.Trees.UserTypes" iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" sortOrder="1" />
  <add application="users" alias="userPermissions" title="User Permissions" assembly="umbraco" type="cms.presentation.Trees.UserPermissions" iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" sortOrder="2" />

  <!--Members-->
  <add application="member" alias="member" title="Members" assembly="umbraco" type="loadMembers" iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" sortOrder="0" />
  <add application="member" alias="memberGroup" title="Member Groups" assembly="umbraco" type="loadMemberGroups" iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" sortOrder="1" />
  <add application="member" alias="memberType" title="Member Types" assembly="umbraco" type="loadMemberTypes" iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" sortOrder="2" />

  <!-- Custom -->
  <!--<add application="myApplication" alias="myTree" title="Me Tree" assembly="myPackage" type="myTree"
       iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" sortOrder="10" />-->

</trees>