<?xml version="1.0" encoding="utf-8" ?>
<settings>

  <!--
    umbracoSettings.config configuration documentation can be found here:
    https://our.umbraco.com/documentation/using-umbraco/config-files/umbracoSettings/
    Many of the optional settings are not explicitly listed here
    but can be found in the online documentation.
    -->

    <backOffice>
        <tours enable="true"></tours>
    </backOffice>

  <content>

    <errors>
      <error404>1</error404>
      <!--
        The value for error pages can be:
        * A content item's GUID ID      (example: 26C1D84F-C900-4D53-B167-E25CC489DAC8)
        * An XPath statement            (example: //errorPages[@nodeName='My cool error']
        * A content item's integer ID   (example: 1234)
      -->
      <!--
        <error404>
            <errorPage culture="default">26C1D84F-C900-4D53-B167-E25CC489DAC8</errorPage>
            <errorPage culture="en-US">D820E120-6865-4D88-BFFE-48801A6AC375</errorPage>
        </error404>
       -->
    </errors>

    <notifications>
      <!-- the email that should be used as from mail when umbraco sends a notification -->
      <!-- you can add a display name to the email like this: <email>Your display name here &lt;your@email.here&gt;</email> -->
      <email>your@email.here</email>
    </notifications>

    <!-- The html injected into a (x)html page if Umbraco is running in preview mode -->
    <PreviewBadge>
      <![CDATA[
      <a id="umbracoPreviewBadge" style="z-index:99999; position: absolute; top: 0; right: 0; border: 0; width: 149px; height: 149px; background: url('{0}/assets/img/preview-mode-badge.png') no-repeat;" href="#" OnClick="javascript:window.top.location.href = '{0}/preview/end?redir={1}'"><span style="display:none;">In Preview Mode - click to end</span></a>
    ]]></PreviewBadge>

    <!-- How Umbraco should handle errors during macro execution. Can be one of the following values:
         - inline - show an inline error within the macro but allow the page to continue rendering. Historial Umbraco behaviour.
         - silent - Silently suppress the error and do not render the offending macro.
         - throw  - Throw an exception which can be caught by the global error handler defined in Application_OnError. If no such
                    error handler is defined then you'll see the Yellow Screen Of Death (YSOD) error page.
         Note the error can also be handled by the umbraco.macro.Error event, where you can log/alarm with your own code and change the behaviour per event. -->
    <MacroErrors>throw</MacroErrors>

    <!-- These file types will not be allowed to be uploaded via the upload control for media and content -->
    <disallowedUploadFiles>ashx,aspx,ascx,config,cshtml,vbhtml,asmx,air,axd,swf,xml,xhtml,html,htm,php,htaccess</disallowedUploadFiles>

    <!-- You can specify your own background image for the login screen here. This path is relative to the ~/umbraco path. The default location is: /umbraco/assets/img/login.jpg -->
    <loginBackgroundImage>assets/img/login.jpg</loginBackgroundImage>

  </content>

  <security>
    <!-- set to true to auto update login interval (and there by disabling the lock screen -->
    <keepUserLoggedIn>false</keepUserLoggedIn>
    <!-- by default this is true and if not specified in config will be true. set to false to always show a separate username field in the back office user editor -->
    <usernameIsEmail>true</usernameIsEmail>
    <!-- change in 4.8: Disabled users are now showed dimmed and last in the tree. If you prefer not to display them set this to true -->
    <hideDisabledUsersInBackoffice>false</hideDisabledUsersInBackoffice>
  </security>

  <requestHandler>
    <!-- this ensures that all url segments are turned to ASCII as much as we can -->
    <urlReplacing toAscii="try" />
  </requestHandler>

  <!--
    web.routing
      @trySkipIisCustomErrors
        Tries to skip IIS custom errors.
        Starting with IIS 7.5, this must be set to true for Umbraco 404 pages to show. Else, IIS will take
        over and render its built-in error page. See MS doc for HttpResponseBase.TrySkipIisCustomErrors.
        The default value is false, for backward compatibility reasons, which means that IIS _will_ take
        over, and _prevent_ Umbraco 404 pages to show.
      @internalRedirectPreservesTemplate
        By default as soon as we're not displaying the initial document, we reset the template set by the
        finder or by the alt. template. Set this option to true to preserve the template set by the finder
        or by the alt. template, in case of an internal redirect.
        (false by default, and in fact should remain false unless you know what you're doing)
      @disableAlternativeTemplates
        By default you can add a altTemplate querystring or append a template name to the current URL which
        will make Umbraco render the content on the current page with the template you requested, for example:
        http://mysite.com/about-us/?altTemplate=Home and http://mysite.com/about-us/Home would render the
        "About Us" page with a template with the alias Home. Setting this setting to true stops that behavior
      @validateAlternativeTemplates
        By default you can add a altTemplate querystring or append a template name to the current URL which
        will make Umbraco render the content on the current page with the template you requested, for example:
        http://mysite.com/about-us/?altTemplate=Home and http://mysite.com/about-us/Home would render the
        "About Us" page with a template with the alias Home. Setting this setting to true will ensure that
        only templates that have been permitted on the document type will be allowed
      @disableFindContentByIdPath
        By default you can call any content Id in the url and show the content with that id, for example:
        http://mysite.com/1092 or http://mysite.com/1092.aspx would render the content with id 1092. Setting
        this setting to true stops that behavior
      @umbracoApplicationUrl
        The url of the Umbraco application. By default, Umbraco will figure it out from the first request.
        Configure it here if you need anything specific. Needs to be a complete url with scheme and umbraco
        path, eg http://mysite.com/umbraco. NOT just "mysite.com" or "mysite.com/umbraco" or "http://mysite.com".
  -->
  <web.routing
    trySkipIisCustomErrors="true"
    internalRedirectPreservesTemplate="false" disableAlternativeTemplates="false" validateAlternativeTemplates="false" disableFindContentByIdPath="false"
    umbracoApplicationUrl="">
  </web.routing>

</settings>
