<?xml version="1.0" encoding="utf-8"?>
<urlrewritingnet xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
  <rewrites>
    <!-- 
				Urlrewriting.Net is a cool tool, what can make your urls look nice.
				The rewriting is controlled with regular expressions. To get more help
				look at http://www.urlrewriting.net/. 
				
				Remember to read the manual! 
				http://our.umbraco.org/wiki/recommendations/recommended-reading-for-web-developers

				The sample below rewrites a url from 
				"/product/someproductid.aspx" to 
				"/product.aspx?productid=someproductid" 
				
				The user will not see the rewritten path! The page that will be 
				loaded from umbraco will instead be:
				"/product.aspx?productid=someproductid" 
										
				<add name="produktidrewrite" 
					virtualUrl="^~/product/(.*).aspx" 
					rewriteUrlParameter="ExcludeFromClientQueryString" 
					destinationUrl="~/product.aspx?productid=$1" 
					ignoreCase="true" />
					
				This sample is usefull for a productpage, where the product comes from a 
				dynamic datasource, e.g. a database. The querystring "productid" can be loaded
				from the template, into a macro, that then loads the product!
				
				Any bugs or problems with the rewriter, contact Anders/Duckie
			-->
  </rewrites>
</urlrewritingnet>
