<?xml version="1.0" encoding="utf-8"?>
<urlrewritingnet xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
  <rewrites>
    <!-- 
		URLRewriting.net is obsolete and will be removed from Umbraco in the future.
		If you want to do rewrites, make sure to use IIS URL rewrite: https://www.iis.net/downloads/microsoft/url-rewrite
		The advantage of using IIS rewrite is that it is much faster, much less CPU intensive and much less memory intensive.
	-->
  </rewrites>
</urlrewritingnet>
