<form novalidate name="contentForm" 
      ng-controller="Umbraco.Editors.ContentType.EditController" 
      ng-submit="save()"
      val-form-manager>
    
    <umb-panel>
        <umb-header tabs="tabs">
            <div class="span4">
                <umb-content-name 
                    ng-model="contentType.name" 
                    placeholder="Enter a title">
                </umb-content-name>
            </div>

            <div class="span8">
                <div class="btn-toolbar pull-right umb-btn-toolbar">
                    
                    <div class="btn-group">
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </div>
            </div>
        </umb-header>

        <umb-tab-view>
            <umb-tab id="tabdata" active="true" rel="data" label="Data">
                <div class="umb-pane">
                    <div class="row-fluid umb-type-editor">
                        
                        <div class="span9">               
                           <ul class="tab-list">
                                <li ng-repeat="tab in contentType.tabs">
                                    <h5 class="handle">{{tab.name}}</h5>

                                    <ul umb-sort="propertiesOptions" ng-model="tab.properties" class="propety-list">
                                        <li class="handle" ng-repeat="property in tab.properties">
                                            {{property.name}}
                                        </li>
                                    </ul>

                                </li>
                           </ul> 

                           {{page.datatypes | json}}
                        </div>

                        <div class="span3">
                            <ul umb-sort="dataTypesOptions" 
                                ng-model="page.datatypes" 
                                class="nav nav-stacked datatype-list">
                                
                                <li class="handle" ng-repeat="d in page.datatypes">
                                    <a href>
                                        <i class="icon-autofill"></i> {{d.name}}
                                    </a>
                                </li>

                                {{model | json}}
                            </ul>
                        </div>
                    </div>
                </div>
            </umb-tab>

            <umb-tab id="tabproperties" rel="properties" label="Properties">
                <div class="umb-pane">
                    <umb-property property="contentType.icon">

                    </umb-property>  
                </div>
            </umb-tab>
        </umb-tab-view>
    </umb-panel>
</form>
