<div class="umb-panel" ng-controller="Umbraco.Dialogs.MediaPickerController">
	<div class="umb-panel-header">
		<div class="umb-el-wrap umb-panel-buttons">
	        <div class="pull-right umb-btn-toolbar">
	         	<button class="btn">Create <i class="icon-upload"></i></button> 
	         	<button type="button" ng-click="submit(dialogData)" class="btn btn-primary">Select (x)</button>
	        </div>
		</div>
	</div>


	<div class="umb-panel-body umb-scrollable" auto-scale="1">
		<div class="umb-panel">
			<div class="umb-control-group">
				<ul class="breadcrumb">
					<li><strong>You are here:</strong></li>
					<li><a href="#">Media</a></li>
				</ul>
				<div id="search-form" ng-animate="'slide'">
                        <form class="form-search" ng-controller="Umbraco.SearchController">
                            <i class="icon-search"></i>
                            <input type="text" 
                                   ng-model="nav.ui.searchTerm" 
                                   class="umb-search-field search-query" 
                                   placeholder="{{localization.app.search.typeToSearch}}"
                                   on-blur="deActivateSearch()" 
                                   on-keyup="performSearch(nav.ui.searchTerm)">
                        </form>
                </div>
				</ul>

			    <ul class="thumbnails">
			        
			        <li class="span2 folder" ng-repeat="image in images">
							
			            <a href="#" class="thumbnail" ng-class="{selected: dialogData.selection.indexOf(image) > -1}" 
			               ng-click="selectMediaItem(image)" 
			               prevent-default>
							
                            <div ng-switch on="image.contentTypeAlias" >
                                <img ng-src="{{image.thumbnail}}" ng-switch-when="Image" alt="{{image.name}}"/>
                                <i ng-switch-default class="icon-folder-close"></i>
                            </div>       

			                {{image.name}}
			            </a>
			        </li>
			    </ul>	
			</div>
		</div>

	</div>

</div>