services:
  umb_database:
    container_name: umbraco_image_database
    build:
      context: ./Database
    environment:
      SA_PASSWORD: ${DB_PASSWORD}
      MSSQL_SA_PASSWORD: ${DB_PASSWORD}
    ports:
      - "1433:1433"
      - "1434:1434"
    volumes:
      - umb_database:/var/opt/mssql
    networks:
      - umbnet
    healthcheck:
      # This healthcheck is to make sure that the database is up and running before the umbraco container starts.
      # It works by querying the database for the state of the umbracoDb database, ensuring it exists.
      test: ["CMD", "bash", "/healthcheck.sh"]
      interval: 5m
      timeout: 5s
      retries: 3
      start_period: 30s # Bootstrap duration, for this duration failures does not count towards max retries.
      start_interval: 5s # How long after the health check has started to run the healthcheck again.

  umbraco_image:
    image: umbraco_image
    environment:
        - ASPNETCORE_ENVIRONMENT=Development
        - ASPNETCORE_URLS=https://+:8081;http://+:8080
        - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetcore.pfx
        - ASPNETCORE_Kestrel__Certificates__Default__Password=DevOnlyPassword
        - ConnectionStrings__umbracoDbDSN=Server=umb_database;Database=umbracoDb;User Id=sa;Password=${DB_PASSWORD};TrustServerCertificate=true;
        - ConnectionStrings__umbracoDbDSN_ProviderName=Microsoft.Data.SqlClient
    # These volumes are bind mounts to the host machine's file system.
    # This is to better facilitate local development in the IDE, so the views, models, etc... are available in the IDE.
    # create_host_path: true ensures the host directories are created if they don't exist.
    volumes:
      - type: bind
        source: ./UmbracoProject/wwwroot/media
        target: /app/wwwroot/media
        bind:
          create_host_path: true
      - type: bind
        source: ./UmbracoProject/wwwroot/scripts
        target: /app/wwwroot/scripts
        bind:
          create_host_path: true
      - type: bind
        source: ./UmbracoProject/wwwroot/css
        target: /app/wwwroot/css
        bind:
          create_host_path: true
      - type: bind
        source: ./UmbracoProject/Views
        target: /app/Views
        bind:
          create_host_path: true
      - type: bind
        source: ./UmbracoProject/umbraco/models
        target: /app/umbraco/models
        bind:
          create_host_path: true
      - umb_logs:/app/umbraco/Logs
      - umb_data:/app/umbraco
    build:
      context: .
      dockerfile: UmbracoProject/Dockerfile
      args:
        - BUILD_CONFIGURATION=Debug

    depends_on:
      umb_database:
        condition: service_healthy
    restart: always
    ports:
      - "TEMPLATE_PORT:8081"
    networks:
      - umbnet
    develop:
      # This allows you to run docker compose watch, after doing so the container will rebuild when the models are changed.
      # Once a restart only feature is implemented (https://github.com/docker/compose/issues/11446)
      # It would be really nice to add a restart only watch to \Views, since the file watchers for recompilation of Razor views does not work with docker.
      watch:
        - path: ./UmbracoProject/umbraco/models
          action: rebuild

volumes:
  umb_logs:
  umb_data:
  umb_database:

networks:
  umbnet:
    driver: bridge
