<div id="leftcolumn" ng-controller="Umbraco.NavigationController" ng-mouseleave="leaveTree($event)" ng-mouseenter="enterTree($event)">

    <!-- navigation container -->
    <div id="navigation" ng-show="showNavigation" class="fill umb-modalcolumn" ng-animate="'slide'" nav-resize>

        <div ng-swipe-left="nav.hideNavigation()" class="navigation-inner-container">

            <!--
            <div ng-if="currentSection === 'content'" class="umb-language-picker">
                
                <div class="umb-language-picker__toggle" ng-click="toggleTreeLanguageSelector()">
                    <div>English (United States)</div>
                    <ins class="umb-language-picker__expand" ng-class="{'icon-navigation-down': !treeLanguageSelectorIsOpen, 'icon-navigation-up': treeLanguageSelectorIsOpen}" class="icon-navigation-right">&nbsp;</ins>                
                </div>

                <div class="umb-language-picker__dropdown" ng-if="treeLanguageSelectorIsOpen">
                    <a href="">Spanish (Spain)</a>
                    <a href="">French (France)</a>
                    <a href="">Danish</a>
                    <a href="">German (Germany)</a>
                </div>
            </div>
            -->

            <!-- the tree -->
            <div id="tree" ng-if="authenticated">
                <umb-tree
                    cachekey="_"
                    eventhandler="treeEventHandler"
                    section="{{currentSection}}">
                </umb-tree>
            </div>
        </div>

        <div class="offset6" id="navOffset" style="z-index: 10">

            <!-- The context menu -->
            <div id='contextMenu' class="umb-modalcolumn fill shadow" ng-swipe-left="nav.hideMenu()" ng-show="showContextMenu" ng-animate="'slide'">
                <umb-context-menu
                    menu-dialog-title="{{menuDialogTitle}}"
                    current-section="{{currentSection}}"
                    current-node="menuNode"
                    menu-actions="menuActions">
                </umb-context-menu>
            </div>


            <!-- Tree dialogs -->
            <div id="dialog" class='umb-modalcolumn fill shadow' ng-swipe-left="nav.hideDialog()" ng-show="showContextMenuDialog" ng-animate="'slide'">
                <div class='umb-modalcolumn-header'>
                    <h1>{{menuDialogTitle}}</h1>
                </div>
                <div class='umb-modalcolumn-body'>
                </div>
            </div>
        </div>
    </div>

</div>