<div>
    <div class='umb-modalcolumn-header'>
        <h1>{{menuDialogTitle}}</h1>
    </div>

    <div class='umb-modalcolumn-body'>
        <ul class="umb-actions">
            <li data-element="action-{{action.alias}}" ng-click="executeMenuItem(action)" class="action" ng-class="{sep:action.seperator}" ng-repeat="action in menuActions">
                <a prevent-default>
                    <i class="icon icon-{{action.cssclass}}"></i>
                    <span class="menu-label">{{action.name}}</span>
                </a>
            </li>
        </ul>
    </div>
</div>