<div class="login-overlay">
    <div id="login" class="umb-modalcolumn umb-dialog" ng-cloak>
        <umb-auth
            logo-image="{{ ::vm.logoImage }}"
            background-image="{{ ::vm.backgroundImage }}"
            ng-attr-username-is-email="{{ ::vm.usernameIsEmail || undefined }}"
            ng-attr-allow-password-reset="{{ ::vm.allowPasswordReset || undefined }}"
            ng-attr-disable-local-login="{{ ::vm.disableLocalLogin || undefined }}"
            return-url=""
            ng-on-umb-login-success="vm.onLoginSuccess()"
        >
            <p ng-if="vm.isTimedOut" slot="subheadline">
                <localize key="login_timeout">Log in below</localize>.
            </p>
            <umb-external-login-provider
                ng-repeat="login in vm.externalLoginProviders"
                slot="external"
                display-name="{{ ::login.caption }}"
                provider-name="{{ ::login.authType }}"
                ng-attr-custom-view="{{ ::login.customView }}"
                ng-attr-icon="{{ ::login.options.icon }}"
                external-login-url="{{ ::vm.externalLoginFormAction }}"
                button-look="{{ ::login.options.buttonLook }}"
                button-color="{{ ::login.options.buttonColor }}"
            ></umb-external-login-provider>
        </umb-auth>
    </div>
</div>
