<div class="login-overlay">
    <div id="login" class="umb-modalcolumn umb-dialog" ng-cloak>
        <umb-auth
            ng-attr-logo-image="{{ ::vm.logoImage }}"
            ng-attr-logo-image-alternative="{{ ::vm.logoImageAlternative }}"
            ng-attr-background-image="{{ ::vm.backgroundImage }}"
            ng-attr-username-is-email="{{ ::vm.usernameIsEmail || undefined }}"
            ng-attr-allow-password-reset="{{ ::vm.allowPasswordReset || undefined }}"
            ng-attr-disable-local-login="{{ ::vm.disableLocalLogin || undefined }}"
            return-url=""
            ng-on-umb-login-success="vm.onLoginSuccess($event)"
        >
            <span ng-if="vm.isTimedOut" slot="subheadline">
                <umb-localize key="login_timeout">Log in below</umb-localize>.
            </span>
            <umb-external-login-provider
                ng-repeat="login in vm.externalLoginProviders"
                slot="external"
                ng-attr-display-name="{{ ::login.caption }}"
                ng-attr-provider-name="{{ ::login.authType }}"
                ng-attr-custom-view="{{ ::login.customView }}"
                ng-attr-icon="{{ ::login.options.icon }}"
                external-login-url="{{ ::vm.externalLoginFormAction }}"
                ng-attr-button-look="{{ ::login.options.buttonLook }}"
                ng-attr-button-color="{{ ::login.options.buttonColor }}"
                ng-attr-user-view-state="{{ ::vm.isTimedOut ? 'timedOut' : 'loggedOut' }}"
            ></umb-external-login-provider>
        </umb-auth>
    </div>
</div>
