<div>
    <div id="applications" ng-class="{faded:stickyNavigation}">
        <ul class="sections">
            <li data-element="section-user" id="section-avatar" class="avatar">
                <a href="#" ng-click="avatarClick()" hotkey="ctrl+shift+u" title="{{user.name}}" prevent-default>
                    <umb-avatar
                        size="xs"
                        color="secondary"
                        name="{{user.name}}"
                        img-src="{{avatar[0].value}}"
                        img-srcset="{{avatar[1].value}} 2x, {{avatar[2].value}} 3x">
                    </umb-avatar>
                </a>
            </li>
            <li data-element="section-{{section.alias}}" ng-repeat="section in sections | limitTo: maxSections" ng-class="{current: section.alias == currentSection}">
                <a href="#/{{section.alias}}"
                   ng-dblclick="sectionDblClick(section)"
                   ng-click="sectionClick($event, section)"
                   prevent-default>
                    <section-icon icon="{{section.cssclass}}"></section-icon>
                    <span>{{section.name}}</span>
                </a>
            </li>

            <li data-element="section-expand" class="expand" ng-class="{ 'open': showTray === true }" ng-show="needTray">
                <a href ng-click="trayClick()">
                    <i class="icon icon-arrow-right"></i>
                </a>
            </li>

            <li data-element="section-help" class="help">
                <a href class="help" hotkey="ctrl+shift+h" ng-click="helpClick()" prevent-default>
                    <i class="icon-help-alt"></i>
                    <span><localize key="sections_help">Help</localize></span>
                </a>
            </li>
        </ul>
    </div>

    <div id="applications-tray" ng-show="showTray" ng-animate="trayAnimation()" style="display: none;">
        <ul class="sections sections-tray">
            <li ng-repeat="section in sections | limitTo: overflowingSections" ng-class="{current: section.alias == currentSection}">
                <a href="#/{{section.alias}}"
                   ng-dblclick="sectionDblClick(section)"
                   ng-click="sectionClick($event, section)"
                   prevent-default>
                    <section-icon icon="{{section.cssclass}}"></section-icon>
                    <span>{{section.name}}</span>
                </a>
            </li>
        </ul>
    </div>

    <umb-overlay
        data-element="overlay-help"
        ng-if="helpDialog.show"
        model="helpDialog"
        view="helpDialog.view"
        position="left">
    </umb-overlay>

    <umb-overlay
        data-element="overlay-user"
        ng-if="userDialog.show"
        model="userDialog"
        view="userDialog.view"
        position="left">
    </umb-overlay>

</div>
