<div on-outside-click="outSideClick()">
    <div class='umb-modalcolumn-header'>
        <h1>{{menuDialogTitle}}</h1>
    </div>

    <div class='umb-modalcolumn-body'>
        <ul class="umb-actions">
            <li data-element="action-{{action.alias}}" class="umb-action" ng-class="{sep:action.separator, '-opens-dialog': action.opensDialog}" ng-repeat="action in menuActions">
                <button type="button" umb-auto-focus="{{$index === 0}}" ng-click="executeMenuItem(action)" class="umb-action-link btn-reset umb-outline" prevent-default>
                    <i class="icon icon-{{action.cssclass}}" aria-hidden="true"></i>
                    <span class="menu-label">{{action.name}}</span>
                </button>
            </li>
        </ul>
    </div>
</div>
