<div class="umb-property-actions" ng-if="vm.actions.length > 0">
    <umb-button-ellipsis
        css-class="umb-outline umb-property-actions__toggle"
        action="vm.toggle()"
        mode="small"
        text="Open Property Actions"
        label-key="propertyActions_tooltipForPropertyActionsMenu"
        >
    </umb-button-ellipsis>

    <div class="umb-property-actions__menu" role="menu" ng-if="vm.isOpen" on-outside-click="vm.close()" on-close="vm.close()" deep-blur="vm.close()">

        <umb-button-ellipsis
            css-class="umb-button-ellipsis--absolute umb-property-actions__menu-open-toggle"
            action="vm.close()"
            mode="small"
            text="Close Property Actions"
            label-key="propertyActions_tooltipForPropertyActionsMenuClose"
            >
        </umb-button-ellipsis>

        <ul class="umb-contextmenu">
            <li ng-repeat="action in vm.actions" role="menuitem" class="umb-contextmenu-item" ng-class="{'-opens-dialog': action.opensDialog}">
                <button type="button" class="btn-reset umb-outline" ng-click="vm.executeAction(action)" ng-disabled="action.isDisabled === true">
                    <i class="icon icon-{{action.icon}}" aria-hidden="true"></i>
                    <span class="menu-label"><localize key="{{::action.labelKey}}" tokens="action.labelTokens"></localize></span>
                </button>
            </li>
        </ul>
    </div>
</div>
