<label class="checkbox umb-form-check umb-form-check--checkbox" ng-class="{ 'umb-form-check--disabled': disabled }">
    <input type="checkbox"
           id="{{vm.inputId}}"
           name="{{vm.name}}"
           value="{{vm.value}}"
           class="umb-form-check__input"
           val-server-field="{{vm.serverValidationField}}"
           ng-model="vm.model"
           ng-disabled="vm.disabled"
           ng-required="vm.required"
           ng-change="vm.callOnChange()"/>

    <span class="umb-form-check__state" aria-hidden="true">
        <span class="umb-form-check__check">
            <i class="umb-form-check__icon icon-check"></i>
        </span>
    </span>

    <!-- If there is no localize attribute set then render the vm.text -->
    <span class="umb-form-check__text" ng-if="vm.localize === undefined">{{vm.text}}</span>

    <!-- If there is a localize attribute set then render the vm.localize with a fallback to vm.text -->
    <span class="umb-form-check__text" ng-if="vm.localize.length > 0">
        <localize key="{{::vm.localize}}">{{vm.text}}</localize>
    </span>
</label>
