<label class="checkbox umb-form-check umb-form-check--checkbox">
    <input type="checkbox" name="{{name}}"
           value="{{value}}"
           ng-model="model"
           class="umb-form-check__input"
           ng-required="required" />

    <div class="umb-form-check__state umb-form-check__state" aria-hidden="true">
        <div class="umb-form-check__check">
            <i class="umb-form-check__icon icon-check"></i>
        </div>
    </div>
    <!-- If no localize key has been passed let's just render the text value as it is -->
    <span class="umb-form-check__text" ng-if="localize.length === 0">{{text}}</span>

    <!-- If a localize key has been passed and the genericText is not let's use the localize directive -->
    <span class="umb-form-check__text" ng-if="localize.length > 0 && nodetext === undefined">
        <localize key="{{localize}}">{{text}}</localize>
    </span>

    <!-- If a localise key AND a nodetext has been passed let's use them here-->
    <span class="umb-form-check__text" ng-if="localize.length > 0 && nodetext.length > 0">
            <localize key="{{localize.split('|')[0]}}">{{text.split('|')[0]}}</localize>
                <strong>{{nodetext}}</strong>
            <localize key="{{localize.split('|')[1]}}">{{text.split('|')[1]}}</localize>
        </span>
</label>
