<div class="umb-control-group -no-border">
    <div class="umb-search-filter" ng-class="vm.cssClass">
        <label for="{{vm.inputId}}" class="sr-only">{{vm.text}}</label>
        <umb-icon icon="icon-search" class="icon-search"></umb-icon>
        <input type="text"
               id="{{vm.inputId}}"
               ng-change="vm.change()"
               ng-model="vm.model"
               class="umb-search-filter__input"
               placeholder="{{vm.text}}"
               umb-auto-focus="{{vm.autoFocus}}"
               prevent-enter-submit="{{vm.preventSubmitOnEnter}}"
               no-dirty-check />
    </div>
</div>
