<label class="checkbox umb-form-check umb-form-check--checkbox">
    <input type="checkbox" name="{{name}}"
           value="{{value}}"
           ng-model="model"
           class="umb-form-check__input"
           ng-required="required" />

    <div class="umb-form-check__state umb-form-check__state" aria-hidden="true">
        <div class="umb-form-check__check">
            <i class="umb-form-check__icon icon-check"></i>
        </div>
    </div>
    <span class="umb-form-check__text">{{text}}</span>
</label>
