@model Umbraco.Cms.Web.UI.BackOfficeLoginModel
<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="/umbraco/login/" />
        <meta charset="UTF-8" />
        <link rel="icon" type="image/svg+xml" href="favicon.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Umbraco</title>
        <script type="module" src="main.js"></script>
        <link rel="stylesheet" href="style.css" />
    </head>

    <body class="uui-font uui-text" style="margin: 0; padding: 0; overflow: hidden">
        <umb-login return-url="@Model.ReturnUrl"></umb-login>
    </body>
</html>
