<h3>Start here</h3>
<h4>Get started with Media right now</h4>
<p>Use the tool below to upload your images or documents to a media folder.</p>

<h3>Follow these steps:</h3>
<ul>
    <li>Click <strong>Install</strong> and follow the on screen instructions to install the <strong>Desktop Media Uploader</strong></li>
    <li>Enter your login details for the site and click <strong>Sign In</strong></li>
    <li>Choose a media folder to upload files to from the <strong>Upload files to...</strong> dropdown list</li>
    <li>Drag the files and folders you wish to upload directly into the <strong>Desktop Media Uploader</strong> application</li>
    <li>Click <strong>Upload</strong> to start uploading</li>
</ul>
<p>For a more thorough guide on how to use the <strong>Desktop Media Uploader</strong>, <a href="http://screenr.com/vXr" target="_blank">checkout this video</a>.</p>
      