<div ng-controller="Umbraco.Dashboard.MediaFolderBrowserDashboardController">

	<umb-file-dropzone
		ng-if="creating == null"
		parent-id="{{nodeId}}"
		compact="[images.length > 0}"
		files-uploaded="onUploadComplete"
		accept="{{ acceptedFileTypes }}">
	</umb-file-dropzone>


	<umb-photo-folder ng-show="images.length > 0"
                      min-height="105"
                      min-width="220"
                      on-click="clickHandler"
                      ng-model="images" />


</div>
