<div ng-controller="Umbraco.PropertyEditors.textboxController">
    <ng-form name="textboxFieldForm">
        <input type="text" name="textbox" ng-model="model.value" id="{{model.alias}}"
               class="umb-property-editor umb-textstring textstring"
               val-server="value"
               ng-required="model.validation.mandatory"
               ng-trim="false"
               ng-keyup="model.change()" />

        <span ng-messages="textboxFieldForm.textbox.$error" show-validation-on-submit >
            <span class="help-inline" ng-message="valServer">{{textboxFieldForm.textbox.errorMsg}}</span>
            <span class="help-inline" ng-message="required"><localize key="general_required">Required</localize></span>
        </span>

        <div class="help" ng-if="model.maxlength">
            <strong>{{model.count}}</strong>
            <localize key="textbox_characters_left">characters left</localize>
        </div>
    </ng-form>
</div>
