<div ng-controller="Umbraco.PropertyEditors.MemberGroupController">
    <div class="umb-member-group-box">
        <h5><localize key="content_notmemberof">Not a member of group(s)</localize></h5>
        <ul>
            <li ng-repeat="item in getAvailable()">
                <a href="" ng-click="addItem(item)">{{item}}</a>
            </li>
        </ul>
    </div>
    <div class="umb-member-group-box">
        <h5><localize key="content_memberof">Member of group(s)</localize></h5>
        <ul>
            <li ng-repeat="item in getSelected()">
                <a href="" ng-click="removeItem(item)">{{item}}</a>
            </li>
        </ul>
    </div>
</div>
