<div class="umb-layout-selector" ng-show="vm.showLayoutSelector">

   <div class="umb-layout-selector__active-layout" ng-click="vm.toggleLayoutDropdown()">
      <umb-icon icon-name="{{ vm.activeLayout.icon }}" class="{{ vm.activeLayout.icon }}"></umb-icon>
   </div>

   <div ng-if="vm.layoutDropDownIsOpen"
        class="umb-layout-selector__dropdown shadow-depth-3 animated -half-second fadeIn"
        on-outside-click="vm.closeLayoutDropdown()">

       <div ng-repeat="layout in vm.layouts | filter:{selected:true} track by $id(layout)"
            class="umb-layout-selector__dropdown-item"
            ng-click="vm.pickLayout(layout)"
            ng-class="{'-active': layout.active }"
            ng-attr-title="{{layout.name}}">

           <umb-icon icon-name="{{ layout.icon }}" class="{{ layout.icon }} umb-layout-selector__dropdown-item-icon"></umb-icon>
       </div>

   </div>

</div>
