<div>
    <button type="button" class="btn-reset" ng-click="clickButton($event)">
        <i class="icon-trash" aria-hidden="true"></i>
        <span class="sr-only">Delete</span>
     </button>

     <div class="umb_confirm-action__overlay"
        ng-class="{
        '-top': direction === 'top',
        '-right': direction === 'right',
        '-bottom': direction === 'bottom',
        '-left': direction === 'left'}"
        on-outside-click="clickCancel()" ng-if="show">

        <button class="umb_confirm-action__overlay-action -confirm btn-reset" ng-click="clickConfirm()" localize="title" title="@buttons_confirmActionConfirm" type="button">
            <i class="icon-check"></i>
        </button>

        <button class="umb_confirm-action__overlay-action -cancel btn-reset"  ng-click="clickCancel()" localize="title" title="@buttons_confirmActionCancel" type="button">
            <i class="icon-delete"></i>
        </button>
    </div>
</div>
