<div class="umb_confirm-action__overlay"
     ng-class="{
     '-top': direction === 'top',
     '-right': direction === 'right',
     '-bottom': direction === 'bottom',
     '-left': direction === 'left'}"
     on-outside-click="clickCancel()">

        <a class="umb_confirm-action__overlay-action -confirm" href="" ng-click="clickConfirm()" localize="title" title="@buttons_confirmActionConfirm">
            <i class="icon-check"></i>
        </a>

        <a class="umb_confirm-action__overlay-action -cancel" href="" ng-click="clickCancel()" localize="title" title="@buttons_confirmActionCancel">
            <i class="icon-delete"></i>
        </a>
</div>
