<div>
    <div class="umb-tour__row" ng-click="onStart()">

        <div ng-if="tick == true">
            <div class="umb-tour__tick-circle">
                <umb-checkmark ng-if="completed === 'true'" checked="true"></umb-checkmark>
                <umb-checkmark ng-if="completed !== 'true'" checked="false"></umb-checkmark>
            </div>
        </div>

        <div class="umb-tour__row-title-container"> 
            <span class="umb-tour__row-title">{{ name }}</span>
            <umb-button class="umb-tour__row-button" size="xs" button-style="link" type="button" label="start"></umb-button> 
        </div>
    </div>
</div>