<div>
    <div class="umb-tour__progress-container" style="width: {{ size }}px; width: {{ size }}px;">                    
        <svg class="umb-tour__progress" viewBox="0 0 100 100">
            <circle class="umb-tour__progress-circle-bg" cx="50" cy="50" r="48" fill="none" stroke-width="4"/>
            <circle class="umb-tour__progress-circle umb-tour__progress-circle--{{ strokeColor }}" cx="50" cy="50" r="48" fill="none" stroke-width="4" stroke-dasharray="{{ strokeDashArray }}" stroke-dashoffset="{{ strokeDashOffset }}" />
        </svg>
        <div class="umb-tour__values umb-tour__values--{{ fontSize }}"> {{ percentage }}%</div>
    </div>
</div>