<div class="umb-folder-grid">

   <div
      class="umb-folder-grid__folder"
      ng-repeat="folder in folders"
      ng-class="{'-selected': folder.selected}"
      ng-click="clickFolder(folder, $event, $index)">

      <div class="umb-folder-grid__folder-description">
          <umb-icon icon="{{folder.icon}}" class="umb-folder-grid__folder-icon"></umb-icon>
          <div ng-click="clickFolderName(folder, $event, $index)" class="umb-folder-grid__folder-name">{{folder.name}}</div>
      </div>

   </div>

</div>
