

<table class="table">

    <thead>
        <tr>
            <td style="width: 35px" class="select-all">
                <label for="checkall" class="tooltip">Select all</label>
                <input id="checkall" type="checkbox" ng-click="selectAll($event)" ng-checked="isSelectedAll()">
            </td>
            <td>
                <a href="#" ng-click="sort('Name', true)" prevent-default class="sortable">
                    <localize key="general_name">Name</localize>
                    <i class="icon" ng-class="{'icon-navigation-up': isSortDirection('Name', 'asc'), 'icon-navigation-down': isSortDirection('Name', 'desc')}"></i>
                </a>
            </td>

            <td ng-repeat="column in itemProperties">
                <a href="#" ng-click="sort(column.alias, column.allowSorting)" ng-class="{'sortable':column.allowSorting}" prevent-default>
                    <span ng-bind="column.header"></span>
                    <i class="icon" ng-class="{'icon-navigation-up': isSortDirection(column.alias, 'asc'), 'icon-navigation-down': isSortDirection(column.alias, 'desc')}"></i>
                </a>
            </td>
        </tr>
    </thead>



    <tbody ng-show="items.length === 0">
        <tr>
            <td colspan="{{itemProperties.length + 2}}">
                <p><localize key="content_listViewNoItems">There are no items show in the list.</localize></p>
            </td>
        </tr>
    </tbody>



    <tbody ng-show="items.length > 0">
        <tr ng-repeat="item in items"
            ng-class="{selected:item.selected}"
            ng-click="selectItem(item, $index, $event)"
            >

            <td>
                <i class="icon {{item.icon}}" ng-class="getIcon(item)"></i>
            </td>

            <td>
                <a href="" ng-class="{inactive: (entityType === 'content' && !item.published) || isTrashed}"
                    ng-click="clickItem(item, $event)"
                    ng-bind="item.name"></a>
            </td>

            <td ng-repeat="column in itemProperties">
                <span>{{item[column.alias]}}</span>
            </td>
        </tr>
    </tbody>

</table>
