<ng-form class="umb-mini-search" ng-class="{'--has-value': vm.model !== null && vm.model !== ''}" novalidate>
    <i class="icon icon-search" aria-hidden="true"></i>

    <label class="sr-only" for="search-{{vm.randomUniquId}}">
        <span ng-if="vm.label.length">{{vm.label}}</span>
        <localize ng-if="!vm.label.length" key="general_search">Search</localize>
    </label>

    <input type="text"
           id="search-{{vm.randomUniquId}}"
           class="form-control search-input"
           localize="placeholder,label"
           label="@general_typeToSearch"
           placeholder="@general_typeToSearch"
           ng-model="vm.model"
           ng-change="vm.onChange()"
           ng-keydown="vm.onKeyDown($event)"
           ng-blur="vm.onBlur($event)"
           prevent-enter-submit
           no-dirty-check>
</ng-form>
