<div data-element="groups-builder" class="clearfix">

    <umb-editor-sub-header>

        <umb-editor-sub-header-content-right>
            <umb-button
                style="margin-right: 5px;"
                alias="compositions"
                ng-if="compositions !== false"
                type="button"
                button-style="outline"
                label-key="contentTypeEditor_compositions"
                icon="icon-merge"
                action="openCompositionsDialog()"
                size="xs"
                add-ellipsis="true"
                state="compositionsButtonState">
            </umb-button>

            <umb-button
                alias="reorder"
                ng-if="sorting !== false"
                type="button"
                button-style="outline"
                label-key="{{sortingButtonKey}}"
                icon="icon-navigation"
                action="toggleSortingMode();"
                size="xs">
            </umb-button>

        </umb-editor-sub-header-content-right>

    </umb-editor-sub-header>

    <div ng-if="sortingMode && model.groups.length <= 1" class="umb-group-builder__no-data-text">
        <localize key="contentTypeEditor_noGroups"></localize>
    </div>

    <a ng-if="!sortingMode" hotkey="alt+shift+p" ng-click="addPropertyToActiveGroup()"></a>
    <a ng-if="!sortingMode" hotkey="alt+shift+g" ng-click="addGroupToActiveTab()"></a>

    <ul ng-if="(sortingMode && model.tabs.length > 0) || (!sortingMode)" class="umb-group-builder__tabs" ui-sortable="sortableOptionsTab" ng-model="model.tabs">
        <li ng-repeat="(tabIndex, tab) in model.tabs track by tab.id" ng-class="{'umb-group-builder__tab-sortable': sortingMode}" umb-droppable="droppableOptionsTab" data-tab-id="{{tab.id}}" val-groups-in-tab="{ tab: tab, groups: model.groups }">
            <umb-content-type-tab
                tab="tab"
                is-open="tab.id === openTabId"
                on-click="changeTab(tab)"
                sorting="sortingMode"
                allow-remove="canRemoveTab(tab) && !sortingMode"
                on-remove="removeTab(tabIndex)"
                val-server-field-name="{{'Tabs[' + $index + '].Name'}}"
                on-change-sort-order-value="onChangeTabSortOrderValue(tab)">
            </umb-content-type-tab>
        </li>
        <li>
            <button
                ng-if="!sortingMode"
                type="button"
                hotkey="alt+shift+a"
                ng-click="addTab(tab)"
                data-element="group-add"
                class="btn-reset umb-group-builder__tab umb-group-builder__tab--placeholder">
                Add tab
            </button>
        </li>
    </ul>

    <div class="umb-group-builder__groups" ui-sortable="sortableOptionsGroup" ng-model="model.groups">
        <div ng-repeat="(groupIndex, group) in model.groups track by group.id" ng-show="group.tabId === openTabId" ng-class="{'umb-group-builder__group-sortable': sortingMode && !group.inherited}" data-group-id="{{group.id}}">
            <umb-content-type-group
                ng-if="group.tabState !== 'init'"
                on-focus="activateGroup(group)"
                allow-name="true"
                group="group"
                allow-remove="canRemoveGroup(group) && !sortingMode"
                on-remove="removeGroup(groupIndex)"
                sorting="sortingMode"
                val-server-field-name="{{'Groups[' + $index + '].Name'}}"
                on-change-sort-order-value="onChangeGroupSortOrderValue(group)">
                
                <ul class="umb-group-builder__properties" ui-sortable="sortableOptionsProperty" ng-model="group.properties">
                    <li ng-repeat="(propertyIndex, property) in group.properties track by property.alias" data-element="property-{{property.alias}}" ng-class="{'umb-group-builder__property-sortable': sortingMode && !property.inherited}">
                        <umb-content-type-property
                            ng-if="property.propertyState !== 'init'"
                            property="property"
                            sortable="sortingMode"
                            on-edit="editPropertyTypeSettings(property)"
                            on-remove="deleteProperty(group.properties, property)"
                            val-server-field-alias="{{'Groups[' + groupIndex + '].Properties[' + propertyIndex + '].Alias'}}"
                            val-server-field-label="{{'Groups[' + groupIndex + '].Properties[' + propertyIndex + '].Label'}}"
                            on-change-sort-order-value="onChangePropertySortOrderValue(group)">
                        </umb-content-type-property>
                    </li>
                </ul>
                <button
                    ng-if="!sortingMode"
                    type="button"
                    data-element="property-add"
                    class="umb-group-builder__group-add-property"
                    ng-click="addNewProperty(group, group.id)">
                    <localize key="contentTypeEditor_addProperty"></localize>
                </button>
            </umb-content-type-group>
        </div>
    </div>
    <button
        ng-if="!sortingMode"
        type="button"
        class="umb-group-builder__group -placeholder"
        ng-click="addGroup(openTabId)"
        data-element="group-add">
        <localize key="contentTypeEditor_addGroup"></localize>
    </button>
</div>
