<div class="umb-lightbox">

    <div class="umb-lightbox__backdrop" ng-click="close()" hotkey="esc"></div>
    <div class="umb-lightbox__close" title="Close" ng-click="close()">
        <umb-icon icon-name="icon-delete" class="icon-delete umb-lightbox__control"></umb-icon>
    </div>

    <div class="umb-lightbox__images">
        <div class="umb-lightbox__image shadow-depth-2" ng-repeat="item in items" ng-show="$index === activeItemIndex">
            <img ng-src="{{ item.source }}" />
        </div>
    </div>

    <div class="umb-lightbox__control -prev" title="Previous" ng-if="activeItemIndex > 0" ng-click="prev()" hotkey="left">
        <umb-icon icon-name="icon-previous" class="icon-previous umb-lightbox__control-icon"></umb-icon>
    </div>

    <div class="umb-lightbox__control -next" title="Next" ng-if="activeItemIndex + 1 < items.length" ng-click="next()" hotkey="right">
        <umb-icon icon-name="icon-next" class="icon-next umb-lightbox__control-icon"></umb-icon>
    </div>

</div>
