<div class="umb-package-details">
    <div class="umb-package-details__main-content">
        <umb-box>
            <umb-box-header title-key="general_links"></umb-box-header>
            <umb-box-content class="block-form">

                <ul class="nav nav-stacked" style="margin-bottom: 0;">
                    <li>
                        <a href="{{ content.properties["0"].value.src }}" target="_blank">
                            <i class="icon icon-window-popin"></i>
                            <span>{{ content.properties["0"].value.src }}</span>
                            
                        </a>
                    </li>
                </ul>
                {{ content.properties[10].value["0"].url }}
            </umb-box-content>
        </umb-box>
    </div>

    <div class="umb-package-details__sidebar">
        <umb-box>
            <umb-box-header title-key="general_general"></umb-box-header>
            <umb-box-content class="block-form">
                
                <umb-control-group label="@template_createdDate">
                    <!-- {{node.createDate | amDateFormat:'DD'}} {{ node.createDate | amDateFormat:'MMM'}} {{ node.createDate | amDateFormat:'YYYY'}}, {{node.createDate | amDateFormat:'h:mmA'}} by {{ node.owner.name }} -->

                </umb-control-group>

                <div ng-repeat="property in content.properties">
                    <div>{{ property.value | json }}</div>
                </div>
            
                <umb-control-group label="@content_documentType">
                    <umb-node-preview
                        icon="documentType.icon"
                        name="documentType.linkText"
                        allow-open="allowOpen"
                        on-open="openDocumentType(documentType)">
                    </umb-node-preview>
                </umb-control-group>

                <umb-control-group label="@template_template">
                    <select
                        class="input-block-level"
                        ng-model="node.template"
                        ng-options="key as value for (key, value) in availableTemplates"
                        ng-change="updateTemplate(node.template)">
                    </select>
                </umb-control-group>

                <umb-control-group label="{{ idSection.name }}">
                    <div>{{ node.id }}</div>
                    <small>{{ node.key }}</small>
                </umb-control-group>
            </umb-box-content>    
        </umb-box>
    </div>
</div>