<div class="umb-list-view-settings">

  <div class="umb-list-view-settings__trigger">
        <umb-toggle
            checked="enableListView"
            on-click="toggle()"
            hotkey="alt+shift+l">
        </umb-toggle>
  </div>

  <!-- list view enabled -->
  <div ng-if="enableListView">
    <div class="umb-list-view-settings__box" ng-class="{'-open': editDataTypeSettings}">

        <div class="umb-list-view-settings__content">
            <i class="umb-list-view-settings__list-view-icon icon-list"></i>
            <div>
                <div>
                    <div class="umb-list-view-settings__name">{{ dataType.name }} <em ng-if="!customListViewCreated">(<localize key="general_default">default</localize>)</em></div>
                    <a href="" ng-click="toggleEditListViewDataTypeSettings()"><i class="umb-list-view-settings__settings-icon icon-settings"></i></a>
                </div>
                <a href="" class="umb-list-view-settings__create-new" ng-if="!customListViewCreated" ng-click="createCustomListViewDataType()"><localize key="editcontenttype_createListView">Create custom list view</localize></a>
                <a href="" class="umb-list-view-settings__remove-new" ng-if="customListViewCreated" ng-click="removeCustomListDataType()"><localize key="editcontenttype_removeListView">Remove custom list view</localize></a>
            </div>
        </div>

    </div>

    <!-- list view settings -->
    <div class="umb-list-view-settings__settings form-horizontal" ng-if="editDataTypeSettings" ng-class="{'-open': editDataTypeSettings}">

        <umb-property property="preValue" ng-repeat="preValue in dataType.preValues">
            <umb-editor model="preValue" is-pre-value="true"></umb-editor>
        </umb-property>

        <button type="button" class="btn" ng-click="toggleEditListViewDataTypeSettings()"><localize key="general_close">Close</localize></button>
        <button type="button" class="btn btn-success" ng-click="saveListViewDataType()"><localize key="buttons_saveListView"></localize></button>

    </div>
  </div>
</div>
