<div class="umb-keyboard-shortcuts-overview flex items-center cursor-pointer" data-hotkey="alt+shift+k" ng-click="toggleShortcutsOverlay()">
        
    <div class="umb-keyboard-shortcuts-overview__description">
        <localize key="shortcuts_showShortcuts">show shortcuts</localize>
    </div>
    
    <div class="umb-keyboard-keys">
        <div class="umb-keyboard-key-wrapper">
            <div class="umb-keyboard-key">alt</div>
            <div>+</div>
        </div>
        <div class="umb-keyboard-key-wrapper">
            <div class="umb-keyboard-key">shift</div>
            <div>+</div>
        </div>
        <div class="umb-keyboard-key-wrapper">
            <div class="umb-keyboard-key">k</div>
        </div>
    </div>

</div>
