<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="3.0.0" targetFramework="net45" />
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="net45" />
  <package id="log4net-mediumtrust" version="2.0.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.2.0" targetFramework="net45" />
 
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Security" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Security.Cookies" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Security.OAuth" version="3.0.1" targetFramework="net45" />
  <package id="MiniProfiler" version="2.1.0" targetFramework="net45" />
  <package id="MySql.Data" version="6.9.6" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net40" />
  <package id="SqlServerCE" version="4.0.0.0" targetFramework="net40" />
</packages>