<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="3.3.1" targetFramework="net45" />
  <package id="ClientDependency" version="1.9.2" targetFramework="net45" />
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net45" />
  <package id="ImageProcessor" version="2.5.6" targetFramework="net45" />
  <package id="log4net" version="2.0.8" targetFramework="net45" />
  <package id="Log4Net.Async" version="2.0.4" targetFramework="net45" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.2.1" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.1.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Security" version="3.1.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Security.Cookies" version="3.1.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Security.OAuth" version="3.1.0" targetFramework="net45" />
  <package id="MiniProfiler" version="2.1.0" targetFramework="net45" />
  <package id="MySql.Data" version="6.9.9" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="semver" version="1.1.2" targetFramework="net45" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
  <package id="SqlServerCE" version="4.0.0.1" targetFramework="net45" />
</packages>