<div ng-controller="Umbraco.Overlays.ItemPickerOverlay" class="umb-itempicker">
    <div class="form-search" ng-if="model.filter" style="margin-bottom: 15px;">
        <i class="icon-search" aria-hidden="true"></i>
        <input type="text"
               ng-model="searchTerm"
               class="umb-search-field search-query input-block-level -full-width-input"
               localize="placeholder"
               placeholder="@placeholders_filter"
               umb-auto-focus
               no-dirty-check />
    </div>

    <div class="umb-overlay__section-header" ng-if="(model.pasteItems | filter:searchTerm).length > 0">
        <h5><localize key="content_createFromClipboard">Paste from clipboard</localize></h5>
        <button ng-if="model.clickClearPaste" ng-click="model.clickClearPaste($event)" alt="Clear clipboard for entries accepted in this context.">
            <i class="icon-trash" aria-hidden="true"></i>
        </button>
    </div>

    <ul class="umb-card-grid" ng-class="{'-three-in-row': model.availableItems.length < 7, '-four-in-row': model.availableItems.length >= 7}">
        <li ng-repeat="pasteItem in model.pasteItems | filter:searchTerm">
            <button type="button" class="umb-card-grid-item btn-reset" ng-click="model.clickPasteItem(pasteItem)">
                <span>
                    <i class="{{ pasteItem.icon }}" aria-hidden="true"></i>
                    {{ pasteItem.name | truncate:true:36 }}
                </span>
            </button>
        </li>
    </ul>

    <div class="umb-overlay__section-header" ng-if="model.pasteItems.length > 0 && (model.availableItems | filter:searchTerm).length > 0">
        <h5><localize key="content_createEmpty">Create new</localize></h5>
    </div>

    <ul class="umb-card-grid" ng-class="{'-three-in-row': model.availableItems.length < 7, '-four-in-row': model.availableItems.length >= 7}">
        <li ng-repeat="availableItem in model.availableItems | compareArrays:model.selectedItems:'alias' | orderBy:model.orderBy | filter:searchTerm">
            <button type="button" class="umb-card-grid-item btn-reset" ng-click="selectItem(availableItem)">
                <span ng-mouseover="showTooltip(availableItem, $event)" ng-mouseleave="hideTooltip()">
                    <i class="{{ availableItem.icon }}" aria-hidden="true"></i>
                    <span>{{ availableItem.name }}</span>
                </span>
            </button>
        </li>
        <li ng-if="model.createNewItem">
            <button class="umb-card-grid-item btn-reset --creator" ng-click="model.createNewItem.action()">
                <span>
                    <i class="{{ model.createNewItem.icon }}"></i>
                    {{ model.createNewItem.name }}
                </span>
            </button>
        </li>
    </ul>

    <umb-tooltip ng-if="tooltip.show" event="tooltip.event">
        {{ tooltip.text }}
    </umb-tooltip>
</div>
