<div class="umb-dialog umb-pane" ng-controller="Umbraco.Editors.DocumentTypes.DeleteController">
    <div class="umb-dialog-body">

    	<p class="umb-abstract">
        	Are you absolutely sure you want to delete <strong>{{currentNode.name}}</strong> ?
        </p>

        <p>
        	<i class="icon-alert red"></i> <strong class="red">All Documents</strong>
            using this document type will be deleted permanently, please confirm you want to delete these as well.
        </p>

        <hr />

        <label class="checkbox">
        		<input type="checkbox" ng-model="confirmed" /> Delete {{currentNode.name}} and all documents using this type
        </label>

        <umb-confirm ng-if="confirmed" on-confirm="performDelete" on-cancel="cancel">
        </umb-confirm>

    </div>
</div>
