<div ng-controller="Umbraco.PropertyEditors.DropdownController" ng-switch="model.config.multiple">
    
    <select name="dropDownList"
            class="umb-editor umb-dropdown"
            ng-switch-default
            ng-model="model.value"
            ng-options="item.id as item.value for item in model.config.items">        
    </select>
    
    <!--NOTE: This ng-switch is required because ng-multiple doesn't actually support dynamic bindings with multi-select lists -->
    <select name="dropDownList"
            class="umb-editor umb-dropdown"
            ng-switch-when="1"
            multiple
            ng-model="model.value"
            ng-options="item.id as item.value for item in model.config.items">
    </select>

</div>