@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<section class="section section--themed section--header section--content-center-bottom">
    <div class="section__hero-content">
        <h1 class="no-air">@Model.GetProperty("PageTitle").GetValue()</h1>
    </div>
</section>
