.umb-app-header {
    background: @blueExtraDark;
    display: flex;
    align-items: center;
    max-width: 100%;
    height: @appHeaderHeight;
    padding: 0 20px;

    &__logo {
      margin-right: 30px;
      flex-shrink: 0;
    }
}

@media (max-width: 1279px) {
    .umb-app-header__logo {
        display: none;
    }
}

.umb-app-header__logo-modal {
    position: absolute;
    z-index: @zindexUmbOverlay;
    top: 50px;
    left: 17px;
    font-size: 13px;
    border-radius: 6px;
    width: 160px;
    padding: 20px 20px;
    background-color:@white;
    color: @blueExtraDark;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .14), 0 1px 6px 1px rgba(0, 0, 0, .14);
    text-decoration: none;
    text-align: center;

    &::before {
        content:'';
        position: absolute;
        transform: rotate(45deg);
        background-color:@white;
        top: -4px;
        left: 14px;
        width: 8px;
        height: 8px;
    }

    img {
        display: block;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3px;
    }
}

.umb-app-header__right {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.umb-app-header__actions {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
    margin-right: -10px;
}

.umb-app-header__button {
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: @appHeaderHeight;
    outline: none;

    .umb-icon {
      display: block;
    }
    
    &:focus {
        .tabbing-active & {
            .umb-app-header__action-icon::after {
                content: '';
                position: absolute;
                z-index:10000;
                top: 50%;
                left: 50%;
                width: 36px;
                height: 35px;
                transform: translate(-50%, -50%);
                border-radius: 3px;
                box-shadow: 0 0 2px @pinkLight, inset 0 0 2px 1px @pinkLight;
            }
        }
    }
}

.umb-app-header__action-icon {
    position: relative;
    opacity: 0.8;
    color: @white;
    font-size: 22px;
    flex-shrink: 0;
}

.umb-app-header__button:hover .umb-app-header__action-icon,
.umb-app-header__button:focus .umb-app-header__action-icon {
    opacity: 1;
}
