.umb-tour__popover {
    position: fixed;
    top: 50%;
    left: 50%;
    background: @white;
    border-radius: @baseBorderRadius;
    padding: 20px;
    max-width: 300px;
    min-width: 150px;
    z-index: 10000;
}

.umb-tour__popover--top {
    margin-bottom: 20px;
    transform: none;
}

.umb-tour__popover--right {
    margin-left: 20px;
    transform: none;
}

.umb-tour__popover--bottom {
    margin-top: 20px;
    transform: none;
}

.umb-tour__popover--left {
    margin-right: 20px;
    transform: none;
}

.umb-tour__step-counter {
    font-size: 13px;
    color: @gray-5;
}

.umb-tour__title {
    margin-bottom: 15px;
    font-weight: bold;
    color: @black;
    font-size: 16px;
    margin-top: 10px;
}

.umb-tour__content {
    margin-bottom: 20px;
    line-height: 24px;
}

// SVG Backdrop
.umb-tour__canvas {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    pointer-events: none;
}

.umb-tour__rect {
    position: absolute;
    pointer-events: all;
    opacity: 0.5;
    margin: 0;
}