.umb-language-picker {
    position: relative;
    z-index: @zindexDropdown;    
    
    // align bottom of tree root with bottom of first tab header in the editor
    // means that there's a hierarchy in the element heights in the left panel, based on their height
    ~ #tree .umb-tree-root {
        height:60px;
    }
}

.umb-language-picker__toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    cursor: pointer;
    border-bottom: 1px solid @gray-9;
    height: @editorHeaderHeight; // match height to editor header
    box-sizing: border-box;
}

.umb-language-picker__toggle:hover {
    background: @gray-10;
}

.umb-language-picker__expand {
    color: @gray-6;
    font-size: 14px;
}

.umb-language-picker__dropdown {
    width: 100%;
    background: @white;
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
    box-sizing: border-box;
    position: absolute;
    border-radius: 0 0 3px 3px;
    max-height: 200px;
    overflow: auto;
}

.umb-language-picker__dropdown a {
    padding: 8px 20px;
    display: block;
    font-size: 14px;
}


.umb-language-picker__dropdown a:hover, 
.umb-language-picker__dropdown a:focus {
    background: @gray-10;
    text-decoration: none;
}
