.umb-tour__backdrop {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2000;
    background: @black;
    opacity: 0.3;
}

.umb-tour__popover {
    position: fixed;
    top: 50%;
    left: 50%;
    background: @white;
    padding: 20px;
    width: 200px;
    height: 200px;
    z-index: 2000;
    transform: translate(-50%, -50%);
}

.umb-tour__title {
    margin-bottom: 10px;
    font-weight: bold;
    color: @black;
    font-size: 16px;
}

.umb-tour__dot {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2000;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}