.umb-language-picker {
    position: relative;
    z-index: @zindexDropdown;
    // When the language dropdown is present adjust height on the tree root
    ~ #tree .umb-tree-root-link {
        height: 50px;
    }
}

.umb-language-picker__toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    cursor: pointer;
    border-bottom: 1px solid @gray-9;
    height: @editorHeaderHeight;
    box-sizing: border-box;
    color: @ui-option-type;
}

.umb-language-picker__expand {
    font-size: 14px;
}

.umb-language-picker__toggle:hover {
    background: @ui-option-hover;
    color:@ui-option-type-hover;
    .umb-language-picker__expand {
        color: @ui-option-type-hover;
    }
}


.umb-language-picker__dropdown {
    width: 100%;
    background: @white;
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
    box-sizing: border-box;
    position: absolute;
    border-radius: 0 0 3px 3px;
    max-height: 200px;
    overflow: auto;
}

.umb-language-picker__dropdown a {
    padding: 8px 20px;
    display: block;
    font-size: 14px;
}

.umb-language-picker__dropdown a:hover, 
.umb-language-picker__dropdown a:focus {
    background: @ui-option-hover;
    text-decoration: none;
    color:@ui-option-type-hover;
}

.umb-language-picker__dropdown a.umb-language-picker__dropdown-item--current {
    padding-left: 16px;
    border-left: 4px solid @ui-light-active-border;
    color:@ui-light-active-type;
}
