.umb-drawer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: auto;
    right: 0;
    z-index: 10;
    width: @drawerWidth;
    background: @brownGrayLight;
    box-shadow: inset 5px 0 20px rgba(0, 0, 0, .3);
}

.umb-drawer-view {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.umb-drawer-content {
    flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 30px 20px 30px;
}

.umb-drawer-footer {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 31px;
    padding: 15px 30px;
}

/* Header */
.umb-drawer-header {
    flex: 0 0 100px;
    padding: 20px 30px;
    box-sizing: border-box;

    &__title {
        font-size: @fontSizeLarge;
        font-weight: bold;
        margin-top: 7px;
        margin-bottom: 7px;
    }

    &__subtitle {
        font-size: @fontSizeSmall;
    }
}

/* Our badge - should be moved */

.umb-help-badge {
    padding: 10px 20px 10px 55px;
    background: @white;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    display: block;
    margin-bottom: 5px;
    .umb-box-shadow(0, false);

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;

        .umb-help-badge__title {
            text-decoration: underline !important;
        }
    }

    &__icon {
        font-size: 36px;
        transform: translate(0, -50%);
        position: absolute;
        left: 10px;
        top: 50%;
        color: @red-l3;
    }

    &__title {
        font-size: 15px;
        font-weight: bold;
        color: @black;
    }
}

/* Help article */

.umb-help-article {
    background: @white;
    padding: 20px;
    line-height: 1.4em;

    &-navigation {
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* Make sure typography looks good */
    h1,
    h2,
    h3,
    h4 {
        line-height: 1.3em;
        font-weight: bold;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 16px;
        margin-top: 20px;
    }

    h3 {
        font-size: 15px;
    }

    h4 {
        font-size: 14px;
    }

    ol li,
    ul li {
        line-height: 1.4em;
        margin-bottom: 8px;
    }

    code {
        white-space: pre-wrap;
        word-break: break-word;
    }
}

/* the outer container for each help type - tours, video etc */
.umb-help-section {
    + .umb-help-section {
        margin-top: 20px;
    }

    &__title {
        margin: 0 0 10px;
    }
}

/* Help list */

.umb-help-list {
    list-style: none;
    margin-left: 0;
    margin-bottom: 0;
    background: @white;
    border-radius: 3px;
    .umb-box-shadow(0);

    [data-element*="help-tours"] & {
        margin-bottom: 5px;
    }
}

.umb-help-list-item {
    margin-bottom: 1px;
    border-radius: 0;
    border-bottom: 1px solid @gray-9;
    padding: 10px;

    &:hover .umb-help-list-item__group-title {
        text-decoration: underline;
    }

    &:hover,
    &:focus,
    &:active,
    > a:hover,
    > a:focus,
    > a:active {
        text-decoration: none;

        .umb-help-list-item__title {
            text-decoration: underline;
        }
    }

    &:last-child {
        border-bottom: none;
    }

    &__group-title i {
        margin-right: 2px;
        text-decoration: none;
    }

    &__content {
        display: flex;
        align-items: center;
        padding: 10px 20px 10px 10px;
        text-decoration: none;
    }

    &__title {
        font-size: 14px;
        display: block;
    }

    &__description {
        margin-top: 5px;
        display: block;
        font-size: 14px;
    }

    &__icon {
        margin-right: 8px;
        color: @gray-4;
        font-size: 18px;
        float: left;
    }

    &__open-icon {
        font-size: 14px;
        color: @gray-6;
        margin-left: auto;
    }
}

[data-element*="tour-"].umb-help-list-item:hover .umb-help-list-item__title {
    text-decoration: none;
}
