<div ng-controller="Umbraco.Editors.Packages.EditController as vm">

    <umb-load-indicator ng-if="page.loading"></umb-load-indicator>

    <form name="packagesForm" ng-submit="save()" novalidate>

        <umb-editor-view ng-if="!page.loading">

            <umb-editor-header
                name="vm.page.name"
                name-locked="true"
                hide-icon="true"
                hide-description="true"
                hide-alias="true">
            </umb-editor-header>

            <umb-editor-container>

                <div class="umb-packages-search">

                </div>

                <div class="umb-packages-categories">
                    <a href="" class="umb-packages-category" ng-repeat="category in vm.categories">
                        <i class="umb-packages-category-icon" ng-class="category.icon"></i>
                        <div>{{ category.name }}</div>
                    </a>
                </div>

                <div class="umb-packages">

                    <div class="umb-package" ng-repeat="package in vm.packages">
                        <a class="umb-package-link" href="#">

                            <div class="umb-package-icon">
                                <!-- {{ package.icon }} -->
                                <img src="https://d30y9cdsu7xlg0.cloudfront.net/noun-svg/82522.svg?Expires=1464267230&Signature=CY9MWZomFHWHZSuRpkweLqIXgLV8~kjjfYyf24UyAGctSwRHzzL94Dh510NbWEJZuvm5LzNaiJziJkmBovHCKspGgnCVwLZgiJ7zKo1DwXXaiHqYkTlnb0CuB2D59vO3d7u6esc2d6sRjN1zz8iLYK21TZTiZ9pFCLpqFIsW2uA_&Key-Pair-Id=APKAI5ZVHAXN65CHVU2Q" alt="" />
                            </div>

                            <div class="umb-package-info">
                                <h4 class="umb-package-name">
                                    {{ package.name }}
                                </h4>

                                <div class="umb-package-numbers">
                                    <div class="umb-package-downloads">
                                        Downloads <strong>{{ package.downloads }}</strong>
                                    </div>
                                    <div class="umb-package-karma">
                                        Karma <strong>{{ package.karma }}</strong>
                                    </div>
                                </div>

                                <div href="#" class="umb-era-button">
                                    Install
                                </div>
                            </div>
                        </a>
                    </div> <!-- end package -->

                </div>

            </umb-editor-container>

        </umb-editor-view>

    </form>

</div>
