<div ng-controller="Umbraco.Editors.Packages.EditController as vm">

    <umb-load-indicator ng-if="page.loading"></umb-load-indicator>

    <form name="packagesForm" ng-submit="save()" novalidate>

        <umb-editor-view ng-if="!page.loading">

            <umb-editor-header
                name="vm.page.name"
                name-locked="true"
                hide-icon="true"
                hide-description="true"
                hide-alias="true">
            </umb-editor-header>

            <umb-editor-container>

                <div class="umb-packages-search">
                    <input class="-full-width-input" type="text" name="name" value="" placeholder="Search for packages">
                </div>

                <div class="umb-packages-categories">
                    <a href="" class="umb-packages-category" ng-repeat="category in vm.categories">
                        <i class="umb-packages-category-icon" ng-class="category.icon"></i>
                        <div>{{ category.name }}</div>
                    </a>
                </div>


                <h5>Popular</h5>
                <div class="umb-packages">

                    <div class="umb-package" ng-repeat="package in vm.packages">
                        <a class="umb-package-link" href="#">

                            <div class="umb-package-icon">
                                <img src="{{ package.icon }}" alt="" />
                            </div>

                            <div class="umb-package-info">
                                <h4 class="umb-package-name">
                                    {{ package.name }}
                                </h4>

                                <div class="umb-package-numbers">
                                    <small class="umb-package-downloads">
                                        Downloads <strong>{{ package.downloads }}</strong>
                                    </small>
                                    <small class="umb-package-karma">
                                        Karma <strong>{{ package.karma }}</strong>
                                    </small>
                                </div>

                                <div class="umb-era-button">
                                    Install
                                </div>

                            </div>
                        </a>
                    </div> <!-- end package -->

                </div> <!-- end packages -->


                <h5>Latest</h5>
                <div class="umb-packages">

                    <div class="umb-package" ng-repeat="package in vm.packages">
                        <a class="umb-package-link" href="#">

                            <div class="umb-package-icon">
                                <img src="{{ package.icon }}" alt="" />
                            </div>

                            <div class="umb-package-info">
                                <h4 class="umb-package-name">
                                    {{ package.name }}
                                </h4>

                                <div class="umb-package-numbers">
                                    <small class="umb-package-downloads">
                                        Downloads <strong>{{ package.downloads }}</strong>
                                    </small>
                                    <small class="umb-package-karma">
                                        Karma <strong>{{ package.karma }}</strong>
                                    </small>
                                </div>

                            </div>
                        </a>
                    </div> <!-- end package -->

                </div> <!-- end packages -->

            </umb-editor-container>

        </umb-editor-view>

    </form>

</div>
