<div ng-controller="Umbraco.Editors.Packages.OverviewController as vm" class="clearfix">

    <umb-load-indicator ng-if="page.loading"></umb-load-indicator>

    <form name="packagesForm" ng-submit="save()" novalidate val-form-manager>

        <umb-editor-view ng-if="!page.loading">

            <umb-editor-header
                name="vm.page.name"
                name-locked="true"
                hide-icon="true"
                hide-description="true"
                navigation="vm.page.navigation"
                hide-alias="true">
            </umb-editor-header>

            <umb-editor-container>

                <umb-editor-sub-views
                    ng-if="!vm.page.loading"
                    sub-views="vm.page.navigation">
                </umb-editor-sub-views>

            </umb-editor-container>

        </umb-editor-view>

    </form>

</div>
