.umb-block-card-group {
    position: relative;
    display: block;
    width: 100%;
    margin-top: 20px;

    > .__controls {
        display: flex;
        align-content: center;

        > .__handle {
            display: inline-flex;
            align-items: center;
            width: 24px;
            height: 32px;
            opacity: 0;
            margin-left: -28px;
            transition: opacity 120ms;
            &:hover {
                opacity: 1;
            }
        }

        > .__title {
            border: 1px solid transparent;
            font-weight: 700;
            &:hover {
                border-color: @inputBorder;
            }
        }
        > .__remove {
            opacity: 0;

            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            
            color: @ui-action-discreet-type;
            background-color: @ui-action-discreet;
            font-weight: bold;
            padding: 5px 15px;

            border-radius: @baseBorderRadius;
            box-sizing: border-box;

            transition: opacity 120ms, color 120ms, background-color 120ms;
            
            &:not([disabled]):hover {
                color: @ui-action-discreet-type-hover;
                background-color: @ui-action-discreet-hover;
                text-decoration: none;
                z-index: 1;
            }
        }
    }

    &:focus-within > .__controls,
    &:hover > .__controls {
        > .__handle {
            opacity: 0.5;
        }
        > .__remove {
            opacity: 1;
        }
    }

    > .umb-block-card-grid {
        margin-top: 10px;
    }
    
    &.--sortable-placeholder {

        height: 50px;

        &::after {
            content: "";
            position: absolute;
            background-color:rgba(@ui-drop-area-color, .5);
            border: 2px solid rgba(@ui-drop-area-color, 1);
            border-radius: @doubleBorderRadius;
            box-shadow: 0 0 4px rgba(@ui-drop-area-color, 0.05);
            top:0;
            bottom: 0;
            left: 0;
            right: 0;
            animation: umb-block-card--sortable-placeholder 400ms ease-in-out alternate infinite;
            @keyframes umb-block-card--sortable-placeholder {
                0%   { opacity: 1; }
                100% { opacity: 0.5; }
            }
        }
    }
}