.umb-mediapicker3-crops {

    input.ng-invalid.ng-touched {
        border-color:@formErrorBorder;
        color:@formErrorBorder
    }

    .umb-table button {
        position: relative;
        color: @ui-action-discreet-type;
        margin-right: 10px;
        font-size: 14px;
        &:hover {
            color: @ui-action-discreet-type-hover;
        }
    }

}

.umb-mediapicker3-crops__add {

    margin-top:10px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 1px dashed @ui-action-discreet-border;
    color: @ui-action-discreet-type;
    font-weight: bold;
    padding: 5px 15px;
    box-sizing: border-box;
    width: 100%;
}

.umb-mediapicker3-crops__add:hover {
    color: @ui-action-discreet-type-hover;
    border-color: @ui-action-discreet-border-hover;
    text-decoration: none;
}
