@inherits umbraco.MacroEngines.DynamicNodeContext

@{ var numberOfItems = 10; }
<ul>
    @foreach (var item in @Model.Children.Where("umbracoNaviHide != true").Take(numberOfItems).OrderBy("UpdateDate")) {
        <li><a href="@item.Url">@item.Name</a></li>
    }
</ul>