<div>

    <umb-load-indicator ng-if="page.loading"></umb-load-indicator>

    <form name="contentForm" ng-submit="save()" novalidate val-form-manager>

        <umb-editor-view ng-if="!page.loading">
            
            <div class="umb-split-views">
                <div class="umb-split-view" ng-class="{'umb-split-view--collapsed': editor.collapsed}" ng-repeat="editor in editors">
                    <umb-variant-content
                        page="page"
                        content="content"
                        editor="editor"
                        editors="editors"
                        init-variant="initVariant(variant)"
                        on-split-view-changed="splitViewChanged()">
                    </umb-variant-content>
                </div>
            </div>

            <umb-editor-footer>

                <umb-editor-footer-content-left>

                    <umb-breadcrumbs 
                        ng-if="ancestors && ancestors.length > 0" 
                        ancestors="ancestors" 
                        entity-type="content">
                    </umb-breadcrumbs>

                </umb-editor-footer-content-left>


                <umb-editor-footer-content-right>

                    <umb-button
                        ng-if="infiniteModel.infiniteMode"
                        action="close()"
                        button-style="link"
                        label-key="general_close"
                        type="button">
                    </umb-button>

                    <umb-button 
                        alias="preview" 
                        ng-if="!page.isNew && content.allowPreview"
                        type="button" 
                        button-style="info" 
                        action="preview(content)"
                        label="Preview page" 
                        label-key="buttons_showPage">
                    </umb-button>

                    <umb-button-group 
                        ng-if="defaultButton && !content.trashed && !infiniteModel.infiniteMode" 
                        button-style="success"
                        default-button="defaultButton" 
                        sub-buttons="subButtons" 
                        state="page.buttonGroupState"
                        direction="up"
                        float="right">
                    </umb-button-group>

                    <umb-button
                        ng-if="infiniteModel.infiniteMode && page.allowInfiniteSaveAndClose"
                        action="saveAndClose(content)"
                        button-style="primary"
                        state="saveAndCloseButtonState"
                        label-key="buttons_saveAndClose"
                        type="button">
                    </umb-button>

                    <umb-button
                        ng-if="infiniteModel.infiniteMode && page.allowInfinitePublishAndClose"
                        action="publishAndClose(content)"
                        button-style="primary"
                        state="publishAndCloseButtonState"
                        label-key="buttons_publishAndClose"
                        type="button">
                    </umb-button>

                    <umb-button 
                        alias="restore" 
                        ng-if="content.trashed" 
                        type="button" 
                        button-style="primary" 
                        action="restore(content)" 
                        state="page.buttonRestore"
                        label="Restore">
                    </umb-button>

                </umb-editor-footer-content-right>

            </umb-editor-footer>

        </umb-editor-view>

    </form>
</div>
