<div>

   <umb-load-indicator ng-if="page.loading"></umb-load-indicator>

   <form name="contentForm"
      ng-submit="save()"
      novalidate
      val-form-manager>

      <umb-editor-view ng-if="!page.loading" umb-tabs>

         <umb-editor-header
            menu="page.menu"
            name="content.name"
            hide-icon="true"
            hide-description="true"
            hide-alias="true"
            navigation="content.apps">
         </umb-editor-header>

         <umb-editor-container>

            <umb-editor-sub-views
                ng-if="!page.loading"
                sub-views="content.apps"
                model="content">
            </umb-editor-sub-views>

         </umb-editor-container>


         <umb-editor-footer>

            <umb-editor-footer-content-left>

               <umb-breadcrumbs
                  ng-if="ancestors && ancestors.length > 0"
                  ancestors="ancestors"
                  entity-type="content">
               </umb-breadcrumbs>

            </umb-editor-footer-content-left>
            
            
            <umb-editor-footer-content-right>
                
                <umb-button
                    alias="returnToListView"
                    ng-if="page.listViewPath"
                    type="link"
                    href="#{{page.listViewPath}}"
                    label="Return to list"
                    label-key="buttons_returnToList">
                </umb-button>

                <umb-button
                    alias="preview"
                    ng-if="!page.isNew && content.allowPreview"
                    type="button"
                    button-style="info"
                    action="preview(content)"
                    label="Preview page"
                    label-key="buttons_showPage">
                </umb-button>

                <umb-button-group
                    ng-if="defaultButton && !content.trashed"
                    default-button="defaultButton"
                    sub-buttons="subButtons"
                    state="page.buttonGroupState"
                    direction="up"
                    float="right">
                </umb-button-group>

                <umb-button
                    alias="restore"
                    ng-if="content.trashed"
                    type="button"
                    button-style="primary"
                    action="restore(content)"
                    state="page.buttonRestore"
                    label="Restore">
                </umb-button>

            </umb-editor-footer-content-right>

         </umb-editor-footer>

      </umb-editor-view>

   </form>
</div>
