<div>
    <ng-form name="tabbedContentForm">
        <div class="umb-expansion-panel" data-element="group-{{group.alias}}" ng-repeat="group in content.tabs track by group.label">

            <div class="umb-expansion-panel__header" ng-click="group.open = !group.open">
                <div>{{ group.label }}</div>
                <ins class="umb-expansion-panel__expand" ng-class="{'icon-navigation-down': !group.open, 'icon-navigation-up': group.open}">&nbsp;</ins>
            </div>

            <div class="umb-expansion-panel__content" ng-show="group.open">
                <umb-property data-element="property-{{property.alias}}" ng-repeat="property in group.properties track by property.alias" property="property">
                    
                    <div ng-if="content.variants.length > 1" style="font-size: 13px; margin-bottom: 5px;">
                        
                        <div ng-if="!property.culture && !activeVariant.language.isDefault">
                            <div ng-if="!property.unlockInvariantValue" ng-click="unlockInvariantValue(property)" style="margin-right: 3px;"><i class="icon-lock"></i>Unlock to change on all languages</div>
                            <div ng-if="property.unlockInvariantValue" ng-click="unlockInvariantValue(property)" style="margin-right: 3px;"><i class="icon-unlocked"></i>Changes to <strong>{{property.label}}</strong> will be copied to all languages</div>
                        </div>

                        <div ng-if="!property.culture && activeVariant.language.isDefault">
                            Changes to <strong>{{property.label}}</strong> will be copied to all languages
                        </div>
                    </div>

                    <umb-property-editor 
                        model="property" 
                        preview="content.variants.length > 1 && !activeVariant.language.isDefault && !property.culture && !property.unlockInvariantValue">
                    </umb-property-editor>

                </umb-property>
            </div>

        </div>

        <umb-empty-state
            ng-if="content.tabs.length === 0"
            position="center">
            <localize key="content_noProperties"></localize>
        </umb-empty-state>

    </ng-form>
</div>
