<div>
    <ng-form name="tabbedContentForm">
        <div class="umb-expansion-panel" data-element="group-{{group.alias}}" ng-repeat="group in content.tabs track by group.label">

            <div class="umb-expansion-panel__header" ng-click="group.open = !group.open">
                <div>{{ group.label }}</div>
                <ins class="umb-expansion-panel__expand" ng-class="{'icon-navigation-down': !group.open, 'icon-navigation-up': group.open}">&nbsp;</ins>
            </div>

            <div class="umb-expansion-panel__content" ng-show="group.open">
                <umb-property 
                    data-element="property-{{property.alias}}" 
                    ng-repeat="property in group.properties track by property.alias" 
                    property="property"
                    show-inherit="content.variants.length > 1 && !property.culture && !activeVariant.language.isDefault"
                    inherits-from="defaultVariant.language.name">

                    <div ng-class="{'o-40 cursor-not-allowed': content.variants.length > 1 && !activeVariant.language.isDefault && !property.culture && !property.unlockInvariantValue}">
                        <umb-property-editor
                            model="property"
                            preview="content.variants.length > 1 && !activeVariant.language.isDefault && !property.culture && !property.unlockInvariantValue">
                        </umb-property-editor>
                    </div>

                </umb-property>
            </div>

        </div>

        <umb-empty-state
            ng-if="content.tabs.length === 0"
            position="center">
            <localize key="content_noProperties"></localize>
        </umb-empty-state>

    </ng-form>
</div>
