.progressIndicator {
    background: url(images/indicator.gif) repeat-x;
    height: 8px;
}

.progressContainerLeft {
    background: url(images/container_left.gif) repeat-x;
    padding: 3px 0px 2px 5px;
    float: left;
    margin: 0px;
    height: 13px;
}

.progressContainerRight {
    background: url(images/container_right.gif) no-repeat;
    padding: 0px;
    width: 4px;
    margin: 0px;
    float: left;
    height: 13px;
}

.progressBar {
	margin: 0px;
	padding: 0px;
	display: block;
}
