<div class="umb-property-editor">

    <umb-toggle checked="model.value.allowBulkPublish"
                on-click="model.value.allowBulkPublish = !model.value.allowBulkPublish"
                show-labels="true"
                label-position="right"
                label-off="Allow bulk publish (content only)"
                label-on="Allow bulk publish (content only)"
                class="mb1">
    </umb-toggle>

    <umb-toggle checked="model.value.allowBulkUnpublish"
                on-click="model.value.allowBulkUnpublish = !model.value.allowBulkUnpublish"
                show-labels="true"
                label-position="right"
                label-off="Allow bulk unpublish (content only)"
                label-on="Allow bulk unpublish (content only)"
                class="mb1">
    </umb-toggle>

    <umb-toggle checked="model.value.allowBulkCopy"
                on-click="model.value.allowBulkCopy = !model.value.allowBulkCopy"
                show-labels="true"
                label-position="right"
                label-off="Allow bulk copy (content only)"
                label-on="Allow bulk copy (content only)"
                class="mb1">
    </umb-toggle>

    <umb-toggle checked="model.value.allowBulkMove"
                on-click="model.value.allowBulkMove = !model.value.allowBulkMove"
                show-labels="true"
                label-position="right"
                label-off="Allow bulk move"
                label-on="Allow bulk move"
                class="mb1">
    </umb-toggle>

    <umb-toggle checked="model.value.allowBulkDelete"
                on-click="model.value.allowBulkDelete = !model.value.allowBulkDelete"
                show-labels="true"
                label-position="right"
                label-off="Allow bulk delete"
                label-on="Allow bulk delete">
    </umb-toggle>

</div>
