.umb-dialog-datatype-delete {
    

    .umb-dialog-datatype-delete__table-head-column-name {
        width: 140px;
    }

    .umb-table-body__icon {
        margin-right: 5px;
        vertical-align: top;
        display: inline-block;
    }

    .table tbody td {
        vertical-align: top;
    }
    .table tbody td > span {
        margin: 5px 0;
        vertical-align: middle;
    }
    .table tbody p {
        line-height: 12px;
        margin: 5px 0;
        vertical-align: middle;
    }

    .table tbody .icon {
        vertical-align: top;
        margin-right: 5px;
        display: inline-block;
    }

}
