<div class="umb-datepicker" ng-controller="Umbraco.PrevalueEditors.DatePickerController">

    <ng-form name="datePickerForm">
        <div>

            <umb-date-time-picker
                ng-model="model.value"
                options="datePickerConfig"
                on-setup="datePickerSetup(fpItem)"
                on-change="datePickerChange(dateStr)">

                <div class="input-append">
                    <input type="text"
                           name="datepicker"
                           id="{{model.alias}}"
                           ng-model="model.datetimePickerValue"
                           ng-blur="inputChanged()"
                           ng-required="model.validation.mandatory"
                           val-server="value"
                           class="datepickerinput" />
                    <button type="button" class="btn-clear" ng-click="clearDate()" ng-show="hasDatetimePickerValue === true || datePickerForm.datepicker.$error.pickerError === true">
                        <umb-icon icon="icon-delete"></umb-icon>
                        <span class="sr-only"><localize key="content_removeDate">Clear date</localize></span>
                    </button>
                    <span class="add-on">
                        <umb-icon icon="icon-{{ datePickerConfig.noCalendar ? 'time' : 'calendar' }}"></umb-icon>
                    </span>
                </div>

            </umb-date-time-picker>

        </div>
    </ng-form>

</div>
