<div ng-controller="Umbraco.PrevalueEditors.ImageFilePickerController" class="umb-property-editor umb-mediapicker">

    <ul class="umb-sortable-thumbnails" ng-if="model.value">
        <li class="umb-sortable-thumbnails__wrapper">
            <img ng-src="{{model.value}}" alt="">

            <div class="umb-sortable-thumbnails__actions">
                <!--<a class="umb-sortable-thumbnails__action" href="" ng-click="goToItem(image)">
                    <umb-icon icon-name="icon-edit" class="icon icon-edit"></umb-icon>
                </a>-->
                <a class="umb-sortable-thumbnails__action -red" href="" ng-click="remove()">
                    <umb-icon icon-name="icon-delete" class="icon icon-delete"></umb-icon>
                </a>
            </div>
        </li>
    </ul>

    <a href="#" class="add-link" ng-click="add()" ng-class="{'add-link-square': !model.value }" ng-hide="model.value" prevent-default>
        <umb-icon icon-name="icon-add " class="large icon icon-add "></umb-icon>
    </a>

    <umb-overlay
      ng-if="mediaPickerOverlay.show"
      model="mediaPickerOverlay"
      view="mediaPickerOverlay.view"
      position="right">
    </umb-overlay>

</div>
