<div ng-controller="Umbraco.PrevalueEditors.ImageFilePickerController" class="umb-editor umb-mediapicker">
    <ul class="umb-sortable-thumbnails">
        <li>
            <img ng-src="{{model.value}}" alt="" ng-show="model.value">
            <a href class="picked-image" ng-click="model.value = null" ng-show="model.value"><i class="icon icon-delete"></i></a>
        </li>
    </ul>

    <a href ng-click="pick()" class="umb-mediapicker add-link" ng-hide="model.value">
        <i class="icon icon-add large"></i>
    </a>

    <umb-overlay
      ng-if="mediaPickerDialog.show"
      model="mediaPickerDialog"
      view="mediaPickerDialog.view"
      position="right">
    </umb-overlay>

</div>
