<div class="umb-editor umb-prevalues-multivalues" ng-controller="Umbraco.PrevalueEditors.MultiValuesController">
    <div class="control-group umb-prevalues-multivalues__add">
        <div class="umb-prevalues-multivalues__left">
            <input overlay-submit-on-enter="false" name="newItem" focus-when="{{focusOnNew}}" ng-keydown="createNew($event)" type="text" ng-model="newItem" val-highlight="{{hasError}}" />
        </div>
        <div class="umb-prevalues-multivalues__right">
            <button class="btn btn-info" ng-click="add($event)"><localize key="general_add">Add</localize></button>
        </div>
    </div>
    <div ui-sortable="sortableOptions">
        <div class="control-group umb-prevalues-multivalues__listitem" ng-repeat="item in model.value">
            <i class="icon icon-navigation handle"></i>
            <div class="umb-prevalues-multivalues__left">
                <input type="text" ng-model="item.value" val-server="item_{{$index}}" required />
            </div>
            <div class="umb-prevalues-multivalues__right">
                <a class="umb-node-preview__action umb-node-preview__action--red" ng-click="remove(item, $event)"><localize key="general_remove">Remove</localize></a>
            </div>
        </div>
    </div>
</div>
