<ul class="unstyled" ng-if="model.prevalues">
    <li ng-repeat="preval in model.prevalues">
        <label class="checkbox">
            <input type="radio" ng-model="model.value" value="{{preval.value || preval}}" /> {{preval.label || preval.value || preval}}
        </label>
    </li>
</ul>

<ul class="unstyled" ng-if="model.config.prevalues">
    <li ng-repeat="(key, value) in model.config.prevalues ">
        <label class="checkbox">
            <input type="radio" ng-model="model.value" value="{{value.value}}" /> {{value.label}}
        </label>
    </li>
</ul>
