<div>
    <ng-form name="prevalueTextLimitedForm">
        <input name="textLimitedField" class="umb-property-editor umb-number"
               type="number"
               ng-model="model.value"
               val-server="value"
               min="0"
               max="500"
               fix-number />

        <span ng-messages="prevalueTextLimitedForm.textLimitedField.$error" show-validation-on-submit >
            <span class="help-inline" ng-message="number">Not a number</span>
        </span>

    </ng-form>
    
</div>
