<div ng-controller="Umbraco.PrevalueEditors.TreePickerController" class="umb-editor umb-contentpicker">

	<div ng-model="renderModel">
		<umb-node-preview
			ng-repeat="node in renderModel"
			icon="node.icon"
			name="node.name"
			published="node.published"
			description="node.path"
			sortable="sortable"
			allow-remove="allowRemove"
			allow-edit="allowEdit"
			on-remove="remove($index)"
			on-edit="openContentPicker()">
		</umb-node-preview>
	</div>

	<a ng-show="model.config.multiPicker === true || renderModel.length === 0"
		class="umb-node-preview-add"
		href=""
		ng-click="openContentPicker()"
		prevent-default>
		<localize key="general_add">Add</localize>
	</a>

	<umb-overlay
		ng-if="treePickerOverlay.show"
		model="treePickerOverlay"
		position="right"
		view="treePickerOverlay.view">
	</umb-overlay>

</div>
