<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/umbraco/" />
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="backoffice/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Umbraco</title>
    <link rel="stylesheet" href="backoffice/style.css"/>
    <script type="importmap">
        {
            "imports": {
                "@@umbraco-cms/backend-api": "/umbraco/backoffice/libs/backend-api/index.js",
                "@@umbraco-cms/context-api": "/umbraco/backoffice/libs/context-api/index.js",
                "@@umbraco-cms/controller": "/umbraco/backoffice/libs/controller/index.js",
                "@@umbraco-cms/element": "/umbraco/backoffice/libs/element/index.js",
                "@@umbraco-cms/extensions-registry": "/umbraco/backoffice/libs/extensions-registry/index.js",
                "@@umbraco-cms/observable-api": "/umbraco/backoffice/libs/observable-api/index.js",
                "@@umbraco-cms/resources": "/umbraco/backoffice/libs/resources/index.js",
                "@@umbraco-cms/utils": "/umbraco/backoffice/libs/utils/index.js",
                "@@umbraco-cms/workspace": "/umbraco/backoffice/libs/workspace/index.js"
            }
        }
    </script>
    <script type="module" src="backoffice/main.js"></script>
</head>

<body class="uui-font uui-text" style="margin: 0; padding: 0; overflow: hidden">
<umb-app></umb-app>
</body>
</html>
